<ui:composition xmlns="http://www.w3.org/1999/xhtml"   
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:gep="http://apps.csic.es/gep"
                xmlns:p="http://primefaces.org/ui">
 

    <p:outputPanel layout="block" id="divDatosParticipante">
        <p:outputPanel layout="block">
            <h:panelGrid id="bloqueDatosParticipantes" > <!--  rendered="#{grupoParticipanteForm.participanteSelected!=null}">-->  
                <h:panelGrid columns="2" columnClasses="alineacionIzq,alineacionIzq"
                             rendered="#{!grupoParticipanteForm.modoEdicion and !holderForm.modoConsultaGrupoProyecto}">
                    <h:outputText escape="false" styleClass="ui-icon  silk-icon-help"/>
                    <h:outputText value="#{text['proyectos.textoAyuda.personaCentroBuscarPersonas']}" escape="false" styleClass="ayudaenlinea"/>
                </h:panelGrid>
                <p:panelGrid styleClass="noBorders">
                    <p:row>
                        <p:column styleClass="alineacionDer">
                            <h:outputLabel for="participante" value="* #{text['proyectos.comunes.participante.lbl']}" styleClass="obligatorio"/>
                        </p:column>
                        <p:column colspan="3">
                            <!-- Si es solo de consulta porque el proyecto no se puede modificar -->
                            <h:inputText value="#{grupoParticipanteForm.nombreDNIParticipante}" size="100" readonly="true" rendered="#{holderForm.modoConsultaGrupoProyecto}"/>
                            <!-- Si se puede modificar el proyecto y no es una edicion de participante -->
                            <p:autoComplete id="participante" forceSelection="true" size="100"
                                        value=""
                                        completeMethod="#{grupoParticipanteForm.autocompletePersonaCentroNoProvisionales}"
                                        minQueryLength="3"
                                        emptyMessage="#{text['proyectos.info.resultadoVacio']}"
                                        rendered="#{!holderForm.modoConsultaGrupoProyecto and !grupoParticipanteForm.modoEdicion}">
                               <!--  <p:ajax event="itemSelect" update="selectOrganismo,entidad,organismoEntidad,situacionActual" listener="#{grupoParticipanteForm.selectItemParticipante}"/> -->
                            </p:autoComplete>
                          <!--   <p:blockUI block="participante" trigger="participante"></p:blockUI> -->
                            <h:graphicImage id="textoAyudaParticipante"
                                            url="/images/iconAutocomplete.gif" style="margin-left: 2px;" 
                                            rendered="#{!holderForm.modoConsultaGrupoProyecto and !grupoParticipanteForm.modoEdicion}"/>
                            <p:tooltip for="textoAyudaParticipante" rendered="#{!holderForm.modoConsultaGrupoProyecto and !grupoParticipanteForm.modoEdicion}">
                                <h:panelGrid columns="2"
                                             columnClasses="alineacionIzq,alineacionIzq">
                                    <h:outputText escape="false" styleClass="ui-icon  silk-icon-help"/>
                                    <h:outputText
                                        value="#{text['proyectos.textoAyuda.buscarPersonas']} #{text['proyectos.textoAyuda.campoSugerencias.limite']}"
                                        escape="false" styleClass="ayudaenlinea" />
                                </h:panelGrid>
                            </p:tooltip>
                            <p:commandButton 
                                 value="#{text['boton.buscarPersonas']}"
                                 icon="silk-icon-zoom" 
                                 oncomplete="PF('widget_panelBuscarPersona').show()"
                                 title="#{text['proyectos.textoAyuda.buscarPersonas']}"/>
                                 <!-- ajax="true"
                                 rendered="#{!holderForm.modoConsultaGrupoProyecto and !grupoParticipanteForm.modoEdicion}" -->
                                
                               <!--   actionListener="#{grupoParticipanteForm.refreshPanelBuscarPersona}"  -->
                                 
                                 <!-- update="divPanelBuscarPersona" -->                            
                            <!-- Si se puede modificar el proyecto y es una edicion de participante -->
                            <p:inputText value="#{grupoParticipanteForm.nombreDNIParticipante}" size="100" readonly="true" rendered="#{!holderForm.modoConsultaGrupoProyecto and grupoParticipanteForm.modoEdicion}"/>
                            <h:inputHidden id="nombreDNIParticipante" value="#{grupoParticipanteForm.nombreDNIParticipante}" rendered="#{!holderForm.modoConsultaGrupoProyecto and grupoParticipanteForm.modoEdicion}"/>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column styleClass="alineacionDer"><h:outputLabel for="situacionActual" value="#{text['proyectos.comunes.situacionActual.lbl']}"/></p:column>
                        <p:column colspan="3"><p:inputText id="situacionActual" readonly="true" size="100" value="#{grupoParticipanteForm.situacionActualParticipante}" /></p:column>
                    </p:row>
                    <p:row>
                    
          
                        <p:column styleClass="alineacionDer"><h:outputLabel value="#{text['proyectos.comunes.cuerpo.lbl']}"/></p:column>
            			<!--<p:column colspan="3">
               				 <ui:include src="incPanelPersonaProvisionalDatosCuerpoEscala.xhtml"/>                                    
           				 </p:column>  -->
           				  
                       <p:column colspan="3">
                            <p:selectOneMenu id="selectCuerpo"
                                         value=""
                                         rendered="">
                                <f:selectItem itemLabel="#{text['proyectos.comunes.introduzcaSeleccion']}" itemValue=""/>
                                <f:selectItems value="#{catalogoProyectosForm.listaCategorias}" />
                            </p:selectOneMenu>
                            <p:inputText readonly="true" id="cuerpo" value="#{grupoParticipanteForm.cuerpoParticipante}" rendered="#{holderForm.modoConsultaGrupoProyecto}"/>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column styleClass="alineacionDer"><h:outputLabel for="otraCategoria" value="#{text['proyectos.comunes.otraCategoria.lbl']}"/></p:column>
                        <p:column colspan="3"><p:inputText id="otraCategoria" value="" size="100" maxlength="100" readonly="#{holderForm.modoConsultaGrupoProyecto}"/></p:column>
                    </p:row>
                    <p:row>
                        <p:column styleClass="alineacionDer"><h:outputLabel for="selectAreaCientifica" value="#{text['proyectos.comunes.areaCientifica.lbl']}"/></p:column>
                        <p:column>
                             <p:selectOneMenu id="selectAreaCientifica"
                                         value="Ciencias Agrarias"
                                         rendered="true"
                                        >
                                <f:selectItem itemLabel="" itemValue="#{null}"/>
                                <f:selectItems value="Ciencias Agrarias" />
                            </p:selectOneMenu>
                           <!--  <p:inputText readonly="true" id="areaCientifica" value="#{grupoParticipanteForm.grupoParticipante.areaCientifica.nombre}" rendered="#{holderForm.modoConsultaGrupoProyecto}"/> -->
                              <p:inputText readonly="true" id="areaCientifica" value="" />
                        </p:column>
                        <p:column styleClass="alineacionDer"><h:outputLabel value="#{text['proyectos.comunes.organismoPersona.lbl']}"/></p:column>
                        <p:column>
                            <p:selectOneMenu id="selectOrganismo"
                                         value=""
                                         rendered="">
                                <f:selectItem itemLabel="introduzcaSeleccion" itemValue=""/>
                                <f:selectItems value="" />
                            </p:selectOneMenu>
                            <p:inputText readonly="true" id="organismo" value="" />
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column styleClass="alineacionDer"><h:outputLabel for="departamento" value="#{text['proyectos.comunes.departamento.lbl']}"/></p:column>
                        <p:column colspan="3"><p:inputText id="departamento" value="departamento" size="100" maxlength="200" readonly="#{holderForm.modoConsultaGrupoProyecto}"/></p:column>
                    </p:row>                   
                    <p:row>
                        <p:column styleClass="alineacionDer"><h:outputLabel for="entidad" value="#{text['proyectos.comunes.entidad.lbl']}"/></p:column>
                        <p:column colspan="4">                            
                            <p:autoComplete id="entidad"
                                forceSelection="true" size="95"
                                value="entidadParticipante"
                               
                                completeMethod="#{grupoParticipanteForm.autocompleteEntidadSinProvisionales}"
                                var="item" style="border:0px;"
                                itemLabel="#{grupoParticipanteForm.getEntidadAutoSuggestLabel(item)}" itemValue="#{item}"
                                emptyMessage="#{text['proyectos.info.resultadoVacio']}"
                                minQueryLength="3"
                                readonly="#{holderForm.modoConsultaGrupoProyecto}">
                              <!--   <p:ajax event="itemSelect" update="organismoEntidad,paisEntidad"/> -->
                                <p:column>
                                    <h:graphicImage height="16" width="16" url="/images/logo_csic.gif" style="margin-right:5px;vertical-align:bottom;" rendered="#{item.CSIC}"/>
                                    <h:graphicImage height="16" width="16" url="/images/tercero.gif" style="margin-right:5px;vertical-align:bottom;" rendered="#{item.swAgenciaPrincipal}"/>
                                    <h:graphicImage height="16" width="16" url="/images/agencia.gif" style="margin-right:5px;vertical-align:bottom;" rendered="#{item.swAgencia and !item.swAgenciaPrincipal}"/>
                                    <h:outputText value="#{item.nombre} &lt;#{item.id}&gt;"/>
                                    <h:graphicImage height="16" width="16" url="/images/flags/#{item.pais.codIso2Lowercase}.png" alt="#{item.pais.codIso2}" style="margin-left:5px;vertical-align:bottom;" rendered="#{not empty item.pais.codIso2Lowercase and item.pais.codIso2 ne 'ES'}"/>
                                    <h:outputText value=" (#{item.pais.codIso2})" style="font-style:italic" rendered="#{not empty item.pais.codIso2Lowercase and item.pais.codIso2 ne 'ES'}"/>
                                </p:column>
                            </p:autoComplete>
                             <p:blockUI block="entidad" trigger="entidad"> 
                            <!--  <ui:include src="/comun/incMiniStatus.xhtml"/>-->
                            </p:blockUI>
                            <h:graphicImage id="textoAyudaEntidadParticipante" url="/images/iconAutocomplete.gif" style="margin-left: 5px;" />
                            <p:tooltip for="textoAyudaEntidadParticipante">
                                <h:panelGrid columns="2" columnClasses="alineacionIzq,alineacionIzq">
                                    <h:outputText
                                        value="#{text['proyectos.textoAyuda.campoSugerenciasEntidad']}  #{text['proyectos.textoAyuda.campoSugerencias.limite']}"
                                        escape="false" styleClass="ayudaenlinea" />
                                </h:panelGrid>
                            </p:tooltip>
                            <p:selectBooleanCheckbox id="checkboxSwIncluirAgencias" 
                                                     value="" 
                                                     rendered=""
                                                     itemLabel="#{text['proyectos.comunes.swIncluirAgencias.label']}"
                                                     style="vertical-align:bottom;">
                                <p:ajax event="change"/>
                            </p:selectBooleanCheckbox>                           
                            <p:tooltip for="checkboxSwIncluirAgencias">
                                <h:panelGrid columns="2" columnClasses="alineacionIzq,alineacionIzq">
                                    <h:outputText
                                        value="#{text['proyectos.comunes.swIncluirAgencias.title']}"
                                        escape="false" styleClass="ayudaenlinea" />
                                </h:panelGrid>
                            </p:tooltip>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column styleClass="alineacionDer"><h:outputLabel for="organismoEntidad" value="#{text['proyectos.comunes.organismoEntidad.lbl']}"/></p:column>
                        <p:column><p:inputText id="organismoEntidad" value="#{grupoParticipanteForm.organismoEntidadParticipante}" readonly="true"/></p:column>
                        <p:column styleClass="alineacionDer"><h:outputLabel for="paisEntidad" value="#{text['proyectos.comunes.paisEntidad.lbl']}"/></p:column>
                        <p:column><p:inputText id="paisEntidad" value="#{grupoParticipanteForm.paisEntidadParticipante}" readonly="true"/></p:column>
                    </p:row>
                    <p:row>
                        <p:column styleClass="alineacionDer"><h:outputLabel for="funcion" value="* #{text['proyectos.comunes.funcion.lbl']}" styleClass="obligatorio"/></p:column>
                        <p:column>
                            <p:selectOneMenu id="selectFuncion"
                                         value=""
                                         rendered="">
                                <f:selectItem itemLabel="introduzcaSeleccion" itemValue=""/>
                                <f:selectItems value="" />
                            </p:selectOneMenu>
                            <p:inputText id="funcion" value="#{grupoParticipanteForm.funcionGrupoParticipante.nombre}"
                                         readonly="true" rendered="#{holderForm.modoConsultaGrupoProyecto}"/>
                        </p:column>
                        <p:column styleClass="alineacionDer">
                            <h:outputLabel for="horas" value="#{text['proyectos.comunes.horas.lbl']}" rendered="#{not grupoParticipanteForm.grupoParticipanteBean.horasSemanaObligatorio}"/>
                            <h:outputLabel for="horas" value="* #{text['proyectos.comunes.horas.lbl']}" styleClass="obligatorio" rendered="#{grupoParticipanteForm.grupoParticipanteBean.horasSemanaObligatorio}"/>
                        </p:column>
                        <p:column>
                            <p:inputText id="horas" value="6 horas"
                                     maxlength="5"
                                     onblur="extractNumber(this, 0, false);"
                                     onkeyup="extractNumber(this, 0, false);"
                                     onkeypress="return blockNonNumbers(this, event, false, false);"
                                     readonly="#{holderForm.modoConsultaGrupoProyecto}"/>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column styleClass="alineacionDer"><h:outputLabel for="fechaAlta" value="#{text['proyectos.comunes.fechaAlta.lbl']}"/></p:column>
                        <p:column>
                           <!--  <p:calendar id="fechaAlta"
                                    title="#{text['proyectos.comunes.fechaAlta.lbl']}"
                                    value="#{grupoParticipanteForm.fechaInicioGrupoParticipante}" locale="es"
                                    pattern="dd/MM/yyyy" showOn="button" navigator="true"
                                    readonly="#{holderForm.modoConsultaGrupoProyecto or grupoParticipanteForm.lockFechas}"
                                    />      -->  
                                    <p:calendar id="fechaAlta"
                                    title="#{text['proyectos.comunes.fechaAlta.lbl']}"/>                               
                                                     
                        </p:column>
                        <p:column styleClass="alineacionDer"><h:outputLabel for="fechaBaja" value="#{text['proyectos.comunes.fechaBaja.lbl']}"/></p:column>
                        <p:column>
                           <!--  <p:calendar id="fechaBaja"
                                    title="#{text['proyectos.comunes.fechaBaja.lbl']}"
                                    value="#{grupoParticipanteForm.fechaFinGrupoParticipante}" locale="es"
                                    pattern="dd/MM/yyyy" showOn="button" navigator="true"
                                    readonly="#{holderForm.modoConsultaGrupoProyecto  or grupoParticipanteForm.lockFechas}"
                                    /> -->
                                    <p:calendar id="fechaBaja"
                                    title="#{text['proyectos.comunes.fechaBaja.lbl']}"/>
                                   
                                    
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column styleClass="alineacionDer"><h:outputLabel for="swPrincipal" value="#{text['proyectos.comunes.participantePrincipal.lbl']}" rendered="#{grupoParticipanteForm.modoEdicion}"/></p:column>
                        <p:column>
                            <p:inputText id="swPrincipal" value="#{grupoParticipanteForm.grupoParticipante.swPrincipal ? text['proyectos.comunes.si'] : text['proyectos.comunes.no']}" readonly="#{true}" rendered="#{grupoParticipanteForm.modoEdicion}"/> 
                        </p:column>
                        <p:column styleClass="alineacionDer"><h:outputLabel for="swPrincipalActivo" value="#{text['proyectos.comunes.activo.lbl']}" rendered="#{grupoParticipanteForm.modoEdicion}"/></p:column>
                        <p:column>
                            <p:inputText id="swPrincipalActivo" value="#{grupoParticipanteForm.grupoParticipante.swPrincipalActivo ? text['proyectos.comunes.si'] : text['proyectos.comunes.no']}" readonly="#{true}" rendered="#{grupoParticipanteForm.modoEdicion}"/>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column styleClass="alineacionDer"><h:outputLabel for="telefono" value="#{text['proyectos.comunes.telefono.lbl']}"/></p:column>
                        <p:column>
                            <p:inputText id="telefono" value="" maxlength="50" readonly="#{holderForm.modoConsultaGrupoProyecto}"/>
                        </p:column>
                        <p:column styleClass="alineacionDer"><h:outputLabel for="telefonoAlternativo" value="#{text['proyectos.comunes.telefonoAlternativo.lbl']}"/></p:column>
                        <p:column>
                            <p:inputText id="telefonoAlternativo" value="" maxlength="50" readonly="#{holderForm.modoConsultaGrupoProyecto}"/>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column styleClass="alineacionDer"><h:outputLabel for="eMail" value="#{text['proyectos.comunes.eMail.lbl']}"/></p:column>
                        <p:column colspan="3">
                            <p:inputText id="eMail" value="" size="100" maxlength="100" readonly="#{holderForm.modoConsultaGrupoProyecto}"/>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column styleClass="alineacionDer"><h:outputLabel for="observaciones" value="#{text['proyectos.comunes.observaciones.lbl']}"/></p:column>
                        <p:column colspan="3">
                            <p:inputTextarea id="observaciones" value="observaciones" 
                                         cols="100" rows="2" onkeyup="return ismaxlength(this, 200)"
                                         readonly="#{holderForm.modoConsultaGrupoProyecto}"/>
                        </p:column>
                    </p:row>                    
                </p:panelGrid>
                <!--  <ui:include src="incDatosParticipanteBotonera.xhtml"/>  -->
            </h:panelGrid>
        </p:outputPanel>
        
       <ui:include src="panelBuscarPersona.xhtml"/> 
    </p:outputPanel>
 
</ui:composition>
