<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html">

    <h:panelGroup layout="block" id="divDatosParticipanteBotonera">
        <p:panelGrid styleClass="tablaBoton">
            <p:row>                 
                <p:column>
                    <p:commandButton value="#{text['boton.anadirAParticipantes']}"
                                     actionListener="#{grupoParticipanteForm.anadirGrupoParticipante}" 
                                     icon="silk-icon-user-add" 
                                     ajax="true"
                                     onstart="mostrarPanelEnviando()"
                                     oncomplete="ocultarPanelEnviando();loadGrowlStyles();"                                 
                                     rendered="#{!holderForm.modoConsultaGrupoProyecto and !grupoParticipanteForm.modoEdicion}"/>     
                                    <!--  update="@widgetVar(widgetGrowlInfo),divRenderPanelParticipante,bloqueListaParticipantes" -->
                                   
                </p:column>
                <p:column>
                    <p:commandButton value="#{text['boton.limpiar']}"
                                     actionListener="#{grupoParticipanteForm.refreshBloqueDatosParticipante}" 
                                     icon="silk-icon-wand" 
                                     ajax="true"
                                     update="divDatosParticipante"
                                     onstart="mostrarPanelEnviando()"
                                     oncomplete="ocultarPanelEnviando();"
                                     rendered="#{!holderForm.modoConsultaGrupoProyecto and !grupoParticipanteForm.modoEdicion}"/>
                </p:column>
                <p:column>
                    <p:commandButton value="#{text['boton.actualizarEnParticipantes']}"
                                     actionListener="#{grupoParticipanteForm.actualizarGrupoParticipante}" 
                                     icon="silk-icon-user-edit" 
                                     ajax="true"
                                     update="@widgetVar(widgetGrowlInfo),divRenderPanelParticipante,bloqueListaParticipantes"
                                     onstart="mostrarPanelEnviando();"
                                     oncomplete="ocultarPanelEnviando();loadGrowlStyles();"
                                     rendered="#{!holderForm.modoConsultaGrupoProyecto and grupoParticipanteForm.modoEdicion}"/>
                </p:column>
                <p:column>
                    <p:commandButton value="#{text['boton.cancelar']}"
                                     actionListener="#{grupoParticipanteForm.cancelar}" 
                                     icon="silk-icon-cross" 
                                     immediate="true"
                                     onstart="mostrarPanelEnviando()"
                                     oncomplete="ocultarPanelEnviando();PF('widget_panelParticipanteDetalle').hide()"/>
                </p:column>
                <p:column>
                    <p:commandButton value="#{text['boton.borrarDeParticipantes']}"
                                     actionListener="#{grupoParticipanteForm.borrarGrupoParticipante(grupoParticipanteForm.participante.dni)}" 
                                     icon="silk-icon-user-delete" 
                                     ajax="true"
                                     update="@widgetVar(widgetGrowlInfo),divRenderPanelParticipante,bloqueListaParticipantes"
                                     onstart="mostrarPanelEnviando()"
                                     oncomplete="ocultarPanelEnviando();loadGrowlStyles();"
                                     rendered="#{!holderForm.modoConsultaGrupoProyecto and grupoParticipanteForm.modoEdicion}">
                                     <p:confirm header="#{text['proyectos.confirm.header']}" 
                                     	message="#{text['proyectos.confirm.delete']}" icon="silk-icon-bullet-error" />
                    </p:commandButton>
                </p:column>
            </p:row>
        </p:panelGrid>
    </h:panelGroup>
</ui:composition>

