<ui:composition xmlns="http://www.w3.org/1999/xhtml"
     xmlns:ui="http://java.sun.com/jsf/facelets"
     xmlns:h="http://java.sun.com/jsf/html"
     xmlns:f="http://java.sun.com/jsf/core"
     xmlns:p="http://primefaces.org/ui">
 
 
 <!-- VENTANA MODAL -->
 
     
    <p:outputPanel id="divDatosEntidadesParticipantes"  >
	    <p:fieldset>
	   
		    <h:panelGrid columns="2" columnClasses="alineacionIzq,alineacionIzq" cellpadding="2" cellspacing="2">
		        <h:outputLabel value="* #{text['proyectos.comunes.entidad.lbl']}" styleClass="lblResumenProyecto"/>
		        <h:panelGroup>
		            <h:panelGrid columns="2" columnClasses="alineacionIzq,alineacionIzq">
		            	<p:selectOneMenu value="Nueva funcion">
					        <f:selectItem itemLabel="selecciona entidad" itemValue="#{null}"/>
			                <f:selectItems value="#{participantesForm.listEntidades}" />
		             	</p:selectOneMenu>
		            </h:panelGrid>
		            
		         <!--    <h:panelGrid columns="7" cellpadding="0" cellspacing="0" >
		            
		            <p:selectBooleanCheckbox id="checkboxSwIncluirAgencias" value="true">
		                    <p:ajax event="change"/>
		             </p:selectBooleanCheckbox> 
		             <h:outputLabel value="#{text['proyectos.comunes.swIncluirAgencias.label']}" rendered="#{not proyectoForm.modoConsultaProyecto and not grupoProyectoDetalleForm.grupoProyectoDetalleBean.modoEdicionGrupoProyecto}" title="#{text['proyectos.comunes.swIncluirAgencias.title']}" style="margin-left:5px;"/>
		             <p:tooltip for="checkboxSwIncluirAgencias">
		                 <h:panelGrid columns="2" columnClasses="alineacionIzq,alineacionIzq">
		                     <h:outputText
		                         value="#{text['proyectos.comunes.swIncluirAgencias.title']}"
		                         escape="false" styleClass="ayudaenlinea" />
		                 </h:panelGrid>
		             </p:tooltip>
		            </h:panelGrid> -->
		        </h:panelGroup>
		        <p:outputPanel id="divLblGrupoEntidadPaises" layout="block">
		        	<h:outputLabel value="#{text['proyectos.comunes.pais.lbl']}"
		                       rendered="#{proyectoForm.renderBloqueProyectosBimultilaterales}"/>
		        </p:outputPanel>
		        <p:outputPanel id="divTextGrupoEntidadPaises" layout="block">
		            <p:inputText readonly="true" id="inputPaisEntidadGrupo" value="#{grupoProyectoDetalleForm.grupoProyectoDetalleBean.grupoProyecto.entidad.pais.nombre}" size="100"
		                rendered="#{proyectoForm.renderBloqueProyectosBimultilaterales}"/>
		        </p:outputPanel>
		
		        <h:outputLabel for="selectNuevaFuncionGrupo" value="* #{text['proyectos.comunes.funcion.lbl']}"
		                   styleClass="lblResumenProyecto"/>
		        <h:panelGrid columns="4" >
		        	 <h:column rendered="#{!proyectoForm.modoConsultaProyecto}">
		            	<p:selectOneMenu id="selectNuevaFuncionGrupo"
		                              rendered="#{!proyectoForm.modoConsultaProyecto}"
		                              value="Nueva funcion">
			                <p:ajax event="change" update="inputNombreGp" listener="#{grupoProyectoDetalleForm.onChangeFuncionGrupo}"/>
			                <f:selectItem itemLabel="#{text['proyectos.comunes.introduzcaSeleccion']}" itemValue="#{null}"/>
			                <f:selectItems value="#{proyectoForm.listSelectItemFuncionGrupo}" />
		             	</p:selectOneMenu>
		            	<p:blockUI trigger="selectNuevaFuncionGrupo" block="selectNuevaFuncionGrupo"/>
		             </h:column>
			         <p:inputText id="inpFuncion" value="#{grupoProyectoDetalleForm.grupoProyectoDetalleBean.grupoProyecto.funcionGrupo.nombre}"
			                   readonly="true" size="60"
			                   rendered="#{proyectoForm.modoConsultaProyecto}"/>
			        
			         <h:outputLabel for="inputEsCSIC" value="#{text['proyectos.comunes.csic.lbl']}" styleClass="lblResumenProyecto"/>
			         <p:inputText id="inputEsCSIC" value="#{grupoProyectoDetalleForm.grupoProyectoDetalleBean.grupoProyecto.entidad.CSIC ? text['proyectos.comunes.si'] : text['proyectos.comunes.no']}" readonly="true"/>
			    </h:panelGrid>
		        
		        <h:outputText value="#{text['proyectos.comunes.nombreGrupoProyecto.lbl']}"   styleClass="lblResumenProyecto"/>
		      
		        <p:inputText id="inputNombreGp" value="NOMBRE GP" size="100" maxlength="100" />
		        
		        <h:outputText value="#{text['proyectos.comunes.acronimoGrupoProyecto.lbl']}" styleClass="lblResumenProyecto" />
		        <p:inputText id="inputAcronimoGp" value="ACRONIMO" size="50" maxlength="30" />
		        
		        <h:outputLabel for="fechaAlta" value="#{text['proyectos.comunes.fechaAlta.lbl']}" styleClass="lblResumenProyecto"/>
		
		        <h:outputLabel value="* #{text['proyectos.comunes.grupoProyectoPrincipal.lbl']}" 
		                        for="swGrupoProyectoPpal" styleClass="lblResumenProyecto" rendered="#{grupoProyectoDetalleForm.grupoProyectoDetalleBean.renderSwPrincipal}"/>
		        <p:outputPanel id="divSwGrupoProyectoPpal" layout="block" rendered="#{grupoProyectoDetalleForm.grupoProyectoDetalleBean.renderSwPrincipal}" styleClass="lblResumenProyecto">
		            <p:selectOneMenu id="swGrupoProyectoPpal"
		                           rendered="#{!proyectoForm.modoConsultaProyecto and grupoProyectoDetalleForm.grupoProyectoDetalleBean.renderSwGrupoProyectoPpal}"
		                           value="">
		                <f:selectItem itemLabel="#{text['proyectos.comunes.introduzcaSeleccion']}" itemValue="#{null}"/>
		                <f:selectItems value="#{catalogoProyectosForm.listSelectItemSiNo}" />
		            </p:selectOneMenu>
		            <p:inputText id="inpTextPrincipal" value="#{grupoProyectoDetalleForm.grupoProyectoDetalleBean.grupoProyecto.swPrincipal ? 'SI' : 'NO'}"
		                       readonly="true"
		                       rendered="#{proyectoForm.modoConsultaProyecto || !grupoProyectoDetalleForm.grupoProyectoDetalleBean.renderSwGrupoProyectoPpal}"/>
		        </p:outputPanel>
		    </h:panelGrid>
		</p:fieldset>
	</p:outputPanel>
    
</ui:composition>