<ui:composition xmlns="http://www.w3.org/1999/xhtml"
     xmlns:ui="http://java.sun.com/jsf/facelets"
     xmlns:h="http://java.sun.com/jsf/html"
     xmlns:f="http://java.sun.com/jsf/core"
     xmlns:p="http://primefaces.org/ui">

     
    <p:outputPanel id="divDatosEntidadesParticipantes"  >
    	<p:fieldset>
		    <h:panelGrid columns="2" columnClasses="alineacionIzq,alineacionIzq" cellpadding="2" cellspacing="2">
		        <h:outputLabel value="* #{text['proyectos.comunes.entidad.lbl']}" styleClass="lblResumenProyecto"/>
		        <h:panelGroup>
		
		            
		            <h:panelGrid columns="2" columnClasses="alineacionIzq,alineacionIzq"
		                         rendered="#{not proyectoForm.modoConsultaProyecto and not grupoProyectoDetalleForm.grupoProyectoDetalleBean.modoEdicionGrupoProyecto}">
		              
		            </h:panelGrid>
		            
		            <h:panelGrid columns="7" cellpadding="0" cellspacing="0" >
		            <!--  <p:autoComplete id="acEntidadParticipante"
		                 forceSelection="true" size="95"
		                 value="#{grupoProyectoDetalleForm.grupoProyectoDetalleBean.grupoProyecto.entidad}"
		                
		                 completeMethod="#{grupoProyectoDetalleForm.completeEntidades}"
		                 var="item" style="border:0px;"
		                 itemLabel="#{grupoProyectoDetalleForm.getEntidadAutoSuggestLabel(item)}" itemValue="#{item}"
		                 emptyMessage="#{text['proyectos.info.resultadoVacio']}"
		                 minQueryLength="3"
		                 readonly="true">
		                 <p:ajax event="itemSelect" listener="#{grupoProyectoDetalleForm.onSelectEntidadGrupoProyecto}"
		                        update="inputNombreGp,divTextGrupoEntidadPaises,divSwGrupoProyectoPpal"/>
		                 <p:column>
		                     <h:graphicImage height="16" width="16" url="/images/logo_csic.gif" style="margin-right:5px;vertical-align:bottom;" rendered="#{item.CSIC}"/>
		                     <h:graphicImage height="16" width="16" url="/images/tercero.gif" style="margin-right:5px;vertical-align:bottom;" rendered="#{item.swAgenciaPrincipal}"/>
		                     <h:graphicImage height="16" width="16" url="/images/agencia.gif" style="margin-right:5px;vertical-align:bottom;" rendered="#{item.swAgencia and !item.swAgenciaPrincipal}"/>	                            
		                     <h:outputText value="#{item.nombre} &lt;#{item.id}&gt;"/>
		                     <h:graphicImage height="16" width="16" url="/images/flags/#{item.pais.codIso2Lowercase}.png" alt="#{item.pais.codIso2}" style="margin-left:5px;vertical-align:bottom;" rendered="#{not empty item.pais.codIso2Lowercase and item.pais.codIso2 ne 'ES'}"/>
		                     <h:outputText value=" (#{item.pais.codIso2})" style="font-style:italic" rendered="#{not empty item.pais.codIso2Lowercase and item.pais.codIso2 ne 'ES'}"/>
		                 </p:column>
		             </p:autoComplete> 
		             <p:blockUI block="acEntidadParticipante" trigger="acEntidadParticipante"/>
		             <h:graphicImage id="textoAyudaEntidadParticipante" url="/images/iconAutocomplete.gif" style="margin-left: 5px;" />
		             <p:tooltip for="textoAyudaEntidadParticipante">
		                 <h:panelGrid columns="2" columnClasses="alineacionIzq,alineacionIzq">
		                     <h:outputText
		                         value="#{text['proyectos.textoAyuda.campoSugerenciasEntidad']}  #{text['proyectos.textoAyuda.campoSugerencias.limite']}"
		                         escape="false" styleClass="ayudaenlinea" />
		                 </h:panelGrid>
		             </p:tooltip>-->
		             
		             <p:selectBooleanCheckbox id="checkboxSwIncluirAgencias" value="true">
		                    <p:ajax event="change"/>
		             </p:selectBooleanCheckbox>
		             <h:outputLabel value="#{text['proyectos.comunes.swIncluirAgencias.label']}" rendered="#{not proyectoForm.modoConsultaProyecto and not grupoProyectoDetalleForm.grupoProyectoDetalleBean.modoEdicionGrupoProyecto}" title="#{text['proyectos.comunes.swIncluirAgencias.title']}" style="margin-left:5px;"/>
		             <p:tooltip for="checkboxSwIncluirAgencias">
		                 <h:panelGrid columns="2" columnClasses="alineacionIzq,alineacionIzq">
		                     <h:outputText	value="#{text['proyectos.comunes.swIncluirAgencias.title']}" escape="false" styleClass="ayudaenlinea" />
		                 </h:panelGrid>
		             </p:tooltip>
		            </h:panelGrid>
		        </h:panelGroup>
		        <p:outputPanel id="divLblGrupoEntidadPaises" layout="block">
		            <h:outputLabel value="#{text['proyectos.comunes.pais.lbl']}" rendered="#{proyectoForm.renderBloqueProyectosBimultilaterales}"/>
		        </p:outputPanel>
		        <p:outputPanel id="divTextGrupoEntidadPaises" layout="block">
		            <p:inputText readonly="true" id="inputPaisEntidadGrupo" value="#{grupoProyectoDetalleForm.grupoProyectoDetalleBean.grupoProyecto.entidad.pais.nombre}" size="100"
		                rendered="#{proyectoForm.renderBloqueProyectosBimultilaterales}"/>
		        </p:outputPanel>
		
		        <h:outputLabel for="selectNuevaFuncionGrupo" value="* #{text['proyectos.comunes.funcion.lbl']}"  styleClass="lblResumenProyecto"/>
		        <h:panelGrid columns="4" >
		            <h:column rendered="#{!proyectoForm.modoConsultaProyecto}">
		             <p:selectOneMenu id="selectNuevaFuncionGrupo"
		                              rendered="#{!proyectoForm.modoConsultaProyecto}"
		                              value="Nueva funcion">
		                 <p:ajax event="change" update="inputNombreGp" listener="#{grupoProyectoDetalleForm.onChangeFuncionGrupo}"/>
		                 <f:selectItem itemLabel="#{text['proyectos.comunes.introduzcaSeleccion']}" itemValue="#{null}"/>
		                 <f:selectItems value="#{proyectoForm.listSelectItemFuncionGrupo}" />
		             </p:selectOneMenu>
		            <!--  <p:blockUI trigger="selectNuevaFuncionGrupo" block="selectNuevaFuncionGrupo"/> -->
		         </h:column>
		         <p:inputText id="inpFuncion" value="#{grupoProyectoDetalleForm.grupoProyectoDetalleBean.grupoProyecto.funcionGrupo.nombre}"
		                   readonly="true" size="60" rendered="#{proyectoForm.modoConsultaProyecto}"/>
		        
		            <h:outputLabel for="inputEsCSIC" value="#{text['proyectos.comunes.csic.lbl']}" styleClass="lblResumenProyecto"/>
		            <p:inputText id="inputEsCSIC" value="#{grupoProyectoDetalleForm.grupoProyectoDetalleBean.grupoProyecto.entidad.CSIC ? text['proyectos.comunes.si'] : text['proyectos.comunes.no']}" readonly="true"/>
		        </h:panelGrid>
		        
		        <h:outputText value="#{text['proyectos.comunes.nombreGrupoProyecto.lbl']}"   styleClass="lblResumenProyecto"/>
		      
		        <p:inputText id="inputNombreGp" value="NOMBRE GP" size="100" maxlength="100" />
		        
		        <h:outputText value="#{text['proyectos.comunes.acronimoGrupoProyecto.lbl']}" styleClass="lblResumenProyecto" />
		        <p:inputText id="inputAcronimoGp" value="ACRONIMO" size="50" maxlength="30" />
		        
		        <h:outputLabel for="fechaAlta" value="#{text['proyectos.comunes.fechaAlta.lbl']}" styleClass="lblResumenProyecto"/>
		  <!--       <h:panelGrid columns="2">
		            <p:calendar id="fechaAlta"
		                 title="#{text['proyectos.comunes.fechaAlta.lbl']}"
		                 value=""
		                 locale="es"
		                 pattern="dd/MM/yyyy"
		                 showOn="button" navigator="true"
		                 readonly="#{proyectoForm.modoConsultaGrupoProyecto}"
		                 converterMessage="El formato de la fecha del campo '#{text['proyectos.comunes.fechaAlta.lbl']}' es erroneo (dd/mm/aaaa)"/>
		            <h:panelGrid columns="2" cellspacing="4">
		                <h:outputLabel for="fechaBaja" value="#{text['proyectos.comunes.fechaBaja.lbl']}"/>
		                <p:calendar id="fechaBaja"
		                    title="#{text['proyectos.comunes.fechaBaja.lbl']}"
		                     value=""
		                     locale="es"
		                     pattern="dd/MM/yyyy"
		                     showOn="button" navigator="true"
		                     readonly="#{proyectoForm.modoConsultaGrupoProyecto}"
		                     converterMessage="El formato de la fecha del campo '#{text['proyectos.comunes.fechaBaja.lbl']}' es erroneo (dd/mm/aaaa)"/>
		            </h:panelGrid>
		        </h:panelGrid> -->
		
		        <h:outputLabel value="* #{text['proyectos.comunes.grupoProyectoPrincipal.lbl']}" 
		                        for="swGrupoProyectoPpal" styleClass="lblResumenProyecto" rendered="#{grupoProyectoDetalleForm.grupoProyectoDetalleBean.renderSwPrincipal}"/>
		        <p:outputPanel id="divSwGrupoProyectoPpal" layout="block" rendered="#{grupoProyectoDetalleForm.grupoProyectoDetalleBean.renderSwPrincipal}" styleClass="lblResumenProyecto">
		            <p:selectOneMenu id="swGrupoProyectoPpal"
		                           rendered="#{!proyectoForm.modoConsultaProyecto and grupoProyectoDetalleForm.grupoProyectoDetalleBean.renderSwGrupoProyectoPpal}"
		                           value="">
		                <f:selectItem itemLabel="#{text['proyectos.comunes.introduzcaSeleccion']}" itemValue="#{null}"/>
		                <f:selectItems value="#{catalogoProyectosForm.listSelectItemSiNo}" />
		            </p:selectOneMenu>
		            <p:inputText id="inpTextPrincipal" value="#{grupoProyectoDetalleForm.grupoProyectoDetalleBean.grupoProyecto.swPrincipal ? 'SI' : 'NO'}"
		                       readonly="true"
		                       rendered="#{proyectoForm.modoConsultaProyecto || !grupoProyectoDetalleForm.grupoProyectoDetalleBean.renderSwGrupoProyectoPpal}"/>
		        </p:outputPanel>
		    </h:panelGrid>
   	</p:fieldset>
   </p:outputPanel>
       
</ui:composition>