<ui:composition xmlns="http://www.w3.org/1999/xhtml"   
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:gep="http://apps.csic.es/gep"
                xmlns:p="http://primefaces.org/ui">

    <p:outputPanel id="divTablaInvParticipantes" layout="block">
    <p:accordionPanel>
    	<p:tab title="#{text['proyectos.comunes.listaParticipantes.tituloBloque']}" >
    	<p:fieldset>
        
            <h:panelGrid columns="2" columnClasses="alineacionDer,alineacionIzq" cellpadding="2" cellspacing="2">
                <h:outputLabel for="selectIncluirSoloVigentes" value="#{text['proyectos.comunes.solovigentes']}"/>
                <p:selectBooleanCheckbox id="selectAddSoloVigentes" value="true">
                  <!--   <p:ajax event="change"
                            listener="#{grupoProyectoForm.refreshIncluirNoActivos}"
                            update="divTablaProyectoGruposParticipantes"/> -->
                </p:selectBooleanCheckbox>
            </h:panelGrid>

            <p:outputPanel id="divTablaInvProyectoGruposParticipantes" layout="block">
                <p:dataTable id="tablaInvProyectoGruposParticipantes"
                             var="bean"
                             value=""
                             rendered="true"
                             paginator="true" rows="10" paginatorPosition="bottom"
                             currentPageReportTemplate="{totalRecords} #{text['listado.registrosEncontrados']}, #{text['listado.visualizando']} {startRecord} #{text['listado.al']} {endRecord}"
                             paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                             rowsPerPageTemplate="10,20,50,100,200"
                             tableStyle="table-layout:auto;width:100%;"
                             selectionMode="single"
                             rowKey=""
                             paginatorAlwaysVisible="false">
                             
					<!-- <p:ajax event="rowSelect" 
						listener="#{grupoProyectoDetalleForm.verDetalleGrupo(proyectoForm.proyecto, grupoProyectoForm.grupoProyectoBean.grupoProyectoSelectedRow)}"
						update=":opDatosProyectoGrupos:divDatosGrupoProyecto, :opGrupoParticipante:divBloqueListaParticipantes, :formDatosPCO:divTablaPCO, :proceso,  :comentarios"
						onstart="mostrarPanelEnviando()"
		            	oncomplete="ocultarPanelEnviando();goToDatosDetalleGrupo()"
						/> -->
					<p:column rendered="#{grupoProyectoDetalleForm.grupoProyectoDetalleBean.renderSwPrincipal}">
                        <h:graphicImage class="boton_img"
                                        rendered="#{bean.swPrincipal}"
                                        url="/images/grupoPpal.gif"
                                        title="#{text['proyectos.comunes.grupoProyectoPrincipal.lbl']}" />
                    </p:column>
                    <p:column headerText="NIF" sortBy="#{bean.entidad.nombre}">
                        <h:outputText value=""/>
                    </p:column>
                    <p:column headerText="NOMBRE" sortBy="#{bean.entidad.CSIC}">
                        <h:outputText value="SI"/>
                    </p:column>
                    <p:column headerText="CENTRO ENTIDAD" sortBy="#{bean.entidad.pais.nombre}">
                        <h:outputText value="ESPAÑA"/>
                    </p:column>
                    <p:column headerText="FUNCION" sortBy="#{bean.funcionGrupo.nombre}">
                        <h:outputText value="CONTRATANTE"/>
                    </p:column>
                    <p:column headerText="HORAS SEMANA" sortBy="#{bean.acronimo}">
                        <h:outputText value=""/>
                    </p:column>
                    <p:column headerText="FECHA ALTA" sortBy="#{bean.nombre}">
                        <h:outputText value="ESTACION EXPERIMENTAL ZONAS ARIDAS - CONTRATANTE"/>
                    </p:column>
                    <p:column headerText="FECHA BAJA" sortBy="#{bean.fechaInicio}">
                        <h:outputText value="" />
                    </p:column>
                    <p:column headerText="#{text['proyectos.comunes.fechaBaja.lbl']}" sortBy="#{bean.fechaFin}">
                        <h:outputText value="" />
                    </p:column>
                    <p:column headerText="#{text['proyectos.comunes.estado.lbl']}" sortBy="#{bean.estadoValidacion.nombre}">
                        <h:outputText value=""/>
                    </p:column>
                    
                </p:dataTable>
            </p:outputPanel>

            <p:outputPanel  styleClass="botonera_new" style="float:none">
                <ul class="botCont">
                    <li>
                    	<!--  update="@parent:divDatosGrupoProyecto,tablaProyectoGruposParticipantes"  -->
                        <p:commandButton value="#{text['boton.nuevoParticipante']}" 
                       					 icon="silk-icon-user-add"                                       
                                         oncomplete="PF('widget_panelParticipanteDetalle').show();" />
                    
                    </li>
                </ul>
                </p:outputPanel>  
	             <p:dialog id="panelParticipanteDetalle" header="#{text['proyectos.comunes.datosParticipante.tituloBloque']}" modal="true" 
				        widgetVar="widget_panelParticipanteDetalle" resizable="false" 
				        closable="true">
				      <!--   <p:ajax event="close" listener="#{grupoParticipanteForm.cancelar}" />   -->
	        	
	        			<ui:include src="incDatosParticipante.xhtml"/>
	                 
	   			 </p:dialog>  

          <!--   <h:panelGrid rendered="#{empty grupoProyectoForm.grupoProyectoBean.listGrupoProyecto}" cellpadding="2">
                <h:outputText value="#{text['proyectos.comunes.noProyectoGruposProyecto']}"/>
            </h:panelGrid> -->
            </p:fieldset>
        </p:tab>
       </p:accordionPanel>
    </p:outputPanel>
 
     <script type="text/javascript">
    //<![CDATA[
        function goToDatosDetalleGrupo() {
            $('html,body').animate({ scrollTop: $("#datosDetalleGrupo").offset().top}, 'slow');
        }

    //]]>
    </script>
</ui:composition>
