<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

<!-- TABLA PRINCIPAL -->

	    <p:outputPanel id="divTablaGrupoProyecto" layout="block">
	    	<p:accordionPanel>
	    	<p:tab title="#{text['proyectos.comunes.listaGrupos.tituloBloque']}">  
	    	<p:fieldset >
	                               
	    	
	            <h:panelGrid columns="2" columnClasses="alineacionDer,alineacionIzq" cellpadding="2" cellspacing="2">
	                <h:outputLabel for="selectIncluirSoloVigentes" value="#{text['proyectos.comunes.solovigentes']}"/>
	                <p:selectBooleanCheckbox id="selectIncluirSoloVigentes" value="true">
	                  <!--   <p:ajax event="change"
	                            listener="#{grupoProyectoForm.refreshIncluirNoActivos}"
	                            update="divTablaProyectoGruposParticipantes"/> -->
	                </p:selectBooleanCheckbox>
	            </h:panelGrid>
	
	            <p:outputPanel id="divTablaProyectoGruposParticipantes" layout="block">
	                  <p:dataTable id="dataTableListadoConvocatorias" 
				        			 var="bean"
				                     value="#{participantesForm.lazyModel}"
				                     paginator="true" rows="15" lazy="true" paginatorPosition="bottom"
				                     currentPageReportTemplate="{totalRecords} #{text['comunes.listado.registrosEncontrados']}, #{text['comunes.listado.visualizando']} {startRecord} #{text['comunes.listado.al']} {endRecord}"
				                     paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				                     selection="#{consultaAyudasForm.ayudaSeleccionada}"
				                     rowsPerPageTemplate="10,20,50,100,200"
				                     rowKey="#{bean.id}"
				                     selectionMode="single"
				                     tableStyle="table-layout:auto;width:100%;"
				                     emptyMessage="#{text['comunes.listado.noResultados']}">
						<!-- <p:ajax event="rowSelect" 
							listener="#{grupoProyectoDetalleForm.verDetalleGrupo(proyectoForm.proyecto, grupoProyectoForm.grupoProyectoBean.grupoProyectoSelectedRow)}"
							update=":opDatosProyectoGrupos:divDatosGrupoProyecto, :opGrupoParticipante:divBloqueListaParticipantes, :formDatosPCO:divTablaPCO, :proceso,  :comentarios"
							onstart="mostrarPanelEnviando()"
			            	oncomplete="ocultarPanelEnviando();goToDatosDetalleGrupo()"
							/> -->
						<p:column rendered="#{grupoProyectoDetalleForm.grupoProyectoDetalleBean.renderSwPrincipal}">
	                        <h:graphicImage class="boton_img"
	                                        rendered="#{bean.swPrincipal}"
	                                        url="/images/grupoPpal.gif"
	                                        title="#{text['proyectos.comunes.grupoProyectoPrincipal.lbl']}" />
	                    </p:column>
	                    <p:column headerText="#{text['proyectos.comunes.entidad.lbl']}" sortBy="#{bean.entidad.nombre}">
	                        <h:outputText value="#{bean.id_entidad}"/>
	                    </p:column>
	                    <p:column headerText="#{text['proyectos.comunes.csic.lbl']}" sortBy="#{bean.entidad.CSIC}">
	                        <h:outputText value="#{bean.nombre}"/>
	                    </p:column>
	                    <p:column headerText="#{text['proyectos.comunes.pais.lbl']}" sortBy="#{bean.entidad.pais.nombre}">
	                        <h:outputText value=""/>
	                    </p:column>
	                    <p:column headerText="#{text['proyectos.comunes.funcion.lbl']}" sortBy="#{bean.funcionGrupo.nombre}">
	                        <h:outputText value="CONTRATANTE"/>
	                    </p:column>
	                    <p:column headerText="#{text['proyectos.comunes.acronimoGrupo.lbl']}" sortBy="#{bean.acronimo}">
	                        <h:outputText value="#{bean.acronimo}"/>
	                    </p:column>
	                    <p:column headerText="#{text['proyectos.comunes.nombreGrupo.lbl']}" sortBy="#{bean.nombre}">
	                        <h:outputText value=""/>
	                    </p:column>
	                    <p:column headerText="#{text['proyectos.comunes.fechaAlta.lbl']}" sortBy="#{bean.fechaInicio}">
	                        <h:outputText value="#{bean.f_inicio}" />
	                    </p:column>
	                    <p:column headerText="#{text['proyectos.comunes.fechaBaja.lbl']}" sortBy="#{bean.fechaFin}">
	                        <h:outputText value="#{bean.f_fin}" />
	                    </p:column>
	                    <p:column headerText="#{text['proyectos.comunes.estado.lbl']}" sortBy="#{bean.estadoValidacion.nombre}">
	                        <h:outputText value="#{bean.id_estado_validacion}"/>
	                    </p:column>
	                    
	                </p:dataTable>
	            </p:outputPanel>
	
	            <p:outputPanel layout="block" rendered="#{!proyectoForm.modoConsultaProyecto}" styleClass="botonera_new" style="float:none">
	                <ul class="botCont">
	                    <li>
	                    	<!--  update="@parent:divDatosGrupoProyecto,tablaProyectoGruposParticipantes"  -->
	                      <!--   <p:commandButton value="#{text['boton.nuevoGrupo']}"
	                                         title="#{text['boton.nuevoGrupo']}"
	                                         icon="silk-icon-chart-organisation-add"
	                                         actionListener="#{grupoProyectoForm.editarNuevoGrupoProyecto}"
	                                         onstart="javascript:mostrarPanelEnviando();"
	                                         oncomplete="javascript:ocultarPanelEnviando();"/> -->
	                    </li>
	                </ul>
	            </p:outputPanel>
	
	            <h:panelGrid rendered="#{empty grupoProyectoForm.grupoProyectoBean.listGrupoProyecto}" cellpadding="2">
	                <h:outputText value="#{text['proyectos.comunes.noProyectoGruposProyecto']}"/>
	            </h:panelGrid>
	        </p:fieldset>
	        
	        <h:panelGroup layout="block" styleClass="botonera_new"	style="float:right;">
					<p:commandButton  icon="silk-icon-accept" value="Nuevo grupo" onclick="PF('modalListaParticipantesWdgt').show();" /> 
  			</h:panelGroup> 
<!-- PRUEBA -->  			
  			<p:dialog header="#{text['proyectos.comunes.listaGrupos.tituloBloque']}" widgetVar="modalListaParticipantesWdgt"
              modal="true" resizable="false" width="1100" height="600"
              showEffect="fade" hideEffect="fade" closeOnEscape="true" dynamic="true"> 
            
            	<ui:include src="incDatosEntidadesParticipantes.xhtml"/>
            	
            </p:dialog>
<!-- FIN -->	        
	      </p:tab>
	      </p:accordionPanel>
	      
		    <p:accordionPanel>
		    	<p:tab title="Grupos participantes">
		    		<ui:include src="incDatosEntidadesParticipantesEdit.xhtml"/>  
		    	</p:tab>
		    </p:accordionPanel>
	      
	    </p:outputPanel>
	    

    
    <script type="text/javascript">
    //<![CDATA[
        function goToDatosDetalleGrupo() {
            $('html,body').animate({ scrollTop: $("#datosDetalleGrupo").offset().top}, 'slow');
        }

    //]]>
    </script> 
  </ui:composition>
