<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html">

    <h:panelGroup layout="block" id="divPersonaProvisionalBotonera">
        <p:panelGrid columns="5" styleClass="tablaBoton" rendered="#{!holderForm.modoConsultaGrupoProyecto}">
	        <p:commandButton value="#{text['boton.validar']}"
	                         title="#{text['boton.validar']}"
	                         icon="silk-icon-user-add" 
	                         actionListener="#{grupoParticipanteForm.validarPersonaProvisional}"
	                         update="@widgetVar(widgetGrowlInfo),divPanelValidarPersonaProvisional,divPanelValidarEntidadProvisional,bloqueListaParticipantes"
                             rendered="#{grupoParticipanteForm.modoEdicion and holderForm.renderVerificar}"
	                         onstart="mostrarPanelEnviando()"
	                         oncomplete="PF('widget_panelPersonaProvisional').hide();ocultarPanelEnviando();loadGrowlStyles();"/>
	        <p:commandButton value="#{text['boton.editarPersonaProvisional']}"
	                         title="#{text['boton.editarPersonaProvisional']}"
	                         icon="silk-icon-user-add" 
	                         actionListener="#{grupoParticipanteForm.cargarPersonaProvisional}"
	                         update="divRenderPanelPersonaProvisional,divPersonaProvisionalBotonera,divPanelPersonaProvisional"
	                         rendered="#{!grupoParticipanteForm.modoEdicion and grupoParticipanteForm.renderCargarPersonaProvisional}"
	                         onstart="mostrarPanelEnviando()"
	                         oncomplete="ocultarPanelEnviando();loadGrowlStyles();"/>
	        <p:commandButton value="#{text['boton.guardar']}"
	                         title="#{text['boton.guardar']}"
	                         icon="silk-icon-bullet-disk"
	                         actionListener="#{grupoParticipanteForm.anadirGrupoParticipanteProvisional}"
	                         update="@widgetVar(widgetGrowlInfo),bloqueListaParticipantes,divRenderPanelPersonaProvisional"
	                         rendered="#{!grupoParticipanteForm.modoEdicion}"
	                         onstart="mostrarPanelEnviando()"
	                         oncomplete="ocultarPanelEnviando();loadGrowlStyles();"/>
	        <p:commandButton value="#{text['boton.actualizarEnParticipantes']}"
	                         title="#{text['boton.actualizarEnParticipantes']}"
	                         icon="silk-icon-user-add" 
	                         actionListener="#{grupoParticipanteForm.actualizarGrupoParticipanteProvisional}"
	                         update="@widgetVar(widgetGrowlInfo),bloqueListaParticipantes,divRenderPanelPersonaProvisional"
	                         rendered="#{grupoParticipanteForm.modoEdicion}"
	                         onstart="mostrarPanelEnviando()"
	                         oncomplete="ocultarPanelEnviando();loadGrowlStyles();"/>
            <p:commandButton value="#{text['boton.cancelar']}"
                             actionListener="#{grupoParticipanteForm.cancelarPersonaProvisional}" 
                             icon="silk-icon-cross" 
                             immediate="true"
                             onstart="mostrarPanelEnviando()"
                             oncomplete="ocultarPanelEnviando();PF('widget_panelPersonaProvisional').hide()"/>
	        <p:commandButton value="#{text['boton.borrarDeParticipantes']}"
	                         title="#{text['boton.borrarDeParticipantes']}"
	                         icon="silk-icon-user-add" 
	                         actionListener="#{grupoParticipanteForm.borrarGrupoParticipante(grupoParticipanteForm.personaProvisional.dni)}"
	                         update="@widgetVar(widgetGrowlInfo),bloqueListaParticipantes"
	                         rendered="#{grupoParticipanteForm.modoEdicion}"
	                         onstart="mostrarPanelEnviando()"
	                         oncomplete="PF('widget_panelPersonaProvisional').hide();ocultarPanelEnviando();loadGrowlStyles();"/>
        </p:panelGrid>
    </h:panelGroup>
</ui:composition>
