<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:ui="http://java.sun.com/jsf/facelets">

 
 
   <ui:include src="incListaEntidadesParticipantes.xhtml"/>   
  <!-- <ui:include src="incDatosEntidadesParticipantes.xhtml"/>   -->  
   <ui:include src="incListaInvParticipantesAyuda.xhtml"/> 
    
 
    
</div>
