<ui:composition xmlns="http://www.w3.org/1999/xhtml"  
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets" 
                xmlns:p="http://primefaces.org/ui">

    <p:dialog  id="panelBuscarPersona" widgetVar="widget_panelBuscarPersona" 
               header="#{text['buscarPersona.panel.header']}" 
               showEffect="fade" hideEffect="fade" closable="true">

        <p:outputPanel layout="block" id="divPanelBuscarPersona">
            <p:outputPanel layout="block" >
                <p:fragment id="a4jRegionBuscarPersona">
                    <h:panelGrid columns="2" columnClasses="alineacionDer,alineacionIzq">
                        <h:outputText escape="false" styleClass="ui-icon  silk-icon-help"/>
                        <h:outputText value=" #{text['buscarPersona.panel.textoAyuda']}"/>
                    </h:panelGrid>
                    <h:panelGrid columns="3" columnClasses="alineacionDerUp,alineacionIzqUp,alineacionIzqUp">
                        <h:outputLabel value="#{text['proyectos.comunes.persona.lbl']}" />
                        <h:inputText value="#{participantesForm.nombre}" size="70" />
                        <p:commandButton title="#{text['boton.buscarPersonas']}"                                   
                                         icon="silk-icon-zoom"
                                         actionListener="#{participantesForm.callServiceListaPersona}"
                                         update="divBuscarPersonas"/>
                             
                    </h:panelGrid>

                    <p:outputPanel layout="block" id="divBuscarPersonas">
                        <p:dataTable id="listadoPersonasBuscarPersonas"
                                     value="#{participantesForm.listadoPersonas}"
                                     var="persona"                                     
                                     emptyMessage=""
                                     scrollable="true" 
                                     scrollHeight="150"
                                     style="width:500px"
                                     rowKey="#{persona.nif}"
                                     selection="single">
                                    
                            
                             <p:ajax event="rowSelect"
                            		listener="#{grupoParticipanteForm.seleccionarPersona}"
                                    oncomplete="PF('widget_panelBuscarPersona').hide()"
                                    update="@parent:divDatosParticipante"></p:ajax>
                                   
                            
                            <p:column headerText="#{text['proyectos.comunes.dni.lbl']}" width="20%">
                                <h:outputText value="#{persona.nif}"/>
                            </p:column>
                            <p:column headerText="#{text['proyectos.comunes.nombre.lbl']}" width="40%">
                                <h:outputText value="#{persona.nombre}"/>
                            </p:column>                                                       
                            <p:column headerText="#{text['proyectos.comunes.entidad.lbl']}" width="40%">
                                <h:outputText value="#{persona.idEntidadRPT}"/>
                            </p:column>
                        </p:dataTable>
                    </p:outputPanel> 
                </p:fragment>
            </p:outputPanel>
        </p:outputPanel>
    </p:dialog>
</ui:composition>