<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">


    <p:dialog  id="panelPersonaProvisional" widgetVar="widget_panelPersonaProvisional" 
               header="#{text['personaProvisional.panel.header']}" modal="true" resizable="false" 
               showEffect="fade" hideEffect="fade" closable="true">
        
        <p:outputPanel layout="block" id="divPanelPersonaProvisional">
            <p:outputPanel layout="block" rendered="#{grupoParticipanteForm.renderPanelPersonaProvisional}">
                <h:panelGrid columns="2" cellpadding="2" cellspacing="2">
                    <h:outputText escape="false" styleClass="ui-icon silk-icon-information"/>
                    <h:outputText value="#{text['personaProvisional.panel.textoAyuda']}" escape="false"/>
                </h:panelGrid>

                <p:fragment id="a4jRegionAnadirPersonaProvisional">
                    
                    <p:panel header="#{text['personaProvisional.panel.tituloBloque']}" toggleable="false" toggleSpeed="200"
                             closeSpeed="200" id="bloquePanelParticipanteProvisional">  
                        <ui:include src="incPanelPersonaProvisionalDatosPersona.xhtml"/>
                    </p:panel>    
                    <br/>
                    <ui:include src="incPanelPersonaProvisionalBotonera.xhtml"/>
                </p:fragment>
            </p:outputPanel>
        </p:outputPanel>
    </p:dialog>

</ui:composition>


