<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
	
  <!--     <p:dialog id="panelParticipanteDetalle" header="#{text['proyectos.comunes.datosParticipante.tituloBloque']}" modal="true" 
			        widgetVar="widget_panelParticipanteDetalle" resizable="false" 
			        showEffect="fade" hideEffect="fade" closable="true">
			        <p:ajax event="close" listener="#{grupoParticipanteForm.cancelar}" />  
        	
        			<ui:include src="incDatosParticipante.xhtml"/>
                 
   			 </p:dialog>   -->

</ui:composition>