<ui:composition xmlns="http://www.w3.org/1999/xhtml"   
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/templates/defaultPage.xhtml">
	
	<ui:define name="css_app">
        <link type="text/css" rel="stylesheet" media="all" href="#{request.contextPath}/styles/sicoConvocatoria.css?version=#{text['version']}"/>
    </ui:define>
	
	<!--  ANIMACION DE CARGA -->
	<p:ajaxStatus onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" />	 
	<p:dialog widgetVar="statusDialog" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
   		<img  src="#{request.contextPath}/images/ajaxloadingbar.gif" alt="#{text['navegacion.cargando']}"></img>
	</p:dialog>	
	
	<div id="cons_conv_top" style="height: 70px;">
		<div style="float: left;">
		<h1 class="fuente-letra" style="position: relative; top: 10px">Consulta de Convocatorias</h1>
		</div>
		<div style="float: right;">
		<p:commandButton ajax="true" style="position: relative; top: 25px; right:10px" class="botones" value="Crear nueva convocatoria" action="#{consultaConvocatoriaAction.redirect}" />
		</div>
	</div>
	<h:form id="consultaConvocatoriaForm">
		<div id="cons_conv_body">
			<div id="cons_conv_left" style="width: 70%; float: left;">
				<h3 class="fuente-letra" style="position: relative; top:10px; right:10px;">Formulario de Búsqueda:</h3>
				<ui:include src="listadoConvocatoria.xhtml" />
			</div>
			<div id="cons_conv_right" style="width: 28%; float: left; margin-left:10px">
				<p:outputPanel id="clasificados">
					<p:layoutUnit position="east" id ="resultadosClasificados" rendered="#{consultaConvocatoriaAction.render}">
						<div style="">
							<p:outputPanel id="selectedCriterios"
								style=" overflow: auto; padding: 10px; height: 480px; border: 1px; border-color: lightgray; border-style: solid;">						
								<h3 class="fuente-letra">Resultados Clasificados:</h3>       
								<h:outputText value="Etiquetas:" /><br/> 								
								<h:outputText value="#{consultaConvocatoriaAction.etiquetaList}" /><br/>
								<p:commandButton style="float:right; margin-bottom: 25px; margin-top: 10px;" class="botones" value="Seleccionar Criterios" onclick="PF('modalConfigCriteriosWgt').show();" /><br/>																		
								
						 		<ui:repeat value="#{consultaConvocatoriaAction.criterionSearchList}" var="criterionSearch">
									<h3 style=" margin-bottom: 5px;">#{criterionSearch.label}</h3>
		 									<p:selectManyCheckbox value="#{criterionSearch.selectedValueList}" layout="grid" columns="1">
		     									<p:ajax listener="#{consultaConvocatoriaAction.actualizarLista}" update="consultaConvocatoriaForm:convocatoriaTable"/>
		     									<f:selectItems value="#{criterionSearch.values}" var="value" itemLabel="#{value.label} (#{value.numValues})" itemValue="#{value.label}"/>
		 									</p:selectManyCheckbox>
								 </ui:repeat>																	
							</p:outputPanel>
						</div>
	   				</p:layoutUnit>				
				</p:outputPanel>
			</div>
		</div>
		<!--  CMOH 20171116 - Se agregan el dialog para el formulario de selección de criterios  -->
		<p:dialog header="Configuración de Criterios" id="modalConfigCriterios"
			widgetVar="modalConfigCriteriosWgt" modal="true"
			height="100%" width="80%" resizable="false" draggable="false" style="min-height:80%;text-align:center;">
			<div align="center">
				<div style="display:table; height:400px; width:40%; float:left;">
					<div style="display:table-cell; vertical-align:middle; float:center; width:100%;">
					  <p:selectOneListbox id="criteriosDisp" value="#{consultaConvocatoriaAction.criterion}" var="c" filter="true" filterMatchMode="contains"  
					  	style="width:100%;">						        	 
					      <f:selectItems value="#{consultaConvocatoriaAction.criterionList}" var="criterion" itemLabel="#{criterion.displayName}" itemValue="#{criterion}" 
					      style="height:400px"/>					 
					      <p:column>
					          <h:outputText value="#{c.displayName}" />
					      </p:column>
					  </p:selectOneListbox>					
					</div>
    			</div>
				<div style="display:table; height:400px; width:20%; float:left;">
					<div style="display:table-cell; vertical-align:middle; float:center; width:100%;">
					<p:commandButton style="float:center" class="boton-limpiar" value="Añadir todos  &gt;&gt;&gt;" 
							action="#{consultaConvocatoriaAction.sumarTodos()}" update="criteriosDisp, criteriosSelec"/><br/><br/>					
					<p:commandButton style="float:center" class="botones" value="Añadir &gt;"  
							action="#{consultaConvocatoriaAction.sumarCriterio()}" update="criteriosDisp, criteriosSelec"/><br/>
					<p:commandButton style="float:center" class="botones" value="Quitar &lt;"  
							action="#{consultaConvocatoriaAction.quitarCriterio()}" update="criteriosDisp, criteriosSelec"/><br/><br/>
					<p:commandButton style="float:center" class="boton-limpiar" value="&lt;&lt;&lt; Quitar todos" 
							action="#{consultaConvocatoriaAction.quitarTodos()}" update="criteriosDisp, criteriosSelec"/>	
					</div>
				</div>
				<div style="display:table; height:400px; width:40%; float:left;">
					<div style="display:table-cell; vertical-align:middle; float:center; width:100%;">
						<p:selectOneListbox id="criteriosSelec" value="#{consultaConvocatoriaAction.criterionSelect}" var="c" filter="true" filterMatchMode="contains"  
							style="width:100%;">
						     <f:selectItems value="#{consultaConvocatoriaAction.criterionSelectList}" var="criterion" itemLabel="#{criterion.displayName}" itemValue="#{criterion}" />					 
						     <p:column>
						         <h:outputText value="#{c.displayName}" />
						     </p:column>
						 </p:selectOneListbox>					
						</div>
					</div>	
			</div> 
			<div style="display:table; width:100%;">
				<div style="display:table-cell; vertical-align:middle; float:right; width:300px;">
				<p:commandButton style="float:center; margin-right: 20px;" class="boton-limpiar" value="Criterio por defecto" 
						action="#{consultaConvocatoriaAction.criteriosPorDefecto()}" update="criteriosDisp, criteriosSelec"/>				
				<p:commandButton style="float:center" class="botones" value="Aplicar"  
						action="#{consultaConvocatoriaAction.search}" update="consultaConvocatoriaForm"/>
				</div>
    		</div>	
		</p:dialog>		
	</h:form>
			        				
</ui:composition>