<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<h:panelGroup id="selectedFields">
		<div id="cons_conv_body_inputs">
			<h:panelGroup id="selectedDates" styleClass="selectedDatesClass">
				<h:panelGroup id="selectedFilters">
					<table style="table-layout:fixed; width: 100%">
						<tr>
							<th style="width: fit-content; width:90px"></th>
							<th><p:outputLabel value="Buscar en:" /></th>
							<th><p:outputLabel value="Todas las palabras:" /></th>
						</tr>
						<ui:repeat var="filtro"
							value="#{consultaConvocatoriaAction.filtros}" varStatus="status">
							<tr>
								<td><p:commandButton value="-" class="button-delete"
										style="width: 35px; height: 25px; vertical-align: top;"
										rendered="#{!(filtro.number eq 0)}"
										action="#{consultaConvocatoriaAction.deleteSelectedFilters(filtro)}"
										update="consultaConvocatoriaForm" /> 
										<!-- TODO COMBO DE LA OPERACION -->
										<p:selectOneMenu id="comboFilterOperation" rendered="#{!(filtro.number eq 0)}"
										 	style=""
											value="#{filtro.operation}" var="f" required="true">
											 <f:selectItem itemLabel="Y" itemValue="Y" />
											 <f:selectItem itemLabel="O" itemValue="O" />
										</p:selectOneMenu>
								</td>
								<td><h:panelGrid id="comboFiltroPanel" columns="1" style="width:100%">
										<p:selectOneMenu id="comboFilter" style="width:100% !important;"
											value="#{filtro.name}" var="f" required="true"
											valueChangeListener="#{consultaConvocatoriaAction.oncomboFiltroChange}">
											<f:selectItems
												value="#{consultaConvocatoriaAction.comboFilters}"
												var="filter" itemLabel="#{filter}" itemValue="#{filter}" />
											<f:ajax />
										</p:selectOneMenu>
									</h:panelGrid></td>
								<td><p:outputPanel id="searchFilterAll" style="width:96%">
										<p:inputText id="searchFilter_text" styleClass="spaceCell"
											value="#{filtro.search}" />
									</p:outputPanel></td>
							</tr>
						</ui:repeat>
						<tr>
							<td colspan="2">
								<p:spacer width="0" height="40" /> 
								<p:commandButton
									class="boton-limpiar" value="Limpiar campos"
									update="consultaConvocatoriaForm" process="@this"
									actionListener="#{consultaConvocatoriaAction.reset}" /> <p:spacer
									width="10" height="10" /> <p:commandButton class="botones"
									value="Añadir criterio">
									<p:ajax
										listener="#{consultaConvocatoriaAction.aumentarFiltros}"
										update="selectedFilters" />
								</p:commandButton></td>
							<td style="text-align: right;">
								<p:spacer width="0" height="40" /> 
								<p:commandButton
									class="botones" value="Buscar" update="tabla, tabla_nofilter, clasificados"
									actionListener="#{consultaConvocatoriaAction.search}" />
							</td>
						</tr>
					</table>
				</h:panelGroup>
			</h:panelGroup>
		</div>
		<div id="cons_conv_body_list" style="padding-top: 20px;">
			<p:outputPanel id="tabla">
				<p:growl id="statusMessage" showDetail="true" />
	    		<p:dataTable style="width:100%; min-height: 300px;" id="convocatoriaTable" styleClass="convocatoriaTableClass" var="bean"
					value="#{consultaConvocatoriaAction.datosGeneralesConvocatoriaDTOList}"
					paginator="true" rows="10" paginatorPosition="bottom"
					paginatorTemplate="  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
					rowsPerPageTemplate="10,20,50,100,200" rowKey="#{bean.id}"
					selection="#{consultaConvocatoriaAction.selectedDatosGeneralesConvocatoriaDTO}"
					selectionMode="single" tableStyle="width:100%;"
					emptyMessage="#{text['comunes.listado.noResultados']}"
					widgetVar="convocatoriaTableVar"
					filteredValue="#{consultaConvocatoriaAction.filteredDatosGenerales}"
					rendered="#{consultaConvocatoriaAction.render}">
	
					<p:column style="text-align: center"
						headerText="Convocatoria"
						sortBy="#{bean.name}">
						<h:outputText value="Nombre: #{bean.name}" />
						<br/>
						<h:outputText styleClass="fuente-letra" value="Descripción: #{bean.description}" />
					</p:column>
					
					<p:column style="width:100px;text-align: center"
						headerText="Estado"
						sortBy="#{bean.statusName}">
						<h:outputText value="#{bean.statusName}" />
					</p:column>
					
					<p:column style="width:100px;text-align: center" headerText="Acciones" priority="4">
			             <p:commandButton action="#{consultaConvocatoriaAction.onSelectDatosGeneralesConvocatoriaDTO}"  icon="ui-icon-search" title="Editar">
			                <f:setPropertyActionListener value="#{bean}" target="#{consultaConvocatoriaAction.selectedDatosGeneralesConvocatoriaDTO}" />
			            </p:commandButton>
			        </p:column>    
				</p:dataTable>			
			</p:outputPanel>
		</div>
		<div id="cons_conv_body_list_nofilter" style="padding-top: 20px;">
			<p:outputPanel id="tabla_nofilter">
				
	    		<p:dataTable style="width:100%; min-height: 300px;" id="convocatoriaTableNoFilteer" styleClass="convocatoriaTableClass" var="bean"
					value="#{consultaConvocatoriaAction.datosGeneralesConvocatoriaDTOList}"
					paginator="true" rows="10" paginatorPosition="bottom"
					paginatorTemplate="  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
					rowsPerPageTemplate="10" rowKey="#{bean.id}"
					selection="#{consultaConvocatoriaAction.selectedDatosGeneralesConvocatoriaDTO}"
					selectionMode="single" tableStyle="width:100%;"
					emptyMessage="#{text['comunes.listado.noResultados']}"
					widgetVar="convocatoriaTableVar"
					filteredValue="#{consultaConvocatoriaAction.filteredDatosGenerales}"
					rendered="#{consultaConvocatoriaAction.renderNoFilter}">
	
					<p:column style="text-align: center"
						headerText="Convocatoria"
						sortBy="#{bean.name}">
						<h:outputText value="Nombre: #{bean.name}" />
						<br/>
						<h:outputText styleClass="fuente-letra" value="Descripción: #{bean.description}" />
					</p:column>
					
					<p:column style="width:100px;text-align: center"
						headerText="Estado"
						sortBy="#{bean.statusName}">
						<h:outputText value="#{bean.statusName}" />
					</p:column>
					
					<p:column style="width:100px;text-align: center" headerText="Acciones" priority="4">
			             <p:commandButton action="#{consultaConvocatoriaAction.onSelectDatosGeneralesConvocatoriaDTO}"  icon="ui-icon-search" title="Editar">
			                <f:setPropertyActionListener value="#{bean}" target="#{consultaConvocatoriaAction.selectedDatosGeneralesConvocatoriaDTO}" />
			            </p:commandButton>
			        </p:column>    
				</p:dataTable>			
			</p:outputPanel>
		</div>
	</h:panelGroup>

</ui:composition>