<ui:composition xmlns="http://www.w3.org/1999/xhtml"   
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/templates/defaultPage.xhtml">
                    
    <ui:define name="title">#{text['comunes.aplicacion.nombre']} - #{text['convocatorias.titulo']}</ui:define>
    <ui:define name="tabs">
        <li><a id="tab_selected" href="#">#{text['convocatorias.titulo.alta']}</a></li>
    </ui:define>

    <h:form id="altaManualConvocatoriaForm" name="altaManualConvocatoriaForm" >
                
     	<ui:include src="../incl/mensajes.xhtml"/>  
    
        <ui:include src="../incl/incVolver.xhtml">
            <ui:param name="titulo" value="#{text['convocatorias.titulo.alta']}" />
        </ui:include>  
        <ui:include src="../incl/capaWaitPExtendida.xhtml"/>
        
        <h:panelGrid style="width:100%">
        	<h:panelGroup id="botonGuardar" layout="block" styleClass="botonera_new" style="clear:left;margin-top: 5px;" rendered="#{convocatoriasForm.mostrarDatosConvocatoria}">
                 <p:commandButton value="#{text['button.save']}" icon="silk-icon-bullet-disk" ajax="no" action="#{convocatoriasForm.guardar}"/>
        	</h:panelGroup>
    	</h:panelGrid>
	        
 		<p:accordionPanel id="panelOrigenConvocatoria" multiple="true" widgetVar="miAlta" rendered="#{convocatoriasForm.mostrarOrigenConvocatoria}">
			
			<p:tab title="Selecciona el origen">
				<ui:include src="bloqueSeleccionOrigenConvocatoria.xhtml"/>
			</p:tab>
		</p:accordionPanel>
		
		<p:accordionPanel id="panelDatosConvocatoria" multiple="true" widgetVar="miAlta" rendered="#{convocatoriasForm.mostrarDatosConvocatoria}">
		
<!-- BLOQUE DATOS GENERALES -->		

    	    <p:tab title="#{text['convocatoria.datosGenerales.titulo']}">
				 <ui:include src="bloqueDatosGeneralesConvocatoria.xhtml" >
					<ui:param name="paramForm" value="#{convocatoriasForm}"/>
				    <ui:param name="consulta" value="true" />
				</ui:include> 
			</p:tab>
    	    
 <!-- BLOQUE JERARQUIA -->	
    	    
    	    <p:tab title="#{text['convocatoria.jerarquia.titulo']}">
				<ui:include src="bloqueJerarquia.xhtml">
					<ui:param name="paramForm" value="#{convocatoriasForm}"/>
				</ui:include>
				
				<ui:include src="modalListaPlanInvestigacion.xhtml">
				 	<ui:param name="paramForm" value="#{convocatoriasForm}"/>
			     	<ui:param name="paramFormIdPage" value=":altaManualConvocatoriaForm:panelDatosConvocatoria"/>
			     	<ui:param name="alta" value="true"/>
			    </ui:include>
			</p:tab>
			
<!-- BLOQUE ENTIDADES -->

			<p:tab title="#{text['convocatoria.entidad.titulo']}">
				<ui:include src="bloqueEntidades.xhtml"/>
				<ui:include src="modalAniadirEntidadConvocante.xhtml"/>
<!-- 				<ui:include src="modalDetalleEntidadConvocante.xhtml"/> -->
				<ui:include src="bloqueEntidadesFinanciadoras.xhtml"/>
					<ui:include src="modalAniadirEntidadFinanciadora.xhtml"/>
				<ui:include src="bloqueEntidadesOrdenantes.xhtml"/>
				<ui:include src="modalAniadirEntidadOrdenante.xhtml"/>
			</p:tab>
			
<!-- BLOQUE DATOS PUBLICACION -->			
			
		 	<p:tab title="#{text['convocatoria.entidad.datos.publicacion.titulo']}">
				<ui:include src="bloqueDatosPublicacion.xhtml">
					<ui:param name="paramFormIdPage" value=":altaManualConvocatoriaForm:panelDatosConvocatoria"/>
					<ui:param name="paramForm" value="#{convocatoriasForm}"/>
				</ui:include>
				
			    <ui:include src="modalTiposMedioPublicacion.xhtml">
			    	<ui:param name="paramFormIdPage" value=":altaManualConvocatoriaForm:panelDatosConvocatoria"/>
			    	<ui:param name="paramForm" value="#{convocatoriasForm}"/>
			    	
			    </ui:include>
			</p:tab> 
	
<!-- BLOQUE DATOS COMUNES -->	
	
			<p:tab title="#{text['convocatoria.DatosComunes.titulo']}">  
				 <ui:include src="bloqueGastosElegibles.xhtml"/>
			     <ui:include src="bloqueFechas.xhtml"/>
			     <ui:include src="bloqueModoFinanciacion.xhtml"/> 
			</p:tab> 

		</p:accordionPanel>          
    </h:form> 
</ui:composition>