<ui:composition xmlns="http://www.w3.org/1999/xhtml"   
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">
 
<!--  <a id="datosTipoMedioSeleccionado"/> -->

	<h:panelGroup>
  		<h:panelGroup style="float:right; margin-right:10px">
			 <p:commandButton icon="silk-icon-add" style="margin-bottom:10px;"
			  				  onstart="mostrarPanelEnviando();" 
     		 				  oncomplete="ocultarPanelEnviando();PF('modalMediosPublicacionWgt').show();"/>
       </h:panelGroup>
       
       	  <h:panelGroup  rendered="#{convocatoriasForm.marcadorBdns!=null}"> 
			<fieldset style="width:500px;border-color:#D96D00;padding:2px;">
	                 <p:inputTextarea rows="3" cols="100" value="#{convocatoriasForm.tituloBasesReguladoras}" styleClass="textoColorResalta" escape="false" style="float:right;" />
              </fieldset>
		 </h:panelGroup>
	
		
	   <h:panelGroup id="bloqDatosPublicacion" layout="block">		 
	 
       		<p:panelGrid columns="3" styleClass="noBorders" columnClasses="alineacionIzq,alineacionIzq,alineacionDerUp" >
	             <p:outputLabel class="lblResumenProyecto" id="labelNomMedioPub" value="#{text['mediosPublicacion.detalle.nombre']}" />                   
	              <p:outputLabel id="inputNomMedioPub" value="#{paramForm.medioSeleccionado.nombre}" style="text-align:center"/> 
	             
	             <p:outputLabel></p:outputLabel>
		
				<!--  <p:outputLabel class="lblResumenProyecto" id="inputFBajaMedioPub" value="#{text['mediosPublicacion.detalle.tipoMedio']}" />
		         <p:outputLabel id="inputfBajaMedioPub" value="#{paramForm.tipoMedioPublicacion.nombre}" style="text-align:center"/>
		         <p:outputLabel></p:outputLabel>-->
		
		         <p:outputLabel class="lblResumenProyecto" id="labelUrlTipoMedioPub" value="#{text['mediosPublicacion.detalle.url']}" />
				
	             <h:outputLink  id="inputAcronMedioPub" value="#{paramForm.medioSeleccionado.url}" style="text-align:center" target="_blank">#{paramForm.medioSeleccionado.url}</h:outputLink>
	             <p:outputLabel></p:outputLabel>
	             
	             <p:outputLabel class="lblResumenProyecto" id="labelFechaPublicacion" value="#{text['mediosPublicacion.detalle.fPublicacion']}*" style="text-align:center"/> 
				<!--  <p:calendar id="inputfPublicacion" style="text-align:center" value="#{paramForm.convocatoriaGestionada.fechaPublicacion}" /> -->
				 <p:calendar id="inputfPublicacion" size="15"
		                         title="#{text['mediosPublicacion.detalle.fBaja']}"
		                         value="#{paramForm.convocatoriaGestionada.fechaPublicacion}" locale="es"
		                         pattern="dd/MM/yyyy" mode="popup" showOn="both" navigator="true"
		                         converterMessage="El formato de la fecha del campo es erroneo (dd/mm/aaaa)"  mask="true"/>
		        <p:outputLabel></p:outputLabel>
		                    
				<p:outputLabel class="lblResumenProyecto" id="labelURLMedioPub" value="#{text['convocatorias.detalle.url']}" />	
	     	  
				<p:inputText id="inputUrl" value="#{paramForm.convocatoriaGestionada.url}" style="text-align:center" size="60"/>	
					<div style="font-size:large">	
					
						<a target="_blank" id="url" class="external"  onclick="javascript:navegacion('#{navegacion}')">Ver</a> 
					</div> 
				 
	   		</p:panelGrid>
	   </h:panelGroup>
	    
	    <br></br><br></br>
	    
	    <!--<h:panelGroup id="entradaDatosPublicacion" layout="block">
	 		<p:panelGrid  columns="2" styleClass="noBorders" columnClasses="alineacionDerUp,alineacionIzq,alineacionDerUp,alineacionIzq,alineacionDerUp" > 
				//<p:outputLabel class="lblResumenProyecto" id="labelFechaPublicacion" value="#{text['mediosPublicacion.detalle.fPublicacion']}" style="text-align:center"/> 
				<p:calendar id="inputfPublicacion" style="text-align:center" value="#{convocatoriasForm.convocatoriaGestionada.fechaPublicacion}" /> 
				 	<p:calendar id="inputfPublicacion" size="15"
	                         title="#{text['mediosPublicacion.detalle.fBaja']}"
	                         value="#{convocatoriasForm.convocatoriaGestionada.fechaPublicacion}" locale="es"
	                         pattern="dd/MM/yyyy" mode="popup" showOn="both" navigator="true"
	                         converterMessage="El formato de la fecha del campo es erroneo (dd/mm/aaaa)" mask="true" />			 
			</p:panelGrid>
			<p:panelGrid  columns="3" styleClass="noBorders" columnClasses="alineacionDerUp,alineacionIzq,alineacionDerUp,alineacionIzq,alineacionDerUp" >
					 <p:outputLabel class="lblResumenProyecto" id="labelURLMedioPub" value="#{text['mediosPublicacion.detalle.url']}" />	
					
			 		 <p:inputText id="inputUrl" value="#{convocatoriasForm.convocatoriaGestionadaUrl}" style="text-align:center"/>
				 	 <div style="font-size:large">
						<a target="_blank" id="url" class="external">Ver</a> 
				 	 </div>

	      	</p:panelGrid>
	   </h:panelGroup> -->
	</h:panelGroup>
	
<!-- 	<script type="text/javascript">
		$(document).ready(function(){
			
		   $("a.external").click(function() {
			   url = document.getElementById("paramFormIdPage:panelDatosConvocatoria:inputUrl").value;
			   var pos = url.indexOf("http");
			   if (pos==-1){
				   url = 'http://' + document.getElementById("paramFormIdPage:panelDatosConvocatoria:inputUrl").value;
			   }
			   window.open(url, '_blank');
	        return false;
		   });
		});
			
	</script> -->
	
	 <script type="text/javascript">
	 function navegacion(param){
		 var param = param
		
			 if(param == 'edicion'){
			      url = document.getElementById("edicionManualConvocatoriaForm:edicionDatosGeneralesED:inputUrl").value;
				   }
				else{
					 url = document.getElementById("altaManualConvocatoriaForm:panelDatosConvocatoria:inputUrl").value;
				   }
			      window.open(url, '_blank');
		        return false;
			 
		
	 }	
	</script>

</ui:composition>
