<!-- <ui:composition xmlns="http://www.w3.org/1999/xhtml"   
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">


	<p:fieldset legend="#{text['convocatoria.informacion.fondos.financiacion.titulo']}" style="margin-bottom:20px">
		<h:panelGroup>
			<p:panelGrid styleClass="noBorders" columns="2">
		
	  	  		<p:outputLabel/>

		   		<p:outputLabel/>
	       		<p:dataTable id="tablaFondosFinanciacion" style="width:100%">               
		 		         
	           		<p:column headerText="#{text['convocatoria.informacion.fondos.financiacion.fondos']}"  style="width:25%">           
		            	<h:outputText value=" " />	           
		      		</p:column>
			       
		       		<p:column headerText="#{text['convocatoria.informacion.fondos.financiacion.descripcion']}"  style="width:50%">
		            	<h:outputText value=" " />
		       		</p:column>
		
			   		<p:column headerText="#{text['convocatoria.informacion.fondos.financiacion.fechaBaja']}"  style="width:25%">
		            	<h:outputText value=" " />
		        	</p:column>
		      
	      	
		   		</p:dataTable>  		  

			</p:panelGrid>
		</h:panelGroup>
    	
	</p:fieldset>

</ui:composition> -->