<ui:composition xmlns="http://www.w3.org/1999/xhtml"
     xmlns:h="http://java.sun.com/jsf/html"
     xmlns:p="http://primefaces.org/ui"
     xmlns:ui="http://java.sun.com/jsf/facelets"
     xmlns:f="http://java.sun.com/jsf/core">
  
    <p:accordionPanel>
				<p:tab title="#{text['convocatorias.bloqueListado.titulo']}">
  <!--   <h:panelGroup id="contenidoListaConvocatoria"> -->
<!-- 		<p:panel header="#{text['convocatorias.bloqueListado.titulo']}" toggleable="true" toggleSpeed="200" closeSpeed="200"> -->
     		<h:panelGroup layout="block" id="bloqueListaConvocatorias">
     			<h:panelGroup layout="block" style="margin-top:5px;" id="incluyeConvocatoria">
<!-- 			     	<p:commandButton value="#{text['button.add']}" actionListener="#{convocatoriasForm.nuevaConvocatoria}" onstart="mostrarPanelEnviando();" -->
<!-- 			     	oncomplete="ocultarPanelEnviando();PF('modalAltaConvocatoriaWdgt').show();"  icon="silk-icon-add" style="margin-bottom:10px;"/> -->

<!-- 			                         update=":convocatoriasForm:datosConvocatoria"/> -->

			     	<p:commandButton value="#{text['button.add']}" action="#{convocatoriasForm.continuar}" ajax="false"
							     	 icon="silk-icon-add" style="margin-bottom:10px;"/>



			    </h:panelGroup>                     
        
        		<h:panelGroup layout="block" style="clear:both;" id="bloqueTablaConvocatorias">
        	
		            <p:dataTable id="dataTableListadoConvocatorias" 
			        			 var="convocatoria"
			                     value="#{convocatoriasForm.lazyModel}"
			                     paginator="true" rows="15" lazy="true" paginatorPosition="bottom"
			                     currentPageReportTemplate="{totalRecords} #{text['comunes.listado.registrosEncontrados']}, #{text['comunes.listado.visualizando']} {startRecord} #{text['comunes.listado.al']} {endRecord}"
			                     paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
			                     selection="#{convocatoriasForm.convocatoriaSeleccionada}"
			                     rowsPerPageTemplate="10,20,50,100,200"
			                     rowKey="#{convocatoria.id}"
			                     selectionMode="single"
			                     tableStyle="table-layout:auto;width:100%;"
			                     emptyMessage="#{text['comunes.listado.noResultados']}">
			                     
			            
						         <p:ajax event="rowSelect" listener="#{resumenConvocatoriasForm.onRowSelect}"   update=":convocatoriasForm:resumenCortoConvocatorias"/>              
				                  

		            	                         
			            
			            <p:column headerText="#{text['convocatorias.detalle.anio']}" 
			             	width="1%"
			               	sortBy="#{convocatoria.annio}"
			             	filterBy="#{convocatoria.annio}"
			             	filterMatchMode="contains">
			                <h:outputText value="#{convocatoria.annio}"/>
			            </p:column>
			            
			            <p:column headerText="#{text['convocatorias.detalle.nombre']}" 
			            	width="55%"
			            	sortBy="#{convocatoria.nombre}"
			            	filterBy="#{convocatoria.nombre}"
			            	filterMatchMode="contains">
			                <h:outputText value="#{convocatoria.nombre}" />
			            </p:column>

			            <p:column headerText="#{text['convocatorias.detalle.nombreCorto']}" 
			            	width="25%"
			            	sortBy="#{convocatoria.nombreCorto}"
			            	filterBy="#{convocatoria.nombreCorto}"
			            	filterMatchMode="contains">
			                <h:outputText value="#{convocatoria.nombreCorto}" />
			            </p:column>

			            <p:column headerText="#{text['convocatorias.detalle.acronimo']}" 
			            	width="13%"
			            	sortBy="#{convocatoria.acronimo}"
			            	filterBy="#{convocatoria.acronimo}"
			            	filterMatchMode="contains">
			                <h:outputText value="#{convocatoria.acronimo}" />
			            </p:column>
			            
			             <p:column headerText="#{text['convocatorias.detalle.codBDC']}" 
			             	width="10%"
			             	sortBy=""
			             	filterBy="#{convocatoria.codBdc}"
			             	filterMatchMode="contains">
			                <h:outputText value="#{convocatoria.codBdc}"/>
			            </p:column>
			            
			            
<!-- 			             <p:column headerText="#{text['convocatorias.detalle.finicio.sol']}"  -->
<!-- 			             	width="10%" -->
<!-- 			             	sortBy="#{convocatoria.fechaInicioSolicitud}" -->
<!-- 			             	filterBy="#{convocatoria.fechaInicioSolicitud}" -->
<!-- 			             	filterMatchMode="contains"> -->
<!-- 			                <h:outputText value="#{convocatoria.fechaInicioSolicitud}" converter="dateConvert"/> -->
<!-- 			            </p:column> -->
<!-- 			             <p:column headerText="#{text['convocatorias.detalle.ffin.sol']}"  -->
<!-- 			             	width="10%" -->
<!-- 			             	sortBy="#{convocatoria.fechaFinSolicitud}" -->
<!-- 			             	filterBy="#{convocatoria.fechaFinSolicitud}" -->
<!-- 			             	filterMatchMode="contains"> -->
<!-- 			                <h:outputText value="#{convocatoria.fechaFinSolicitud}" converter="dateConvert" /> -->
<!-- 			            </p:column> -->
			        </p:dataTable>
				</h:panelGroup> 
	        
			</h:panelGroup>
<!-- 		</p:panel> -->
<!-- 	</h:panelGroup>	 -->

	</p:tab>
	
	</p:accordionPanel>
	
	<ui:include src="resumenCortoConvocatorias.xhtml">
		 <ui:param name="paramForm" value="#{resumenConvocatoriasForm}" />
	</ui:include>

	

</ui:composition>