<ui:composition xmlns="http://www.w3.org/1999/xhtml"   
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">


   <p:fieldset legend="#{text['convocatoria.entidades.financiadoras.titulo']}" style="margin-bottom:20px;background-color:#F5F5F5" toggleable="true" toggleSpeed="500">
	 <h:panelGroup layout="block" style="width:100%">

	  	<p:panelGrid styleClass="noBorders" columns="2" style="width:100%">
	  	  <p:outputLabel/>
	  	  <h:panelGroup layout="block" styleClass="botonera_new" style="float:right;">
	     	 <p:commandButton icon="silk-icon-add" style="margin-bottom:10px" 
	     	 	    	 	  onstart="mostrarPanelEnviando();" 
     		 				  oncomplete="ocultarPanelEnviando();PF('modalAniadirEntidadFinanciadoraWgt').show();">
     		 </p:commandButton>
     		 		
	   	  </h:panelGroup>

		   <p:outputLabel/>
		   <p:dataTable id="idTablaEntidadesFinanciadoras" var="entidOrdenFin"  
		      			value="#{altaEntidadesConvocatoriaForm.listaEntidadesFinanciadorasGestionadas}"
		      			editable="true"
		      			editMode="cell"    
		      			widgetVar="cellEntidF"
			            rows="5"
					    paginator="true"
					    paginatorPosition="bottom"
		         		paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				        rowsPerPageTemplate="5,10,15"
				        rowKey="#{entidOrdenFin.idTercero}"
				        tableStyle=" table-layout:fixed;width:100%;"
				        emptyMessage="#{text['comunes.listado.noResultados']}"
			            styleClass="withBordersTabla">
				           
			           
				       <p:ajax event="cellEdit" listener="#{altaEntidadesConvocatoriaForm.onCellEdit}" update=":altaManualConvocatoriaForm:panelDatosConvocatoria:idTablaEntidadesFinanciadoras" /> 		
				       
				       <p:column headerText="#{text['convocatoria.entidad.fechaInicio']}" style="width:15%">
		                 <p:cellEditor>
		                	<f:facet name="output">
		                		<h:outputText value="#{entidOrdenFin.fInicio}">
									<f:convertDateTime pattern="dd/MM/yyyy" />
								</h:outputText>
		                	</f:facet>
		                  	<f:facet name="input">
		                  		<p:calendar id="fechaInicioF"
								            value="#{entidOrdenFin.fInicio}"
							                locale="es"
								            pattern="dd/MM/yyyy"
								            size="11"
								            showOn="button" navigator="true"
								            readonly="false"
								            converterMessage="El formato de la fecha del campo '#{text['convocatorias.detalle.finicio.sol']}' es erroneo (dd/mm/aaaa)" mask="true"/>
		                  		
		                  	</f:facet>
		              	</p:cellEditor>
				       </p:column>
				       <p:column headerText="#{text['convocatoria.entidad.fechaFin']}" style="width:15%">
		                 <p:cellEditor>
		                	<f:facet name="output">
		                		<h:outputText value="#{entidOrdenFin.fFin}">
									<f:convertDateTime pattern="dd/MM/yyyy" />
								</h:outputText>
		                	</f:facet>
		                  	<f:facet name="input">
		                  		<p:calendar id="fechaFinF"
								            value="#{entidOrdenFin.fFin}"
							                locale="es"
								            pattern="dd/MM/yyyy"
								            size="11"
								            showOn="button" navigator="true"
								            readonly="false"
								            converterMessage="El formato de la fecha del campo '#{text['convocatorias.detalle.finicio.sol']}' es erroneo (dd/mm/aaaa)" mask="true"/>
		                  		
		                  	</f:facet>
		              	</p:cellEditor>
				       </p:column>
				          
		           	   <p:column headerText="#{text['convocatoria.entidades.nif.vat']}"  style="width:10%">           
				           <h:outputText value="#{entidOrdenFin.nifTercero} " />	   
				       </p:column>

	           	   		<p:column headerText="#{text['convocatoria.entidades.siglas']}"  style="width:10%">           
				           <h:outputText value="#{entidOrdenFin.siglasTercero} " />	   
				       </p:column>


			           <p:column headerText="#{text['convocatoria.entidad.razon.social.agencia']}"  style="width:40%">           
				           <h:outputText value="#{entidOrdenFin.nombreOrigen} " />	   
				       </p:column>
			       
			
			           <p:column headerText="#{text['convocatoria.fechaBaja']}"  style="width:15%">           
				           <h:outputText value="#{entidOrdenFin.fBaja} " />	   
				       </p:column>
		
					   <p:column style="text-align:center;width:10%">
		                	<f:facet name="header">
		                     	<h:outputText value="#{text['convocatoria.accion']}" />
		               	 	</f:facet>
		              	   <p:commandButton id="borrarEntidadFinanciadora" icon="silk-icon-cross"                            
			                            onstart="javascript:PF('waitP').show();" 
			                            oncomplete="javascript:PF('waitP').hide();"
			                            update=":altaManualConvocatoriaForm:panelDatosConvocatoria:idTablaEntidadesFinanciadoras"
			                            actionListener="#{altaEntidadesConvocatoriaForm.borrarEntidadFinanciadora(entidOrdenFin.idAgencia)}"/> 
			                            
				       </p:column>
		
			   		</p:dataTable> 
   		
	   		
           	
           	<p:outputLabel/>  
       		<p:panelGrid styleClass="noBorders" columns="2"> 
       	        <p:outputLabel id="labelCofinanciadoCsic" value="#{text['convocatoria.cofinanciado.csic']}" style="width:20%" />
<!--              		<p:selectOneMenu id="inputCofinanciadoCsic"> -->
<!--              			<f:selectItem itemLabel="Si/No" itemValue="" /> -->
<!-- 	             		<f:selectItem itemLabel="Si" itemValue="S" /> -->
<!--     			        <f:selectItem itemLabel="No" itemValue="N" /> -->
<!-- 					</p:selectOneMenu> -->
					
				<p:selectOneRadio  id="inputCofinanciadoCsic" columns="2" style="margin-top:-7px">
    	          	    <f:selectItem itemLabel="#{text['convocatoria.datosGenerales.visibleListados.Si']}" itemValue="1"  />
                        <f:selectItem itemLabel="#{text['convocatoria.datosGenerales.visibleListados.No']}" itemValue="0" />
                </p:selectOneRadio> 
					
			    <p:outputLabel id="labelCondCofinanciacion" value="#{text['convocatoria.condiciones.cofinanciacion']}" style="width:20%"/>                   
    	        <p:inputTextarea id="inputCondCofinanciacion" rows="5" cols="100"/>
		     </p:panelGrid> 	
	 		   		
    
		</p:panelGrid>
	  </h:panelGroup>
<!-- 	</p:panel> -->
</p:fieldset>
	
</ui:composition>