<ui:composition xmlns="http://www.w3.org/1999/xhtml"   
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

	   <h:panelGroup>
	   
	  <h:panelGroup style="float:left; margin-right:10px">
		 <p:outputLabel id="outputOrigen" value="#{convocatoriasForm.textoOrigen}" style="font-size:larger;font-weight:bold"/> 
	  </h:panelGroup>

	   <br></br><br></br><br></br>
	  <h:panelGroup style="float:right; margin-right:10px">
                  <h:panelGroup layout="block" >
                      <p:outputLabel id="labelEstadoConvocatoria" value="#{text['convocatoria.datosGenerales.estado']}* " styleClass="obligatorio"/>
                       <p:inputText  id="outputEstado" value="Borrador" styleClass="alineacionIzq"/>
                   </h:panelGroup>   
                    <h:panelGroup layout="block">   
                        <p:outputLabel id="labelIdConvocatoria" value="#{text['convocatoria.datosGenerales.id']} " styleClass="obligatorio"/>
		 				<p:outputLabel value="#{paramForm.convocatoriaGestionada.id}" styleClass="alineacionIzq"/>
                    </h:panelGroup>
		</h:panelGroup>
	
	    <p:panelGrid styleClass="noBorders" columns="2">

	    <div class="clear"/>
	     
        <h:panelGroup styleClass="left">
			<p:panelGrid columns="2" styleClass="noBorders" columnClasses="alineacionIzq,alineacionIzq" >
            		<p:outputLabel id="labelTipoAyuda" value="#{text['convocatoria.datosGenerales.tipoAyuda']}* " styleClass="obligatorio" />
            		
					<p:selectOneMenu id="idComboTipoAyuda" style="width:500px" value="#{paramForm.convocatoriaGestionada.tipoAyuda}" converter="tiposAyudaConverter">
	       		 		<f:selectItems value="#{paramForm.tipologiaAyudas}" var="tipoAyuda"	 itemLabel="#{tipoAyuda.nombre}" itemValue="#{tipoAyuda}" />
					</p:selectOneMenu>
			
			
	   		 		<p:outputLabel id="labelConvocatoriaInterna" value="#{text['convocatoria.datosGenerales.convocatoriaInterna']}*" styleClass="obligatorio"/>
	   		 		<p:selectOneRadio  id="inputConvocatoriaInterna"  value="#{paramForm.swInterna}" columns="2" style="margin-top:-7px">
	   		 			
    	          	    <f:selectItem itemLabel="#{text['convocatoria.datosGenerales.visibleListados.Si']}" itemValue="true"  />
                        <f:selectItem itemLabel="#{text['convocatoria.datosGenerales.visibleListados.No']}" itemValue="false" />
                    </p:selectOneRadio> 
               
                    <p:outputLabel id="labelcompetitiva" value="#{text['convocatoria.datosGenerales.competitiva']}* " styleClass="obligatorio"/> 
				 	 <p:selectOneRadio id="inputcompetitiva"  value="#{paramForm.swCompetitiva}" style="margin-top:-7px">
	             		<f:selectItem itemLabel="#{text['convocatoria.datosGenerales.visibleListados.Si']}" itemValue="true" />
                        <f:selectItem itemLabel="#{text['convocatoria.datosGenerales.visibleListados.No']}" itemValue="false" />
					</p:selectOneRadio> 
				

			 	   	<p:outputLabel id="labelAnio" value="#{text['convocatoria.datosGenerales.anio']}*" styleClass="obligatorio"/>                   
                    <p:inputText id="inputAnio" size="4" styleClass="alineacionIzq" value="#{paramForm.convocatoriaGestionada.annio}"/>

				    <p:outputLabel id="labelNombreConv" value="#{text['convocatoria.datosGenerales.nombre']}* " styleClass="obligatorio"/>                   
                    <p:inputText id="inputNombre" size="150" styleClass="alineacionIzq" value="#{paramForm.convocatoriaGestionada.nombre}"/>
                 
                  

  				    <p:outputLabel id="labelNombreCorto" value="#{text['convocatoria.datosGenerales.nombreCorto']}* " styleClass="obligatorio"/>                   
  	                <p:inputText id="inputNombreCorto" size="150" styleClass="alineacionIzq" value="#{paramForm.convocatoriaGestionada.nombreCorto}"/>
  	                
  	               	<p:outputLabel id="labelVacia1"/>
					<p:panelGrid columns="4"  styleClass="noBorders" columnClasses="alineacionDer,alineacionIzq,alineacionDer,alineacionIzq,alineacionDer,alineacionIzq"> 
						 <p:outputLabel id="labelAcronimo" value="#{text['convocatoria.datosGenerales.acronimo']}"/>                   
	   	                 <p:inputText id="inputAcronimo" value="#{paramForm.convocatoriaGestionada.acronimo}"/>
						 <p:outputLabel id="labelcodigoBdc" value="#{text['convocatoria.datosGenerales.codigoBdc']}"/>                   
	           	         <p:inputText id="inputCodigoBdc" value="#{paramForm.convocatoriaGestionada.codBdc}"/>
           	         </p:panelGrid>
  	                
  	   				 <p:outputLabel id="labelDescripcion" value="#{text['convocatoria.datosGenerales.descripcion']}"/>                   
    	             <p:inputTextarea id="inputDescripcion" rows="5" cols="100" value="#{paramForm.convocatoriaGestionada.descripcion}"/>
					
					<p:outputLabel id="labelFechas" value="#{text['convocatoria.datosGenerales.fechas']}"/>
					<h:panelGroup layout="block" styleClass="labelDiv">
						<fieldset>
                        <h:panelGrid columns="3" style="text-align:center">
                            <h:column>
                                <h:outputLabel for="idInicioSolicitud" value="#{text['convocatoria.datosGenerales.fecIniSolicitud']}" styleClass="tablaMetricaNivel2"/>
                                <p:calendar id="inputInicioSolicitud" size="15"
			                                locale="es"
            			                    pattern="dd/MM/yyyy" mode="popup" showOn="both" navigator="true"
            			                    value="#{paramForm.convocatoriaGestionada.fechaInicioSolicitud}"
                         				    converterMessage="El formato de la fecha del campo es erroneo (dd/mm/aaaa)"  mask="true"/>
                            </h:column>
                            <h:column>
                                <h:outputLabel for="idFinsolicitud" value="#{text['convocatoria.datosGenerales.fecFinSolicitud']}" styleClass="tablaMetricaNivel2"/>
                                <p:calendar id="inputFinSolicitud" size="15"
			                                locale="es"
            			                    pattern="dd/MM/yyyy" mode="popup" showOn="both" navigator="true"
            			                    value="#{paramForm.convocatoriaGestionada.fechaFinSolicitud}"
                         				    converterMessage="El formato de la fecha del campo es erroneo (dd/mm/aaaa)"  mask="true" />
                                 
                            </h:column>
<!--                             <h:column> -->
<!--                                 <h:outputLabel for="idPublicacion" value="#{text['convocatoria.datosGenerales.fecPublicacion']}" styleClass="tablaMetricaNivel2"/> -->
<!--                                  <p:calendar id="inputPublicacion" size="15" -->
<!-- 			                                locale="es" -->
<!--             			                    pattern="dd/MM/yyyy" mode="popup" showOn="both" navigator="true" -->
<!--             			                      value="#{paramForm.convocatoriaGestionada.fechaPublicacion}" -->
<!--                          				    converterMessage="El formato de la fecha del campo es erroneo (dd/mm/aaaa)"  mask="true" /> -->
<!--                             </h:column> -->
                
                             <h:column>
                                <h:outputLabel for="idResolucion" value="#{text['convocatoria.datosGenerales.fecResolucion']}" styleClass="tablaMetricaNivel2"/>
                                <p:calendar id="inputResolucion" size="15"
			                                locale="es"
            			                    pattern="dd/MM/yyyy" mode="popup" showOn="both" navigator="true"
            			                    value="#{paramForm.convocatoriaGestionada.fechaResolucion}"
                         				    converterMessage="El formato de la fecha del campo es erroneo (dd/mm/aaaa)"  mask="true" />
                                 
                            </h:column> 
                        </h:panelGrid>
                        </fieldset>
                    </h:panelGroup>
                    
                   <p:outputLabel id="labelImporte" value="#{text['convocatoria.datosGenerales.importe.total']}"/>   
                    <h:panelGroup>             
    	           		 <h:inputText id="inputImporte" value="#{paramForm.convocatoriaGestionada.importeTotalCvc}">
		                  <f:convertNumber pattern="#,##0.00" />
            			</h:inputText>
	    	            <p:outputLabel id="labelMoneda" value="#{text['convocatoria.datosGenerales.importe.euros']}" style="align:right;width:25%"/>
					</h:panelGroup>
					
					<p:outputLabel id="labelVacia2"/>
					<p:panelGrid columns="6" styleClass="noBorders" columnClasses="alineacionDer,alineacionIzq,alineacionDer,alineacionIzq,alineacionDer,alineacionIzq"> 
						<p:outputLabel id="labelOrigen" value="#{text['convocatoria.datosGenerales.origen']}"/>
<!-- 						<p:selectOneMenu id="inputOrigen"> -->
<!-- 			             		<f:selectItem itemLabel="BDNS" itemValue="1" /> -->
<!--     					        <f:selectItem itemLabel="Manual" itemValue="2" /> -->
<!-- 					 	</p:selectOneMenu> -->

						<p:outputLabel id="inputOrigen" value="#{convocatoriasForm.origen}" style="font-weight:bold"/>
			             		
					 	<p:outputLabel id="labelIdOrigen" value="#{text['convocatoria.datosGenerales.IdOrigen']}"/>

					 	<p:inputText id="inputIdOrigen" value="#{paramForm.convocatoriaGestionada.idBdns}"/>

					 	<p:outputLabel id="labelVacia3"/>
					 	<div style="font-size:large">
<!-- 							<a target="_blank" href="#{convocatoriasForm.urlHome}">Ver BDNS</a> -->
							<a target="_blank" href="#{convocatoriasForm.marcadorBdns}">Ver BDNS</a>
							
					 	</div>
					 </p:panelGrid>
					 
					<p:outputLabel id="labelvisibleListados" value="#{text['convocatoria.datosGenerales.visibleListados']}"/>
    	            <p:selectOneRadio  id="inputVisibleListados"  columns="2" value="#{convocatoriasForm.idTipoAlta}" style="margin-top:-7px">
    	          	    <f:selectItem itemLabel="#{text['convocatoria.datosGenerales.visibleListados.Si']}" itemValue="1" />
                        <f:selectItem itemLabel="#{text['convocatoria.datosGenerales.visibleListados.No']}" itemValue="2" />
                     </p:selectOneRadio>
	
					<!--<p:outputLabel id="labelDuracionAyuda" value="#{text['convocatoria.datosGenerales.duracionAyuda']}"/>
					<p:inputText id="inputDuracionAyuda"/>
				 	<p:outputLabel id="labelImporteTotal" value="#{text['convocatoria.datosGenerales.importeTotal']}"/>
					<p:inputText id="inputImporteTotal"/>-->
					<p:outputLabel id="labelCondicionesJustificacion" value="#{text['convocatoria.datosGenerales.condicionesJustificacion']}"/>
					<p:inputTextarea id="inputCondicionesJustificacion" rows="5" cols="100" value="#{paramForm.convocatoriaGestionada.condicionesJustificacion}" />

					<p:outputLabel id="labelCofinanciacion" value="#{text['convocatoria.datosGenerales.condiciones.cofinanciacion']}"/>
					<p:inputTextarea id="inputCofinanciacion" rows="5" cols="100" value="#{paramForm.convocatoriaGestionada.condicionesCofinanciacion}" />

					<p:outputLabel id="labelObservaciones" value="#{text['convocatoria.datosGenerales.observaciones']}"/>
					<p:inputTextarea id="inputObservaciones" rows="5" cols="100" value="#{paramForm.convocatoriaGestionada.observaciones}" />


		 
			 </p:panelGrid>	
			</h:panelGroup>

			</p:panelGrid>
		  </h:panelGroup>
	
</ui:composition>
