<ui:composition xmlns="http://www.w3.org/1999/xhtml"   
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">


 <p:fieldset legend="#{text['convocatoria.entidades.ordenantes.titulo']}" style="margin-bottom:20px;background-color:#F5F5F5" toggleable="true" toggleSpeed="500">
	<p:panelGrid styleClass="noBorders" columns="2" style="width:100%">
		
  	  <p:outputLabel/>
  	  <h:panelGroup layout="block" styleClass="botonera_new" style="float:right;">
	     	 <p:commandButton icon="silk-icon-add" style="margin-bottom:10px" 
	     	 				  onstart="mostrarPanelEnviando();" 
							  oncomplete="ocultarPanelEnviando();PF('modalAniadirEntidadOrdenanteWgt').show();">
			</p:commandButton>						  
							  
	  </h:panelGroup>
	  
	  <p:outputLabel/>

      <p:dataTable id="idTablaEntidadesOrdenantes" var="entidOrdenCvc"  
      				value="#{altaEntidadesConvocatoriaForm.listaEntidadesOrdenantesGestionadas}"
      				editable="true"
      				editMode="cell"    
      				widgetVar="cellEntidC"
	               	rows="5"
			    	paginator="true"
			    	paginatorPosition="bottom"
         			paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
		            rowsPerPageTemplate="5,10,15"
		            rowKey="#{entidOrdenCvc.idTercero}"
		            tableStyle=" table-layout:fixed;width:100%;"
		            emptyMessage="#{text['comunes.listado.noResultados']}"
	                styleClass="withBordersTabla">
		           
	           
		       <p:ajax event="cellEdit" listener="#{altaEntidadesConvocatoriaForm.onCellEdit}" update=":altaManualConvocatoriaForm:panelDatosConvocatoria:idTablaEntidadesOrdenantes" /> 		
		       <p:column headerText="#{text['convocatoria.entidad.fechaInicio']}" style="width:20%">
                 <p:cellEditor>
                	<f:facet name="output">
                		<h:outputText value="#{entidOrdenCvc.fInicio}">
							<f:convertDateTime pattern="dd/MM/yyyy" />
						</h:outputText>
                	</f:facet>
                  	<f:facet name="input">
                  		<p:calendar id="fechaInicioO"
						            value="#{entidOrdenCvc.fInicio}"
					                locale="es"
						            pattern="dd/MM/yyyy"
						            size="11"
						            showOn="button" navigator="true"
						            readonly="false"
						            converterMessage="El formato de la fecha del campo '#{text['convocatorias.detalle.finicio.sol']}' es erroneo (dd/mm/aaaa)" mask="true"/>
                  		
                  	</f:facet>
              	</p:cellEditor>
		       </p:column>

		       <p:column headerText="#{text['convocatoria.entidad.fechaFin']}" style="width:20%">
                 <p:cellEditor>
                	<f:facet name="output">
                		<h:outputText value="#{entidOrdenCvc.fFin}">
							<f:convertDateTime pattern="dd/MM/yyyy" />
						</h:outputText>
                	</f:facet>
                  	<f:facet name="input">
                  		<p:calendar id="fechaFinO"
						            value="#{entidOrdenCvc.fFin}"
					                locale="es"
						            pattern="dd/MM/yyyy"
						            size="11"
						            showOn="button" navigator="true"
						            readonly="false"
						            converterMessage="El formato de la fecha del campo '#{text['convocatorias.detalle.finicio.sol']}' es erroneo (dd/mm/aaaa)" mask="true"/>
                  		
                  	</f:facet>
              	</p:cellEditor>
		       </p:column>
		       
		       <p:column headerText="#{text['convocatoria.entidades.nif.vat']}"  style="width:10%">           
				  <h:outputText value="#{entidOrdenCvc.nifTercero} " />	   
			   </p:column>
	
	   	   	   <p:column headerText="#{text['convocatoria.entidades.siglas']}"  style="width:10%">           
		           <h:outputText value="#{entidOrdenCvc.siglasTercero} " />	   
		       </p:column>
		       
	           <p:column headerText="#{text['convocatoria.entidad.razon.social.agencia']}"  style="width:100%">           
		           <h:outputText value="#{entidOrdenCvc.nombreOrigen} " />	   
		       </p:column>
	
	           <p:column headerText="#{text['convocatoria.fechaBaja']}"  style="width:20%">           
		           <h:outputText value="#{entidOrdenCvc.fBaja} " />	   
		       </p:column>

			   <p:column style="text-align:center;width:10%">
                	<f:facet name="header">
                     	<h:outputText value="#{text['convocatoria.accion']}" />
               	 	</f:facet>
              	   <p:commandButton id="borrarEntidadFinanciadora" icon="silk-icon-cross"                            
	                            onstart="javascript:PF('waitP').show();" 
	                            oncomplete="javascript:PF('waitP').hide();"
	                            update=":altaManualConvocatoriaForm:panelDatosConvocatoria:idTablaEntidadesOrdenantes"
	                            actionListener="#{altaEntidadesConvocatoriaForm.borrarEntidadOrdenante(entidOrdenCvc.idAgencia)}"/>
	                            
		       </p:column>

	   		</p:dataTable> 
   		
	   		

	</p:panelGrid>
    	

</p:fieldset>

</ui:composition>

