<ui:composition xmlns="http://www.w3.org/1999/xhtml"   
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">
 
 
     <p:fieldset legend="#{text['convocatoria.entidad.convocante.titulo']}" style="margin-bottom:20px;background-color:#F5F5F5" toggleable="true" toggleSpeed="500">
      <h:panelGroup style="width:100%">

	  	<p:panelGrid columns="2" styleClass="noBorders" columnClasses="alineacionIzq,alineacionIzq" style="width:100%">
	  	  <p:outputLabel/>
	  	  <h:panelGroup layout="block" styleClass="botonera_new" style="float:right;">
	     	 <p:commandButton icon="silk-icon-add" style="margin-bottom:10px"  
	     	 	  			  oncomplete="PF('modalAniadirEntidadConvocanteWgt').show();" 	
	     	 	  			  actionListener="#{altaEntidadesConvocatoriaForm.initCamposBusqueda}"/>
  			
	   	  </h:panelGroup>
	   	 </p:panelGrid>
	 </h:panelGroup>
	 <h:panelGroup style="width:100%"> 
		 <h:panelGroup  rendered="#{convocatoriasForm.marcadorBdns!=null}"> 
			<fieldset style="width:500px;border-color:#D96D00;padding:2px;">
	                 <p:inputTextarea rows="3" cols="100" value="#{convocatoriasForm.organoConvocante}" styleClass="textoColorResalta" escape="false" style="float:right;" />
            </fieldset>
	     </h:panelGroup>
	     <p:outputLabel/>  	    
		    
    	 <h:panelGroup styleClass="left" id="bloqueEntidadConvocante">
    	 	
         	<p:panelGrid columns="2" styleClass="noBorders" columnClasses="alineacionIzq,alineacionIzq">

         		   	<p:outputLabel id="labeNifConv" value="#{text['convocatoria.entidades.nif.vat']}" />                   
                    <p:outputLabel id="outputNifConv" value="#{altaEntidadesConvocatoriaForm.entidadConvocanteGestionada.nifTercero}" size="30"/>

 				    <p:outputLabel id="labelSiglasConv" value="#{text['convocatoria.entidades.siglas']}"/>                   
  	                <p:outputLabel id="outputSiglasConv" value="#{altaEntidadesConvocatoriaForm.entidadConvocanteGestionada.siglasTercero}" size="30"/>
		
				    <p:outputLabel id="labelRazonSocialConv" value="#{text['convocatoria.entidades.razon.social']}"/>                   
    	            <p:outputLabel id="outputRazonSocialConv" value="#{altaEntidadesConvocatoriaForm.entidadConvocanteGestionada.nombreOrigen}" size="150"/>
					
			</p:panelGrid>
					
		 </h:panelGroup>

<!--       </p:panelGrid> -->
    </h:panelGroup>
      
	</p:fieldset>
	
</ui:composition>
