<ui:composition xmlns="http://www.w3.org/1999/xhtml"   
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core">

<style>

.masInfoDescrip {
    font-weight: bold;
    color: #369;
    cursor: pointer;
    background:transparent url("../images/gep/plus2.gif") no-repeat scroll 65px center;
    background-image:url('../images/gep/plus2.gif');
    background-repeat: no-repeat;
    background-position-x: 90px;
}

.menosInfoDescrip {
    font-weight: bold;
    color: #369;
    cursor: pointer;
    background:transparent url("../images/gep/minus2.gif") no-repeat scroll 65px center;
    background-image:url('../images/gep/minus2.gif');
    background-repeat: no-repeat;
    background-position-x: 90px;
}

.datosValor {
	margin-top:15px;
   width:80%;
   margin-bottom:15px;
   font-size:1.2em;
   margin-left:130px;
}
 </style>

 <h:panelGroup id="bloqueDetallePlanConv"> 


    <p:outputPanel id="documentPanelPlanConv" layout="block" >
            <p:outputPanel id="otroPanelPlan"> 
                <p:panelGrid  columns="2" styleClass="noBorders" columnClasses="alineacionDer,alineacionIzq">
                    
                    <p:outputLabel class="lblResumenProyecto" id="labelNombreEtiqueta" value="#{text['convocatoria.medioPublicacion.etiqueta']}"/>
                    <h:outputText id="outputNombreEtiquetaC" value="etiqueta"/>
                    
                    <p:outputLabel class="lblResumenProyecto" id="labelNombrePlan" value="#{text['convocatoria.medioPublicacion.nombre']}"/>
                    <h:outputText id="outputNombrePlanC" value="#{planInvestigacionForm.planInvestigacionSeleccionado.nombre}"/>

                    <p:outputLabel class="lblResumenProyecto" id="labelNombreCortoPlan" value="#{text['planesInvestigacion.nombreCorto']}"/>
                    <h:outputText id="outputNombreCortoPlanC" value="#{planInvestigacionForm.planInvestigacionSeleccionado.nombre_corto}"/>

                    <p:outputLabel class="lblResumenProyecto" id="labelAcronimoPlan" value="#{text['convocatoria.medioPublicacion.acronimo']}"/>
                    <h:outputText id="outputAcronimoPlanC" value="#{planInvestigacionForm.planInvestigacionSeleccionado.acronimo}"/>

                    <p:outputLabel class="lblResumenProyecto" id="labelAmbitoPlan" value="#{text['planesInvestigacion.ambito.geo']}"/>
                    <h:outputText id="outputAmbitoPlanC"  value="#{planInvestigacionForm.planInvestigacionSeleccionado.ambitoGeografico.nombre}"/>
                    
                    <p:outputLabel class="lblResumenProyecto" id="labelEntidadPlan" value="#{text['convocatoria.medioPublicacion.entidad']}"/>
                    <h:outputText id="outputEntidadPlanC"  value="#{planInvestigacionForm.planInvestigacionSeleccionado.entidad}"/>
                    
                    <p:outputLabel class="lblResumenProyecto" id="labelUrlPlan" value="#{text['planesInvestigacion.url']}"/>
                    <h:outputText id="outputUrlPlanc"  value="#{planInvestigacionForm.planInvestigacionSeleccionado.url}"/>
                   
                </p:panelGrid> 
            </p:outputPanel> 
    </p:outputPanel>  
    		<br></br>
    		<h:panelGroup class="lblResumenProyecto" layout="block" rendered="#{not empty planInvestigacionForm.planInvestigacionSeleccionado.descripcion}">
                	<div class="masInfoDescrip">#{text['planesInvestigacion.descripcion']}</div>
                	<div style="border-bottom:1px solid #369;margin-top:5px;margin-bottom:5px"/>
            </h:panelGroup>
   			 <div class="showPanelDescrip" style="display:none">
				<h:panelGroup layout="block" styleClass="datosValor">
                	<h:outputLabel value="#{planInvestigacionForm.planInvestigacionSeleccionado.descripcion}" style="white-space: pre-wrap" />
                </h:panelGroup>
			</div>

        <br/>
 </h:panelGroup>

	<script type="text/javascript">
        $(document).ready(function(){
            $('.masInfoDescrip').click(function(){
                var link = $(this);
                $('.showPanelDescrip').slideToggle('slow', function() {
                    if ($(this).is(":visible")) {
                        link.removeClass('masInfoDescrip');
                        link.addClass('menosInfoDescrip');                 
                    } else {
                        link.removeClass('menosInfoDescrip');
                        link.addClass('masInfoDescrip');              
                    }        
                });

            });
        });
    </script>

</ui:composition>
