<ui:composition xmlns="http://www.w3.org/1999/xhtml"   
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

<style type="text/css">
.preformatted {
    white-space: pre-wrap;
}

.ui-accordion .ui-accordion-content gris {
    padding: 1em 2.2em;
    border-top: 0;
    margin-top: -2px;
    position: relative;
    top: 1px;
    margin-bottom: 2px;
    overflow: auto;
    zoom: 1;
    background-color: #f5f5f5 !important;
}
</style>

<p:fieldset legend="#{text['convocatoria.entidad.gastos.elegibles.titulo']} *" style="margin-bottom:20px;background-color:#F5F5F5" toggleable="true" toggleSpeed="500"> 
  
	 <h:panelGroup id="gastoss" layout="block" styleClass="contenidoBloques left" style="width:95%">
		<p:panelGrid styleClass="noBorders" columns="4">

   		  <p:selectOneMenu id="idComboTipoGasto" value="#{convocatoriasForm.gastoSeleccionado}" converter="gastosConverter" >
 		  	 <f:selectItems value="#{convocatoriasForm.listaGastosConvocatoriaInfo}"
		  	 				var="gastoSeleccionado" 
		  	 				itemLabel="#{gastoSeleccionado.nombre}" itemValue="#{gastoSeleccionado}" /> 
		  </p:selectOneMenu>
		  
		  <p:commandButton id="botonAddGasto" icon="silk-icon-add"
		  	  			  actionListener="#{convocatoriasForm.addGasto}" 
		  	  			 
						   update=":altaManualConvocatoriaForm:panelDatosConvocatoria:idTablaGastos :altaManualConvocatoriaForm:mensajes"/> 
				<p:tooltip for="botonAddGasto" value="Añadir gasto" showEffect="fade" hideEffect="fade"/> 		 
				
			<p:selectOneRadio  id="idRadioTipoGasto"  columns="2" value="#{convocatoriasForm.idTipoGasto}" >
    	  	  	<p:ajax listener="#{convocatoriasForm.actualizaTipoGasto}"  
    	         	  	update=":altaManualConvocatoriaForm:panelDatosConvocatoria:idComboTipoGasto :altaManualConvocatoriaForm:panelDatosConvocatoria:panelDatosGastosElegibles:dataTableGastosElegibles"/>
    	          	  
    	    	    <f:selectItem itemLabel="Vigentes" itemValue="1" />
                    <f:selectItem itemLabel="Todos" itemValue="2" />
            </p:selectOneRadio>
		</p:panelGrid> 
	
<!-- 		habrá que traer los datos de convocatoria-gastos asociados -->


 	<h:panelGroup layout="block" id="idPanelTablaGastos" >
        <p:dataTable id="idTablaGastos" style="width:100%" var="gastoConvocatoria"        
                    value="#{convocatoriasForm.listaGastosConvocatoria}"      
	                rows="5"
	                editable="true" 
			        paginator="true"
			        paginatorPosition="bottom"
         			paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
		            rowsPerPageTemplate="5,10,15"
		            tableStyle="table-layout:auto;width:100%;"
		            rowKey="#{gastoConvocatoria.id}"
	      			emptyMessage="#{text['comunes.listado.noResultados']}"
	                styleClass="withBordersTabla">

           <p:column headerText="#{text['convocatoria.entidad.gasto.elegible']}"  style="width:30%">           
	           <h:outputText value="#{gastoConvocatoria.nombre}" />	           
	       </p:column>
				       
	       <p:column headerText="#{text['convocatoria.entidad.gastos.ayudas']}"  style="width:60%">
	           <h:outputText value="#{gastoConvocatoria.descripcion}" />
	       </p:column>
					       
		   <p:column style="text-align:center;width:10%">
                <f:facet name="header">
                     <h:outputText value="#{text['convocatoria.accion']}" />
                </f:facet>
                <p:commandButton id="borrarGastoElegible" icon="silk-icon-cross"                            
	                            onstart="javascript:PF('waitP').show();" 
	                            oncomplete="javascript:PF('waitP').hide();"
	                            update="idTablaGastos"
	                            actionListener="#{convocatoriasForm.borrarGastoElegido(gastoConvocatoria.id)}"/> 
	                            
	       </p:column>
	    </p:dataTable>  		  
		 
		<br></br><br></br>
	</h:panelGroup>	  
	
		   <p:accordionPanel id="panelDatosGastosElegibles"  multiple="true" activeIndex="null">
		   		<p:tab title="#{text['convocatoria.entidad.informacion.gastos.elegibles']}" > 
		          <h:panelGroup id="gastoss" layout="block" style="width:95%">
		            <p:dataTable id="dataTableGastosElegibles"  
			        			 var="tipoGasto"
			                     value="#{convocatoriasForm.tipologiaGastosElegibles}"
			                     paginator="true" rows="15" lazy="true" paginatorPosition="bottom"
			                     currentPageReportTemplate="{totalRecords} #{text['comunes.listado.registrosEncontrados']}, #{text['comunes.listado.visualizando']} {startRecord} #{text['comunes.listado.al']} {endRecord}"
			                     paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
			                     rowsPerPageTemplate="10,20,50,100,200"
			                     rowKey="#{tipoGasto.id}"
			                     tableStyle="table-layout:auto;width:100%;"
			                     emptyMessage="#{text['comunes.listado.noResultados']}" class="gris">
			            
			       		 <p:column headerText="#{text['convocatoria.entidad.gasto.elegible.descripcion']}" style="width:3%">
            					<p:rowToggler/>
        	  			 </p:column>
		            	                         
			            <p:column headerText="#{text['convocatoria.entidad.tipo.gasto.elegible']}" width="30%">
			                <h:outputText value="#{tipoGasto.nombre}" />
			            </p:column>
        	  			 <p:column headerText="#{text['mediosPublicacion.detalle.fBaja']}" width="10%">
			                <h:outputText value="#{tipoGasto.f_baja}" />
			            </p:column>

			            <p:rowExpansion styleClass="fondoDesplegable">
 				        	<h:panelGroup layout="block" style="margin-left:135px">         
					        	<h:outputText value="#{tipoGasto.descripcion}" styleClass="preformatted"/>
					        </h:panelGroup>
       		 			</p:rowExpansion>

			        </p:dataTable>
			      </h:panelGroup>
			    </p:tab>
			</p:accordionPanel>
			
  	  </h:panelGroup>	
  </p:fieldset> 

</ui:composition>