<ui:composition xmlns="http://www.w3.org/1999/xhtml"   
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:pe="http://primefaces.org/ui/extensions">
<style>
.ui-datalist .ui-datalist-nobullets {
    list-style-type: none;
    padding: 0px;
}

/*.ui-fieldset .ui-state-default {
    padding: 0.2em 1.5em;
}*/

.preformatted {
    white-space: pre-wrap;
}
</style>

    <h:panelGroup id="contenidoDatosPlanSeleccionadoConv">

    	<h:panelGroup rendered="#{datosGeneralesConvocatoriasForm.plan != null}">
    	  	 
        	<p:panel id="bloqueDatosMedioPubConv" header="#{text['planesInvestigacion.nivel1']}" toggleable="true" toggleSpeed="200" 
                     closeSpeed="200" widgetVar="bloqueDatosMedioPubVar">

                <h:panelGrid  styleClass="tablaTree" columnClasses="tablaTree">
                	<h:panelGroup id="arbol" layout="block">
                    	<h:panelGroup layout="block" styleClass="leftTable">
                        	<p:treeTable value="#{datosGeneralesConvocatoriasForm.plan}" var="document" 
                        				 selectionMode="single"
                                         resizableColumns="false" sortBy="#{document.nombre}"  
                                         rowStyleClass="#{document.nivelNodo eq 'uno'?'rowUnno':
                                                          document.nivelNodo eq 'dos'?'rowDos':
                                                          document.nivelNodo eq 'tres'?'rowTres':
                                                          document.nivelNodo eq 'cuatro'?'rowCuatro':
                                                          document.nivelNodo eq 'cinco'?'rowCinco': 'rowConvo'}">
       
                                <f:facet name="header">
                           
                                    <p:commandLink    value="expandir" styleClass="ui-icon ui-icon-circle-triangle-s" title="Expandir" 
                                                  	  actionListener="#{datosGeneralesConvocatoriasForm.expandAll}" style="float: left"                                                  	 
                                                	  update="#{paramFormIdPage}:contenidoDatosPlanSeleccionadoConv"/>
                                                      
                                	<p:commandLink    value="contraer" styleClass="ui-icon ui-icon-circle-triangle-n" title="Contraer" 
                                                      actionListener="#{datosGeneralesConvocatoriasForm.collapseAll}"                                                      
                                                      update="#{paramFormIdPage}:contenidoDatosPlanSeleccionadoConv"/>
                                                       <!--  update=":altaManualConvocatoriaForm:panelDatosConvocatoria:contenidoDatosPlanSeleccionadoConv"/> -->
                                </f:facet>   
                                         
                                <p:column headerText="#{text['planesInvestigacion.niveles.plan']}" 
                                          style="width:130px">
                                    <span class="#{document.nivelNodo}">#{text[document.nivelNodo].substring(0,2)}</span>
                                </p:column>        
                                
                                <p:column headerText="#{text['convocatoria.medioPublicacion.etiqueta']}" sortBy="#{document.gestionEtiquetas.nombre}" width="6%">
                                    <h:outputText id="planInvestigacionEtiquetaC" value="#{document.gestionEtiquetas.nombre}" />                                          
                                    <p:tooltip for="planInvestigacionEtiquetaC">
			                            <h:outputText value="#{document.gestionEtiquetas.nombre}"/>
			                        </p:tooltip>      			                        
                                </p:column> 
                                
                                <p:column headerText="#{text['convocatoria.medioPublicacion.nombre']}" sortBy="#{document.nombre}" width="85%">
                                    <h:outputText id="planInvestigacionNombreC" value="#{document.nombre.length() gt 100 ?  document.nombre.substring(0,99).concat('...'): document.nombre}" />                                          
                                    <p:tooltip for="planInvestigacionNombreC">
			                            <h:outputText value="#{document.nombre}"/>
			                        </p:tooltip>      			                        
                                </p:column>        
                                <p:column headerText="#{text['planesInvestigacion.fechaBaja']}"
                                          sortBy="#{document.fechaBaja}" width="3%"  style="text-align:center;">
                                    <h:outputText value="#{document.f_Baja}" />
                                </p:column> 
                                
                                <p:column style="width:6%;text-align:center;">
                                	<h:panelGroup style="float:left;">
	                                	<p:commandLink title="Añadir Convocatoria" styleClass="ui-icon silk-icon-add" actionListener="#{paramForm.colgarConvocatoria(document)}"  rendered="#{document.nivelNodo != 'conv'}"
	                                	update="#{paramFormIdPage}:subNiveles" immediate= "true"> 
	                                				  <!--  update=":altaManualConvocatoriaForm:mensajes"> -->	                                		
	                                		<f:setPropertyActionListener value="#{document}" target="#{datosGeneralesConvocatoriasForm.decoratorSelect}"/>
	                                		<!-- <f:attribute name="accionA" value="Nueva" />--> 
	                                	</p:commandLink>
                                	</h:panelGroup>
                                </p:column> 
                             </p:treeTable>
                        </h:panelGroup>
                        
                    </h:panelGroup>
                </h:panelGrid>
            </p:panel> 
        	<h:panelGroup layout="block" style="width:50%;padding-left:5px">
                <p:messages id="intervaloUpdate" autoUpdate="true" closable="false"/>
            </h:panelGroup> 
            <br/> 
    	</h:panelGroup>
    </h:panelGroup>

</ui:composition>
