<ui:composition xmlns="http://www.w3.org/1999/xhtml"   
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">



	 <h:panelGroup id="niveles">
	 	<h:panelGroup id="subNiveles">
			<p:panelGrid styleClass="noBorders" columns="1" > 
			
				<p:tree value="#{paramForm.root}" style="width:100%;height:100%;border-width:0;" var="node">
		            <p:treeNode>
		                <h:outputText value="#{node}" />
		            </p:treeNode>
		        </p:tree>
	
			</p:panelGrid>

			<p:commandButton ajax="true" value="Seleccionar Jerarquía"  style="float:right;margin-bottom:10px;"
	 					 	  onstart="mostrarPanelEnviando();" 				
     						  oncomplete="ocultarPanelEnviando();PF('modalEidcionConvWgt').show();" />
  	 	</h:panelGroup>
  	 </h:panelGroup>	

</ui:composition>