<ui:composition xmlns="http://www.w3.org/1999/xhtml"   
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">
<style>
.preformatted {
    white-space: pre-wrap;
}
</style>

	<p:fieldset legend="#{text['convocatoria.entidad.fechas.elegibles.titulo']} *" style="margin-bottom:20px;background-color:#F5F5F5" toggleable="true" toggleSpeed="500">
	 <h:panelGroup layout="block" styleClass="contenidoBloques left" style="width: 95%">
		<p:panelGrid styleClass="noBorders" columns="4">
   
   		 <p:selectOneMenu id="idComboTipoFecha" value="#{convocatoriasForm.fechaSeleccionado}" converter="fechasConverter" size="200">
		  	<!--  <f:selectItem itemLabel="seleccione Fecha"  /> -->
		  	 <f:selectItems value="#{convocatoriasForm.listaFechasConvocatoriaInfo}"
		  	 				var="fechaSeleccionado" 
		  	 				itemLabel="#{fechaSeleccionado.nombre}" itemValue="#{fechaSeleccionado}" /> 
		  </p:selectOneMenu>

	  	  <p:commandButton  id="botonAddFecha" icon="silk-icon-add"  actionListener="#{convocatoriasForm.addFecha}" style="margin-left:10px"
						    update=":altaManualConvocatoriaForm:panelDatosConvocatoria:idTablaFechas  :altaManualConvocatoriaForm:mensajes"/> 
				<p:tooltip for="botonAddFecha" value="Añadir fecha" showEffect="fade" hideEffect="fade"/> 
		
			<p:selectOneRadio  id="idRadioTipoFecha"  columns="2" value="#{convocatoriasForm.idTipoFecha}" >
    	  	  	<p:ajax listener="#{convocatoriasForm.actualizaTipoFecha}"  
    	         	  update=":altaManualConvocatoriaForm:panelDatosConvocatoria:idComboTipoFecha  :altaManualConvocatoriaForm:panelDatosConvocatoria:panelFechas:dataTableFechas"	/>
    	          	  
    	    	    <f:selectItem itemLabel="Vigentes" itemValue="1" />
                    <f:selectItem itemLabel="Todos" itemValue="2" />
            </p:selectOneRadio> 
		 
		</p:panelGrid> 
		  
<!-- 		habrá que traer los datos de convocatoria-gastos asociados -->
 	<h:panelGroup layout="block" id="idPanelTablaFechas" >
        <p:dataTable id="idTablaFechas" style="width:100%" var="fechaConvocatoria"        
                     emptyMessage="#{text['comunes.listado.noResultados']}"
                     value="#{convocatoriasForm.listaFechasConvocatoria}"    
	                 rows="5"
	                 editable="true" 
			         paginator="true"
			         paginatorPosition="bottom"
         			 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
		             rowsPerPageTemplate="5,10,15"
		             tableStyle="table-layout:auto;width:100%;"
		             rowKey="#{fechaConvocatoria.id}"
	                 styleClass="withBordersTabla">
                     
           <p:column headerText="#{text['convocatoria.entidad.fecha.elegible']}"  style="width:30%">           
	           <h:outputText value="#{fechaConvocatoria.nombre}" />	           
	       </p:column>
				       
	       <p:column headerText="#{text['convocatoria.entidad.fecha.descripcion']}"  style="width:60%">
	           <h:outputText value="#{fechaConvocatoria.descripcion}" />
	       </p:column>
					       
			<p:column style="text-align:center;width:10%">
                <f:facet name="header">
                     <h:outputText value="#{text['convocatoria.accion']}" />
                </f:facet>
                <p:commandButton id="idBotonBorrarFecha" icon="silk-icon-cross"                            
	                             onstart="javascript:PF('waitP').show();" 
	                             oncomplete="javascript:PF('waitP').hide();"
	                             update="idTablaFechas"
	                             actionListener="#{convocatoriasForm.borrarFechaElegida(fechaConvocatoria.id)}"/>
	                             
	             </p:column>
	      </p:dataTable>  		  
		 
		  <br></br><br></br>
	</h:panelGroup>	  
		  <p:accordionPanel id="panelFechas" multiple="true" activeIndex="null" style="background-color:#F5F5F5">
		   		<p:tab title="#{text['convocatoria.entidad.informacion.fechas.elegibles']}">
		            <p:dataTable id="dataTableFechas"  
			        			 var="tipoFecha"
			                     value="#{convocatoriasForm.tipologiaFechasElegibles}"
			                     paginator="true" rows="15" lazy="true" paginatorPosition="bottom"
			                     currentPageReportTemplate="{totalRecords} #{text['comunes.listado.registrosEncontrados']}, #{text['comunes.listado.visualizando']} {startRecord} #{text['comunes.listado.al']} {endRecord}"
			                     paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
			                     rowsPerPageTemplate="10,20,50,100,200"
			                     rowKey="#{tipoFecha.id}"
			                     tableStyle="table-layout:auto;width:100%;"
			                     emptyMessage="#{text['comunes.listado.noResultados']}">
			            
			       		 <p:column headerText="#{text['convocatoria.entidad.fecha.descripcion']}" style="width:3%">
            					<p:rowToggler/>
        	  			 </p:column>
		            	                         
			            <p:column headerText="#{text['convocatoria.entidad.fecha.tipo.nombre']}" sortBy="#{tipoFecha.nombre}" width="30%">
			                <h:outputText value="#{tipoFecha.nombre}" />
			            </p:column>
        	  			 <p:column headerText="#{text['mediosPublicacion.detalle.fBaja']}" sortBy="#{tipoFecha.fechaBaja}" width="10%">
			                <h:outputText value="#{tipoFecha.f_baja}" />
			            </p:column>

			             <p:rowExpansion styleClass="fondoDesplegable">
      	      				<h:panelGroup layout="block" style="margin-left:135px">   
					                <h:outputText value="#{tipoFecha.descripcion}" styleClass="preformatted" /> 
           		 			</h:panelGroup>
       		 			</p:rowExpansion>
			            
			        </p:dataTable>
			</p:tab>
		</p:accordionPanel>
			
  	  </h:panelGroup>	
  	
</p:fieldset>

</ui:composition>