<ui:composition xmlns="http://www.w3.org/1999/xhtml"   
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:gep="http://apps.csic.es/gep"
                xmlns:p="http://primefaces.org/ui">
    
  
		<h:panelGroup layout="block" style="float:left;clear:both;margin-top:10px;width:100%;" >
			<p:panel id="panelDatosTipoAlta" toggleable="false" >

				<h:panelGrid style="margin-bottom:10px;width:100%">
    	            <p:selectOneRadio  id="tipoAlta"  columns="2" value="#{convocatoriasForm.idTipoAlta}" inmediate="true" >
    	          	  <f:ajax listener="#{convocatoriasForm.valueChangeRadioRR}" render="idBdns"/>
    	          	  <f:ajax listener="#{convocatoriasForm.valueChangeRadioRR}" render="botones"/>
    	          	  
    	          	    <f:selectItem itemLabel="#{text['convocatoria.detalle.alta.manual']}" itemValue="1" />
                        <f:selectItem itemLabel="#{text['convocatoria.detalle.alta.bdns']}" itemValue="2" />
                                                 
                     </p:selectOneRadio>
				</h:panelGrid>	
			
			<h:panelGroup id="idBdns">
	  		    <h:panelGrid  style="margin-bottom:10px;;width:20%" columns="3" >		
	
	           		<p:outputLabel id="labelIdConvocatoriaBDNS" value="#{text['convocatoria.detalle.alta.identificador.bdns']}:" 
	           						rendered="#{convocatoriasForm.mostrarInputBdns}"/>
	          		<p:inputText id="outputIdConvocatoriaBDNS" value="#{searchBdnsForm.searchValue}"
	          					 rendered="#{convocatoriasForm.mostrarInputBdns}" />
	          		
		     	    <p:commandLink value="Buscar" actionListener="#{searchBdnsForm.search}" action="#{searchBdnsForm.mostrarResultados}" 
		     	    				rendered="#{convocatoriasForm.mostrarInputBdns}" style="float: right" ajax="false" />
	 				
	 				   
<!-- 	 			    <h:panelGroup id="botones" layout="block" styleClass="botonera_new" style="float:right;"> -->
<!--    		   				<p:commandButton  icon="silk-icon-accept" value="#{text['button.continuar']}" ajax="false" -->
<!--    		   			 						rendered="#{convocatoriasForm.mostrarContinuar}" -->
<!--    								  			action="#{convocatoriasForm.continuarAltaManual}" />  -->
  			
<!--   					</h:panelGroup> -->
		        </h:panelGrid>
			</h:panelGroup>
			
			
     		</p:panel>
        </h:panelGroup>
	
   		
   		<h:panelGroup id="botones" layout="block" styleClass="botonera_new" style="float:right;">
   		   			<p:commandButton  icon="silk-icon-accept" value="#{text['button.continuar']}" ajax="false"
   							  action="#{convocatoriasForm.continuarAltaManual}" rendered="#{convocatoriasForm.mostrarContinuar}"/> 
  			
  		</h:panelGroup>
  	
    		
</ui:composition>
