<ui:composition xmlns="http://www.w3.org/1999/xhtml"   
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">
 
<style>
.preformatted {
    white-space: pre-wrap;
}
</style>
 
	<p:fieldset legend="#{text['convocatoria.modo.financiacion.titulo']} *" style="margin-bottom:20px;background-color:#F5F5F5" toggleable="true" toggleSpeed="500">
    	<h:panelGroup layout="block" styleClass="contenidoBloques left" style="width: 95%">
	  		<p:panelGrid styleClass="noBorders" columns="5">

					<p:selectOneMenu id="modoFincM" value="#{convocatoriasForm.modoSeleccionado}" converter="modoFinanciacionConverter" size="250">
	       		 			<f:selectItems value="#{convocatoriasForm.listaFinanciacionModoInfo}" 
	       		 						   var="modoSeleccionado" 
	       		 						   itemLabel="#{modoSeleccionado.nombre}" itemValue="#{modoSeleccionado}"/>
					</p:selectOneMenu>
				
					<p:selectOneMenu id="modoFincF" value="#{convocatoriasForm.fondoSeleccionado}" converter="fondoFinancieroConverter" size="250">
	       		 			<f:selectItems value="#{convocatoriasForm.listFinancieroFondoInfo}" 
	       		 						   var="fondoSeleccionado" 
	       		 						   itemLabel="#{fondoSeleccionado.nombre}" itemValue="#{fondoSeleccionado}"/>
					</p:selectOneMenu>	
	
				<p:commandButton id="botonAddFinanciacion" icon="silk-icon-add"  actionListener="#{convocatoriasForm.addFinanciacion}" style="margin-left:10px" 
						  	update=":altaManualConvocatoriaForm:panelDatosConvocatoria:idTablaFinanciacion :altaManualConvocatoriaForm:mensajes" /> 
				<p:tooltip for="botonAddFinanciacion" value="Añadir tipo financiación" showEffect="fade" hideEffect="fade"/> 		 
				
				<p:selectOneRadio  id="idRadioTipoFinanciacion"  columns="2" value="#{convocatoriasForm.idTipoFinanciacion}" >
    	  	  		<p:ajax listener="#{convocatoriasForm.actualizaTipoFinanciacion}" 
    	         	  	     update=":altaManualConvocatoriaForm:panelDatosConvocatoria:modoFincF :altaManualConvocatoriaForm:panelDatosConvocatoria:modoFincM
    	         	  	     :altaManualConvocatoriaForm:panelDatosConvocatoria:panelModoFinanciacion:dataTableModoFinanciacion :altaManualConvocatoriaForm:panelDatosConvocatoria:panelFondoFinanciacion:dataTableFondoFinanciacion" /> 
    	    	   
    	    	    <f:selectItem itemLabel="Vigentes" itemValue="1" />
                    <f:selectItem itemLabel="Todos" itemValue="2" />
            	</p:selectOneRadio>

    		</p:panelGrid>
    		
    		<h:panelGroup layout="block" id="idPanelTablaFinanciacion" >
	    		 <p:dataTable id="idTablaFinanciacion" style="width:100%" var="modoFinanciacionConvocatoria"        
                    value="#{convocatoriasForm.listaFinanciacionDecorator}"      
	                rows="5"  
	                editable="true" 
	                paginator="true"	
	                paginatorPosition="bottom"
         			paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
		            rowsPerPageTemplate="5,10,15"
		            tableStyle="table-layout:auto;width:100%;"
		            rowKey="#{modoFinanciacionConvocatoria.id}"
	      			emptyMessage="#{text['comunes.listado.noResultados']}"
	                styleClass="withBordersTabla">
	                              
		           		<p:column headerText="#{text['convocatoria.modo.financiacion']}"  style="width:45%">           
			            	<h:outputText value="#{modoFinanciacionConvocatoria.financieroFondo.nombre}" />	 	           
			      		</p:column>
			       		<p:column headerText="#{text['convocatoria.fondo.financiacion']}"  style="width:45%">
			            	<h:outputText value="#{modoFinanciacionConvocatoria.financiacionModo.nombre}" />	 
			       		</p:column>
			       		
				   		<p:column style="text-align:center;width:10%">
                			<f:facet name="header">
                     			<h:outputText value="#{text['convocatoria.accion']}" />
                			</f:facet>
                			<p:commandButton id="borrarFinanciacionElegible" icon="silk-icon-cross"                            
	                            onstart="javascript:PF('waitP').show();" 
	                            oncomplete="javascript:PF('waitP').hide();"
	                            update="idTablaFinanciacion"
	                            actionListener="#{convocatoriasForm.borrarFinanciacionElegida(modoFinanciacionConvocatoria.id)}"/> 
	                            
	             		</p:column>
			   	</p:dataTable>
			</h:panelGroup>
		   		
		   	<br></br><br></br>	
		   	
			<p:accordionPanel id="panelModoFinanciacion" multiple="true" activeIndex="null" style="background-color:#F5F5F5">
		   		<p:tab title="#{text['convocatoria.informacion.modos.financiacion.titulo']}">
	       			<p:dataTable id="dataTableModoFinanciacion" 
			        			 var="modoFinanciacion"
			                     value="#{convocatoriasForm.listFinanciacionModo}"
			                     paginator="true" rows="15" lazy="true" paginatorPosition="bottom"
			                     currentPageReportTemplate="{totalRecords} #{text['comunes.listado.registrosEncontrados']}, #{text['comunes.listado.visualizando']} {startRecord} #{text['comunes.listado.al']} {endRecord}"
			                     paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
			                     rowsPerPageTemplate="10,20,50,100,200"
			                     rowKey="#{modoFinanciacion.id}"
			                     tableStyle="table-layout:auto;width:100%;"
			                     emptyMessage="#{text['comunes.listado.noResultados']}">   
	       			
	       			            
			      	    <p:column headerText="#{text['convocatoria.informacion.modos.financiacion.descripcion']}"  style="width:3%">            
			            	<p:rowToggler/>	           
			 	  		</p:column>
				       
				  		<p:column headerText="#{text['convocatoria.informacion.modos.financiacion.tipo']}"  style="width:30%">
				       		<h:outputText value="#{modoFinanciacion.nombre}" />
				  		</p:column>
			
				  		<p:column headerText="#{text['convocatoria.informacion.modos.financiacion.fechaBaja']}"  style="width:10%">
				       		<h:outputText value="#{modoFinanciacion.f_baja}" />
				  		</p:column>
				  		
				  		<p:rowExpansion styleClass="fondoDesplegable">
      	      				<h:panelGroup layout="block" style="margin-left:135px">    
					                <h:outputText value="#{modoFinanciacion.descripcion}" styleClass="preformatted"/>
           		 			</h:panelGroup>
       		 			</p:rowExpansion>
				  		
          		    </p:dataTable>
				</p:tab>
			</p:accordionPanel>
			
			<br></br><br></br>	
			<p:accordionPanel id="panelFondoFinanciacion" multiple="true" activeIndex="null" style="background-color:#F5F5F5">
		   		<p:tab title="#{text['convocatoria.informacion.fondos.financiacion.titulo']}">
		       		<p:dataTable id="dataTableFondoFinanciacion" 
			        			 var="fondoFinanciacion"
			                     value="#{convocatoriasForm.listFinancieroFondo}"
			                     paginator="true" rows="15" lazy="true" paginatorPosition="bottom"
			                     currentPageReportTemplate="{totalRecords} #{text['comunes.listado.registrosEncontrados']}, #{text['comunes.listado.visualizando']} {startRecord} #{text['comunes.listado.al']} {endRecord}"
			                     paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
			                     rowsPerPageTemplate="10,20,50,100,200"
			                     rowKey="#{fondoFinanciacion.id}"
			                     tableStyle="table-layout:auto;width:100%;"
			                     emptyMessage="#{text['comunes.listado.noResultados']}">
			                                    
		           		<p:column headerText="#{text['convocatoria.informacion.fondos.financiacion.descripcion']}"  style="width:3%">           
			            	<p:rowToggler/>		           
			      		</p:column>
				       
			       		<p:column headerText="#{text['convocatoria.informacion.fondos.financiacion.tipo']}"  style="width:30%">
			            	<h:outputText value="#{fondoFinanciacion.nombre}" />
			       		</p:column>
			
				   		<p:column headerText="#{text['convocatoria.informacion.fondos.financiacion.fechaBaja']}"  style="width:10%">
			            	<h:outputText value="#{fondoFinanciacion.f_baja}" />
			        	</p:column>
			        			        	
			        	<p:rowExpansion styleClass="fondoDesplegable">
      	      				<h:panelGroup layout="block" style="margin-left:135px">    
					                <h:outputText value="#{fondoFinanciacion.descripcion}" styleClass="preformatted"/>
           		 			</h:panelGroup>
       		 			</p:rowExpansion>
		      	
			   		</p:dataTable>
		   		</p:tab>
		   	</p:accordionPanel>	  

    		
        </h:panelGroup>
	</p:fieldset>
</ui:composition>
