<ui:composition xmlns="http://www.w3.org/1999/xhtml"   
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/templates/defaultPage.xhtml">
                    
    <ui:define name="title">#{text['comunes.aplicacion.nombre']} - #{text['convocatorias.titulo']}</ui:define>
    <ui:define name="tabs">
        <li><a id="tab_selected" href="#">#{text['convocatorias.titulo']}</a></li>
    </ui:define>

    <h:form id="idResultadosBdns">
                
     	<ui:include src="../incl/mensajes.xhtml"/>  
                
        <ui:include src="../incl/incVolver.xhtml">
            <ui:param name="titulo" value="#{text['convocatorias.titulo.datos.bdns']}" />
        </ui:include>  
            
<!--   				<p:panelGrid columns="2" columnClasses="alineacionDerUp,alineacionIzq" > -->
				<p:panelGrid columns="2" columnClasses="alineacionIzq,alineacionIzq" >
	                   <p:outputLabel class="lblResumenProyecto" id="labelNombre" value="#{text['convocatoria.bdns.identificador']}"/>                   
	                   <p:outputLabel id="inputNombre" value="#{searchBdnsForm.convocatoriaBdns.identificador}"/>
	
                       <p:outputLabel class="lblResumenProyecto" value="#{text['convocatoria.bdns.titulo']}"/>
                       <p:outputLabel  value="#{searchBdnsForm.convocatoriaBdns.tituloConvocatoria}"/>
      
                       <p:outputLabel class="lblResumenProyecto" value="#{text['convocatoria.bdns.fecha.registro']}"/>
                       <p:outputLabel value="#{searchBdnsForm.convocatoriaBdns.fechaRegistroBdns}"/>
      
                       <p:outputLabel class="lblResumenProyecto" value="#{text['convocatoria.bdns.tipo.ayuda']}"/>
                       <p:outputLabel value="#{searchBdnsForm.convocatoriaBdns.tipoAyuda}"/>
                 
                       <p:outputLabel  class="lblResumenProyecto" value="#{text['convocatoria.bdns.importe.total']}"/>
                       <p:outputLabel  value="#{searchBdnsForm.convocatoriaBdns.importeTotal}"/>
    
                       <p:outputLabel  class="lblResumenProyecto" value="#{text['convocatoria.bdns.subvencion.sin.convocatoria']}"/>
                       <p:outputLabel value="#{searchBdnsForm.convocatoriaBdns.subvSinConvocatoria}"/>
  
                       <p:outputLabel class="lblResumenProyecto" value="#{text['convocatoria.bdns.beneficiarios']}"/>
                       <p:outputLabel value="#{searchBdnsForm.convocatoriaBdns.beneficiarios}"/>
        
                       <p:outputLabel  class="lblResumenProyecto" value="#{text['convocatoria.bdns.actividad.economica.beneficiarios']}"/>
                       <p:outputLabel  value="#{searchBdnsForm.convocatoriaBdns.actEconomicaBenef}"/>
       
                        <p:outputLabel  class="lblResumenProyecto" value="#{text['convocatoria.bdns.regiones.destino']}"/>
                        <p:outputLabel  value="#{searchBdnsForm.convocatoriaBdns.regionesDestino}"/>
     
                        <p:outputLabel  class="lblResumenProyecto"  value="#{text['convocatoria.bdns.organo.convocante']}"/>
						<p:inputTextarea class="lblResumenProyecto" rows="3" cols="100" value="#{searchBdnsForm.convocatoriaBdns.organoConvocante}" readonly="true" />
    
                        <p:outputLabel  class="lblResumenProyecto" value="#{text['convocatoria.bdns.direccion.electronica.organo']}"/>
                        <p:outputLabel value="#{searchBdnsForm.convocatoriaBdns.direcElecOrgConvocante}"/>
 
                        <p:outputLabel  class="lblResumenProyecto" value="#{text['convocatoria.bdns.titulo.bases.reguladoras']}:"/>
                        <p:outputLabel  value="#{searchBdnsForm.convocatoriaBdns.tituloBasesReguladoras}"/>
      
                        <p:outputLabel  class="lblResumenProyecto" value="#{text['convocatoria.bdns.direccion.electronica.bases']}:"/>
                        <p:outputLabel  value="#{searchBdnsForm.convocatoriaBdns.dirElectBasesReguladoras}"/>
  
                        <p:outputLabel  class="lblResumenProyecto" value="#{text['convocatoria.bdns.fecha.inicio.solicitud']}:"/>
                        <p:outputLabel  value="#{searchBdnsForm.convocatoriaBdns.fecInicioPeriodoSolicitud}"/>
  
                        <p:outputLabel  class="lblResumenProyecto" value="#{text['convocatoria.bdns.fecha.fin.solicitud']}:"/>
                        <p:outputLabel  value="#{searchBdnsForm.convocatoriaBdns.fecfinPeriodoSolicitud}"/>
                 
                        <p:outputLabel  class="lblResumenProyecto" value="#{text['convocatoria.bdns.cofinanciado.fondos']}:"/>
                        <p:outputLabel value="#{searchBdnsForm.convocatoriaBdns.cofinanciadoFondosUE}"/>
                        
      
                     </p:panelGrid>

      		 
  
             <br></br><br></br>	
             
    		  <h:panelGroup id="botones" layout="block" style="width:985px">
    		    <p:panelGrid styleClass="noBorders" columns="2" columnClasses="alineacionIzq,alineacionDerUp">
    		 	 	<h:panelGroup layout="block" style="align:left;width:295px">	
		        	  <div style="text-align:left;font-size:large">  
		          		<a target="_blank" href="#{searchBdnsForm.convocatoriaBdns.direcccionUrl}">Ver Ficha completa en BDNS</a>
		          	  </div>
		     	   </h:panelGroup>
 		            <h:panelGroup id="botonGuardar" layout="block" styleClass="botonera_new" style="clear:left;margin-top: 5px;align: right;width:662px">
                		 <p:commandButton value="#{text['button.importar']}" 
                		 				  action="#{convocatoriasForm.importarAltaDesdeBDNS}">
                		 	<f:param name="marcadorBdns" value="#{searchBdnsForm.convocatoriaBdns.direcccionUrl}" />
                		 </p:commandButton>
        			</h:panelGroup>
   					
   				</p:panelGrid> 
              </h:panelGroup>
            
           
    </h:form>
        
</ui:composition>