<ui:composition xmlns="http://www.w3.org/1999/xhtml"   
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/templates/defaultPage.xhtml">

    <ui:define name="title">#{text['comunes.aplicacion.nombre']} - #{text['convocatorias.titulo']}</ui:define>
    <ui:define name="tabs">
        <li><a id="tab_selected" href="#">#{text['convocatorias.titulo']}</a></li>
    </ui:define>

    <h:form id="convocatoriasForm">
        <ui:include src="../incl/incVolver.xhtml">
            <ui:param name="titulo" value="#{text['convocatorias.creacion']} #{text['convocatorias.titulo']}"/>
        </ui:include>
        <ui:include src="../incl/mensajes.xhtml"/>  
        <ui:include src="../incl/capaWaitPExtendida.xhtml"/>
		<p:panelGrid styleClass="tablaBoton">
	        <p:row>      
	            <p:column>
	                <p:commandButton id="cbGuardarCvc"
	                                 value="#{text['button.save']}"
	                                 actionListener="#{convocatoriasForm.guardar}" 
	                                 icon="silk-icon-bullet-disk" 
	                                 update=":convocatoriasForm:mensajes"/>
	            </p:column>
		    
		            <p:column>
		                <p:commandButton value="#{text['button.clean']}"
		                                 actionListener="#{convocatoriasForm.limpiar}" 
		                                 icon="silk-icon-wand" 
		                                 update=":convocatoriasForm:bloqueDatosGenerales :convocatoriasForm:bloqueDatosJerarquia :convocatoriasForm:bloqueDatosPublicacion"/>
		            </p:column>
		        </p:row>
		    </p:panelGrid>
	         
	        <p:panel id="panelDatosConvocatoria" header="#{text['convocatorias.detalle.datosGenerales.subtitulo']}" toggleable="true" 
		             toggleSpeed="200" closeSpeed="200" widgetVar="bloqueDatosGeneralesConvocatoriaWdgt">
		        <h:panelGrid style="width:95%">     
					<h:panelGroup id="bloqueDatosGenerales" layout="block" style="float:left;clear:both;" >
			       
						<h:panelGroup layout="block" style="float:left;clear:both;margin-top:10px;" >
				       		<h:panelGroup layout="block" style="float:left;clear:both;" >
				            	<h:panelGroup layout="block" style="width:180px;float:left;clear:left;">
				            		<p:outputLabel id="labelCodigoBDC" value="#{text['convocatorias.detalle.codBDC']}:"/>
				            	</h:panelGroup>
				            	<h:panelGroup layout="block" style="width:179px;float:left;">
				            		<p:inputText id="outputCodigoBDC" value="#{convocatoriasForm.convocatoriaGestionada.codigoBDC}"/>
				            	</h:panelGroup>
				            	<h:panelGroup layout="block" style="width:120px;float:left;">
				            		<p:outputLabel styleClass="negrita" id="labelAñoConvocatoria" value="#{text['convocatorias.detalle.periodoConvocatoria']}: *"/>
				            	</h:panelGroup>
				            	<h:panelGroup layout="block" style="width:160px;float:left;clear:right;">
				            		<p:inputText id="anioConvocatoria" value="#{convocatoriasForm.convocatoriaGestionada.periodo}" maxlength="4" size="6"
					                	onblur="extractNumber(this, 2, false, ',');"
			                            onkeyup="extractNumber(this, 2, false, ',');"
			                            onkeypress="return blockNonNumbers(this, event, true, false, ',');"/>
				            	</h:panelGroup>
				            </h:panelGroup>	
			            	
			            	<h:panelGroup layout="block" style="float:left;clear:both;margin-top:6px;" >
				            	<h:panelGroup layout="block" style="width:180px;float:left;clear:left;">
				            		<p:outputLabel value="#{text['convocatorias.detalle.acronimo']}:"/>
				            	</h:panelGroup>
				            	<h:panelGroup layout="block" style="width:179px;float:left;">
				            		<p:inputText value="#{convocatoriasForm.convocatoriaGestionada.acronimo}" maxlength="60"/>
				            	</h:panelGroup>
				            	<h:panelGroup layout="block" style="width:120px;float:left;">
				            		<p:outputLabel styleClass="negrita" value="#{text['convocatorias.detalle.nombreCorto']}: *"/>
				            	</h:panelGroup>
				            	<h:panelGroup layout="block" style="width:380px;float:left;clear:right;">
				            		<p:inputText id="nombreCortoCOnvocatoria" value="#{convocatoriasForm.convocatoriaGestionada.nombreCorto}" maxlength="60" size="59"/>
				            	</h:panelGroup>
				            </h:panelGroup>	
				            
				            <h:panelGroup layout="block" style="float:left;clear:both;margin-top:6px;" >
				            	<h:panelGroup layout="block" style="width:180px;float:left;clear:left;">
				            		<p:outputLabel styleClass="negrita" value="#{text['convocatorias.detalle.nombre']}: *"/>
				            	</h:panelGroup>
				            	<h:panelGroup layout="block" style="float:left;clear:right;width:680px;">
				            		<p:inputTextarea cols="100" rows="2" style="width:100%"
					                    label="#{text['convocatorias.detalle.nombre']}" value="#{convocatoriasForm.convocatoriaGestionada.nombre}"
					                    onkeyup="ismaxlengthWithDivIntro(this,'200')" 
					                    disabled="false" 
					                    onblur="ismaxlengthWithDivIntro(this,'200')" 
					                    onkeydown="ismaxlengthWithDivIntro(this,'200');modificacion()"
					                    onkeypress="if(event.keyCode == 13) return false;"/>
				            	</h:panelGroup>
				            </h:panelGroup>
				            
							<h:panelGroup layout="block" style="float:left;clear:both;margin-top:6px;" >
				            	<h:panelGroup layout="block" style="width:180px;float:left;clear:left;">
				            		<p:outputLabel  value="#{text['convocatorias.detalle.descripcion']}:"/>
				            	</h:panelGroup>
				            	<h:panelGroup layout="block" style="float:left;clear:right;width:680px;">
						            <p:inputTextarea cols="100" rows="4" style="width:100%"
						                    label="#{text['convocatorias.detalle.descripcion']}" value="#{convocatoriasForm.convocatoriaGestionada.descripcion}"
						                    onkeyup="ismaxlengthWithDivIntro(this,'4000')" 
						                    disabled="false" 
						                    onblur="ismaxlengthWithDivIntro(this,'4000')" 
						                    onkeydown="ismaxlengthWithDivIntro(this,'4000');modificacion()"
						                    onkeypress="if(event.keyCode == 13) return false;"/>
				            	</h:panelGroup>
				            </h:panelGroup>
				            
							<h:panelGroup layout="block" style="float:left;clear:both;margin-top:6px;" >
				            	<h:panelGroup layout="block" style="width:180px;float:left;clear:left;">
				            		<h:outputLabel for="fechaInicio" value="#{text['convocatorias.detalle.finicio.sol']}:" />		
				            	</h:panelGroup>
				            	<h:panelGroup layout="block" style="width:179px;float:left;">
					            	<p:calendar id="fechaInicio"
						                 title="#{text['convocatorias.detalle.finicio.sol']}"
						                 value="#{convocatoriasForm.convocatoriaGestionada.fechaInicioSolicitud}"
						                 locale="es"
						                 pattern="dd/MM/yyyy"
						                 size="11"
						                 showOn="button" navigator="true"
						                 readonly="false"
						                 converterMessage="El formato de la fecha del campo '#{text['convocatorias.detalle.finicio.sol']}' es erroneo (dd/mm/aaaa)" mask="true"/>
				            	</h:panelGroup>
				            	<h:panelGroup layout="block" style="width:120px;float:left;">
				            		<h:outputLabel for="fechaFin" value="#{text['convocatorias.detalle.ffin.sol']}:" />
				            	</h:panelGroup>
				            	<h:panelGroup layout="block" style="width:179px;float:left;clear:right;">
					                <p:calendar id="fechaFin"
						                 title="#{text['convocatorias.detalle.ffin.sol']}"
						                 value="#{convocatoriasForm.convocatoriaGestionada.fechaFinSolicitud}"
						                 locale="es"
						                 pattern="dd/MM/yyyy"
						                 size="11"
						                 showOn="button" navigator="true"
						                 readonly="false"
						                 converterMessage="El formato de la fecha del campo '#{text['convocatorias.detalle.ffin.sol']}' es erroneo (dd/mm/aaaa)" mask="true"/>
				            	</h:panelGroup>
				            </h:panelGroup>
				            
							<h:panelGroup layout="block" style="float:left;clear:both;margin-top:6px;" >
				            	<h:panelGroup layout="block" style="width:180px;float:left;clear:left;">
				            		<h:outputLabel for="fResolucion" value="#{text['convocatorias.detalle.fresolucion']}:" />		
				            	</h:panelGroup>
				            	<h:panelGroup layout="block" style="width:179px;float:left;">
									<p:calendar id="fResolucion"
						                 title="#{text['convocatorias.detalle.fresolucion']}"
						                 value="#{convocatoriasForm.convocatoriaGestionada.fechaResolucion}"
						                 locale="es"
						                 size="11"
						                 pattern="dd/MM/yyyy"
						                 showOn="button" navigator="true"
						                 readonly="false"
						                 converterMessage="El formato de la fecha del campo '#{text['convocatorias.detalle.fresolucion']}' es erroneo (dd/mm/aaaa)" mask="true"/>
				            	</h:panelGroup>
				            	<h:panelGroup layout="block" style="width:120px;float:left;">
									<h:outputLabel for="fechaBaja" value="#{text['convocatorias.detalle.fbaja']}:" />
				            	</h:panelGroup>
				            	<h:panelGroup layout="block" style="width:179px;float:left;clear:right;">
						            <p:calendar id="fechaBaja"
						                 title="#{text['convocatorias.detalle.finicio.sol']}"
						                 value="#{convocatoriasForm.convocatoriaGestionada.f_baja}" 
						                 locale="es"
						                 size="11"
						                 pattern="dd/MM/yyyy"
						                 showOn="button" navigator="true"
						                 readonly="false"
						                 converterMessage="El formato de la fecha del campo '#{text['convocatorias.detalle.fbaja']}' es erroneo (dd/mm/aaaa)" mask="true"/>
				            	</h:panelGroup>
				            </h:panelGroup>
			            </h:panelGroup>	
					</h:panelGroup>	
				</h:panelGrid>
		    </p:panel>
		    
            <h:panelGroup layout="block" style="float:left;clear:both;margin-top:10px;width:100%;" >
	            <p:panel id="panelDatosJerarquia" header="#{text['convocatorias.detalle.datosJerarquia.subtitulo']}" toggleable="true" 
		             toggleSpeed="200" closeSpeed="200" widgetVar="bloqueDatosJerarquiaWdgt">
		       
			        <h:panelGrid style="width:95%">     
						<h:panelGroup id ="bloqueDatosJerarquia" layout="block" style="float:left;clear:both;" >
							<h:panelGroup layout="block" style="float:left;clear:both;margin-top:10px;" >
					       		<h:panelGroup layout="block" style="float:left;clear:both;" >
					            	<h:panelGroup layout="block" style="width:180px;float:left;clear:left;">
					            		<p:outputLabel id="labelIdTipoAyuda" value="* #{text['convocatorias.detalle.tipoAyuda']}:" styleClass="obligatorio"/>
					            	</h:panelGroup>
					            	<h:panelGroup layout="block" style="width:179px;float:left;">
										<p:selectOneMenu id="inputIdTipoAyuda" value="#{convocatoriasForm.convocatoriaGestionada.tipoAyuda.id}">
		                       				<f:selectItems value="#{convocatoriasForm.tipologiaAyudas}" var="tipoAyuda" itemLabel="#{tipoAyuda.nombre}" itemValue="#{tipoAyuda}" />
		                				</p:selectOneMenu>
					            	</h:panelGroup>
					            </h:panelGroup>
							</h:panelGroup>
						</h:panelGroup>
					</h:panelGrid>		

		                <!-- 
		       			<p:outputLabel value="* #{text['convocatoria.subprograma']}" styleClass="obligatorio"/>
		                <p:inputText id="subprograma" value="#{convocatoriasForm.convocatoriaGestionada.subprograma.nombre}" 
		                	style="width: 333px;" readonly="true"/>
		               	-->
	       		</p:panel>
            </h:panelGroup>
      		
       		<h:panelGroup layout="block" style="float:left;clear:both;margin-top:10px;width:100%;" >
	            <p:panel id="panelDatosPublicacion" header="#{text['convocatorias.detalle.datosPublicacion.subtitulo']}" toggleable="true" 
		             toggleSpeed="200" closeSpeed="200" widgetVar="bloqueDatosPublicacionWdgt">
		       
			        <h:panelGrid style="width:95%">     
						<h:panelGroup id="bloqueDatosPublicacion" layout="block" style="float:left;clear:both;" >
							<h:panelGroup layout="block" style="float:left;clear:both;margin-top:10px;" >
					       		<h:panelGroup layout="block" style="float:left;clear:both;" >
					            	<h:panelGroup layout="block" style="width:180px;float:left;clear:left;">
					            		<h:outputLabel for="fechaPublicacion" value="#{text['convocatorias.detalle.fPublicacion']}: *" styleClass="obligatorio"/>
					            	</h:panelGroup>
					            	<h:panelGroup layout="block" style="width:179px;float:left;">
						                <p:calendar id="fechaPublicacion"
							                 title="#{text['convocatorias.detalle.fPublicacion']}"
							                 value="#{convocatoriasForm.convocatoriaGestionada.fechaPublicacion}"
							                 locale="es"
							                 size="11"
							                 pattern="dd/MM/yyyy"
							                 showOn="button" navigator="true"
							                 readonly="false"
							                 converterMessage="El formato de la fecha del campo '#{text['convocatorias.detalle.fPublicacion']}' es erroneo (dd/mm/aaaa)" mask="true"/>
					            	</h:panelGroup>
					            </h:panelGroup>
							</h:panelGroup>
						</h:panelGroup>
					</h:panelGrid>
	       		</p:panel>
	       	</h:panelGroup>
               
	</h:form>

</ui:composition>