<ui:composition xmlns="http://www.w3.org/1999/xhtml"   
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
            
                xmlns:gep="http://apps.csic.es/gep"
                xmlns:p="http://primefaces.org/ui">
  
	<p:dialog header="#{text['mediosPublicacion.bloqueListado.titulo']}" widgetVar="modalMediosPublicacionWgt"
              modal="true" resizable="false" width="900" height="400"
              showEffect="fade" hideEffect="fade" closeOnEscape="true" dynamic="true">  
          
	       	<h:panelGroup layout="block" style="clear:both;" id="bloqueTablaTipoMediosPublicacion">
		            <p:dataTable id="dataTableListadoMediosPublicacion" 
			        			 var="tipoMedio"
			                     value="#{mediosPublicacionData.lazyModel}"
			                     paginator="true" rows="15" lazy="true" paginatorPosition="bottom"
			                     currentPageReportTemplate="{totalRecords} #{text['comunes.listado.registrosEncontrados']}, #{text['comunes.listado.visualizando']} {startRecord} #{text['comunes.listado.al']} {endRecord}"
			                     paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
			                     selection="#{convocatoriasForm.medioSeleccionado}"
			                     rowsPerPageTemplate="10,20,50,100,200"
			                     rowKey="#{tipoMedio.id}"
			                     selectionMode="single"
			                     tableStyle="table-layout:auto;width:100%;"
			                     emptyMessage="#{text['comunes.listado.noResultados']}">
			                
			            
						<p:ajax event="rowSelect" listener="#{datosGeneralesConvocatoriasForm.onRowSelectMediosPub}"
						 onsuccess="PF('modalMediosPublicacionWgt').hide();" update="#{paramFormIdPage}:bloqDatosPublicacion"/>

		             	<p:ajax event="filter" listener="#{datosGeneralesConvocatoriasForm.cleanDetalleMedioPub}"/> 
		            	                         
			            <p:column headerText="#{text['mediosPublicacion.detalle.nombre']}" width="70%"
			            	sortBy="#{tipoMedio.nombre}"
			            	filterBy="#{tipoMedio.nombre}"
			            	filterMatchMode="contains">
			                <h:outputText value="#{tipoMedio.nombre}" />
			            </p:column>
			         <!--   <p:column headerText="#{text['mediosPublicacion.detalle.url']}" width="40%"
			            	sortBy="#{tipoMedio.url}"
			            	filterBy="#{tipoMedio.url}"
			            	filterMatchMode="contains">
			                <h:outputText value="#{tipoMedio.url}" />
			                
			            </p:column> -->
			          
			            <p:column headerText="#{text['mediosPublicacion.detalle.acronimo']}" width="15%"
			            	sortBy="#{tipoMedio.acronimo}"
			            	filterBy="#{tipoMedio.acronimo}"
			            	filterMatchMode="contains">
			                <h:outputText value="#{tipoMedio.acronimo}" />
			            </p:column>
			             <p:column headerText="#{text['mediosPublicacion.detalle.fBaja']}" width="15%"
			            	sortBy="#{tipoMedio.f_baja}"
			            	filterMatchMode="contains">
			                <h:outputText value="#{tipoMedio.f_baja}" />
			            </p:column>
			        </p:dataTable>


   		 </h:panelGroup>	

    

	</p:dialog>
	
</ui:composition>