<ui:composition xmlns="http://www.w3.org/1999/xhtml"   
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:gep="http://apps.csic.es/gep"
                xmlns:p="http://primefaces.org/ui">
  <a id="datosGastosElegibles"/>
	<p:dialog header="#{text['convocatoria.entidad.gastos.elegibles.titulo']}" widgetVar="modalGastosElegiblesWgt"
              modal="false" resizable="false" width="1200" height="500"
              showEffect="fade" hideEffect="fade" closeOnEscape="true" dynamic="true">  
              
            <h:panelGrid style="margin-bottom:10px;width:100%">
    	            <p:selectOneRadio  id="tipoGasto"  columns="2" value="#{pickListGastosElegiblesView.idTipoGasto}" required="true" inmediate="true" >
    	          	  	<p:ajax listener="#{pickListGastosElegiblesView.seleccionTipoGasto}" execute="@all" inmediate="true"
    	          	  	update=":altaManualConvocatoriaForm:panelDatosConvocatoria:gastosPickList" />
    	          	  
    	          	    <f:selectItem itemLabel="Vigentes" itemValue="1" />
                        <f:selectItem itemLabel="Todos" itemValue="2" />
                     </p:selectOneRadio>
			</h:panelGrid>	  
         
		 	<p:pickList id="gastosPickList" var="gasto" value="#{pickListGastosElegiblesView.gastos}" effect="bounce" 
		                itemValue="#{gasto}" itemLabel="#{gasto.nombre}" showSourceControls="true" showTargetControls="true" showCheckbox="false" responsive="true"
		                showSourceFilter="false" showTargetFilter="false" filterMatchMode="false" converter="gastosConverter"
		                style="text-align:center;" widgetVar="gastosElegiblesPickList">
		 
		        <f:facet name="sourceCaption">Gastos elegibles disponibles</f:facet>
		        <f:facet name="targetCaption">Gastos elegibles seleccionados</f:facet>
		
				<p:ajax event="transfer" listener="#{pickListGastosElegiblesView.onTransfer}" />
		        <p:ajax event="select" listener="#{pickListGastosElegiblesView.onSelect}" />
		        <p:ajax event="unselect" listener="#{pickListGastosElegiblesView.onUnselect}"/>
		        <p:ajax event="reorder" listener="#{pickListGastosElegiblesView.onReorder}"/>
				
		        <p:column style="width:90%;">
		            <h:outputText value="#{gasto.nombre}" />
		        </p:column>
		    </p:pickList>
    
 
	    <h:panelGroup layout="block" style="clear:both;" id="bloqueTablaGastosElegibles">
		  <p:accordionPanel id="panelDatosGastosElegibles">
    	    <p:tab title="#{text['convocatoria.entidad.informacion.gastos.elegibles']}">
		            <p:dataTable id="dataTableGastosElegibles"  
			        			 var="tipoGasto"
			                     value="#{convocatoriasForm.tipologiaGastosElegibles}"
			                     paginator="true" rows="15" lazy="true" paginatorPosition="bottom"
			                     currentPageReportTemplate="{totalRecords} #{text['comunes.listado.registrosEncontrados']}, #{text['comunes.listado.visualizando']} {startRecord} #{text['comunes.listado.al']} {endRecord}"
			                     paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
			                     rowsPerPageTemplate="10,20,50,100,200"
			                     rowKey="#{tipoMedio.id}"
			                     tableStyle="table-layout:auto;width:100%;"
			                     emptyMessage="#{text['comunes.listado.noResultados']}">
			            
		            	                         
			            <p:column headerText="#{text['convocatoria.entidad.gasto.elegible']}" width="30%">
			                <h:outputText value="#{tipoGasto.nombre}" />
			            </p:column>
			            <p:column headerText="#{text['convocatoria.entidad.gasto.elegible.descripcion']}" width="60%">
			                <h:outputText value="#{tipoGasto.descripcion}" />
			            </p:column>
			             <p:column headerText="#{text['mediosPublicacion.detalle.fBaja']}" width="10%">
			                <h:outputText value="#{tipoGasto.fBaja}" />
			            </p:column>
			        </p:dataTable>
			</p:tab>
		</p:accordionPanel>
   	  </h:panelGroup>	

    	<h:panelGroup layout="block" styleClass="botonera_new" style="float:right;">
       		<p:commandButton onsuccess="PF('modalGastosElegiblesWgt').hide();" icon="silk-icon-cancel" value="#{text['button.cancel']}"/>
       		<p:commandButton onsuccess="PF('modalGastosElegiblesWgt').hide();" icon="silk-icon-accept" value="#{text['button.accept']}"/>
<!-- 							update=":altaManualConvocatoriaForm:panelDatosConvocatoria:bloqDatosPublicacion"/> -->
       </h:panelGroup>

	</p:dialog>
	
	
</ui:composition>