<ui:composition xmlns="http://www.w3.org/1999/xhtml"   
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">
                
                
 <p:dialog header="#{text['convocatorias.aniadirEntidad.titulo']}" widgetVar="modalAniadirEntidadFinanciadoraWgt"
           modal="true" resizable="false" width="1000" height="400"
           showEffect="fade" hideEffect="fade" closeOnEscape="true" dynamic="true">  
 
        <h:panelGroup styleClass="left">
         	<p:panelGrid columns="1" styleClass="noBorders" columnClasses="alineacionDer,alineacionIzq">

         		<p:panelGrid columns="4" styleClass="noBorders" columnClasses="alineacionDer,alineacionIzq">
			 	   	<p:outputLabel id="labeNifVatF" value="#{text['convocatoria.entidades.nif.vat']}" />                   
                    <p:inputText id="outputNifVatF" value="#{altaEntidadesConvocatoriaForm.nif}" size="30" styleClass="alineacionIzq"/>

 				    <p:outputLabel id="labelSiglasF" value="#{text['convocatoria.entidades.siglas']}"/>                   
  	                <p:inputText id="outputSiglasF" value="#{altaEntidadesConvocatoriaForm.siglas}" size="30" styleClass="alineacionIzq"/>
  	            </p:panelGrid>
		
				<p:panelGrid columns="2" styleClass="noBorders" columnClasses="alineacionDer,alineacionIzq">
			  		<p:outputLabel id="labelRazonSocialF" value="#{text['convocatoria.entidades.razon.social']}"/>                   
                	<p:inputText id="outputRazonSocialF" value="#{altaEntidadesConvocatoriaForm.razonSocial}" size="100" styleClass="alineacionIzq"/>
                </p:panelGrid>
			</p:panelGrid>
		</h:panelGroup>
	
		<h:panelGroup layout="block" styleClass="botonera_new" style="float:right;">
   	 			<p:commandButton value="Buscar" style="margin-bottom:10px"
   	 							 onstart="mostrarPanelEnviando();" 
   	 							 action="#{altaEntidadesConvocatoriaForm.buscarTerceroAgenciaFinanciadoras}" 
   	 							 oncomplete="ocultarPanelEnviando();"
    	 			 		 	 update=":altaManualConvocatoriaForm:panelDatosConvocatoria:dataTableListadoEntidadesFinanciadoras :altaManualConvocatoriaForm:mensajes"/>  
		</h:panelGroup>

       	<h:panelGroup layout="block" style="clear:both;" id="bloqueTablaEntidadesFinanciadoras">
		            <p:dataTable id="dataTableListadoEntidadesFinanciadoras" 
			        			 var="entidadFinanciadora"
								 value="#{altaEntidadesConvocatoriaForm.listaEntidadesFinanciadoras}"
			                     paginator="true" rows="15" lazy="true" paginatorPosition="bottom"
			                     currentPageReportTemplate="{totalRecords} #{text['comunes.listado.registrosEncontrados']}, #{text['comunes.listado.visualizando']} {startRecord} #{text['comunes.listado.al']} {endRecord}"
			                     paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
			                     rowsPerPageTemplate="10,20,50,100,200"
								 rowKey="#{entidadFinanciadora.idAgencia}"
			                     selectionMode="single"
			                     tableStyle="table-layout:auto;width:100%;"
			                     emptyMessage="#{text['comunes.listado.noResultados']}">
			                     
						<p:ajax event="rowSelect" immediate="true" 
								listener="#{altaEntidadesConvocatoriaForm.onRowSelectEntidadFinanciadoras}"
								oncomplete="PF('modalAniadirEntidadFinanciadoraWgt').hide();"
								update=":altaManualConvocatoriaForm:panelDatosConvocatoria:idTablaEntidadesFinanciadoras :altaManualConvocatoriaForm:mensajes"/>
					
			            <p:column headerText="#{text['convocatoria.entidades.nif.vat']}" width="10%">
			                <h:outputText value="#{entidadFinanciadora.nifTercero}" />
			            </p:column>
			            <p:column headerText="#{text['convocatoria.entidades.razon.social']}" width="80%">
			                <h:outputText value="#{entidadFinanciadora.razonSocialTercero}" />
			            </p:column>
			            <p:column headerText="#{text['convocatoria.entidades.siglas']}" width="10%">
			                <h:outputText value="#{entidadFinanciadora.siglasTercero}" />
			            </p:column>
			            
			        </p:dataTable>

   		 </h:panelGroup>	

	</p:dialog>
		
</ui:composition>
