<ui:composition xmlns="http://www.w3.org/1999/xhtml"   
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">
                
                
 <p:dialog header="#{text['convocatorias.aniadirEntidad.titulo']}" widgetVar="modalAniadirEntidadOrdenanteWgt"
           modal="true" resizable="false" width="1000" height="400"
           showEffect="fade" hideEffect="fade" closeOnEscape="true" dynamic="true">  
<!--   <p:growl id="growl" showDetail="true" sticky="true" />   -->
        <h:panelGroup styleClass="left">
         	<p:panelGrid columns="1" styleClass="noBorders" columnClasses="alineacionDer,alineacionIzq">

         		<p:panelGrid columns="4" styleClass="noBorders" columnClasses="alineacionDer,alineacionIzq">
			 	   	<p:outputLabel id="labeNifVatO" value="#{text['convocatoria.entidades.nif.vat']}" />                   
                    <p:inputText id="outputNifVatO" value="#{altaEntidadesConvocatoriaForm.nif}" size="30" styleClass="alineacionIzq"/>

 				    <p:outputLabel id="labelSiglasO" value="#{text['convocatoria.entidades.siglas']}"/>                   
  	                <p:inputText id="outputSiglasO" value="#{altaEntidadesConvocatoriaForm.siglas}" size="30" styleClass="alineacionIzq"/>
  	            </p:panelGrid>
		
				<p:panelGrid columns="2" styleClass="noBorders" columnClasses="alineacionDer,alineacionIzq">
			  		<p:outputLabel id="labelRazonSocialO" value="#{text['convocatoria.entidades.razon.social']}"/>                   
                	<p:inputText id="outputRazonSocialO" value="#{altaEntidadesConvocatoriaForm.razonSocial}" size="100" styleClass="alineacionIzq"/>
                </p:panelGrid>
			</p:panelGrid>
		</h:panelGroup>
	
		<h:panelGroup layout="block" styleClass="botonera_new" style="float:right;">
   	 			<p:commandButton value="Buscar" style="margin-bottom:10px"
   	 							 onstart="mostrarPanelEnviando();" 
   	 							 action="#{altaEntidadesConvocatoriaForm.buscarTerceroAgenciaOrdenantes}" 
   	 							 oncomplete="ocultarPanelEnviando();"
    	 			 		 	 update=":altaManualConvocatoriaForm:panelDatosConvocatoria:dataTableListadoEntidadesOrdenantes :altaManualConvocatoriaForm:mensajes"/>
    	 			 		 	 		
		</h:panelGroup>
		
       	<h:panelGroup layout="block" style="clear:both;" id="bloqueTablaEntidadesOrdenantes">
		            <p:dataTable id="dataTableListadoEntidadesOrdenantes" 
			        			 var="entidadOrdenante"
								 value="#{altaEntidadesConvocatoriaForm.listaEntidadesOrdenantes}"
			                     paginator="true" rows="15" lazy="true" paginatorPosition="bottom"
			                     currentPageReportTemplate="{totalRecords} #{text['comunes.listado.registrosEncontrados']}, #{text['comunes.listado.visualizando']} {startRecord} #{text['comunes.listado.al']} {endRecord}"
			                     paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
			                     selection="#{altaEntidadesConvocatoriaForm.entidadOrdenanteSeleccionada}"
			                     rowsPerPageTemplate="10,20,50,100,200"
								 rowKey="#{entidadOrdenante.idAgencia}"
			                     selectionMode="single"
			                     tableStyle="table-layout:auto;width:100%;"
			                     emptyMessage="#{text['comunes.listado.noResultados']}">
			                     
			            
						<p:ajax event="rowSelect" immediate="true" 
								listener="#{altaEntidadesConvocatoriaForm.onRowSelectEntidadOrdenantes}"
								oncomplete="PF('modalAniadirEntidadOrdenanteWgt').hide();"
									update=":altaManualConvocatoriaForm:panelDatosConvocatoria:idTablaEntidadesOrdenantes :altaManualConvocatoriaForm:mensajes"/>
				
						          	                         
			            <p:column headerText="#{text['convocatoria.entidades.nif.vat']}" width="10%">
			                <h:outputText value="#{entidadOrdenante.nifTercero}" />
			            </p:column>
			            <p:column headerText="#{text['convocatoria.entidades.razon.social']}" width="80%">
			                <h:outputText value="#{entidadOrdenante.razonSocialTercero}" />
			            </p:column>
			            <p:column headerText="#{text['convocatoria.entidades.siglas']}" width="10%">
			                <h:outputText value="#{entidadOrdenante.siglasTercero}" />
			            </p:column>
			            
			        </p:dataTable>
			        

   		 </h:panelGroup>	
     

	</p:dialog>
		
</ui:composition>
