<ui:composition xmlns="http://www.w3.org/1999/xhtml"   
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">
                
                
 <p:dialog header="#{text['convocatorias.detalleEntidad.titulo']}" widgetVar="modalDetalleEntidadConvocanteWgt"
           modal="true" resizable="false" width="1000" height="400"
           showEffect="fade" hideEffect="fade" closeOnEscape="true" dynamic="true">  
 
 
   <h:panelGroup>
	 <p:panelGrid styleClass="noBorders" columns="2">

	    <div class="clear"/>
	     
        <h:panelGroup styleClass="left">
         		<p:panelGrid columns="2" styleClass="noBorders" columnClasses="alineacionDer,alineacionIzq">

			 	   	<p:outputLabel id="labeNifVat" value="#{text['convocatoria.entidades.nif.vat']}" />                   
                    <p:inputText id="outputNifVat" size="30" styleClass="alineacionIzq" disabled="true"/>

				    <p:outputLabel id="labelRazonSocial" value="#{text['convocatoria.entidades.razon.social']}"/>                   
                    <p:inputText id="outputRazonSocial" size="100" styleClass="alineacionIzq" disabled="true"/>

  				    <p:outputLabel id="labelSiglas" value="#{text['convocatoria.entidades.siglas']}"/>                   
  	                <p:inputText id="outputSiglas" size="30" styleClass="alineacionIzq" disabled="true"/>
				
				
					
					<p:outputLabel/>
					<p:panelGrid columns="4" styleClass="noBorders" columnClasses="alineacionDer,alineacionIzq,alineacionDer,alineacionIzq">	
				 	   	<p:outputLabel id="labeDireccion" value="#{text['convocatoria.entidades.direccion']}" />                   
	                    <p:inputText id="outputDireccion" size="30" styleClass="alineacionIzq" disabled="true"/>
	
					    <p:outputLabel id="labelTelefono1" value="#{text['convocatoria.entidades.telefono1']}"/>                   
	                    <p:inputText id="outputTelefono1" size="30" styleClass="alineacionIzq" disabled="true"/>
	
				 	   	<p:outputLabel id="labelMunicipio" value="#{text['convocatoria.entidades.municipio']}" />                   
	                    <p:inputText id="outputMunicipio" size="30" styleClass="alineacionIzq" disabled="true"/>
	
					    <p:outputLabel id="labelTelefono2" value="#{text['convocatoria.entidades.telefono2']}"/>                   
	                    <p:inputText id="outputTelefono2" size="30" styleClass="alineacionIzq" disabled="true"/>
	
				 	   	<p:outputLabel id="labelLocalidad" value="#{text['convocatoria.entidades.localidad']}" />                   
	                    <p:inputText id="outputLocalidad" size="30" styleClass="alineacionIzq" disabled="true"/>
	
					    <p:outputLabel id="labelFax" value="#{text['convocatoria.entidades.fax']}"/>                   
	                    <p:inputText id="outputFax" size="30" styleClass="alineacionIzq" disabled="true"/>
	
				 	   	<p:outputLabel id="labelCodigoPostal" value="#{text['convocatoria.entidades.codigo.postal']}" />                   
	                    <p:inputText id="outputCodigoPostal" size="30" styleClass="alineacionIzq" disabled="true"/>
	
					    <p:outputLabel id="labelWeb" value="#{text['convocatoria.entidades.web']}"/>                   
	                    <p:inputText id="outputWeb" size="30" styleClass="alineacionIzq" disabled="true"/>
	
				 	   	<p:outputLabel id="labelProvincia" value="#{text['convocatoria.entidades.provincia']}" />                   
	                    <p:inputText id="outputProvincia" size="30" styleClass="alineacionIzq" disabled="true"/>
	                    <p:outputLabel/>
	                    <p:outputLabel/>
	
					    <p:outputLabel id="labelPais" value="#{text['convocatoria.entidades.pais']}"/>                   
	                    <p:inputText id="outputPais" size="30" styleClass="alineacionIzq" disabled="true"/>
	                    <p:outputLabel/>
                        <p:outputLabel/>

					</p:panelGrid>
					
		
		</p:panelGrid>

		</h:panelGroup>

			
			
		</p:panelGrid>
	</h:panelGroup>

	</p:dialog>
		
</ui:composition>
