<ui:composition xmlns="http://www.w3.org/1999/xhtml"   
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">
                
<style>

.datosInputPlanIn {
   padding-bottom:8px;
   font-size:1.1em;
   margin-left:30px;
   float: left;
}

.datosLabelPlanIn {
	margin-left:2px;
    width: 140px;
    float: left;
    color:#464F56;
    font-weight:bold;
    padding-bottom:8px;
    font-size:1.1em;
}

.preformatted {
    white-space: pre-wrap;
}

.pruebaClass {
    white-space: pre-wrap;
}

</style>                         
 
    <p:dialog id="dialogReestructuracionJerarquiaConv" header="reestructuracion jerarquia"
    		  showEffect="fade" widgetVar="documentDialogReestructuracionJerarquiaWdgt" modal="true" resizable="false" height="750px" width="75%" 
              hideEffect="fade" closeOnEscape="true">
    	<h:panelGroup id ="panelReestructurarC">
           
                   <h:panelGrid style="margin-bottom:10px">
        				<p:selectOneRadio valueChangeListener="#{planInvestigacionForm.onSelectRadio}" > 
           					<f:selectItem  itemLabel="Reestructurar sobre este plan" itemValue="estePlan" />
           					<f:selectItem  itemLabel="Reestructurar sobre Otro plan" itemValue="otroPlan" />       			
           					<p:ajax event="valueChange" update="panelReestructurarC"/>
        				</p:selectOneRadio>
   		 		  </h:panelGrid>
   		 		  
   		 		   <h:panelGroup layout="block" styleClass="botonera_new" style="float:right;">
			   			<p:commandButton onsuccess="PF('documentDialogReestructuracionJerarquiaWdgt').hide();" icon="silk-icon-cancel" value="Salir"  
			   			actionListener="#{planInvestigacionForm.cleanDetalle()}" action="#{planInvestigacionForm.refrescarArbol()}" update=":altaManualConvocatoriaForm:panelDatosConvocatoria:bloqueDatosMedioPubConv"/>
<!-- 	   			actionListener="#{planInvestigacionForm.cleanDetalle()}" action="#{planInvestigacionForm.refrescarArbol()}" update=":planInvestigacionForm:bloqueDatosMedioPub"/> -->
   				  </h:panelGroup>
   		 
   		 		  <h:panelGroup  id="combo" style="float:left;margin-top:2px;" rendered="#{planInvestigacionForm.mostrarCombo eq 'true'}">
		 			<p:selectOneMenu id="inputPlanIn" value="#{planInvestigacionForm.planInvestigacionGestionado.id}" valueChangeListener="#{planInvestigacionForm.onChangePlan}">
						<f:selectItems value="#{planInvestigacionForm.filtroPlanesInvestigacion}"/>
						<p:ajax event="valueChange"  update=":altaManualConvocatoriaForm:panelDatosConvocatoria:panelReestructurarC" />
					</p:selectOneMenu>
		 		</h:panelGroup>
                       
<!-- ARBOLES -->  
                  <h:panelGroup id="documentPanelReestructuracionJerarquia" style="float:left;margin-top:20px;">             
        					
			                <h:panelGrid columns="1" >
		                
			           			<h:panelGrid columns="3" >
				           				<p:commandLink  styleClass="ui-icon ui-icon-circle-triangle-s" title="Expandir" actionListener="#{planInvestigacionForm.collapsingORexpanding(planInvestigacionForm.plan ,true)}" 
				           								update=":altaManualConvocatoriaForm:panelDatosConvocatoria:arbol1"/>
	
										<p:commandLink  styleClass="ui-icon ui-icon-circle-triangle-n" title="Contraer" actionListener="#{planInvestigacionForm.collapsingORexpanding(planInvestigacionForm.plan ,false)}" 
				           								update=":altaManualConvocatoriaForm:panelDatosConvocatoria:arbol1"/>	
				           				
				           				<h:outputText value="* Nodo Origen. Arrastra el nodo que desees cambiar al nodo destino y se guardaran los cambios" style="float:left;margin-bottom:1px;color: #000000;font-weight:bold;"/>
				           		</h:panelGrid>
			           								
			           			<h:panelGroup id="arbol1" layout="block" style="float:left;clear:left">
			                           <p:tree value="#{planInvestigacionForm.plan}" var="document"  draggable="true" droppable="true" dragdropScope="demo"  animate="true"
			                           selection="#{planInvestigacionForm.selectedNode1}" style="width:1000px;" >
			                                <p:ajax event="dragdrop" listener="#{planInvestigacionForm.onDragDrop}"  update=":altaManualConvocatoriaForm:panelDatosConvocatoria:arbol1"/> 
			                                <p:treeNode style="width:800px;">
							                	<h:outputText value=" #{document.nombre}" style="background-color:#F08080;" rendered="#{document.id eq planInvestigacionForm.idModificado and planInvestigacionForm.idModificado ne null}"/>
							                	<h:outputText value=" #{document.nombre}" style="color: #000000;" rendered="#{document.id ne planInvestigacionForm.idModificado}" />
								            </p:treeNode>                              
			                           </p:tree>
			                        <br></br>
			                    </h:panelGroup>
			                
			                   
			                   
			                    <h:panelGroup id="arbol2"  layout="block" style="float:left;clear:left;"  rendered="#{planInvestigacionForm.plan2 != null}">  
		                        	<h:panelGrid columns="3" > 
		                            	<p:commandLink  styleClass="ui-icon ui-icon-circle-triangle-s" title="Expandir" actionListener="#{planInvestigacionForm.collapsingORexpanding(planInvestigacionForm.plan2 ,true)}" 
			           								update=":altaManualConvocatoriaForm:panelDatosConvocatoria:arbol2"/>		
			           			   		<p:commandLink styleClass="ui-icon ui-icon-circle-triangle-n" title="Contraer" actionListener="#{planInvestigacionForm.collapsingORexpanding(planInvestigacionForm.plan2 , false)}" 
			           								update=":altaManualConvocatoriaForm:panelDatosConvocatoria:arbol2"/>  
			           					<h:outputText value="* Nodo Destino " style="float:left;margin-bottom:1px;color: #000000;font-weight:bold;"/>
		                        	</h:panelGrid>
		                            	<p:tree value="#{planInvestigacionForm.plan2}" var="documento"  droppable="true" dragdropScope="demo"  animate="true"
		                           			selection="#{planInvestigacionForm.selectedNode2}" style="width:800px;">    
		                                		<p:ajax event="dragdrop" listener="#{planInvestigacionForm.onDragDrop}" update=":altaManualConvocatoriaForm:panelDatosConvocatoria:arbol2"/>
		                                		<p:treeNode style="width:800px;">
							                		<h:outputText value=" #{documento.nombre}" style="background-color:#F08080;"  rendered="#{documento.id eq planInvestigacionForm.idModificado and planInvestigacionForm.idModificado ne null}"/>
							                		<h:outputText value=" #{documento.nombre}" style="color: #000000;" rendered="#{documento.id ne planInvestigacionForm.idModificado}" />
							            		</p:treeNode>                              
		                           		</p:tree>
				               	</h:panelGroup>
			                </h:panelGrid>
 				  </h:panelGroup> 

		</h:panelGroup>
    </p:dialog>                            

</ui:composition>
