<ui:composition xmlns="http://www.w3.org/1999/xhtml"   
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">
                
      	<ui:include src="../incl/mensajes.xhtml"/>              
 <p:dialog header="#{text['convocatorias.aniadirEntidad.titulo']}" widgetVar="modalAniadirEntidadConvocanteWgt"
           modal="true" resizable="false" width="1000" height="400"
           showEffect="fade" hideEffect="fade" closeOnEscape="true" dynamic="true">  
 
        <h:panelGroup styleClass="left">
         	<p:panelGrid columns="1" styleClass="noBorders" columnClasses="alineacionDer,alineacionIzq">

         		<p:panelGrid columns="4" styleClass="noBorders" columnClasses="alineacionDer,alineacionIzq">
			 	   	<p:outputLabel id="labeNifVatA" value="#{text['convocatoria.entidades.nif.vat']}" />                   
                    <p:inputText id="outputNifVatA" value="#{altaEntidadesConvocatoriaForm.nif}" size="30" styleClass="alineacionIzq"/>

 				    <p:outputLabel id="labelSiglasA" value="#{text['convocatoria.entidades.siglas']}"/>                   
  	                <p:inputText id="outputSiglasA" value="#{altaEntidadesConvocatoriaForm.siglas}" size="30" styleClass="alineacionIzq"/>
  	            </p:panelGrid>
		
				<p:panelGrid columns="2" styleClass="noBorders" columnClasses="alineacionDer,alineacionIzq">
			  		<p:outputLabel id="labelRazonSocialA" value="#{text['convocatoria.entidades.razon.social']}"/>                   
                	<p:inputText id="outputRazonSocialA" value="#{altaEntidadesConvocatoriaForm.razonSocial}" size="100" styleClass="alineacionIzq"/>
                </p:panelGrid>
			</p:panelGrid>

					
		</h:panelGroup>
	
		<h:panelGroup layout="block" styleClass="botonera_new" style="float:right;">
   	 			<p:commandButton value="Buscar" style="margin-bottom:10px"
   	 							 onstart="mostrarPanelEnviando();" 
   	 							 action="#{altaEntidadesConvocatoriaForm.buscarTerceroAgenciaConvocante}" 
   	 							 oncomplete="ocultarPanelEnviando();"
    	 			 		 	 update=":altaManualConvocatoriaForm:panelDatosConvocatoria:dataTableListadoEntidadesConvocantes :altaManualConvocatoriaForm:mensajes"/>  
		</h:panelGroup>

       	<h:panelGroup layout="block" style="clear:both;" id="bloqueTablaEntidadesConvocantes">
		            <p:dataTable id="dataTableListadoEntidadesConvocantes" 
			        			 var="entidadConvocante"
								 value="#{altaEntidadesConvocatoriaForm.listaEntidadesConvocantes}"
			                     paginator="true" rows="15" lazy="true" paginatorPosition="bottom"
			                     currentPageReportTemplate="{totalRecords} #{text['comunes.listado.registrosEncontrados']}, #{text['comunes.listado.visualizando']} {startRecord} #{text['comunes.listado.al']} {endRecord}"
			                     paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
			                     selection="#{altaEntidadesConvocatoriaForm.entidadConvocanteSeleccionada}"
			                     rowsPerPageTemplate="10,20,50,100,200"
								 rowKey="#{entidadConvocante.idTercero}"
			                     selectionMode="single"
			                     tableStyle="table-layout:auto;width:100%;"
			                     emptyMessage="#{text['comunes.listado.noResultados']}">
			                     
			            
						<p:ajax event="rowSelect" 
								listener="#{altaEntidadesConvocatoriaForm.onRowSelectEntidadConvocante}"
								oncomplete="PF('modalAniadirEntidadConvocanteWgt').hide();"
								update=":altaManualConvocatoriaForm:panelDatosConvocatoria:bloqueEntidadConvocante"/>
								
						            	                         
			            <p:column headerText="#{text['convocatoria.entidades.nif.vat']}" width="10%">
			                <h:outputText value="#{entidadConvocante.nifTercero}" />
			            </p:column>
			            <p:column headerText="#{text['convocatoria.entidades.razon.social']}" width="80%">
			                <h:outputText value="#{entidadConvocante.razonSocialTercero}" />
			            </p:column>
			            <p:column headerText="#{text['convocatoria.entidades.siglas']}" width="10%">
			                <h:outputText value="#{entidadConvocante.siglasTercero}" />
			            </p:column>
			            
			        </p:dataTable>
			        

   		 </h:panelGroup>	

	</p:dialog>
		
</ui:composition>

<!--  actionListener="#{altaEntidadesConvocatoriaForm.buscarTerceroAgencia}"  -->
		            
<!-- 						<p:ajax event="rowSelect" listener="#{altaEntidadesConvocatoriaForm.onRowSelectEntidadOrdenante}" -->
<!-- 								update=":altaManualConvocatoriaForm:panelDatosConvocatoria:bloqueEntidadConvocante" -->
<!-- 								onsuccess="PF('modalAniadirEntidadOrdenanteWgt').hide();"/> -->
							    




<!-- update=":altaManualConvocatoriaForm:panelDatosConvocatoria:tablaEntidadesOrdenantes" -->
