<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:h="http://java.sun.com/jsf/html"
     xmlns:p="http://primefaces.org/ui"
     xmlns:f="http://java.sun.com/jsf/core"
     xmlns:c="http://java.sun.com/jsp/jstl/core"
     xmlns:ui="http://java.sun.com/jsf/facelets">
     
    <p:dialog header="#{text['convocatorias.detalle.datosJerarquia.subtitulo']}" widgetVar="modalEidcionConvWgt"
              modal="true" resizable="true" position="top"
              showEffect="fade" hideEffect="fade" closeOnEscape="true" dynamic="true" height="750px" width="75%" >  
    
	    <h:panelGroup layout="block"  id="bloqueListaControlGastosConv">
	
		      <p:dataTable id="dataTable1" 
	                     var="bean"
	                     value="#{datosGeneralesConvocatoriasForm.listPlanInvestigacion}"
	                     paginator="true" rows="10" paginatorPosition="bottom"
	                     currentPageReportTemplate="{totalRecords} #{text['comunes.listado.registrosEncontrados']}, #{text['comunes.listado.visualizando']} {startRecord} #{text['comunes.listado.al']} {endRecord}"
	                     paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
	                     rowsPerPageTemplate="10,20,50,100,200"
	                     rowKey="#{bean.id}"
	                     selectionMode="single"
	                     tableStyle="table-layout:auto;width:100%;"
	                     emptyMessage="#{text['comunes.listado.noResultados']}">
	           
	            <p:ajax event="rowSelect" listener="#{datosGeneralesConvocatoriasForm.onRowSelect}" 
	             		onstart="mostrarPanelEnviando();" oncomplete="ocultarPanelEnviando();"
	             		update="#{paramFormIdPage}:contenidoDatosPlanSeleccionadoConv,#{paramFormIdPage}:niveles,#{paramFormIdPage}:subNiveles"/> 
	             		
	
	            
	            <!-- <p:ajax event="filter" listener="#{datosGeneralesConvocatoriasForm.resettreeTable}" update=":altaManualConvocatoriaForm:panelDatosConvocatoria:contenidoDatosPlanSeleccionadoConv"/> 
	            <p:ajax event="filter" listener="#{datosGeneralesConvocatoriasForm.resettreeTable}" update="#{paramFormIdPage}:contenidoDatosPlanSeleccionadoConv"/> -->
	
	            <p:column headerText="#{text['convocatoria.medioPublicacion.etiqueta']}" 
	            		  sortBy="#{bean.gestionEtiquetas.nombre}"
	                      filterBy="#{bean.gestionEtiquetas.nombre}"
	                      filterMatchMode="contains">
	                <h:outputText value="#{bean.gestionEtiquetas.nombre}" />
	            </p:column>
	            
	            <p:column headerText="#{text['convocatoria.medioPublicacion.nombre']}" 
	                      sortBy="#{bean.nombre}"
	                      filterBy="#{bean.nombre}"
	                      filterMatchMode="contains">
	                <h:outputText value="#{bean.nombre}" />
	            </p:column>
	            
	            <p:column headerText="#{text['planesInvestigacion.ambito.geo']}" 
	                      sortBy="#{bean.ambitoGeografico.nombre}"
	                      filterBy="#{bean.ambitoGeografico.nombre}"
	                      filterMatchMode="contains"> 
	                <h:outputText value="#{bean.ambitoGeografico.nombre}" />
	            </p:column>                   
	
	        </p:dataTable>
	    </h:panelGroup>
    
	    <br></br>
	    <br></br>
        
    <ui:include src="bloquePlanInvestConvocatoria.xhtml">
   

   	
    	
    </ui:include>
    		
	</p:dialog>
  
</div>