<ui:composition xmlns="http://www.w3.org/1999/xhtml"   
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core">



    <h:panelGroup id="bloqueResumenDetallePlan"> 
		
        <p:tree value="#{paramForm.root}" style="width:100%;height:100%;border-width:0;" var="node"  dynamic="true">
            <p:treeNode expandedIcon="ui-icon-folder-open" collapsedIcon="ui-icon-folder-collapsed">
                <h:outputText value="#{node}" />
            </p:treeNode>
        </p:tree>    
                         
            <br></br>
            <h:panelGroup class="lblResumenProyecto" layout="block" rendered="#{not empty paramForm.jerarquiaSeleccionada.descripcion}">
                <div class="masInfoDescrip">#{text['planesInvestigacion.descripcion']}</div>
                <div style="border-bottom:1px solid #369;margin-top:5px;margin-bottom:5px"/>
            </h:panelGroup>
           

            <br/>
     
    </h:panelGroup>

</ui:composition>
