<ui:composition xmlns="http://www.w3.org/1999/xhtml"   
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">
   
 
	
	    <p:panelGrid styleClass="noBorders" columns="2">
	    
        <h:panelGroup styleClass="left">
       
         	<p:panelGrid columns="2" styleClass="noBorders" columnClasses="alineacionIzq,alineacionIzq" >
			
			   	<p:outputLabel styleClass="lblResumenProyecto" value="#{text['convocatoria.resumen.nombre']}"/>                   
                  <h:outputText value="#{paramForm.nombre}"/>  

			    <p:outputLabel styleClass="lblResumenProyecto" value="#{text['convocatoria.resumen.tipo.medio']}"/>                   
                  <h:outputText value="#{paramForm.acronimo}"/>  
                 
				<p:outputLabel styleClass="lblResumenProyecto" value="#{text['convocatoria.resumen.fecha']}"/> 
				    <h:outputText value="#{paramForm.f_baja}"/>   
					 
				<p:outputLabel styleClass="lblResumenProyecto" value="#{text['convocatoria.resumen.url']}"/>
				     <h:outputText value="#{paramForm.url}"/>  

	

			 </p:panelGrid>	
		
		
	</h:panelGroup>
	</p:panelGrid>
	
	    
 	
		
</ui:composition>
