
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core">

	<style>
.datosInputPlanIn {
	padding-bottom: 8px;
	font-size: 1.1em;
	margin-left: 30px;
	float: left;
}

.datosLabelPlanIn {
	margin-left: 2px;
	width: 140px;
	float: left;
	color: #464F56;
	font-weight: bold;
	padding-bottom: 8px;
	font-size: 1.1em;
}

.preformatted {
	white-space: pre-wrap;
}

.pruebaClass {
	white-space: pre-wrap;
}
</style>




	<p:panelGrid styleClass="noBorders" columns="2">
		<h:panelGroup styleClass="left">


			<p:panelGrid columns="2" styleClass="noBorders"	columnClasses="alineacionIzq,alineacionIzq">

				<p:outputLabel styleClass="lblResumenProyecto"	value="#{text['convocatoria.resumen.anio.convocatoria']}" />
				<h:outputText	value="#{paramForm.annio}" />

				<p:outputLabel styleClass="lblResumenProyecto"	value="#{text['convocatoria.resumen.referencia']}" />
				<h:outputText styleClass="alineacionIzq" value=" " />

				<p:outputLabel styleClass="lblResumenProyecto"	value="#{text['convocatoria.resumen.nombre']}" />
				<h:outputText	value="#{paramForm.nombre}" />


				<p:outputLabel styleClass="lblResumenProyecto"	value="#{text['convocatoria.resumen.nombre.corto']}" />
				<h:outputText	value="#{paramForm.nombreCorto}" />


				<!-- <p:outputText styleClass="alineacionIzq" value="#{}"/> -->
				<p:outputLabel styleClass="lblResumenProyecto"
					value="#{text['convocatoria.resumen.codigo.bdc']}" />
				<h:outputText	value="#{paramForm.codBdc}" />


				<p:outputLabel styleClass="lblResumenProyecto"
					value="#{text['convocatoria.resumen.acronimo']}" />
				<h:outputText
					value="#{paramForm.acronimo}" />

				<p:outputLabel styleClass="lblResumenProyecto"
					value="#{text['convocatoria.resumen.fechas']}" />

				
				 <h:panelGroup layout="block" styleClass="labelDiv">
				   <fieldset>
					<h:panelGrid columns="4" style="text-align:center">
					
					 <h:column>
						<h:outputLabel value="#{text['convocatoria.datosGenerales.fecIniSolicitud']}" styleClass="lblResumenProyecto"/>
						<br>
						<h:outputText value="#{paramForm.fechaInicioSolicitud}" />
						</br>
					</h:column>
					<h:column>
						<h:outputLabel value="#{text['convocatoria.datosGenerales.fecFinSolicitud']}" styleClass="lblResumenProyecto"/>
						<br>
						<h:outputText styleClass="alineacionIzq" value="#{paramForm.fechaFinSolicitud}" />
						</br>
					</h:column>
					<h:column>
						<h:outputLabel value="#{text['convocatoria.datosGenerales.fecPublicacion']}" styleClass="lblResumenProyecto"/>
						<br>
						<h:outputText styleClass="alineacionIzq" value="#{paramForm.fechaPublicacion}" />
						</br>
					</h:column>
					<h:column>

						<h:outputLabel
							value="#{text['convocatoria.datosGenerales.fecResolucion']}" styleClass="lblResumenProyecto"/>

						<br>
						<h:outputText styleClass="alineacionIzq" value="#{paramForm.fechaResolucion}" />

						</br>
					</h:column>
					</h:panelGrid>
					</fieldset>
					</h:panelGroup>
					
					<p:outputLabel styleClass="lblResumenProyecto" value="#{text['convocatoria.resumen.descripcion']}" />
					<h:outputText value="#{paramForm.descripcion}" />
					
					
					
<!-- 				</h:panelGrid> -->


			</p:panelGrid>
		</h:panelGroup>


	</p:panelGrid>
<!-- 	<h:panelGroup styleClass="left"> -->

<!-- 		<h:panelGrid columns="2" columnClasses="alineacionIzq,alineacionIzq"> -->
<!-- 			<p:outputLabel styleClass="lblResumenProyecto" -->
<!-- 				value="#{text['convocatoria.resumen.descripcion']}" /> -->
<!-- 			<h:outputText -->
<!-- 				value="#{resumenConvocatoriasForm.convocatoriaSeleccionada.descripcion}" /> -->

<!-- 		</h:panelGrid> -->
<!-- 	</h:panelGroup> -->




</ui:composition>
