<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	template="/templates/defaultPage.xhtml">

	<h:panelGroup id="resumenLargoConvocatorias" >
			
			<ui:include src="../incl/mensajes.xhtml"/>  
           
        	<h:panelGroup layout="block">
	    		<ui:include src="../incl/navegacionGestayu.xhtml">
			            <ui:param name="paramForm" value="#{resumenLargoConvocatoriasForm.convocatoriaSeleccionada}" />
			            <ui:param name="idConvocatoria" value="#{resumenLargoConvocatoriasForm.idConvocatoria}" />
			            <ui:param name="optionSelected" value="resumen" />
	    		</ui:include>
    		
    		
        	
        		
    		</h:panelGroup>
			
			<h:panelGroup layout="block" style="margin-top:5px;" id="incluye">

				<p:accordionPanel>
					<p:tab title="#{text['convocatoria.datosGenerales.resumen']}">
						<p:fieldset legend="#{text['convocatoria.datosGenerales.titulo']}"	style="margin-bottom:20px">
							<ui:include src="resumenDatosGeneralesConvocatoria.xhtml" >
							<ui:param name="paramForm" value="#{resumenLargoConvocatoriasForm.convocatoriaSeleccionada}"/>
							</ui:include>
						</p:fieldset>

						<p:fieldset legend="#{text['convocatoria.resumen.jerarquia']}"	style="margin-bottom: 20px">
							<ui:include src="resumenJerarquiaConvocatoria.xhtml">
							<ui:param name="paramForm" value="#{resumenLargoConvocatoriasForm}"/>
							</ui:include>
						
						</p:fieldset>

						<p:fieldset	legend="#{text['convocatoria.resumen.datos.publicacion']}" style="margin-bottom: 20px">
							<ui:include src="resumenDatosPublicacionConvocatoria.xhtml" >
							<ui:param name="paramForm" value="#{resumenLargoConvocatoriasForm.convocatoriaSeleccionada.medioPublicacion}"/>
							</ui:include>
						</p:fieldset>

						<p:fieldset legend="#{text['convocatoria.resumen.datos.complementarios']}" style="margin-bottom:20px">
							<ui:include src="resumenDatosComplementariosConvocatoria.xhtml" />
						</p:fieldset>
						
						<p:fieldset	legend="#{text['convocatoria.resumen.clasificacion']}" style="margin-bottom:20px">
							<ui:include src="resumenClasificacionConvocatoria.xhtml">
							<ui:param name="paramForm" value="#{resumenLargoConvocatoriasForm.convocatoriaSeleccionada}"/>
							</ui:include>
						</p:fieldset>
					</p:tab>
				</p:accordionPanel>

			</h:panelGroup>
	</h:panelGroup>

</ui:composition>