<ui:composition xmlns="http://www.w3.org/1999/xhtml"   
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">
   
  <h:panelGroup>
	
	     <p:panelGrid styleClass="noBorders" columns="2">
	     
        <h:panelGroup styleClass="left">
         	<p:panelGrid columns="2" styleClass="noBorders" columnClasses="alineacionIzq,alineacionIzq" >
			
			   	<p:outputLabel styleClass="lblResumenProyecto" value="#{text['convocatoria.resumen.agrupacion.ayudas']}"/>                   
                 <h:outputText styleClass="alineacionIzq" value="#{paramForm.agrupacion.nombre}"/> 

			    <p:outputLabel styleClass="lblResumenProyecto" value="#{text['convocatoria.resumen.tipo.ayuda']}"/>                   
                 <h:outputText styleClass="alineacionIzq" value=""/> 
                 
				<p:outputLabel styleClass="lblResumenProyecto" value="#{text['convocatoria.resumen.clasificacion']}"/>
			 	<h:outputText styleClass="alineacionIzq" value=""/> 
					 
				<p:outputLabel styleClass="lblResumenProyecto" value="#{text['convocatoria.resumen.accion']}"/>
				 <h:outputText styleClass="alineacionIzq" value=""/> 

				<p:outputLabel styleClass="lblResumenProyecto" value="#{text['convocatoria.resumen.ambito.geografico']}"/>
				 <h:outputText styleClass="alineacionIzq" value=""/> 
	
			 </p:panelGrid>	 
	
		
	</h:panelGroup>
	</p:panelGrid>
	</h:panelGroup>
	
	    
 	
		
</ui:composition>
