<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core">


	<h:panelGroup id="resumenCortoConvocatorias">

		<h:panelGroup layout="block"   rendered ="#{resumenConvocatoriasForm.mostrarResumen}">
			<h:panelGroup layout="block" style="margin-top:5px;" id="incluye">				

				<p:accordionPanel>			
				
					<p:tab title="#{text['convocatoria.datosGenerales.resumen']}">
						<h:panelGroup layout="block" styleClass="botonera_new"	style="float:right;">
						
							
					 	<p:button  href="/pages/convocatorias/resumenLargoConvocatorias.html?idConvocatoria=#{resumenConvocatoriasForm.idConvocatoria}" style="float: right;margin-bottom:20px;" icon="silk-icon-add" value="Editar convocatoria" /> 
						</h:panelGroup>
					    <br></br>
					     <div class="clear"/>
						<p:fieldset legend="#{text['convocatoria.datosGenerales.titulo']}"
							style="margin-bottom:20px">

							<ui:include src="resumenDatosGeneralesConvocatoria.xhtml" >
							<ui:param name="paramForm" value="#{resumenConvocatoriasForm.convocatoriaSeleccionada}"/>
							</ui:include>
						</p:fieldset>

						<p:fieldset legend="#{text['convocatoria.resumen.jerarquia']}"
							style="margin-bottom: 20px">

							<ui:include src="resumenJerarquiaConvocatoria.xhtml" >
							<ui:param name="paramForm" value="#{resumenConvocatoriasForm}"/>
							</ui:include>
						</p:fieldset>

						
					</p:tab>
				</p:accordionPanel>

			</h:panelGroup>


		</h:panelGroup>

	</h:panelGroup>
	

</ui:composition>