<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

	<h:panelGroup>

		<p:panelGrid styleClass="noBorders" columns="2">

			<h:panelGroup styleClass="left">
				<p:panelGrid columns="2" styleClass="noBorders"
					columnClasses="alineacionIzq,alineacionIzq">

					<p:outputLabel styleClass="lblResumenProyecto"
						value="#{text['convocatoria.resumen.unidad.responsable']}" />
					   <h:outputText styleClass="alineacionIzq" value=""/>

					<p:outputLabel styleClass="lblResumenProyecto"
						value="#{text['convocatoria.resumen.entidad.convocante']}" />
					  <h:outputText styleClass="alineacionIzq" value=""/> 

					<p:outputLabel styleClass="lblResumenProyecto"
						value="#{text['convocatoria.resumen.entidades.financiadoras']}" />
					<h:outputText styleClass="alineacionIzq" value=""/> 

					<p:outputLabel styleClass="lblResumenProyecto"
						value="#{text['convocatoria.resumen.marcas.fondos.financiacion']}" />
					 <h:outputText styleClass="alineacionIzq" value=""/> 

					<p:outputLabel styleClass="lblResumenProyecto"
						value="#{text['convocatoria.resumen.gastos.elegibles']}" />
					 <h:outputText styleClass="alineacionIzq" value=""/> 

					<p:outputLabel styleClass="lblResumenProyecto"
						value="#{text['convocatoria.resumen.cofinanciacion.csic']}" />
					 <h:outputText styleClass="alineacionIzq" value=""/> 

					<p:outputLabel styleClass="lblResumenProyecto"
						 value="#{text['convocatoria.resumen.cod.convenio']}" />
					 	<h:outputText styleClass="alineacionIzq" value=""/> 

					<p:outputLabel styleClass="lblResumenProyecto"
						value="#{text['convocatoria.resumen.titulo.convenio']}" />
					 	<h:outputText styleClass="alineacionIzq" value=""/>

				</p:panelGrid>


			</h:panelGroup>
		</p:panelGrid>
	</h:panelGroup>



</ui:composition>
