<ui:composition xmlns="http://www.w3.org/1999/xhtml"   
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/templates/defaultPage.xhtml">
    
    <ui:define name="title">#{text['comunes.aplicacion.nombre']} - #{text['administracion.gestionEtiquetas.titulo']}</ui:define>
    <ui:define name="tabs">
        <li><a id="tab_selected" href="#">#{text['administracion.gestionEtiquetas.titulo']}</a></li>
    </ui:define>

    <h:form id="administracionGestionEtiquetas">

        <h:panelGroup>
		  	<h:panelGroup  style="float: left;margin-bottom:6px">
		   		<ui:include src="panelAdministracion.xhtml"/>
		   	</h:panelGroup>
		</h:panelGroup>
       
        <ui:include src="../incl/mensajes.xhtml"/>
        
        <div class="clear"/>
	    <h:panelGroup>
	    	<h:outputLabel style="color: #00008B; font-weight:bold;font-size: 1.4em" value="#{text['administracion.gestionEtiquetas.titulo']}"/>  
	 		<hr style=" background-color: #00008B; height: 3px;"/>
		</h:panelGroup>
 		<br/>  
            
		<p:commandButton id="alta" value="#{text['administracion.gestionEtiquetas.nuevaEtiqueta']}" icon="silk-icon-add" update=":administracionGestionEtiquetas:edicion "
						 action="#{adminGestionEtiquetasForm.cleanEtiqueta}" oncomplete="javascript:PF('edicionWdgtVar').show()"/>
						 
		<p:commandButton id="refrescar" value="Refrescar tabla" icon="silk-icon-arrow-refresh" style="float:right"
						 update=":administracionGestionEtiquetas:tablaContenidoEtiquetas " action="#{adminGestionEtiquetasForm.init}" />				 
		<br/><br/>
	 	 <h:panelGroup id="tablaContenidoEtiquetas">
			<p:dataTable id="tablaBloqueEtiquetas" var="etiqueta" 
	                     emptyMessage="#{text['administracion.gestionEtiquetas.noEtiquetas']}"
	                     value="#{adminGestionEtiquetasForm.listEtiquetas}">
	                
		        <!--<p:column sortBy="#{etiqueta.id}" headerText="#{text['administracion.gestionEtiquetas.id']}" style="width:5%;">
		            <h:outputText value="#{etiqueta.id}" />
		        </p:column>-->
		        <p:column sortBy="#{etiqueta.nombre}" headerText="#{text['administracion.gestionEtiquetas.nombre']}" style="width:25%;">
		            <h:outputText value="#{etiqueta.nombre}"/>
		        </p:column>
		        <p:column sortBy="#{etiqueta.nombre_corto}" headerText="#{text['administracion.gestionEtiquetas.nombre_corto']}" style="width:15%;">
		            <h:outputText value="#{etiqueta.nombre_corto}"/>
		        </p:column>
		        <p:column sortBy="#{etiqueta.acronimo}" headerText="#{text['administracion.gestionEtiquetas.acronimo']}" style="width:10%;">
		            <h:outputText value="#{etiqueta.acronimo}"/>
		        </p:column>
		        <p:column  headerText="#{text['administracion.gestionEtiquetas.nivel1']}" style="width:8%;">
		            <div align="center">
		            	<h:outputText value="#{etiqueta.sw_nivel1}" styleClass="ui-icon silk-icon-accept" rendered="#{etiqueta.sw_nivel1 eq 'true'}" />
		            	<h:outputText value="#{etiqueta.sw_nivel1}" styleClass="ui-icon silk-icon-cross"  rendered="#{etiqueta.sw_nivel1 eq 'false'}" />
		            </div>
		        </p:column>
		         <p:column headerText="#{text['administracion.gestionEtiquetas.nivel2']}" style="width:8%;">
		            <div align="center">
		            	<h:outputText value="#{etiqueta.sw_nivel2}" styleClass="ui-icon silk-icon-accept" rendered="#{etiqueta.sw_nivel2 eq 'true'}" />
		            	<h:outputText value="#{etiqueta.sw_nivel2}" styleClass="ui-icon silk-icon-cross"  rendered="#{etiqueta.sw_nivel2 eq 'false'}" />
		            </div>
		        </p:column>
		         <p:column headerText="#{text['administracion.gestionEtiquetas.nivel3']}" style="width:8%;">
		            <div align="center">
		            	<h:outputText  value="#{etiqueta.sw_nivel3}" styleClass="ui-icon silk-icon-accept" rendered="#{etiqueta.sw_nivel3 eq 'true'}" />
		            	<h:outputText  value="#{etiqueta.sw_nivel3}" styleClass="ui-icon silk-icon-cross"  rendered="#{etiqueta.sw_nivel3 eq 'false'}" />
		            </div>
		        </p:column>
		         <p:column headerText="#{text['administracion.gestionEtiquetas.nivel4']}" style="width:8%;">
		            <div align="center">
		            	<h:outputText value="#{etiqueta.sw_nivel4}" styleClass="ui-icon silk-icon-accept" rendered="#{etiqueta.sw_nivel4 eq 'true'}" />
		            	<h:outputText value="#{etiqueta.sw_nivel4}" styleClass="ui-icon silk-icon-cross"  rendered="#{etiqueta.sw_nivel4 eq 'false'}" />
		            </div>
		        </p:column>
		         <p:column headerText="#{text['administracion.gestionEtiquetas.nivel5']}" style="width:8%;">
		            <div align="center">
		            	<h:outputText value="#{etiqueta.sw_nivel5}" styleClass="ui-icon silk-icon-accept" rendered="#{etiqueta.sw_nivel5 eq 'true'}" />
		            	<h:outputText value="#{etiqueta.sw_nivel5}" styleClass="ui-icon silk-icon-cross"  rendered="#{etiqueta.sw_nivel5 eq 'false'}" />
		            </div>
		        </p:column>
	
		       <p:column style="width:6%;text-align:center;" headerText="Acción">
		       		<h:panelGroup style="float:left;margin-left:10px">
	                	<p:commandLink  oncomplete="javascript:PF('edicionWdgtVar').show()"  title="Editar" styleClass="ui-icon silk-icon-pencil" 
	                					update=":administracionGestionEtiquetas:edicion " >
	                    	<f:setPropertyActionListener value="#{etiqueta}" target="#{adminGestionEtiquetasForm.etiquetaGestionada}" />
	                    </p:commandLink>
	          	 	</h:panelGroup>
	           		<h:panelGroup style="float:left;margin-left:10px">   
	                	<p:commandLink  oncomplete="javascript:PF('borrarWdgtVar').show()"  title="Eliminar" styleClass="ui-icon silk-icon-delete" 
	                					update=":administracionGestionEtiquetas:tablaContenidoEtiquetas " >
	                    	<f:setPropertyActionListener value="#{etiqueta}" target="#{adminGestionEtiquetasForm.etiquetaGestionada}" />
	                    </p:commandLink>
	               </h:panelGroup>
		       </p:column>
		       
			</p:dataTable>
		</h:panelGroup>
		
<!-- ventana modal BORRAR   -->

		<p:dialog id="borrado" header="#{text['administracion.gestionEtiquetas.borrarEtiqueta']}" modal="true" widgetVar="borrarWdgtVar" resizable="false" width="300" height="100"
                showEffect="fade" hideEffect="fade" closeOnEscape="true">
	    	<h:panelGrid id="borrarEtiqueta" columns="12" cellpadding="4">  
	    		<h:outputText  value="#{text['administracion.gestionEtiquetas.borrar']}" /> 
	        </h:panelGrid>
	        <br></br>
	        <h:panelGrid style="float: center">  
	            <f:facet name="footer">
	                <p:commandButton id="cancelarBorrado"  icon="silk-icon-cancel" value="#{text['button.cancel']}"  
	                        update=":administracionGestionEtiquetas:mensajes" oncomplete="javascript:PF('borrarWdgtVar').hide();"/>
	                <p:commandButton id="aceptarBorrado" actionListener="#{adminGestionEtiquetasForm.eliminarEtiqueta}" icon="silk-icon-accept" value="#{text['button.accept']}"  
	                        update=":administracionGestionEtiquetas:tablaContenidoEtiquetas :administracionGestionEtiquetas:mensajes" oncomplete="javascript:PF('borrarWdgtVar').hide();"/>
	            </f:facet>
	        </h:panelGrid>
	    </p:dialog>
 
 <!-- ventana modal EDICION   -->         
 
 
        <p:dialog id="edicion" header="#{text['administracion.gestionEtiquetas.edicionEtiqueta']}" modal="true" widgetVar="edicionWdgtVar" resizable="false" width="800" height="170"
                showEffect="fade" hideEffect="fade" closeOnEscape="true">
	        <h:panelGrid id="edicionEtiqueta" columns="6" cellpadding="4">  
	            
	            <h:outputLabel for="nombre" styleClass="negrita" value="#{text['administracion.gestionEtiquetas.nombre']}:" />  
	            <h:inputText id="nombre" styleClass="large" value="#{adminGestionEtiquetasForm.etiquetaGestionada.nombre}"  /> 
	            
	            <h:outputLabel for="nombre_corto" styleClass="negrita" value="#{text['administracion.gestionEtiquetas.nombre_corto']}:" />  
	            <h:inputText id="nombre_corto" styleClass="large" value="#{adminGestionEtiquetasForm.etiquetaGestionada.nombre_corto}"  /> 
	            
	            <h:outputLabel for="acronimo" styleClass="negrita" value="#{text['administracion.gestionEtiquetas.acronimo']}:" />  
	            <h:inputText id="acronimo" styleClass="large" value="#{adminGestionEtiquetasForm.etiquetaGestionada.acronimo}"  /> 
	         </h:panelGrid>
	         
	         <div class="clear"/>
			 <br></br>
	         <h:panelGrid id="edicionEtiqueta2" columns="10" cellpadding="4"> 
	             
 	            <h:outputLabel for="nivel1" styleClass="negrita" value="#{text['administracion.gestionEtiquetas.nivel1']}:" />
	            <p:selectBooleanCheckbox value="#{adminGestionEtiquetasForm.etiquetaGestionada.sw_nivel1}" />
	            
	            <h:outputLabel for="nivel2" styleClass="negrita" value="#{text['administracion.gestionEtiquetas.nivel2']}:" /> 
	            <p:selectBooleanCheckbox value="#{adminGestionEtiquetasForm.etiquetaGestionada.sw_nivel2}" />
	            
	            <h:outputLabel for="nivel3" styleClass="negrita" value="#{text['administracion.gestionEtiquetas.nivel3']}:" /> 
	            <p:selectBooleanCheckbox value="#{adminGestionEtiquetasForm.etiquetaGestionada.sw_nivel3}" />
	            
	            <h:outputLabel for="nivel4" styleClass="negrita" value="#{text['administracion.gestionEtiquetas.nivel4']}:" />  
	            <p:selectBooleanCheckbox value="#{adminGestionEtiquetasForm.etiquetaGestionada.sw_nivel4}" />
	            
	            <h:outputLabel for="nivel5" styleClass="negrita" value="#{text['administracion.gestionEtiquetas.nivel5']}:" />    
				<p:selectBooleanCheckbox value="#{adminGestionEtiquetasForm.etiquetaGestionada.sw_nivel5}" />
				
	        </h:panelGrid>
	        
	        <h:panelGrid style="float: right">  
	            <f:facet name="footer">
	                <p:commandButton id="cancelarEdicion"  icon="silk-icon-cancel" value="#{text['button.cancel']}"  
	                        update=":administracionGestionEtiquetas:mensajes" oncomplete="javascript:PF('edicionWdgtVar').hide();"/>
	                <p:commandButton id="aceptarEdicion" actionListener="#{adminGestionEtiquetasForm.guardarEtiqueta}" icon="silk-icon-accept" value="#{text['button.accept']}"  
	                        update=":administracionGestionEtiquetas:tablaContenidoEtiquetas :administracionGestionEtiquetas:mensajes" oncomplete="javascript:PF('edicionWdgtVar').hide();"/>
	            </f:facet>
	        </h:panelGrid>
		</p:dialog>   
		                    
 
        <ui:include src="../incl/capaWaitP.xhtml"/>
        
    </h:form>

</ui:composition>