<ui:composition xmlns="http://www.w3.org/1999/xhtml"   
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/templates/defaultPage.xhtml">
                    
        <ui:define name="title">#{text['comunes.aplicacion.nombre']} - #{text['tablasMaestras.titulo']}</ui:define>
    	<ui:define name="tabs">
        	<li><a id="tab_selected" href="#">#{text['tablasMaestras.titulo']}</a></li>
    	</ui:define>



        <h:form id="adminTablasMaestras">
        
            <h:panelGroup>
				<h:panelGroup  style="float: left;margin-bottom:6px">
			   		<ui:include src="panelAdministracion.xhtml"/>
			   	</h:panelGroup>
			</h:panelGroup>
       
        	<ui:include src="../incl/mensajes.xhtml"/>
        
        <div class="clear"/>
	    <ui:include src="../incl/incVolver.xhtml">
            <ui:param name="titulo" value="#{text['tablasMaestras.titulo']}" />
        </ui:include>

            <h:panelGroup id="panelMaestTablasFuera" layout="block" style="margin-top:45px;">		 

                <h:panelGroup id="panelMaestTablas" layout="block" style="margin-left:5px;width:25%;float:left">		 		                        
                    <p:dataTable 
                        id="tablaMaestPrincipal" 
                        var="tablasVar" 
                        value="#{adminMaestrasGenForm.tablasMaestras}"
                        selection="#{adminMaestrasGenForm.tablaMaestraSelect}" 
                        selectionMode="single" 	
                        rowKey="#{tablasVar}">  							 
                        <p:ajax event="rowSelect" listener="#{adminMaestrasGenForm.onRowSelectTablasMaestras}" update=":adminTablasMaestras:tablaMostrar"/> 
                        <p:column headerText="#{text['tablasMaestras.familia']}">
                            <h:outputText value="#{tablasVar.familia}" />
                        </p:column>		      	
                        <p:column width="50%" headerText="#{text['tablasMaestras.titulo']}">
                            <h:outputText value="#{tablasVar.tituloClase}" />
                        </p:column>		      	
                        <p:column headerText="#{text['tablasMaestras.gestor']}">
                            <h:outputText value="#{tablasVar.gestor}" />
                        </p:column>		      	
                    </p:dataTable>

                </h:panelGroup> 


                <h:panelGroup id="tablaMostrar" layout="block" style="width:70%;float:right">
                    <h:panelGroup id="maestrasAmbitosGeograficos" layout="block" >
                        <ui:include src="maestras/listValoresTablaMaestraGen.xhtml"/>
                    </h:panelGroup>			                
                </h:panelGroup>
                <div class="clearboth"/>     
            </h:panelGroup>
            <div class="clearboth"/>

        </h:form>

        <h:form>
            <ui:include src="../incl/capaWaitP.xhtml"/>
        </h:form>

        <!-- <script type="text/javascript">
            $(document).ready(function() {
            	
                $(document).keydown(function(event){
                    if(event.keyCode == 13) {
                        event.preventDefault();                       
                        return false;
                    }
                });
                   
            });
             
        </script> -->

    </ui:composition>
