<ui:composition xmlns="http://www.w3.org/1999/xhtml"   
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/templates/defaultPage.xhtml">
    
    <ui:define name="title">#{text['comunes.aplicacion.nombre']} - #{text['administracion.mensajesAyuda.titulo']}</ui:define>
    <ui:define name="tabs">
        <li><a id="tab_selected" href="#">#{text['administracion.mensajesAyuda.titulo']}</a></li>
    </ui:define>

    <h:form id="administracionMensajesAyuda">

        <h:panelGroup>
			<h:panelGroup style="float: right;margin-bottom:6px">
				<ui:include src="./incl/botonera_adminMensajes.xhtml"/>
		    </h:panelGroup>
		  	<h:panelGroup  style="float: left;margin-bottom:6px">
		   		<ui:include src="panelAdministracion.xhtml"/>
		   	</h:panelGroup>
		</h:panelGroup>
       
        <ui:include src="../incl/mensajes.xhtml"/>
        
        <div class="clear"/>
	    <h:panelGroup>
	    	<h:outputLabel style="color: #00008B; font-weight:bold;font-size: 1.4em" value="#{text['menu.admin.mensajesAyuda']}"/>  
	 		<hr style=" background-color: #00008B; height: 3px;"/>
		</h:panelGroup>
 		<br/>  
            
		<p:commandButton id="alta" actionListener="#{adminMensajesForm.resetMensaje}" update=":administracionMensajesAyuda:contenidoDialogo" 
                         value="#{text['administracion.mensajesAyuda.nuevoMensaje']}" icon="silk-icon-add" oncomplete="javascript:PF('edicionWdgtVar').show()"/>
		<br/><br/>
		<p:dataTable id="tablaBloqueMensajesAyuda" var="mensaje" 
                     emptyMessage="#{text['administracion.mensajesAyuda.noMensajes']}"
                     value="#{adminMensajesForm.mensajeAyudaDataModel}">
                
	        <p:column sortBy="#{mensaje.orden}" headerText="#{text['administracion.mensajesAyuda.orden']}" style="width:40px;">
	            <h:outputText value="#{mensaje.orden}" rendered="#{mensaje.orden ne null}"/>
	            <h:outputText value="" rendered="#{mensaje.orden eq null}"/>
	        </p:column>
	        <p:column sortBy="#{mensaje.id}" headerText="#{text['administracion.mensajesAyuda.id']}" style="width:40px;">
	            <h:outputText value="#{mensaje.id}"/>
	        </p:column>
	        <p:column sortBy="#{mensaje.funcionalidad}" headerText="#{text['administracion.mensajesAyuda.funcionalidad']}" style="width:15%;">
	            <h:outputText value="#{mensaje.funcionalidad}"/>
	        </p:column>
	        <p:column sortBy="#{mensaje.observaciones}" headerText="#{text['administracion.mensajesAyuda.observaciones']}" style="width:20%;">
	            <h:outputText value="#{mensaje.observaciones}"/>
	        </p:column>
	        <p:column sortBy="#{mensaje.texto}" headerText="#{text['administracion.mensajesAyuda.texto']}">
	            <h:outputText value="#{mensaje.texto}" escape="false"/>
	        </p:column>
	        <p:column style="width:30px;">
	            <p:tooltip for="editarMensaje" value="#{text['conciencia.detalle']}" showEffect="fade" hideEffect="fade" />
	            <p:commandButton id="editarMensaje" icon="silk-icon-find" update=":administracionMensajesAyuda:contenidoDialogo" oncomplete="javascript:PF('edicionWdgtVar').show()">
	                <f:setPropertyActionListener value="#{mensaje}" target="#{adminMensajesForm.mensajeAyudaSeleccionado}" />  
	                <f:setPropertyActionListener value="false" target="#{adminMensajesForm.alta}" />
	            </p:commandButton>
	        </p:column>
		</p:dataTable>
            
        <p:dialog id="edicion" header="#{text['administracion.mensajesAyuda.mensaje']}" modal="true" widgetVar="edicionWdgtVar" resizable="false" width="1500" height="800"
                showEffect="fade" hideEffect="fade" closeOnEscape="true">
	        <h:panelGrid id="contenidoDialogo" columns="2" cellpadding="4">  
	            <h:outputLabel for="id" styleClass="negrita" value="#{text['administracion.mensajesAyuda.id']}:" />  
	            <h:inputText id="id" styleClass="small" value="#{adminMensajesForm.mensajeAyudaSeleccionado.id}" readonly="#{adminMensajesForm.mensajeAyudaSeleccionado.id != null}" /> 
	            
	            <h:outputLabel for="orden" styleClass="negrita" value="#{text['administracion.mensajesAyuda.orden']}:" />  
	            <h:inputText id="orden" styleClass="small" value="#{adminMensajesForm.mensajeAyudaSeleccionado.orden}" />
	            
	            <h:outputLabel for="funcionalidad" styleClass="negrita" value="#{text['administracion.mensajesAyuda.funcionalidad']}:" />  
	            <h:inputText id="funcionalidad" styleClass="big" value="#{adminMensajesForm.mensajeAyudaSeleccionado.funcionalidad}" />
	            
	            <h:outputLabel for="observaciones" styleClass="negrita" value="#{text['administracion.mensajesAyuda.observaciones']}:" />  
	            <h:panelGroup layout="block">
	                <h:inputText id="observaciones" styleClass="big" value="#{adminMensajesForm.mensajeAyudaSeleccionado.observaciones}" />
	                <h:outputText value="#{adminMensajesForm.mensajeBloqueoAppAyuda}" rendered="#{adminMensajesForm.renderMensajeBloqueoAppAyuda}"/>
	            </h:panelGroup>
	            
	            <h:outputLabel for="texto" value="#{text['administracion.mensajesAyuda.texto']}:" styleClass="negrita"/>
	            <p:editor id="texto" height="630" width="1300" value="#{adminMensajesForm.mensajeAyudaSeleccionado.texto}"/>
	        </h:panelGrid>
	        <h:panelGrid style="float: right">  
	            <f:facet name="footer">
	                <p:commandButton id="cancelar" actionListener="#{adminMensajesForm.resetMensaje}" icon="silk-icon-cancel" value="#{text['button.cancel']}"  
	                        update=":administracionMensajesAyuda:contenidoDialogo :administracionMensajesAyuda:mensajes" oncomplete="javascript:PF('edicionWdgtVar').hide();"/>
	                <p:commandButton id="aceptar" actionListener="#{adminMensajesForm.agregarMensaje}" icon="silk-icon-accept" value="#{text['button.accept']}"  
	                        update=":administracionMensajesAyuda:tablaBloqueMensajesAyuda :administracionMensajesAyuda:mensajes" oncomplete="javascript:PF('edicionWdgtVar').hide();"/>
	            </f:facet>
	        </h:panelGrid>
		</p:dialog>                      

        <ui:include src="./incl/botonera_adminMensajes.xhtml"/>
    
        <ui:include src="../incl/capaWaitP.xhtml"/>
        
    </h:form>

</ui:composition>