<ui:composition xmlns="http://www.w3.org/1999/xhtml"   
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">
    	            
    <h:panelGroup layout="block" styleClass="homeAdministracion" rendered="#{gestionRolesSesion.autorizaciones.administracion}">
        <p:commandButton id="menuAdmin" value="#{text['home.administracion']}" type="button" icon="silk-icon-cog"/>
        <p:menu overlay="true" trigger="menuAdmin" my="left top" at="left bottom"  styleClass="rojo" style="width:250px">
            <p:menuitem value="#{text['menu.admin.indice']} (FALTA)"/>
            <p:menuitem value="#{text['menu.admin.indexarProyecto']} (FALTA)"/>
            <p:menuitem value="#{text['menu.admin.mensajesAyuda']}" url="/pages/administracion/mensajesAyuda.html"/>
            <p:menuitem value="#{text['menu.admin.tablasMaestras']}" url="/pages/administracion/listaGenMaestras.html"/>
            <p:menuitem value="#{text['menu.admin.cucumber']}" url="/pages/administracion/cucumber/cucumberRolesHome.html"/>
            <p:menuitem value="#{text['menu.admin.gestionEtiquetas']}" url="/pages/administracion/gestionEtiquetas.html"/>                                                           
        </p:menu>
    </h:panelGroup>
    
</ui:composition>