<ui:composition xmlns="http://www.w3.org/1999/xhtml"   
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/templates/defaultPage.xhtml">
    
    <ui:define name="title">#{text['comunes.aplicacion.nombre']} - #{text['tablasMaestras.titulo']}</ui:define>
    <ui:define name="tabs">
        <li><a id="tab_selected" href="#">#{text['tablasMaestras.titulo']}</a></li>
    </ui:define>



    <h:form id="adminTablasMaestras">
         <p:growl id="growl" /> 
         
         <ui:include src="panelAdministracion.xhtml"/>
              
        <h:panelGroup layout="block">
            <ui:include src="../incl/mensajes.xhtml"/>
         </h:panelGroup>
      
        
         <h:panelGroup id="panelMaestTablasFuera" layout="block" style="margin-top:45px;">		 
	         
		        <h:panelGroup id="panelMaestTablas" layout="block" style="margin-left:25px;width:20%;float:left">		 		                        
				          <p:dataTable 
							 id="tablaMaestPrincipal" 
							 var="tablasVar" 
							 value="#{adminMaestrasForm.listaTablasMaestras}" 
							 selection="#{adminMaestrasForm.listaTablasMaestrasSelect}" 
							 selectionMode="single" 	
							 rowKey="#{tablasVar}">  							 
						   <p:ajax event="rowSelect" listener="#{adminMaestrasForm.onRowSelectTablasMaestras}" update=":adminTablasMaestras:tablaMostrar"/> 
						   <p:column width="80%" headerText="#{text['tablasMaestras.titulo']}">
					           <h:outputText value="#{tablasVar}" />
					       </p:column>		      	
				   		</p:dataTable>
				   		
		   		 </h:panelGroup> 
		         
			    
			<div class="clearboth"/>     
	     </h:panelGroup>
	     <div class="clearboth"/>
          
    </h:form>

   <h:form>
        <ui:include src="../incl/capaWaitP.xhtml"/>
    </h:form>
    
    <script type="text/javascript">
            $(document).ready(function() {
            	
                $(document).keydown(function(event){
                    if(event.keyCode == 13) {
                        event.preventDefault();                       
                        return false;
                    }
                });
                   
            });
             
    </script>
        
	</ui:composition>
