<ui:composition xmlns="http://www.w3.org/1999/xhtml"   
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">
         
                      
		<p:panelGrid columns="2" styleClass="noBorders" columnClasses="alineacionIzq,alineacionIzq">
						
			<p:outputLabel styleClass="lblResumenProyecto"	value="*#{text['ayudas.datos.codBdc']}" />		 
			<p:inputText id="inputCodBdc" size="30" styleClass="alineacionIzq" value="#{paramForm.cod_bdc}"/>		 
			
			<p:outputLabel styleClass="lblResumenProyecto"	value="*#{text['ayudas.datos.acronimo']}" />
			<h:panelGroup>
				<p:panelGrid columns="5" styleClass="noBorders" columnClasses="alineacionIzq,alineacionIzq,alineacionIzq,alineacionIzq,alineacionIzq" >
					<p:inputText id="inputAcronimo" size="30" value="#{paramForm.acronimo}"/>
					<p:outputLabel styleClass="lblResumenProyecto"	value="*#{text['ayudas.datos.ref.unidad.adm']}" />
					<p:inputText id="inputRefUnidadAdm" size="30" value="#{paramForm.ref_unidad_admin}"/>
				</p:panelGrid>
			</h:panelGroup>
			
			<p:outputLabel styleClass="lblResumenProyecto" id="labelFechas" value="#{text['ayudas.datos.fechas']}"/>
			<h:panelGroup layout="block" styleClass="labelDiv">
				<fieldset>
                    <h:panelGrid columns="4" style="text-align:center">
                       <h:column>
                          <h:outputLabel for="idInicioSolicitud" value="#{text['ayudas.datos.fecha.inicio']}" styleClass="tablaMetricaNivel2"/>
                          <p:calendar id="inputInicioSolicitud" size="15" locale="es" pattern="dd/MM/yyyy" mode="popup" showOn="both" navigator="true"
                    				  converterMessage="El formato de la fecha del campo es erroneo (dd/mm/aaaa)"  mask="true" 
                    				  value="#{paramForm.f_inicio}"/>
                        </h:column>
                        <h:column>
                           <h:outputLabel for="idFinsolicitud" value="#{text['ayudas.datos.fecha.fin']}" styleClass="tablaMetricaNivel2"/>
                           <p:calendar id="inputFinSolicitud" size="15"	locale="es"  pattern="dd/MM/yyyy" mode="popup" showOn="both" navigator="true"
                         			   converterMessage="El formato de la fecha del campo es erroneo (dd/mm/aaaa)"  mask="true" 
                         			   value="#{paramForm.f_fin}"/>
                        </h:column>
                        <h:column>
                           <h:outputLabel for="idPublicacion" value="#{text['ayudas.datos.fecha.fin.original']}" styleClass="tablaMetricaNivel2"/>
                           <p:calendar id="inputPublicacion" size="15"	 locale="es"   pattern="dd/MM/yyyy" mode="popup" showOn="both" navigator="true"
                         			   converterMessage="El formato de la fecha del campo es erroneo (dd/mm/aaaa)"   mask="true"
                         			   value="#{paramForm.f_fin_original}"/>
                        </h:column>
                        <h:column>
                           <h:outputLabel for="idResolucion" value="#{text['ayudas.datos.fecha.resolucion']}" styleClass="tablaMetricaNivel2"/>
                           <p:calendar id="inputResolucion" size="15" locale="es"  pattern="dd/MM/yyyy" mode="popup" showOn="both" navigator="true"
                         			   converterMessage="El formato de la fecha del campo es erroneo (dd/mm/aaaa)"  mask="true" />
                        </h:column> 
                    </h:panelGrid>
                </fieldset>
            </h:panelGroup>
             
             
    		<p:outputLabel styleClass="lblResumenProyecto"	value="*#{text['ayudas.datos.titulo.espanol']}" />
			<h:panelGroup>
		        <p:inputTextarea id="inputTitEspanol" rows="5"  cols="100"   value="#{paramForm.titulo}" counter="displayTitulo" styleClass="alineacionIzq"
                                     maxlength="250" counterTemplate=" {0}" />
                <h:outputText styleClass="negrita" id="displayTitulo" />
			</h:panelGroup>
			
			<p:outputLabel styleClass="lblResumenProyecto"	value="#{text['ayudas.datos.resumen.espanol']}" />
			<h:panelGroup>
                <p:inputTextarea id="inputResEspanol" rows="5"  cols="100"   value="#{paramForm.resumen}" counter="displayResumen" styleClass="alineacionIzq"
                                     maxlength="3000" counterTemplate=" {0}" />
                 <h:outputText styleClass="negrita" id="displayResumen" />
			</h:panelGroup>
			
			<p:outputLabel styleClass="lblResumenProyecto"	value="*#{text['ayudas.datos.titulo.ingles']}" />
			<h:panelGroup>
                <p:inputTextarea id="inputTitIngles" rows="5"  cols="100"   value="#{paramForm.titulo_ingles}" counter="displayTituloIngles" styleClass="alineacionIzq"
                                     maxlength="250" counterTemplate=" {0}" />
                <h:outputText styleClass="negrita" id="displayTituloIngles" />
            </h:panelGroup>  

			<p:outputLabel styleClass="lblResumenProyecto"	value="#{text['ayudas.datos.resumen.ingles']}" />
			<h:panelGroup>
                <p:inputTextarea id="inputResIngles" rows="5"  cols="100"   value="#{paramForm.resumen_ingles}" counter="displayResumenIngles" styleClass="alineacionIzq"
                                     maxlength="3000" counterTemplate=" {0}" />
                <h:outputText styleClass="negrita" id="displayResumenIngles" />
			</h:panelGroup>
					
			<p:outputLabel styleClass="lblResumenProyecto"	value="#{text['ayudas.datos.observaciones']}" />
			<h:panelGroup>
                <p:inputTextarea id="inputObservaciones" rows="5"  cols="100"   value="#{paramForm.observaciones}" counter="displayObservaciones" styleClass="alineacionIzq"
                                     maxlength="500" counterTemplate=" {0}" />
                <h:outputText styleClass="negrita" id="displayObservaciones" />
			</h:panelGroup>

			<p:outputLabel styleClass="lblResumenProyecto"	value="*#{text['ayudas.datos.total']}" />
			<h:panelGroup layout="block" styleClass="labelDiv" >
				<fieldset>
                    <h:panelGrid columns="2" style="text-align:center">
                       <h:column>
                          	<h:outputLabel for="inputSolicitado" value="*#{text['ayudas.datos.total.solicitado']}" styleClass="tablaMetricaNivel2"/>
                         	<p:inputText id="inputTotSolic" size="15" value="#{paramForm.total_solicitado}"/>
                        </h:column>
                        <h:column>
                        	<h:outputLabel for="inputConcedido" value="*#{text['ayudas.datos.total.concedido']}" styleClass="tablaMetricaNivel2"/>
                            <p:inputText id="inputTotConc" size="15" value="#{paramForm.total_concedido}"/>
                        </h:column>
             	  </h:panelGrid>
               </fieldset>
			</h:panelGroup>

			<p:outputLabel styleClass="lblResumenProyecto"	value="#{text['ayudas.datos.porcentaje.cofinanciacion']}" />
			<p:inputText id="inputPorcCofin" size="10" styleClass="alineacionIzq" value="#{paramForm.porcentaje_cofinanciacion}"/>
			
			<p:outputLabel styleClass="lblResumenProyecto"	value="#{text['ayudas.datos.duracion.meses']}" />
			<p:inputText id="inputMeses" size="10" styleClass="alineacionIzq" value="#{paramForm.duracion_meses}"/>

		</p:panelGrid>	
</ui:composition>
