<ui:composition xmlns="http://www.w3.org/1999/xhtml"   
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">
   
	
	<h:panelGroup id="idLiteral" layout="block">
 		<p:outputLabel value="#{ayudasForm.literal}" style="font-size:larger" styleClass="rojo"/>
 						
   		<h:panelGroup id="botones" layout="block" styleClass="botonera_new" style="float:right;">
  			 <p:commandButton value="#{text['button.seleccionar']}" style="margin-bottom:10px;"
			  				  onstart="mostrarPanelEnviando();" 
     		 				  oncomplete="ocultarPanelEnviando();PF('modalSeleccionConvocAyudaWgt').show();" actionListener="#{ayudasForm.ocultarLiteral}"/>
     		 	
  		</h:panelGroup>
	
		<ui:include src="resumenCortoConvocAyudas.xhtml"/>
		<ui:include src="modalSeleccionConvocAyuda.xhtml"/>
	</h:panelGroup>
		
</ui:composition>
