<ui:composition xmlns="http://www.w3.org/1999/xhtml"   
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/templates/defaultPage.xhtml">
     
     
      <ui:include src="../incl/mensajes.xhtml"/>
      <ui:include src="../incl/incVolver.xhtml"/>
     
     <h:panelGroup>
          <ui:include src="../incl/navegacionAyudas.xhtml">
				<ui:param name="paramForm" value="#{ayudasForm.ayudasGestionadas}" />
				<ui:param name="idAyuda" value="#{ayudasForm.idAyuda}" />
				<ui:param name="optionSelected" value="datosGenerales" />
	    	</ui:include> 
	    	<ui:include src="../incl/capaWaitPExtendida.xhtml"/>
	    	
	  </h:panelGroup>          
				
			 	
	        
			
			<p:outputLabel styleClass="lblResumenProyecto"	value="*#{text['ayudas.datos.nombre']}" />
			<h:panelGroup>
				<p:inputTextarea id="inputNombre" styleClass="alineacionIzq"  rows="1"  cols="100"   maxlength="100" size="100" counter="displayNombre"  counterTemplate=" {0}" value="AUN POR DEFINIR EN BBDD"/>			
                <h:outputText styleClass="negrita" id="displayNombre"/>  
			</h:panelGroup>					 
			
			<p:outputLabel styleClass="lblResumenProyecto"	value="*#{text['ayudas.datos.nombre.corto']}" />		 
			<p:inputText id="inputNombreCorto" size="30" styleClass="alineacionIzq" value="AUN POR DEFINIR EN BBDD"/>	
			
			<p:outputLabel styleClass="lblResumenProyecto"	value="*#{text['ayudas.datos.codBdc']}" />		 
			<p:inputText id="inputCodBdc" size="30" styleClass="alineacionIzq" value="#{paramForm.cod_bdc}"/>		 
			
			
			<p:outputLabel styleClass="lblResumenProyecto"	value="#{text['ayudas.datos.acronimo']}" />
			<h:panelGroup>
				<p:panelGrid columns="5" styleClass="noBorders" columnClasses="alineacionIzq,alineacionIzq,alineacionIzq,alineacionIzq,alineacionIzq" >
					<p:inputText id="inputAcronimo" size="20" value="#{paramForm.acronimo}"/>
					<p:outputLabel styleClass="lblResumenProyecto"	value="*#{text['ayudas.datos.referencia']}" />
					<p:inputText id="inputReferencia" size="10" value="AUN POR DEFINIR EN BBDD"/>
					<p:outputLabel styleClass="lblResumenProyecto"	value="*#{text['ayudas.datos.ref.unidad.adm']}" />
					<p:inputText id="inputRefUnidadAdm" size="10" value="#{paramForm.ref_unidad_admin}"/>
				</p:panelGrid>
			</h:panelGroup>
			
			<p:outputLabel styleClass="lblResumenProyecto" id="labelFechas" value="#{text['ayudas.datos.fechas']}"/>
			<h:panelGroup layout="block" styleClass="labelDiv">
				<fieldset>
                    <h:panelGrid columns="4" style="text-align:center">
                       <h:column>
                          <h:outputLabel for="idInicioSolicitud" value="*#{text['ayudas.datos.fecha.inicio']}" styleClass="tablaMetricaNivel2"/>
                          <p:calendar id="inputInicioSolicitud" size="15" locale="es" pattern="dd/MM/yyyy" mode="popup" showOn="both" navigator="true"
                    				  converterMessage="El formato de la fecha del campo es erroneo (dd/mm/aaaa)"  mask="true" 
                    				  value="#{paramForm.f_inicio}"/>
                       
                        </h:column>
                        <h:column>
                           <h:outputLabel for="idFinsolicitud" value="*#{text['ayudas.datos.fecha.fin']}" styleClass="tablaMetricaNivel2"/>
                           <p:calendar id="inputFinSolicitud" size="15"	locale="es"  pattern="dd/MM/yyyy" mode="popup" showOn="both" navigator="true"
                         			   converterMessage="El formato de la fecha del campo es erroneo (dd/mm/aaaa)"  mask="true" 
                         			   value="#{paramForm.f_fin}"/>
                                 
                        </h:column>
                        <h:column>
                           <h:outputLabel for="idPublicacion" value="#{text['ayudas.datos.fecha.fin.original']}" styleClass="tablaMetricaNivel2"/>
                           <p:calendar id="inputPublicacion" size="15"	 locale="es"   pattern="dd/MM/yyyy" mode="popup" showOn="both" navigator="true"
                         			   converterMessage="El formato de la fecha del campo es erroneo (dd/mm/aaaa)"   mask="true"
                         			   value="#{paramForm.f_fin_original}"/>
                                 
                        </h:column>
                        <h:column>
                           <h:outputLabel for="idResolucion" value="#{text['ayudas.datos.fecha.resolucion']}" styleClass="tablaMetricaNivel2"/>
                           <p:calendar id="inputResolucion" size="15" locale="es"  pattern="dd/MM/yyyy" mode="popup" showOn="both" navigator="true"
                         			   converterMessage="El formato de la fecha del campo es erroneo (dd/mm/aaaa)"  mask="true" />
                                 
                        </h:column> 
                     </h:panelGrid>
                </fieldset>
             </h:panelGroup>
             
    		<p:outputLabel styleClass="lblResumenProyecto"	value="*#{text['ayudas.datos.titulo.espanol']}" />
			<h:panelGroup>
				<p:inputTextarea id="inputTitEspanol" styleClass="alineacionIzq" rows="5"  cols="100" maxlength="250" size="250" counter="displayTitEspanol" counterTemplate=" {0}"/>			
		        <h:outputText styleClass="negrita" id="displayTitEspanol" value="#{paramForm.titulo}"/>  
			</h:panelGroup>
			
			<p:outputLabel styleClass="lblResumenProyecto"	value="#{text['ayudas.datos.resumen.espanol']}" />
			<h:panelGroup>
				<p:inputTextarea id="inputResEspanol" styleClass="alineacionIzq"  rows="5"  cols="100"  maxlength="1000" size="100" counter="displayResEspanol"   counterTemplate=" {0}"/>			
                <h:outputText styleClass="negrita" id="displayResEspanol" value="#{paramForm.resumen}" />  
			</h:panelGroup>
			
			<p:outputLabel styleClass="lblResumenProyecto"	value="*#{text['ayudas.datos.titulo.ingles']}" />
			<h:panelGroup>
				<p:inputTextarea id="inputTitIngles" styleClass="alineacionIzq"  rows="5"  cols="100"  maxlength="250" size="250" counter="displayTitIngles"   counterTemplate=" {0}"/>			
                <h:outputText styleClass="negrita" id="displayTitIngles" value="#{paramForm.titulo_ingles}"/>
            </h:panelGroup>  

			<p:outputLabel styleClass="lblResumenProyecto"	value="#{text['ayudas.datos.resumen.ingles']}" />
			<h:panelGroup>
				<p:inputTextarea id="inputResIngles" styleClass="alineacionIzq"	 rows="5"  cols="100"  maxlength="1000" size="100" counter="displayResIngles"   counterTemplate=" {0}"/>			
                <h:outputText styleClass="negrita" id="displayResIngles" value="#{paramForm.resumen_ingles}"/>  
			</h:panelGroup>
			
			<p:outputLabel styleClass="lblResumenProyecto"	value="#{text['ayudas.datos.descripcion']}" />
			<h:panelGroup>
				<p:inputTextarea id="inputDescripcion" styleClass="alineacionIzq"  rows="5"  cols="100" maxlength="1000" size="100"  counter="displayDescrip"   counterTemplate=" {0}" value="AUN POR DEFINIR EN BBDD"/>
                <h:outputText styleClass="negrita" id="displayDescrip"/>  
			</h:panelGroup>
			
			<p:outputLabel styleClass="lblResumenProyecto"	value="#{text['ayudas.datos.observaciones']}" />
			<h:panelGroup>
				<p:inputTextarea id="inputObservaciones" styleClass="alineacionIzq"	rows="5"  cols="100" maxlength="1000" size="100" counter="displayObser"   counterTemplate=" {0}"/>			
                <h:outputText styleClass="negrita" id="displayObser" value="#{paramForm.observaciones}"/>  
			</h:panelGroup>

			<p:outputLabel styleClass="lblResumenProyecto"	value="*#{text['ayudas.datos.total']}" />
			<h:panelGroup layout="block" styleClass="labelDiv" >
				<fieldset>
                    <h:panelGrid columns="2" style="text-align:center">
                       <h:column>
                          	<h:outputLabel for="inputSolicitado" value="*#{text['ayudas.datos.total.solicitado']}" styleClass="tablaMetricaNivel2"/>
                         	<p:inputText id="inputTotSolic" size="15" value="#{paramForm.total_solicitado}"/>
                        </h:column>
                        <h:column>
                        	<h:outputLabel for="inputConcedido" value="*#{text['ayudas.datos.total.concedido']}" styleClass="tablaMetricaNivel2"/>
                            <p:inputText id="inputTotConc" size="15" value="#{paramForm.total_concedido}"/>
                        </h:column>
             	  </h:panelGrid>
               </fieldset>
			</h:panelGroup>

			<p:outputLabel styleClass="lblResumenProyecto"	value="#{text['ayudas.datos.porcentaje.cofinanciacion']}" />
			<p:inputText id="inputPorcCofin" size="10" styleClass="alineacionIzq" value="#{paramForm.porcentaje_cofinanciacion}"/>
			
			<p:outputLabel styleClass="lblResumenProyecto"	value="#{text['ayudas.datos.duracion.meses']}" />
			<p:inputText id="inputMeses" size="10" styleClass="alineacionIzq" value="#{paramForm.duracion_meses}"/>

		</p:panelGrid>	
</ui:composition>
