<ui:composition xmlns="http://www.w3.org/1999/xhtml"   
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:gep="http://apps.csic.es/gep"
                xmlns:p="http://primefaces.org/ui">
    
  
		<h:panelGroup layout="block" style="float:left;clear:both;margin-top:10px;width:100%;" >
			<p:panel id="seleccionOrigenAyuda" toggleable="false" >

			 <h:panelGrid style="margin-bottom:10px;width:100%">
    	            <p:selectOneRadio  id="idTipoAlta"  columns="1" value="#{ayudasForm.idTipoAltaAyuda}" inmediate="true" >
    	          	  <f:ajax listener="#{ayudasForm.valueChangeRadio}" render="idManual"/>
    	          	  <f:ajax listener="#{ayudasForm.valueChangeRadio}" render="idMinisterio"/>
    	          	  
    	          	    <f:selectItem itemLabel="#{text['ayudas.alta.manual']}" itemValue="1" />
                        <f:selectItem itemLabel="#{text['ayudas.alta.ministerio']}" itemValue="2" />
                                                 
                     </p:selectOneRadio>
			 </h:panelGrid>	
			
			 <h:panelGroup id="idManual">
	  		    <h:panelGrid  style="margin-bottom:10px;;width:70%" columns="3" >		
					<p:outputLabel/>
	           		<p:outputLabel id="labelIdTituloAyuda" value="#{text['ayudas.busqueda.titulo.largo']}:" rendered="#{ayudasForm.mostrarInputAltaManual}"/>
	           						
	          		<p:inputText id="outputIdTituloAyuda" size="100" rendered="#{ayudasForm.mostrarInputAltaManual}"/> 
<!-- 	          		value="#{searchBdnsForm.searchValue}" -->
<!-- 	          					 rendered="#{convocatoriasForm.mostrarInputBdns}" /> -->

		        </h:panelGrid>
			 </h:panelGroup>
			
			 <h:panelGroup id="idMinisterio">
	  		    <h:panelGrid  styleClass="noBorders" columnClasses="alineacionIzq,alineacionIzq" columns="2" >		
					
					<p:outputLabel id="labelIdRefAyuda" value="#{text['ayudas.busqueda.refererencia']}:" rendered="#{ayudasForm.mostrarInputAltaMinisterio}"/>
					<p:inputText id="outputIdRefAyuda" size="100"  rendered="#{ayudasForm.mostrarInputAltaMinisterio}"/>
	           		<p:outputLabel id="labelIdTitAyuda" value="#{text['ayudas.busqueda.titulo']}:" rendered="#{ayudasForm.mostrarInputAltaMinisterio}"/>
	           		<p:inputText id="outputIdRefAyudaMin" size="100"  rendered="#{ayudasForm.mostrarInputAltaMinisterio}"/>				
	          		
<!-- 	          		value="#{searchBdnsForm.searchValue}" -->
<!-- 	          					 rendered="#{convocatoriasForm.mostrarInputBdns}" /> -->

		        </h:panelGrid>
			 </h:panelGroup>
			
			
     		</p:panel>
        </h:panelGroup>
	
   		
   		<h:panelGroup id="botones" layout="block" styleClass="botonera_new" style="float:right;">
   		   	<p:commandButton icon="silk-icon-accept" value="#{text['button.continuar']}" ajax="false"
   					  		 action="#{ayudasForm.continuarAltaManual}"/> 

<!-- falta otro botón para alta Ministerio y que llame al servicio web  			 -->
  		</h:panelGroup>
  	
    		
</ui:composition>
