
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core">


	<p:panelGrid styleClass="noBorders" columns="2">
		<h:panelGroup styleClass="left">

			<p:panelGrid columns="2" styleClass="noBorders"	columnClasses="alineacionIzq,alineacionIzq">

				<p:outputLabel styleClass="lblResumenProyecto"	value="#{text['convocatoria.resumen.anio.convocatoria']}" />
				<h:outputText  value="#{paramForm.annio}" />

				<p:outputLabel styleClass="lblResumenProyecto"	value="#{text['convocatoria.resumen.referencia']}" />
				<h:outputText  styleClass="alineacionIzq" value=" " />

				<p:outputLabel styleClass="lblResumenProyecto"	value="#{text['convocatoria.resumen.nombre']}" />
				<h:outputText  value="#{paramForm.nombre}" />

				<p:outputLabel styleClass="lblResumenProyecto"	value="#{text['convocatoria.resumen.nombre.corto']}" />
				<h:outputText  value="#{paramForm.nombreCorto}" />

				<p:outputLabel styleClass="lblResumenProyecto"	value="#{text['convocatoria.resumen.codigo.bdc']}" />
				<h:outputText  value="#{paramForm.codBdc}" />

				<p:outputLabel styleClass="lblResumenProyecto"	value="#{text['convocatoria.resumen.acronimo']}" />
				<h:outputText  value="#{paramForm.acronimo}" />

				<p:outputLabel styleClass="lblResumenProyecto"	value="#{text['convocatoria.resumen.fechas']}" />

				<h:panelGroup layout="block" styleClass="labelDiv">
					<fieldset>
						<h:panelGrid columns="5" style="text-align:center">
					
							 <h:column>
								<h:outputLabel value="#{text['convocatoria.datosGenerales.fecIniSolicitud']}" styleClass="lblResumenProyecto"/>
								<br></br>
								<h:outputText value="#{paramForm.fechaInicioSolicitud}" />
							<br></br>
							</h:column>
							<h:column>
								<h:outputLabel value="#{text['convocatoria.datosGenerales.fecFinSolicitud']}" styleClass="lblResumenProyecto"/>
								<br></br>
								<h:outputText styleClass="alineacionIzq" value="#{paramForm.fechaFinSolicitud}" />
							<br></br>
							</h:column>
							<h:column>
								<h:outputLabel value="#{text['convocatoria.datosGenerales.fecPublicacion']}" styleClass="lblResumenProyecto"/>
								<br></br>
								<h:outputText styleClass="alineacionIzq" value="#{paramForm.fechaPublicacion}" />
							<br></br>
							</h:column>
							<h:column>
								<h:outputLabel	value="#{text['convocatoria.datosGenerales.fecResolucion']}" styleClass="lblResumenProyecto"/>
								<br></br>
								<h:outputText styleClass="alineacionIzq" value="#{paramForm.fechaResolucion}" />
							<br></br>
							</h:column>
						</h:panelGrid>
					</fieldset>
				</h:panelGroup>
					
					<p:outputLabel styleClass="lblResumenProyecto" value="#{text['convocatoria.resumen.descripcion']}" />
					<h:outputText value="#{paramForm.descripcion}" />
					
			</p:panelGrid>				
		</h:panelGroup>

	</p:panelGrid>
</ui:composition>
