<ui:composition xmlns="http://www.w3.org/1999/xhtml"   
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core">



    <h:panelGroup id="nodos"> 
      <h:panelGroup id="nodos2"> 
		<p:panelGrid styleClass="noBorders" columns="1"> 
	        <p:tree value="#{paramForm.root}" style="width:100%;height:100%;border-width:0;" var="node" >
	            <p:treeNode>
	                <h:outputText value="#{node}" />
	            </p:treeNode>
	        </p:tree>
	      </p:panelGrid>
	    
	     </h:panelGroup>
    </h:panelGroup>

</ui:composition>
