<ui:composition xmlns="http://www.w3.org/1999/xhtml"
     xmlns:h="http://java.sun.com/jsf/html"
     xmlns:p="http://primefaces.org/ui"
     xmlns:ui="http://java.sun.com/jsf/facelets"
     xmlns:f="http://java.sun.com/jsf/core">
 
 <p:dialog header="#{text['ayuda.seleccionar.convocatoria']}" widgetVar="modalSeleccionConvocAyudaWgt"
           modal="true" resizable="false" width="1100" height="700"
           showEffect="fade" hideEffect="fade" closeOnEscape="true" dynamic="true">   
    
     		<h:panelGroup layout="block" id="bloqueListaConvocatorias">
        
        		<h:panelGroup layout="block" style="clear:both;" id="bloqueTablaConvocatorias">
		            <p:dataTable id="dataTableListadoConvocatorias" 
			        			 var="ayuda"
			                     value="#{ayudasForm.listaConvocatorias}"
			                     paginator="true" rows="15" paginatorPosition="bottom"
			                     currentPageReportTemplate="{totalRecords} #{text['comunes.listado.registrosEncontrados']}, #{text['comunes.listado.visualizando']} {startRecord} #{text['comunes.listado.al']} {endRecord}"
			                     paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
			                     selection="#{ayudasForm.convocatoriaSeleccionada}"
			                     rowsPerPageTemplate="10,20,50,100,200" 
			                     rowKey="#{ayuda.id}"
			                     selectionMode="single"
			                     tableStyle="table-layout:auto;width:100%;"
			                     emptyMessage="#{text['comunes.listado.noResultados']}">
			                     
						         <p:ajax event="rowSelect" listener="#{ayudasForm.onRowSelect}" update=":ayudasForm:panelDatosAyuda"              
				                 		 onsuccess="PF('modalSeleccionConvocAyudaWgt').hide();" />
				

			            <p:column headerText="#{text['convocatorias.detalle.anio']}" 
			             	width="1%"
			               	sortBy="#{ayuda.annio}"
			             	filterBy="#{ayuda.annio}"
			             	filterMatchMode="contains">
			                <h:outputText value="#{ayuda.annio}"/>
			            </p:column>
			            
			            <p:column headerText="#{text['convocatorias.detalle.nombre']}" 
			            	width="55%"
			            	sortBy="#{ayuda.nombre}"
			            	filterBy="#{ayuda.nombre}"
			            	filterMatchMode="contains">
			                <h:outputText value="#{ayuda.nombre}" />
			            </p:column>

			            <p:column headerText="#{text['convocatorias.detalle.nombreCorto']}" 
			            	width="25%"
			            	sortBy="#{ayuda.nombreCorto}"
			            	filterBy="#{ayuda.nombreCorto}"
			            	filterMatchMode="contains">
			                <h:outputText value="#{ayuda.nombreCorto}" />
			            </p:column>

			            <p:column headerText="#{text['convocatorias.detalle.acronimo']}" 
			            	width="13%"
			            	sortBy="#{ayuda.acronimo}"
			            	filterBy="#{ayuda.acronimo}"
			            	filterMatchMode="contains">
			                <h:outputText value="#{ayuda.acronimo}" />
			            </p:column>
			            
			             <p:column headerText="#{text['convocatorias.detalle.codBDC']}" 
			             	width="10%"
			             	sortBy="#{ayuda.codBdc}"
			             	filterBy="#{ayuda.codBdc}"
			             	filterMatchMode="contains">
			                <h:outputText value="#{ayuda.codBdc}"/>
			            </p:column>
			             
			        </p:dataTable>
				</h:panelGroup> 
			</h:panelGroup>
	
</p:dialog>
</ui:composition>