<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core">


		<h:panelGroup layout="block" id="resumenCortoConvocAyudas">
			<h:panelGroup layout="block" style="margin-top:5px;" id="incluye">

					    <div class="clear"/>
						<p:fieldset legend="#{text['convocatoria.datosGenerales.titulo']}" style="margin-bottom:20px">
							<ui:include src="../ayudas/detalleAyudasPorConvocatoria.xhtml" >
								<ui:param name="paramForm" value="#{ayudasForm.convocatoriaSeleccionada}"/>
							</ui:include>
						</p:fieldset>

						<p:fieldset legend="#{text['convocatoria.resumen.jerarquia']}" style="margin-bottom: 20px">
							<ui:include src="../ayudas/detalleJerarquiaConvocatoria.xhtml">
								<ui:param name="paramForm" value="#{ayudasForm}"/>
							</ui:include>
						</p:fieldset>

			</h:panelGroup>
		</h:panelGroup>

</ui:composition>