<ui:composition xmlns="http://www.w3.org/1999/xhtml"   
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/templates/defaultPage.xhtml">                

    <ui:define name="title">#{text['comunes.aplicacion.nombre']} - #{text['ayudas.titulo']}</ui:define>
    <ui:define name="tabs">
        <li><a id="tab_selected" href="#">#{text['ayudas.titulo']}</a></li>
    </ui:define>

    <h:form id="ayudasForm">
            
        <ui:include src="incl/mensajes.xhtml"/>
                
        <h:panelGroup layout="block" rendered="#{ayudasForm.ayudasGestionadas.id eq null}">
        	<ui:include src="incl/incVolver.xhtml" >
            	<ui:param name="titulo" value="#{text['ayudas.titulo']}" />
        	</ui:include>  
        </h:panelGroup>
        
 <!-- bloque navegacion-->   
     
        <h:panelGroup layout="block" rendered="#{ayudasForm.ayudasGestionadas.id != null}">
	    	<ui:include src="incl/navegacionAyudas.xhtml">
				<ui:param name="paramForm" value="#{ayudasForm.ayudasGestionadas}" />
				<ui:param name="idAyuda" value="#{ayudasForm.idAyuda}" />
				<ui:param name="optionSelected" value="datosGenerales" />
	    	</ui:include>
    	</h:panelGroup>
        
        <ui:include src="incl/capaWaitPExtendida.xhtml" />
			
<!-- boton guardar -->	
	
        <h:panelGroup layout="block" rendered="#{ayudasForm.ayudasGestionadas.id eq null}">
	        <h:panelGrid style="width:100%">
	        	<h:panelGroup id="botonGuardar" layout="block" styleClass="botonera_new" style="clear:left;margin-top: 5px;" rendered="#{ayudasForm.mostrarDatosConvocatoria}">
	                 <p:commandButton  value="#{text['button.save']}" icon="silk-icon-bullet-disk" action="#{ayudasForm.guardar}" update=":ayudasForm :ayudasForm:mensajes" />
	        	</h:panelGroup>
	    	</h:panelGrid>
	    </h:panelGroup>
	    
<!-- bloque seleccion -->

	    <p:accordionPanel id="panelSelOrigenAyuda" multiple="true" rendered="#{ayudasForm.mostrarOrigenAyuda}">
			<p:tab title="Selecciona el origen">
				<ui:include src="ayudas/bloqueSeleccionOrigenAyudas.xhtml"/>
			</p:tab>
		</p:accordionPanel>
		
<!-- bloque seleccion convocatoria -->
	    
	   	<p:accordionPanel id="panelDatosAyuda" multiple="true" activeIndex="0,1" rendered="#{ayudasForm.mostrarDatosConvocatoria}">
    	    <p:tab title="#{text['ayuda.datos.convcatoria']}" rendered="#{ayudasForm.ayudasGestionadas.id eq null}">
				<ui:include src="ayudas/bloqueDatosConvocatoriaAyuda.xhtml"/> 
			</p:tab>

<!-- bloque ayuda -->

    	    <p:tab title="#{text['ayuda.datos.titulo']}">
				<ui:include src="ayudas/bloqueDatosGeneralesAyuda.xhtml">
					<ui:param name="paramForm" value="#{ayudasForm.ayudasGestionadas}" />
				</ui:include>
			</p:tab>
		</p:accordionPanel>
	    
 	</h:form>
</ui:composition>