<ui:composition xmlns="http://www.w3.org/1999/xhtml"   
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/templates/defaultPage.xhtml">

    <ui:define name="title">#{text['comunes.aplicacion.nombre']} - #{text['ayudas.titulo']}</ui:define>
    <ui:define name="tabs">
        <li><a id="tab_selected" href="#">#{text['ayudas.titulo']}</a></li>
    </ui:define>

    <h:form id="AltaayudasForm">
                
        <ui:include src="incl/mensajes.xhtml"/>
                
        <ui:include src="incl/incVolver.xhtml">
            <ui:param name="titulo" value="#{text['ayudas.titulo']}" />
        </ui:include>  
        
        <ui:include src="incl/capaWaitPExtendida.xhtml"/>
		
		<br/>
		
		<ui:include src="ayudas/consultaAyuda/bloqueAyudas.xhtml"/>  
       			
 	</h:form>
        
	<script type="text/javascript">
    	$(document).ready(function() {
               $(document).keydown(function(event){
                   if(event.which == 13) {
                       event.preventDefault();
                       jQuery('#commandLinkBuscar_top').click();
                       return false;
                   }
               });
           });
	</script>

</ui:composition>