<ui:composition xmlns="http://www.w3.org/1999/xhtml"   
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/templates/defaultPage.xhtml">

    <ui:define name="title">#{text['comunes.aplicacion.nombre']} - #{text['convocatorias.titulo']}</ui:define>
    <ui:define name="tabs">
        <li><a id="tab_selected" href="#">#{text['convocatorias.titulo']}</a></li>
    </ui:define>

    <h:form id="convocatoriasForm">
                
        <ui:include src="incl/mensajes.xhtml"/>
                
        <ui:include src="incl/incVolver.xhtml">
            <ui:param name="titulo" value="#{text['convocatorias.titulo']}" />
        </ui:include>  
        
        <ui:include src="incl/capaWaitPExtendida.xhtml"/>
		<br/>
		
		
		<p:accordionPanel id="listaConvocatoria" multiple="true">
			
    	    <p:tab title="#{text['convocatorias.bloqueListado.titulo']}">
				<ui:include src="convocatorias/bloqueConvocatorias.xhtml"/>
<!-- 				<ui:include src="convocatorias/modalAltaConvocatoria.xhtml"/> -->
			</p:tab>
			
		<br/>
<!-- 		<ui:include src="convocatorias/bloqueDatosConvocatoria.xhtml"/> -->
<!-- 		<br/> -->
<!-- 		<ui:include src="convocatorias/modalConvocatoria.xhtml"/> -->
<!-- 			<br/> -->

        </p:accordionPanel>  
 	</h:form>
        
	<script type="text/javascript">
    	$(document).ready(function() {
               $(document).keydown(function(event){
                   if(event.which == 13) {
                       event.preventDefault();
                       jQuery('#commandLinkBuscar_top').click();
                       return false;
                   }
               });
           });
	</script>

</ui:composition>