<ui:composition xmlns="http://www.w3.org/1999/xhtml"   
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/templates/defaultHome.xhtml">
    <ui:define name="title">#{text['mainMenu.title']}</ui:define>
    <h:form>
 
		<ui:include src="/pages/administracion/panelAdministracion.xhtml"/>
	
        <div class="homeNovedades">
            <h:outputLink onclick="javascript:PF('panelInfoWdgtVar').show();return false;">
                <div><h:graphicImage url="/images/news.png" title="#{text['home.novedades']}"/></div>
                <div class="label"><h:outputText value="#{text['home.novedades']}" escape="false" /></div>
            </h:outputLink>
        </div>
        <p:dialog id="panelInfo" header="#{text['home.novedades']}" widgetVar="panelInfoWdgtVar"
            modal="true" resizable="false" width="800" height="700" closeOnEscape="true"
            showEffect="fade" hideEffect="fade">
            <h:panelGroup layout="block" style="overflow: auto; height: 585px; padding:20px"> 
                <h:outputText value="#{gestionRolesSesion.novedades}" escape="false" />
            </h:panelGroup>
        </p:dialog>
        
        <div id="homeEntidades">
            <div id="homeSuperior">
                <div class="homeTitulo homeTituloAyudas">#{text['home.consultas']}</div>
                <div class="homeIzquierda">
                    <div class="homeOpciones">
                        <ul>
                            <h:panelGroup layout="block">
                                <li>
                                    <h:outputLink value="/sico/pages/convocatorias/consultaConvocatoria/consultaConvocatoria.html">
                                    	<h:outputText value="Listado de Convocatoria"/>
                                    </h:outputLink>		
                                </li>
                            </h:panelGroup>
                        </ul>
                    </div>
                </div>
            </div>  
            
            <div class="homeCentral"/>
            
            <div id="homeSuperior">
                <div class="homeTitulo homeTituloAyudas">#{text['home.tareas']}</div>
                <div class="homeIzquierda">
                    <div class="homeOpciones">
                       
                    </div>
                </div>   
            </div>
	        
            <div id="homeInferior">
                <div class="homeTitulo homeTituloAyudas">#{text['home.informes']}</div>
                
            </div>  
            
            <div class="homeCentral"/>

               
            <div id="homeInferior">
                <div class="homeTitulo homeTituloAyudas">#{text['home.creacionRegistros']}</div>
                <div class="homeIzquierda">
                    <div class="homeOpciones">
                        <ul>
                            <h:panelGroup layout="block">
                                <li>
                                    <h:outputLink value="/sico/pages/convocatorias/nuevaConvocatoria/nuevaConvocatoria.html">
                                    	<h:outputText value="Convocatoria"/>
                                    </h:outputLink>		
                                </li>
                            </h:panelGroup>
                        </ul>
                    </div>
                </div>   
            </div>
            
               
        </div>

        <h:panelGroup layout="block" style="text-align: center; float:left; width:100%; margin-top:10px">
        	<h:outputText value="#{gestionRolesSesion.mensajeHome}" escape="false" />
        </h:panelGroup>
            
    </h:form> 
</ui:composition>