<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/templates/defaultPage.xhtml">
	
 <style>
   		.datosInputPlan {
            padding-bottom:8px;
            font-size:1.1em;
            margin-left:30px;
            float: left;
        }

        .datosLabelPlan {
            margin-left:2px;
            width: 140px;
            float: left;
            color:#464F56;
            font-weight:bold;
            padding-bottom:8px;
            font-size:1.1em;
        }
        .datosInput {
            padding-bottom:8px;
            font-size:1.1em;
            margin-left:60px;
            float: left;
        }
        .datosLabel {
            width: 50px;
            float: left;
            color:#464F56;
            font-weight:bold;
            padding-bottom:8px;
            font-size:1.1em;
        }
        
        .datosLabelPlan {
            margin-left:2px;
            width: 140px;
            float: left;
            color:#464F56;
            font-weight:bold;
            padding-bottom:8px;
            font-size:1.1em;
        }

        .preformatted {
            white-space: pre-wrap;
        }


    </style>
    
	<h:form id="planInvestigacionForm">

		<ui:include src="./incl/mensajes.xhtml" />

		<ui:include src="incl/incVolver.xhtml">
			<ui:param name="titulo"
				value="#{text['planesInvestigacion.tituloPagina']}" />
		</ui:include>

		<ui:include src="incl/capaWaitPExtendida.xhtml" />


		<ui:include src="./planInvestigacion/incListaPlanInvestigacion.xhtml" />


		<br></br>
		<br></br>

		<ui:include src="./planInvestigacion/bloquePlanInvestigacion.xhtml" />
		<ui:include src="./planInvestigacion/modalPlanInvestigacion.xhtml" />
		<ui:include src="./planInvestigacion/modalFinalJerarquia.xhtml" />

	</h:form>

	<!-- <script type="text/javascript">
	    	$(document).ready(function() {
	               $(document).keydown(function(event){
	                   if(event.which == 13) {
	                       event.preventDefault();
	                       jQuery('#commandLinkBuscar_top').click();
	                       return false;
	                   }
	               });
	           });
		</script> -->
</ui:composition>