<ui:composition xmlns="http://www.w3.org/1999/xhtml"   
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:pe="http://primefaces.org/ui/extensions">
                
<style>
.pe-dynaform-grid {
    margin: 0;
    padding: 0;
    border-collapse : collapse;
    border-spacing: 0;
    width: 80%;
}
</style>

    <h:panelGroup id="panelMaestAmbitosGeograficos" layout="block" rendered="#{null ne adminMaestrasGenForm.data}">

        <h:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5">


        <p:commandButton class="cbNavegarClass" id="cbNavegar" value="editar" widgetVar="botonNavegar" style="display:none"
                         actionListener="#{adminMaestrasGenForm.onRowSelect}" update=":adminTablasMaestras:detalleFilaMaestra">
        </p:commandButton> 
        <p:commandButton value="#{text['button.add']}" onstart="mostrarPanelEnviando();" oncomplete="ocultarPanelEnviando()"
			                         icon="silk-icon-add" style="margin-bottom:10px;" actionListener="#{adminMaestrasGenForm.anadir}"
			                         update=":adminTablasMaestras:detalleFilaMaestra"/>        

        </h:panelGrid>
        
        <h:panelGroup layout="block">        

        <p:dataTable var="obj" value="#{adminMaestrasGenForm.datos}" rows="10" id="tablaDatos"
                    selection="#{adminMaestrasGenForm.columnSelect}"
                    rendered="#{not empty adminMaestrasGenForm.datos}" 
                    rowKey="#{obj['id']}"
                    selectionMode="single"
                    paginator="true"
                    currentPageReportTemplate="{totalRecords} #{text['comunes.listado.registrosEncontrados']}, #{text['comunes.listado.visualizando']} {startRecord} #{text['comunes.listado.al']} {endRecord}"
                    paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                    paginatorPosition="bottom"
                    rowsPerPageTemplate="10, 20, 50, 100"
                    tableStyle="table-layout:auto;width:100%;" >
                    <p:ajax event="rowSelect" 
                            oncomplete="javascript:$('.cbNavegarClass').trigger('click');">
                    </p:ajax>
                    <f:facet name="header" >
                       #{adminMaestrasGenForm.tablaMaestraSelect.tituloClase} (#{adminMaestrasGenForm.nombreTablaBD})
                   </f:facet>
            <p:columns value="#{adminMaestrasGenForm.columnsCabeceras}" var="column" columnIndexVar="colIndex" sortBy="#{obj[column.property]}"> 
                <f:facet name="header">
                    <h:outputText value="#{column.header}" />
                </f:facet>                
                <h:outputText value="#{obj[column.property]}"/>
            </p:columns>
        </p:dataTable>
        

        
        <br/>
        <br/>
       
	   <h:panelGroup id="detalleFilaMaestra">
            <p:panel id="bloqueDetalleFilaMaestra" widgetVar="wvbloqueDetalleFilaMaestra" header="#{adminMaestrasGenForm.tablaMaestraSelect.tituloClase}" 
            rendered="#{not empty adminMaestrasGenForm.columnSelect or adminMaestrasGenForm.nuevo}">
                <pe:dynaForm id="dynaForm" value="#{adminMaestrasGenForm.model}" var="data">  
                        <pe:dynaFormControl type="input" for="txt" >  
                            <p:inputText id="txt" value="#{data.value}" required="#{data.required}" style="width:100%" readonly="#{data.property eq adminMaestrasGenForm.getNombreIdBD()}" />
                           
                        </pe:dynaFormControl>  
                        <pe:dynaFormControl type="calendar" for="cal" styleClass="calendar">  
                            <!-- <p:calendar id="cal" value="#{data.value}" required="#{data.required}" showOn="button"
                                        locale="es" pattern="dd/MM/yyyy"  mask="true"/>  -->       
                            <p:calendar id="cal" size="15"
                               required="#{data.required}"
                               value="#{data.value}" locale="es"
                               pattern="dd/MM/yyyy" mode="popup" showOn="button" navigator="true"
                               converterMessage="El formato de la fecha del campo es erroneo (dd/mm/aaaa)"  mask="true"/>            
                                        
                                        
                        </pe:dynaFormControl>  
                        <pe:dynaFormControl type="select" for="sel" styleClass="select">  
                            <p:selectOneMenu id="sel" value="#{data.value}" required="#{data.required}"
                                converter="bardemConvert">  
                                <f:selectItems value="#{adminMaestrasGenForm.getData(data.type)}"
                                var="c"  itemLabel="#{c.nombre}" itemValue="#{c}"/>
                            </p:selectOneMenu>  
                        </pe:dynaFormControl>  
                        <pe:dynaFormControl type="textarea" for="tarea">  
                            <p:inputTextarea id="tarea"  cols="112" rows="4" style="width:100%"
                            	value="#{data.value}" required="#{data.required}" autoResize="false"/>  
                        </pe:dynaFormControl>  
                        <pe:dynaFormControl type="rating" for="rat">  
                            <p:rating id="rat" value="#{data.value}" required="#{data.required}"/>  
                        </pe:dynaFormControl>  
                  
                    </pe:dynaForm>  
                      
	            <h:panelGroup layout="block">                                
                       <h:panelGroup layout="block" style="float:right;margin-top:20px;margin-bottom:20px;padding-right: 10px;">
                       
                       <p:commandButton id="cancelarFilaMaestra"  
                           icon="silk-icon-cancel" 
                           value="#{text['button.cancel']}"
                           onclick="javascript:PF('wvbloqueDetalleFilaMaestra').close();"/>
                    
                        <p:commandButton value="#{text['button.save']}" icon="silk-icon-bullet-disk"    
                           onstart="javascript:PF('waitP').show();"
                           oncomplete="PF('waitP').hide(), PF('wvbloqueDetalleFilaMaestra').close();" 
                           update=":adminTablasMaestras:panelMaestAmbitosGeograficos, :adminTablasMaestras:mensajes, :adminTablasMaestras:tablaDatos"
                           action="#{adminMaestrasGenForm.guardar}"/>
                       </h:panelGroup>
                       <div class="clear"/>
                </h:panelGroup>   

            </p:panel>
       </h:panelGroup>
            
       </h:panelGroup>
        <!--<ui:include src="edicionAmbitosGeograficos.xhtml"/>-->


    </h:panelGroup> 


</ui:composition>