<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui">

    <p:dialog id="waitPanel" widgetVar="waitP" resizable="false" showEffect="fade" 
              hideEffect="fade" modal="true" draggable="false" showHeader="false" >
        <h:panelGrid columns="2">
            <h:graphicImage value="/images/gep/loading.gif"  alt="#{text['button.sending']}"/>
            <h:outputText value="#{text['button.sending']}" />
        </h:panelGrid>
    </p:dialog>
    
</ui:composition>