<ui:composition  xmlns="http://www.w3.org/1999/xhtml"
                 xmlns:h="http://java.sun.com/jsf/html"
                 xmlns:ui="http://java.sun.com/jsf/facelets"
                 xmlns:p="http://primefaces.org/ui">
    <script type="text/javascript">
        var showPanelEnviadoOnSubmit = true;
    
        function mostrarPanelEnviandoFormSubmit() {
        	if(showPanelEnviadoOnSubmit) {
        	    mostrarPanelEnviando();
        	}
        	showPanelEnviadoOnSubmit = true;
        }
        
        function mostrarPanelEnviando() {
            document.body.style.cursor='wait';
            PF('panelEnviando').show();
        }
        function ocultarPanelEnviando() {
            document.body.style.cursor='auto';
            PF('panelEnviando').hide();
        }
    </script>
    
    <p:dialog widgetVar="panelEnviando" modal="true" resizable="false" closable="false" showHeader="false" >
      <!--   <h:panelGrid columns="2">
            <h:graphicImage value="/images/gep/loading.gif"  alt="#{text['boton.enviando']}"/>
            <h:outputText value="#{text['boton.enviando']}" />
        </h:panelGrid> -->
    </p:dialog>
</ui:composition>