<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html">
  
                <div>
                    <div style="display:Block;margin-top:35px">
                        <h2 style="color: #55778C;font-weight: bold;">#{titulo}</h2>
                    </div>
                    <div style="float:right; margin-right:10px;margin-top:-70px">
                            <a href="/sico/pages/inicio.html">
                                <div><h:graphicImage value="/images/homeMin.png"/></div>
                                <div>#{text['home.inicio']}</div>
                            </a>
                    </div>
                </div>
                
</ui:composition>