<ui:composition xmlns="http://www.w3.org/1999/xhtml"
     xmlns:ui="http://java.sun.com/jsf/facelets"
     xmlns:h="http://java.sun.com/jsf/html"
	 xmlns:p="http://primefaces.org/ui">

	<Style>
		.ui-growl{
			position: fixed;
			top: 20px;
			right: 20px;
			width: 550px;
		}

		.ui-growl-message{
			padding: 0px 0px 5px;
			width: 450px;
			float: right;
		}

	</Style>
	
	<h:form id="growMsgForm" prependId="false">
	 
	 <h:panelGroup layout="block">   
	    <h:panelGroup layout="block">
	         <p:growl id="growlInfo" severity="info" sticky="true" widgetVar="widgetGrowlInfo" style="width: 300px"/>
	       	 <p:growl id="growlError" severity="error" autoUpdate="true" sticky="true" style="width: 300px"/>
	    </h:panelGroup>
	    
	    <p:confirmDialog global="true" showEffect="fade" appendTo="@(body)">
	    	<p:panelGrid styleClass="tablaBoton">
	            <p:row>                 
	                <p:column>
		        		<p:commandButton value="Si" type="button" styleClass="ui-confirmdialog-yes" icon="silk-icon-accept" />
	        		</p:column>
	        		<p:column>
		        		<p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="silk-icon-cancel" />
		        	</p:column>
		        </p:row>
		    </p:panelGrid>    	
	    </p:confirmDialog>
	   </h:panelGroup>
    </h:form>
    
</ui:composition>