<ui:composition xmlns="http://www.w3.org/1999/xhtml"   
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:gep="http://apps.csic.es/gep"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:sec="http://www.springframework.org/security/facelets/tags"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:p="http://primefaces.org/ui">
    
    <c:set var="optionDatosGenerales" value="option" />
    <c:set var="optionResumen" value="option" />
    <c:set var="optionDatosParticipantes" value="option" />
    <c:choose>
        <c:when test="${optionSelected eq 'datosGenerales'}">
            <c:set var="optionDatosGenerales" value="option_selected" />
        </c:when>
        <c:when test="${optionSelected eq 'resumen'}">
            <c:set var="optionResumen" value="option_selected" />
        </c:when>
        <c:when test="${optionSelected eq 'datosParticipantes'}">
            <c:set var="optionDatosParticipantes" value="option_selected" />
        </c:when>
    </c:choose>
    
    <h:panelGroup layout="block" class="contenedorNavegacion" id="capaContNavegacion">
        <div id="botonOpciones" style="width:50px;hight:50px;text-align: center;cursor: pointer" class="left">
            <div>
            	<h:graphicImage id="opciones" value="/images/opciones.png"/>                             
            </div>
            <div style="color: #369;">#{text['home.menu']}</div>
        </div>     
       
        
        <div class="tituloDetalle">
            <h:outputText value="#{text['navegacion.ayudas']} " styleClass="tituloDetalle"/>
	            <c:if test="${optionDatosGenerales eq 'option_selected'}">
	            	<h:outputText value="| #{text['navegacion.datosGenerales']}" styleClass="tituloDetalle"/>
	               	<div class="clear"/>
	               	<h:outputText value="#{paramForm.acronimo}" styleClass="tituloEdicion"   />                   
	            </c:if>
	
				<c:if test="${optionResumen eq 'option_selected'}">
	                <h:outputText value="| #{text['navegacion.resumen']}" styleClass="tituloDetalle"/>
	                <div class="clear"/>
	               	<h:outputText value="#{paramForm.acronimo}" styleClass="tituloEdicion"  />   
	            </c:if>
	            
	            <c:if test="optionDatosParticipantes eq 'option_selected'}">
					<h:outputText value="| #{text['navegacion.participantes']}" styleClass="tituloDetalle"/>
					<div class="clear"/>
					<h:outputText value="#{paramForm.acronimo}" styleClass="tituloEdicion"  />  
				</c:if>
        </div>
        <div class="clear"/>
        
         <ui:include src="../incl/incVolverEdicion.xhtml" style="color: #55778C; font-weight: bold;"/> 
       
        <div style="float:right; margin-right:10px;margin-top:-10px">
            <c:if test="${userFormSesion.inicio}">
                <a href="/sico/pages/inicio.html">
                    <div><h:graphicImage value="/images/homeMin.png"/></div>
                    <div>#{text['home.inicio']}</div>
                </a>
            </c:if>
        </div>

        <div class="contenedorOpciones chat-bubble">
            <div class="principal">
                <ul>
                    <li>
                        <a href="/sico/pages/inicio.html"
                            onclick="javascript:PF('waitP').show();return confirmacion()">
                            <div><h:graphicImage id="home" value="/images/home.png"/></div><div>#{text['home.inicio']}</div>
                        </a>
                        <p:tooltip for="home" value="#{text['home.principalVolver']}" showEffect="fade" hideEffect="fade" />
                    </li>
                </ul>
            </div>
            <div class="secundaria">
                <ul>
                	 <li>
                        <a id="#{optionResumen}" href="/sico/pages/ayudas/consultaAyuda/resumenAyudas.html?idAyuda=#{idAyuda}"
                            onclick="javascript:PF('waitP').show();return confirmacion();" style="display:block; margin-top:5px">
                            <div><h:graphicImage value="/images/resumen40.png"/></div><div>#{text['navegacion.resumen']}</div>
                        </a>
                    </li>
              
                </ul>
                <ul>
					 <li>
                        <a id="#{optionDatosGenerales}" href="/sico/pages/ayudas/consultaAyuda/EdicionDatosGeneralesAyudas.html?idAyuda=#{idAyuda}"
                            onclick="javascript:PF('waitP').show();return confirmacion();" style="display:block; margin-top:7px">
                            <div><h:graphicImage value="/images/Datos_generales.png"/></div><div>#{text['navegacion.datosGenerales']}</div>
                        </a>
                    </li>                
               
                </ul>
                <ul>
                    <li>
                         <a id="#{optionDatosParticipantes}" href="/sico/pages/ayudas/consultaAyuda/participantesAyudas.html?idAyuda=#{idAyuda}"
                           	onclick="javascript:PF('waitP').show();return confirmacion();" style="display:block; margin-top:-2px">
                            <div><h:graphicImage height="47" value="/images/grupos.png"/></div><div>#{text['navegacion.participantes']}</div>
                       	</a>
                    </li> 
                 
                </ul>
            </div>
            <div class="chat-bubble-arrow-border"></div>
            <div class="chat-bubble-arrow"></div>

        </div>
    </h:panelGroup>
    
 
    <div style="height:60px"></div>
    
    <p:sticky target="capaContNavegacion"/>
    
    <script type="text/javascript">
        $('#botonOpciones').click(function(e){ 
          e.stopPropagation();
          $('.contenedorOpciones').toggle("fast");
        });
        
        $('#botonOpciones').hover(
            function(e){ 
                $('#botonOpciones').css("text-decoration", "underline");
            }, function(e){ 
                $('#botonOpciones').css("text-decoration", "");
            }
        );
        
        $('.contenedorOpciones').click(function(e){
            e.stopPropagation();
        });

        $(document).click(function(){
            if ($('.contenedorOpciones').is(':visible')) {
                $('.contenedorOpciones').toggle("fast");
            }
        });
    </script>

</ui:composition>
