<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                template="/templates/sicoTemplate.xhtml">
    <ui:define name="css_app">
        <link type="text/css" rel="stylesheet" media="all" href="#{request.contextPath}/styles/sico.css?version=#{text['version']}"/>
        <link type="text/css" rel="stylesheet" media="all" href="#{request.contextPath}/styles/silkicons.css?version=#{text['version']}"/>
    </ui:define>
    <ui:define name="js_app">
		<script type="text/javascript" src="#{request.contextPath}/scripts/sico.js?version=${pom.version}"/>
    </ui:define>
    <ui:insert name="content"/>
    <!-- TO DO -->
    <!-- 
    <ui:param name="linkManualAyuda" value="#{text['url.manualAyuda']}"/>
     -->
	<ui:define name="js_app_end">
    </ui:define>
    <ui:define name="body">
    	<!-- TODO -->
    	<!-- 
        <h:form>
            <h:panelGroup layout="block" rendered="#{controlRoles.mensajeSupHomeActive}">
                <div id="mensajeHome" class="mensajeSuperiorHome hidden">
                    <h:commandLink actionListener="#{controlRoles.cerrarMensajeSuperiorHome}">
                        <div id="cerrar" class="silk-icon-cross cerrarMensaje" title="Cerrar"/>
                    </h:commandLink>
                    <span class="negrita">#{controlRoles.mensajeSuperiorHome}</span>
                </div>
            </h:panelGroup>
        </h:form>
         -->
    </ui:define>
</ui:composition>