<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                template="/templates/sicoTemplate.xhtml">
    <ui:define name="css_app">
        <link type="text/css" rel="stylesheet" media="all" href="#{request.contextPath}/styles/sico.css?version=#{text['version']}"/>
        <link type="text/css" rel="stylesheet" media="all" href="#{request.contextPath}/styles/silkicons.css?version=#{text['version']}"/>
    </ui:define>
    <ui:define name="js_app">
		<script type="text/javascript" src="#{request.contextPath}/scripts/sico.js?version=${pom.version}"/>
    </ui:define>
    <ui:insert name="content"/>
    <ui:param name="linkManualAyuda" value="#{text['url.manualAyuda']}"/>
    
    <ui:define name="js_app_end">
	<script>
	 /*
        $(document).ready(function() {
            $("#mensajeGrupos").fadeIn(1000).removeClass('hidden');
            $("#mensajeServicios").fadeIn(1000).removeClass('hidden');
        });
        
        $("#cerrarGrupos").click(function() {
            $("#mensajeGrupos").fadeOut(1000).addClass('hidden');
        });
        
        $("#cerrarServicios").click(function() {
            $("#mensajeServicios").fadeOut(1000).addClass('hidden');
        });
     */           
	</script>
    </ui:define>
    
</ui:composition>