<?xml version='1.0' encoding='ISO-8859-1'?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:f="http://java.sun.com/jsf/core" 
      xmlns:h="http://java.sun.com/jsf/html" 
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <script type="text/javascript">var appContext = '#{request.contextPath}';</script>
        <!-- Include common set of meta tags for each layout --> 
        <ui:include src="/templates/gep/resources.xhtml"/>
        <title><ui:insert name="title">#{text['comunes.aplicacion.nombre']}</ui:insert></title>
        <link rel="shortcut icon" href="#{request.contextPath}/images/gep/favicon.ico"/>
        <ui:insert name="css_app"><!-- Aqui se incluirán los css propios de cada aplicacion --></ui:insert>
        <ui:insert name="js_app"><!-- Aqui se incluirán los js propios de cada aplicacion --></ui:insert>
<!--         <ui:include src="../pages/googleAnalytics/sico.xhtml"/> -->
    </h:head>
    <ui:insert name="body"><!-- Aqui se incluirán el body --></ui:insert>
    <h:body styleClass="conImagen" id="cuerpo">
        <!-- capaOpacidad se esta usando en vacaciones
		para poner una capa de opacidad pero para que pueda
		funcionar en explorer 6 hay que insertar el <div> en el
		template de gep -->
	        <div id="capaOpacidad" class="capaOpacidad">
	        </div>
        <!-- TO DO -->
        <!-- 
        <c:if test="${!rolForm.renderGestionRolAcceso}">
        	se inicializa el rol de acceso llamando a cargarRolAcceso
        </c:if>
        -->    
        
        <div id="screen">
            <div id="header"> 
                <ui:insert name="header">
                    <ui:include src="/common/gep/cabecera.xhtml"/>
                </ui:insert>    
            </div>
            <div id="content">
                <table border="0" cellpadding="0" cellspacing="0" width="98%">
                    <tr>
                        <td id="columna" class="columnaMenuAncha">
                            <ui:insert name="menu"> 
                                	<ui:include src="../menu.xhtml"/>
                            </ui:insert>
                            <div id="menuPrincipal" class="ocultarMenu" onclick="evaluarMenu(); evaluaCapa('menu');"
                                 onmouseover="mostrarToolTip('toolTipPlegar','toolTipDesplegar')"
                                 onmouseout="ocultar('toolTipPlegar'); ocultar('toolTipDesplegar')">
                            	
                                <div id="toolTipPlegar">Plegar</div>
                                <div id="toolTipDesplegar">Desplegar</div>
                            </div>
                        </td>
                        <td style="width:2%"/>
                        <td valign="top">
                            <div class="contSuperior"><ui:insert name="contSuperior"/></div>
                            <div id="body"><ui:insert/></div>
                        </td>
                    </tr>
                </table>
            </div>
            <div id="footer"/>
        </div>
        <script>
          //  plegarMenu('true');
           // initMenus();

            //inicializa las cookie max_min que gestiona los bloques de datos. Ver directorio.js
         //   initCookieBloquesDatos();
        </script>
        <ui:insert name="js_app_end">
                <ui:include src="/common/gep/js_app_end.xhtml"/>
        </ui:insert>
    </h:body>
</html>