<?xml version='1.0' encoding='UTF-8' ?>
    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"   
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/templates/defaultPage.xhtml">
           
  	<ui:define name="css_app">
        <link type="text/css" rel="stylesheet" media="all" href="#{request.contextPath}/styles/sicoConvocatoria.css?version=#{text['version']}"/>
    </ui:define>
    
    <!--  ANIMACION DE CARGA -->
	<p:ajaxStatus onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" />	 
	<p:dialog widgetVar="statusDialog" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
   		<img  src="#{request.contextPath}/images/ajaxloadingbar.gif" alt="#{text['navegacion.cargando']}"></img>
	</p:dialog>	
	
	<div id="cons_conv_top" class="div-conv_top">
		<div class="div-izquierda">
			<h1 class="fuente-letra-gestion">Gestión de Avisos</h1>
		</div>
	</div>
	
	<h:form id="historicoForm">
		<p:layoutUnit position="east" id="historico">
			<div id="cons_conv_left" class="div-conv-left">
				<div id="cons_conv_body_list" class="div-conv-body-list">
					<p:outputPanel id="tabla">
						<p:growl id="statusMessage" showDetail="true" />
			    		<p:dataTable id="historicoTable" styleClass="notificationTableClass" var="bean"
							value="#{notificacionConvocatoriaAction.convocatoriaNotificationDTOList}"
							lazyDataModel="true"
							paginator="true" rows="10" paginatorPosition="bottom"
							paginatorTemplate="  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
							rowKey="#{bean.id}"
							selection="#{notificacionConvocatoriaAction.selectedConvocatoriaNotificationDTO}"
							selectionMode="single"
							rowStyleClass="#{bean.read eq false ? 'colored' : null}
										   #{bean.read eq false ? 'firstColColored' : null}"
							rowSelectMode="new"
							emptyMessage="#{text['comunes.listado.noResultados']}"
							widgetVar="historicoTableVar">
							
							<p:column styleClass="firstCol"/>
							
							<p:column styleClass="defaultCol"
								headerText="ID Convocatoria"
								filterBy="#{bean.idConvocatoriaString}"
								filterMatchMode="contains">
								<h:outputText value="#{bean.idConvocatoriaString}" />
							</p:column>
							
							<p:column styleClass="defaultCol"
								headerText="Nombre Corto Convocatoria"
								filterBy="#{bean.convocatoriaShortName}"
								filterMatchMode="contains">
								<h:outputText value="#{bean.convocatoriaShortName}" />
							</p:column>
							
							
							<p:column styleClass="titleCol"
								headerText="Título Mensaje"
								filterBy="#{bean.title}"
								filterMatchMode="contains">
								<h:outputText value="#{bean.title}" />
							</p:column>
							
							<p:column styleClass="defaultCol"
								headerText="Estado Actual"
								filterBy="#{bean.status}"
								filterMatchMode="contains">
								<h:outputText value="#{bean.status}" />
							</p:column>
							
							<p:column styleClass="defaultCol"
								headerText="Fecha Mensaje"
								filterBy="#{bean.date}"
								filterMatchMode="contains">
								<h:outputText value="#{bean.date}" />
							</p:column>
							
							<p:column styleClass="defaultCol"
								headerText="Acciones">
			                    <p:commandButton class="boton-eliminar"
			                        title="Eliminar mensaje"
			                        value="-"
			                        action="#{notificacionConvocatoriaAction.deleteMessage(bean)}"
			                        update="historicoTable" 
			                        process="@this"
			                        >
			                        <p:confirm header="Confirmar" message="¿Está seguro de que quiere eliminar esta notificación?" icon="ui-icon-alert" />
			                    </p:commandButton>
			                    <p:confirmDialog global="true" showEffect="fade" hideEffect="fade" closable="false" 
          							closeOnEscape="false">
				                    <div align="center">
								        <p:commandButton value="Sí" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
								        <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
								    </div>
							    </p:confirmDialog>
	                		</p:column> 
	                			
                		 <p:ajax event="rowSelect" oncomplete="PF('mostrarMensajeWgt').show()" listener="#{notificacionConvocatoriaAction.getSubsanar}" process="@this" update="dialog"/>
						</p:dataTable>	
																
					</p:outputPanel>
				</div>
			</div>
		</p:layoutUnit>
		
	</h:form>
	
	<p:dialog id="dialog" header="#{notificacionConvocatoriaAction.selectedConvocatoriaNotificationDTO.title}"
				widgetVar="mostrarMensajeWgt" modal="true"
				height="auto" width="40%" resizable="false" draggable="false" styleClass="dialog-modal">
				<div align="center">
					<div class="div-center-message">
						<div class="div-center-middel">
							<h:outputText value="#{notificacionConvocatoriaAction.selectedConvocatoriaNotificationDTO.title}"/>
							<h:outputText value="#{notificacionConvocatoriaAction.selectedConvocatoriaNotificationDTO.messageBefore}"/>
							<p:commandLink id="ajax" actionListener="#{notificacionConvocatoriaAction.onSelectedConvocatoriaNotificationDTO(notificacionConvocatoriaAction.selectedConvocatoriaNotificationDTO)}">
        						<h:outputText value="#{notificacionConvocatoriaAction.selectedConvocatoriaNotificationDTO.idConvocatoriaString}"/>
    						</p:commandLink>
							<h:outputText value=" se le solicita modificarla por los siguientes motivos:" rendered="#{notificacionConvocatoriaAction.subsanar==true}"/>
							<br/>
							<br/>
							<p:inputTextarea  styleClass="spaceCell" value="#{notificacionConvocatoriaAction.messageMot}" maxlength="255" disabled="true" rendered="#{notificacionConvocatoriaAction.subsanar==true}"/>
							<br/>
							<br/>
							<h:outputText value="#{notificacionConvocatoriaAction.selectedConvocatoriaNotificationDTO.messageAfter}"/>
							<h:outputText value="#{notificacionConvocatoriaAction.selectedConvocatoriaNotificationDTO.date}"/>
						</div>
					</div>
				</div>	
				<div align="center">
					<div class="div-center-table">
						<div class="div-center-cell">
							<p:commandButton class="botones" value="Marcar Como Leido" oncomplete="PF('mostrarMensajeWgt').hide()" action="#{notificacionConvocatoriaAction.read}" update="historicoForm:tabla" process="@all" >
								<f:setPropertyActionListener target="#{notificacionConvocatoriaAction.selectedConvocatoriaNotificationDTO.read}" value="true"/>					
							</p:commandButton>
						</div>
					</div>
				</div>	
	</p:dialog>
                
</ui:composition>               