<ui:composition xmlns="http://www.w3.org/1999/xhtml"  
                xmlns:h="http://java.sun.com/jsf/html"  
                xmlns:f="http://java.sun.com/jsf/core"  
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">


	<div class="marcoDatosConcesion">


		<div>
			<h:panelGrid columns="2" styleClass="topMargin" cellspacing="5">
				<p:outputLabel 
					value="#{text['planesInvestigacion.ent.financiadoras']}"
					styleClass="titulosConcesion" />

			</h:panelGrid>
		</div>


		<div>
			<h:panelGrid columns="2" cellspacing="5"
				columnClasses="label-Financial-Entities">
				<p:outputLabel
					value="#{text['concesion.label.entidades']}"
					styleClass="fuente-letra" />
				<p:commandButton value="+" class="buttonAddDataTable"
					onclick="PF('modalEntidadesFinanciadorasWgt').show();" disabled="#{datosGeneralesConvocatoriaAction.datosGeneralesConvocatoriaDTO.status eq 6}" />
			</h:panelGrid>
		</div>



		


		<div>

		<h:panelGrid columns="1" styleClass="topMargin" >
		<p:outputPanel id="tabla">
			<p:dataTable id="entidadesFinanciadorasTable" styleClass="entidadesFinanciadorasTableClass" var="bean"
				disabled="#{datosGeneralesConvocatoriaAction.datosGeneralesConvocatoriaDTO.status eq 6}"
				value="#{concesionConvocatoriaAction.entitiesFinancingFinal}"
				paginator="true" rows="10" paginatorPosition="bottom"
				paginatorTemplate="  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				rowsPerPageTemplate="10,20,50,100,200" rowKey="#{bean.id}"
				selection="#{concesionConvocatoriaAction.concesionConvocatoriaDTO.conveningEntityDTO}"
				selectionMode="single" tableStyle="width:100%;"
				emptyMessage="#{text['comunes.listado.noResultados']}"
				widgetVar="entidadesFinanciadorasTable">
			
				<p:column
					headerText="#{text['concesion.entidades.financiadoras.nif.vat']}"
					sortBy="#{bean.nifVat}" filterBy="#{bean.nifVat}"
					filterMatchMode="contains">
					<h:outputText value="#{bean.nifVat}" />
				</p:column>

				<p:column
					headerText="#{text['concesion.entidades.financiadoras.nombre.razon.social']}"
					sortBy="#{bean.razonSocial}" filterBy="#{bean.razonSocial}"
					filterMatchMode="contains">
					<h:outputText value="#{bean.razonSocial}" />
				</p:column>

				<p:column
					headerText="#{text['concesion.entidades.financiadoras.siglas']}"
					sortBy="#{bean.siglas}" filterBy="#{bean.siglas}"
					filterMatchMode="startsWith">
					<h:outputText value="#{bean.siglas}" />
				</p:column>

				<p:column
					headerText="#{text['mediosPublicacion.detalle.convocatorias.fechaInicio']}"
					sortBy="#{bean.fechaInicio}" filterBy="#{bean.fechaInicio}"
					filterMatchMode="contains">


					<f:facet name="filter">
						<p:calendar pattern="dd/MM/yyyy">
							
						</p:calendar>
					</f:facet>


					<h:outputText value="#{bean.fechaInicio}" />
				</p:column>

				<p:column
					headerText="#{text['mediosPublicacion.detalle.convocatorias.fechaFin']}"
					sortBy="#{bean.fechaFin}" filterBy="#{bean.fechaFin}"
					filterMatchMode="contains">
					<f:facet name="filter">
						<p:calendar pattern="dd/MM/yyyy">
							
						</p:calendar>
					</f:facet>

					<h:outputText value="#{bean.fechaFin}" />

				</p:column>
				
				<p:column style="text-align: center">
                    <p:commandButton class="boton-eliminar"
                        title="Eliminar entidad financiadora"
                        value="-"
                        action="#{concesionConvocatoriaAction.deleteEntity(bean)}"
                        update="form" 
                        process="@this"/>
                </p:column>


	

			</p:dataTable>

			</p:outputPanel>
			</h:panelGrid>
		</div>


		<div>
			<h:panelGrid columns="2" styleClass="topMargin" cellspacing="5"
				columnClasses="label-Geographic-scope">
				<p:outputLabel 
					value="#{text['concesion.ambitos.geograficos.entidad.financiadoras']}"
					styleClass="fuente-letra" />

			</h:panelGrid>
		</div>


		<div>
			<h:panelGrid columns="2" styleClass="topMargin" cellspacing="5"
				columnClasses="item-Budgetary-concession" style="margin-bottom : 2%;">
				<p:selectOneMenu id="comboAplicacionPresupuestaria"
					disabled="#{datosGeneralesConvocatoriaAction.datosGeneralesConvocatoriaDTO.status eq 6}"
					style="width:35%"
					value="#{concesionConvocatoriaAction.selectedAmbitoGeografico}" var="a"
					converter="ambitoGeograficoDTOConverter">
					<f:selectItem 
						noSelectionOption="true" itemLabel="#{concesionConvocatoriaAction.emptyAmbitoGeograficoDTO.name}" itemValue="#{concesionConvocatoriaAction.emptyAmbitoGeograficoDTO}" />
					<f:selectItems
						value="#{concesionConvocatoriaAction.concesionConvocatoriaDTO.ambitoGeograficoDTOList}" 
						var="amb" itemLabel="#{amb.name}" itemValue="#{amb}" />
					<p:column>
		                <h:outputText value="#{a.name}" />
		            </p:column>
				</p:selectOneMenu>
			</h:panelGrid>
		</div>
		
		<div>
			<h:panelGrid columns="1" styleClass="topMargin" cellspacing="5" columnClasses="label-Confinement">
				<p:outputLabel for="Competitiva" value="#{text['concesion.ambito.administrativo']}" styleClass="fuente-letra" />
			</h:panelGrid>
		</div>
		
		
		<div class="margin-adjustment-concession">
			<h:panelGrid columns="1" style="width:100% ; margin-left:1%;" columnClasses="input-Confinement">
				<p:selectOneRadio id="AdmitoAdministrativo" value="#{concesionConvocatoriaAction.selectAdministrativeScope}" disabled="#{datosGeneralesConvocatoriaAction.datosGeneralesConvocatoriaDTO.status eq 6}">
					<f:selectItem id="public" itemLabel="#{text['concesion.ambito.publico']}" itemValue="false"  />
					<f:selectItem id="private" itemLabel="#{text['concesion.ambito.privado']}"  itemValue="true"  />
				</p:selectOneRadio>
			</h:panelGrid>
		</div>

	</div>


	<div class="marcoDatosConcesion">   
		
		<div>
			<h:panelGrid columns="2" styleClass="topMargin" cellspacing="5">
				<p:outputLabel 
					value="#{text['concesion.label.financiacion']}" styleClass="titulosConcesion"/>
			</h:panelGrid>
		</div>
		
		<div>
			<h:panelGrid columns="2"  styleClass="leftMargin1" columnClasses="label-OneRadio-concession" cellspacing="5">
				<p:outputLabel for="Cofinanciado" value="#{text['concesion.confinanciado']}" styleClass="fuente-letra" />
				<p:outputLabel  value="#{text['concesion.porcentaje.Cofinanciacion']}" styleClass="fuente-letra" />
			</h:panelGrid>
		</div>
		
		
		
		<div>
			<h:panelGrid columns="2" style="width:100% ; margin-left:1%;" columnClasses="select1-OneRadio-concession">
				<p:selectOneRadio id="Cofinanciado" value="#{concesionConvocatoriaAction.selectCofinanced}" disabled="#{datosGeneralesConvocatoriaAction.datosGeneralesConvocatoriaDTO.status eq 6}">
					<f:selectItem id="comp1" itemLabel="#{text['comunes.si']}" itemValue="true" />
					<f:selectItem id="comp2" itemLabel="#{text['comunes.no']}"  itemValue="false"  />
				</p:selectOneRadio>
				
			<p:inputText id="Cofinanciacion" style="width:85%" value="#{concesionConvocatoriaAction.concesionConvocatoriaDTO.percentageCofinancing}" disabled="#{datosGeneralesConvocatoriaAction.datosGeneralesConvocatoriaDTO.status eq 6}"
			 onkeypress="return valida(event)" maxlength="100"/>	
				
			</h:panelGrid>
		</div>
		
				<div>

			<h:panelGrid columns="2" styleClass="topMargin" style="width:100% ; margin-left:1%;" columnClasses="label-Confinement">
				<p:outputLabel for="combo1"	value="#{text['concesion.modalidad.confinacion']}" styleClass="fuente-letra" />
				<p:outputLabel for="Competitiva" value="#{text['concesion.competitiva']}" styleClass="fuente-letra" />
					
			</h:panelGrid>
		</div>
		
		
		<div class="margin-adjustment-concession">

			<h:panelGrid columns="2" styleClass="topMargin" style="width:100% ; margin-left:1%;" columnClasses="input-Confinement">
		
				
				<p:selectOneMenu id="combo1" style="width:50%" value="#{concesionConvocatoriaAction.selectModeConfinement}" disabled="#{datosGeneralesConvocatoriaAction.datosGeneralesConvocatoriaDTO.status eq 6}">
					<f:selectItem id="items1" itemLabel="CSIC ORGC" itemValue="CSIC ORGC" />
				</p:selectOneMenu>
				<p:selectOneRadio id="Competitiva" value="#{concesionConvocatoriaAction.selectCompetitive}" disabled="#{datosGeneralesConvocatoriaAction.datosGeneralesConvocatoriaDTO.status eq 6}">
					<f:selectItem id="cofinan1" itemLabel="#{text['comunes.si']}"  itemValue="true"  />
					<f:selectItem id="cofinan2" itemLabel="#{text['comunes.no']}" itemValue="false"  />
				</p:selectOneRadio>
				
				
			</h:panelGrid>
		</div>
		
		<div>
			<h:panelGrid columns="1" styleClass="topMargin" style="margin-left:1%;" >
				<p:outputLabel value="#{text['convocatoria.datosGenerales.condiciones.cofinanciacion']}"
					styleClass="fuente-letra" />
				<p:inputTextarea styleClass="spaceCell" style="width:97%;" value="#{concesionConvocatoriaAction.concesionConvocatoriaDTO.conditionsCofinancing}"
					disabled="#{datosGeneralesConvocatoriaAction.datosGeneralesConvocatoriaDTO.status eq 6}" maxlength="300"/>
			</h:panelGrid>
		</div>


		<div>
			<h:panelGrid columns="2" styleClass="topMargin" style="margin-left:1%;" columnClasses="primeraColumnaDatosSigeco">
				<p:outputLabel value="#{text['concesion.label.datos.sigeco']}"
					styleClass="fuente-letra" />
				<p:commandButton value="#{text['concesion.boton.sincronizar.sigeco']}" class="botones" disabled="#{datosGeneralesConvocatoriaAction.datosGeneralesConvocatoriaDTO.status eq 6}"
					 />
			</h:panelGrid>
		</div>



		<div>
			<h:panelGrid columns="2" styleClass="topMargin" style="width:100% ; margin-left:1%;" columnClasses="label-Confinement">
				<p:outputLabel value="#{text['concesion.label.modo.financiacion']}"  styleClass="fuente-letra" />
				<p:outputLabel value="#{text['planesInvestigacion.fondo.financ']}" styleClass="fuente-letra" />
			</h:panelGrid>
		</div>
				
			<div>
			<h:panelGrid columns="2" styleClass="spaceCell" style="width:100% ; margin-left:1%;" columnClasses="input-Confinement">
				<h:panelGrid columns="1" styleClass="spaceCell">
					<h:panelGroup id="comboModePanel" styleClass="comboModePanelClass">
						<p:autoComplete id="modo" dropdown="true" value="#{concesionConvocatoriaAction.selectedMode}" completeMethod="#{concesionConvocatoriaAction.completeModoFinanciacion}"
	                        var="modo" itemValue="#{modo}" converter="modoFinanciacionDTOConverter" forceSelection="true" disabled="#{datosGeneralesConvocatoriaAction.datosGeneralesConvocatoriaDTO.status eq 6}">
				            <p:column>
				                <h:outputText value="#{modo.name}" />
				            </p:column>
				            <p:ajax event="itemSelect" listener="#{concesionConvocatoriaAction.onComboModoChange}" update="comboModePanel, selectedModes" />
				        </p:autoComplete>
					</h:panelGroup>
					<h:panelGroup id="selectedModes" styleClass="selectedModesClass">
					<table class="datos-finalidad-table">
								<ui:repeat var="modos" value="#{concesionConvocatoriaAction.selectedModes}" varStatus="status">
									<tr>
										<td>
											<p:commandButton value="-" class="button-delete" action="#{concesionConvocatoriaAction.deleteSelectedMode(modos)}" 
											update="@(.selectedModesClass) @(.comboModePanelClass)" disabled="#{datosGeneralesConvocatoriaAction.datosGeneralesConvocatoriaDTO.status eq 6}"/>
										</td>
										<td>
											<p:outputLabel value="#{modos.name}"/>
										</td>		
									</tr>
								</ui:repeat>
						</table>
					</h:panelGroup>
				</h:panelGrid>
				
				<h:panelGrid columns="1" styleClass="spaceCell">
				
					<h:panelGroup id="comboFondoPanel" styleClass="comboFondoPanelClass" >
						<p:autoComplete id="fondos" dropdown="true" value="#{concesionConvocatoriaAction.selectedFondo}" completeMethod="#{concesionConvocatoriaAction.completeFondoFinanciero}"
	                        var="fondos" itemValue="#{fondos}" converter="fondoFinancieroDTOConverter" forceSelection="true" disabled="#{datosGeneralesConvocatoriaAction.datosGeneralesConvocatoriaDTO.status eq 6}">
	                        
				            <p:column>
				                <h:outputText value="#{fondos.name}" />
				            </p:column>
				            
				            <p:ajax event="itemSelect" listener="#{concesionConvocatoriaAction.onComboFondoChange}" update="comboFondoPanel, selectedFondos" />
				        </p:autoComplete>
					</h:panelGroup>
					
					<h:panelGroup id="selectedFondos" styleClass="selectedFondosClass">
						<table class="datos-finalidad-table">
								<ui:repeat var="fondo" value="#{concesionConvocatoriaAction.selectedFondos}" varStatus="statuss">
									<tr>
										<td>
											<p:commandButton value="-" class="button-delete" action="#{concesionConvocatoriaAction.deleteSelectedFondo(fondo)}" 
											update="@(.selectedFondosClass) @(.comboFondoPanelClass)" disabled="#{datosGeneralesConvocatoriaAction.datosGeneralesConvocatoriaDTO.status eq 6}"/>
										</td>
										<td>
											<p:outputLabel value="#{fondo.name}"  />
										</td>		
									</tr>
								</ui:repeat>
						</table>
					</h:panelGroup>
					
				</h:panelGrid>
			</h:panelGrid>
			</div>
			
			
		</div>
		
		
		
		<div class="marcoDatosConcesion"> 
		
		<div>
			<h:panelGrid columns="1" styleClass="topMargin" cellspacing="5">
				<p:outputLabel value="#{text['concesion.condiciones']}" 
					styleClass="titulosConcesion" />
			</h:panelGrid>
		</div>

		
	
		
		<div>
			<h:panelGrid columns="2" styleClass="topMargin" cellspacing="5" columnClasses="label-Geographic-scope">

				<p:outputLabel for="AppPresupuestaria"
					value="#{text['concesion.aplicacion.presupuestaria']}" styleClass="fuente-letra"/>
			</h:panelGrid>
		</div>

		<div>
			<h:panelGrid columns="2" styleClass="topMargin" cellspacing="5"
				>
				<p:inputText id="AppPresupuestaria" styleClass="spaceCell" style="width:45%;" disabled="#{datosGeneralesConvocatoriaAction.datosGeneralesConvocatoriaDTO.status eq 6}"
					value="#{concesionConvocatoriaAction.concesionConvocatoriaDTO.budgetaryApplication}" maxlength="100"/>
			</h:panelGrid>
		</div>

		<div>
			<h:panelGrid columns="1" tyleClass="spaceCell" cellspacing="5">

				<p:pickList id="pickListConcesionAction"
					disabled="#{datosGeneralesConvocatoriaAction.datosGeneralesConvocatoriaDTO.status eq 6}"
					value="#{concesionConvocatoriaAction.oCConcession}"
					var="optionConditionConcession"
					itemLabel="#{optionConditionConcession.name}"
					itemValue="#{optionConditionConcession}"
					converter="condicionConcesionConverter"
					addAllLabel="#{text['concesion.pickList.addAllLabel']}"
					addLabel="#{text['concesion.pickList.addLabel']}"
					removeAllLabel="#{text['concesion.pickList.removeAllLabel']}"
					removeLabel="#{text['concesion.pickList.removeLabel']}"
					
					labelDisplay="inline" >
					
					<f:facet name="sourceCaption" >#{text['concesion.opciones.condiciones']}</f:facet>
        			<f:facet name="targetCaption">#{text['concesion.opciones.elegidos']}</f:facet>

				</p:pickList>


			</h:panelGrid>
		</div>
		
		
		
		<div>
			<h:panelGrid columns="1" tyleClass="spaceCell" cellspacing="5">

				<p:pickList id="pickListCategoriaGastos"
					disabled="#{datosGeneralesConvocatoriaAction.datosGeneralesConvocatoriaDTO.status eq 6}"
					value="#{concesionConvocatoriaAction.categoriaGastosDL}"
					var="optionCategoriaGastos"
					itemLabel="#{optionCategoriaGastos.name}"
					itemValue="#{optionCategoriaGastos}"
					converter="categoriaGastosDTOConverter"
					addAllLabel="#{text['concesion.pickList.addAllLabel']}"
					addLabel="#{text['concesion.pickList.addLabel']}"
					removeAllLabel="#{text['concesion.pickList.removeAllLabel']}"
					removeLabel="#{text['concesion.pickList.removeLabel']}"
					labelDisplay="inline" >
					
					<f:facet name="sourceCaption" >#{text['concesion.categoria.gastos.opciones']}</f:facet>
        			<f:facet name="targetCaption">#{text['concesion.categoria.gastos.elegidos']}</f:facet>

				</p:pickList>


			</h:panelGrid>
		</div>	
	</div>
	
	<div class="marcoDatosConcesion"> 
		
		<div>
			<h:panelGrid columns="1" styleClass="topMargin" cellspacing="5">
				<p:outputLabel value="#{text['concesion.publicacion.concesion']}"
					styleClass="titulosConcesion"/>
			</h:panelGrid>
		</div>



		<div>
			<h:panelGrid columns="2" styleClass="topMargin" 
				columnClasses="label-Half-publication-concession" cellspacing="10">


				<p:outputLabel id="MedioPublicacion"
					value="#{text['concesion.medio.publicacion']}" style="width:40%"  />

				<p:outputLabel for="FechaPublicacion" value="#{text['concesion.fecha.publicacion']}" />



			</h:panelGrid>
		</div>


		<div>
			<p:inputText id="concesionPublicationId" style="display: none;" disabled="#{datosGeneralesConvocatoriaAction.datosGeneralesConvocatoriaDTO.status eq 6}" value="#{concesionConvocatoriaAction.concesionConvocatoriaDTO.publicationMediaDTO.id}"/>
			<h:panelGrid columns="2" styleClass="leftMargin1" 
				columnClasses="half-publication-concession,input-date-publication-concession">
				
				<p:inputText id="username1"  disabled="#{datosGeneralesConvocatoriaAction.datosGeneralesConvocatoriaDTO.status eq 6}" style="width:85%" value="#{concesionConvocatoriaAction.concesionConvocatoriaDTO.publicationMediaDTO.publicationMedia}" maxlength="100" />
				<p:calendar id="FechaPublicacion" datePattern="d/M/yyyy HH:mm"
					disabled="#{datosGeneralesConvocatoriaAction.datosGeneralesConvocatoriaDTO.status eq 6}"
					showOn="button" styleClass="dateTimeFieldConcession" readonlyInput="true" 
					value="#{concesionConvocatoriaAction.concesionConvocatoriaDTO.publicationMediaDTO.publicationDate}"  />
			</h:panelGrid>
		</div>


		<div>
			<h:panelGrid columns="1" styleClass="topMargin" cellspacing="10">
				<p:outputLabel value="#{text['concesion.url']}" />

			</h:panelGrid>
		</div>

		<div>
			<h:panelGrid columns="1" styleClass="spaceCell" cellspacing="10" style="margin-bottom : 2%;">
				<p:inputText id="urlConcesion" style="width:46%" disabled="#{datosGeneralesConvocatoriaAction.datosGeneralesConvocatoriaDTO.status eq 6}" 
							value="#{concesionConvocatoriaAction.concesionConvocatoriaDTO.publicationMediaDTO.announcementUrl}" maxlength="100"/>
			</h:panelGrid>
		</div>
		
		</div>

	<div class="marcoDatosConcesion">

		<div>
			<h:panelGrid columns="1" styleClass="topMargin" cellspacing="10">
				<p:outputLabel value="Documentación" styleClass="titulosConcesion" />
			</h:panelGrid>
		</div>



		<h:panelGrid columns="3" columnClasses="columnFirstConcession" cellspacing = "10"
			styleClass="topMargin" >

			<p:outputLabel value="#{text['concesion.archivo']}"
				styleClass="fuente-letra" />

			<p:fileUpload
				disabled="#{datosGeneralesConvocatoriaAction.datosGeneralesConvocatoriaDTO.status eq 6}"
				fileUploadListener="#{concesionConvocatoriaAction.concessionDocumentUpload}"
				allowTypes="/(\.|\/)(doc|docx|xls|xlsx|pdf|txt|ppt|pptx|jpeg|jpg|gif|png)$/" auto="true"
				sizeLimit="10000000" fileLimit="10" description="Seleccion un documento"
				invalidFileMessage="Este no es un formato válido, por favor intente de nuevo con un archivo con alguna de estas extenciones .doc .pdf .txt .docx"
				fileLimitMessage="Este archivo es muy grande"
				styleClass="botones"
				label="Seleccione un Archivo"
				update="@(.concesionDocumentPanelClass)"/>




		</h:panelGrid>


		<div>
			<h:panelGrid columns="1" styleClass="concesionDocumentPanelClass" style="width:50%; margin-bottom : 2%;"
				cellspacing="10" id="concesionDocumentPanel">

				<p:dataTable id="tbDocumentosConcesion"
					disabled="#{datosGeneralesConvocatoriaAction.datosGeneralesConvocatoriaDTO.status eq 6}"
					value="#{concesionConvocatoriaAction.concesionConvocatoriaDTO.documentoConcesion}" var="doc"
					emptyMessage="No ha subido documento para esta concesión" resizableColumns="true" tableStyle="width:auto">

					<p:column headerText="Archivos de Concesión">
						<h:outputText value="#{doc.name}" />
					</p:column>

					<p:column styleClass="table-column-center" headerText="Tipo de Documento" width="270px">
						<p:selectOneMenu value="#{doc.documentType}"
					 			converter="documentTypeDTOConverter" var="t" required="false" >
							<f:selectItems
							value="#{concesionConvocatoriaAction.concesionConvocatoriaDTO.tipoDocumentoDTOList}" 
							var="tipo" itemLabel="#{tipo.name}" itemValue="#{tipo}" />
							<p:column>
		                		<h:outputText value="#{t.name}" />
		            		</p:column>
						</p:selectOneMenu>
					</p:column>



					<p:column styleClass="table-column-center" >
		             <p:commandButton action="#{concesionConvocatoriaAction.onSelectConcesionDocumentDTO}"  class="boton-eliminar" update="@(.concesionDocumentPanelClass)" value="" >
		                <f:setPropertyActionListener value="#{doc}" target="#{concesionConvocatoriaAction.documentoConvocatoriaDTOSelected}" />
		            </p:commandButton>
		        	</p:column>


				</p:dataTable>
			</h:panelGrid>
		</div>



	</div>

	<p:dialog header="#{text['planesInvestigacion.ent.financiadoras']}"
		widgetVar="modalEntidadesFinanciadorasWgt" modal="true" height="50%">
				<ui:include src="pagListEntidadesFinanciadorasConvocatoria.xhtml" />
	</p:dialog>




	<br /><br /><br />

</ui:composition>