<ui:composition xmlns="http://www.w3.org/1999/xhtml"  
                xmlns:h="http://java.sun.com/jsf/html"  
                xmlns:f="http://java.sun.com/jsf/core"  
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">                
	

		<div>
			<h:panelGrid columns="1" styleClass="topMargin" cellspacing="10">
				<p:outputLabel value="Fechas de Configuracion de Ayuda:" styleClass="fuente-letra" />
			</h:panelGrid>
		</div>
		
		<div>
			<h:panelGrid columns="1"  cellspacing="5" styleClass="spaceCell">

				<p:pickList id="pickListConfiguracionAyudaAction"
					value="#{configuracionAyudaAction.dCHelp}"
					var="dateConfigurationHelp"
					itemLabel="#{dateConfigurationHelp.nombre}"
					itemValue="#{dateConfigurationHelp}" 
					converter="confAyudaConverter"
					addAllLabel="Añadir Todos" 
					addLabel="Añadir"
					removeAllLabel="Quitar Todos"  
					removeLabel="Quitar"
					labelDisplay="inline"
					disabled="#{!configuracionAyudaAction.convocatoriaEditable}"
					/>

			</h:panelGrid>
		</div>

		<div>	
		    <h:panelGrid columns = "1" styleClass="spaceCell" cellspacing="10">
			<p:outputLabel  value="Otros"  styleClass="fuente-letra" />
		</h:panelGrid></div>
		
		
			<div class="margenInferiorConfAyuda">
			<h:panelGrid columns="1" styleClass="spaceCell" cellspacing="5">

				<p:pickList id="pickListConfiguracionAyudaActionOthers"
					value="#{configuracionAyudaAction.othersHelp}"
					var="others"
					itemLabel="#{others.nombre}"
					itemValue="#{others}" 
					converter="confAyudaConverter"
					addAllLabel="Añadir Todos" 
					addLabel="Añadir"
					removeAllLabel="Quitar Todos"  
					removeLabel="Quitar"
					labelDisplay="inline"
					disabled="#{!configuracionAyudaAction.convocatoriaEditable}"
					/>

			</h:panelGrid>
		</div>



</ui:composition>