<ui:composition xmlns="http://www.w3.org/1999/xhtml"   
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/templates/defaultPage.xhtml">
    <ui:define name="css_app">
        <link type="text/css" rel="stylesheet" media="all" href="#{request.contextPath}/styles/sicoConvocatoria.css?version=#{text['version']}"/>
    </ui:define>
    	<p:ajaxStatus onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" />
 
		<p:dialog widgetVar="statusDialog" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
	   		<img  src="#{request.contextPath}/images/ajaxloadingbar.gif" alt="#{text['navegacion.cargando']}"></img>
		</p:dialog>
    	<p:outputLabel><h1 styleClass="fuente-letra">Creación de Convocatoria</h1></p:outputLabel>
    	<h:panelGrid columns="2">
    		<p:button class="botones_menu" href="nuevaConvocatoria.html" value="Creación Manual de Convocatoria"/>
  			<p:button class="botones_menu" href="#" value="Creación de Convocatoria por BDNS" />
		</h:panelGrid>  			  				        				
</ui:composition>