<ui:composition xmlns="http://www.w3.org/1999/xhtml"   
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://java.sun.com/jsp/jstl/core">	    
	    
    	<p:dataTable id="dTable" value="#{bean.finalityFirstLevel}" style="width:80%" var="data" 
	    			 paginator="true" rows="10"  lazy="true" paginatorPosition="bottom" 
	    			 rowKey="#{data.idFinalityFirstLevel}"   			 
	    			 selection="#{bean2.parentNodeFinality}"
                     selectionMode="single"
                     > 
       			
       			<p:column headerText="Finalidad Nivel 1" filterBy="#{fin.finalityFirstLevel}" filterMacthMode="contains">
       				<p:outputLabel value="#{data.finalityFirstLevel}" />
    			</p:column> 
    		</p:dataTable>
   	
</ui:composition> 
