<ui:composition xmlns="http://www.w3.org/1999/xhtml"  
                xmlns:h="http://java.sun.com/jsf/html"  
                xmlns:f="http://java.sun.com/jsf/core"  
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

   	<div class="marcoDatosGenerales">
   		<div>
			<h:panelGrid columns="1" styleClass="topMargin" cellspacing="5">
				<p:outputLabel 
					value="Datos Básicos"
					styleClass="titulosDatosGenerales" />
			</h:panelGrid>
		</div>
		
		<div>
			<h:panelGrid columns="1" styleClass="spaceCell" cellspacing="10">
			<p:outputLabel for="name" id="nameLabel" styleClass="fuente-letra" value="#{text['datos.generales.etiqueta.nombre']}" />
			<p:inputText  id="name"  class="input-to-validate need-to-draft spaceCell" value="#{datosGeneralesConvocatoriaAction.datosGeneralesConvocatoriaDTO.name}" maxlength="100" disabled="#{!datosGeneralesConvocatoriaAction.convocatoriaEditable}"/>
			</h:panelGrid>
		</div>
		
		<div>
			<h:panelGrid columns="1"  styleClass="spaceCell"
				
				columnClasses="label-BOE" cellspacing="10">
				<p:outputLabel for="subscriptions" styleClass="fuente-letra" value="#{text['datos.generales.etiqueta.convocatoria.interna']}" />
				<p:selectOneRadio id="subscriptions" class="radio-sub" value="#{datosGeneralesConvocatoriaAction.selectConvocatoriaInterna}" disabled="#{!datosGeneralesConvocatoriaAction.convocatoriaEditable}">
					<f:selectItem id="opc1" itemLabel="SI" itemValue="#{true}"  />					
					<f:selectItem id="opc2" itemLabel="NO" itemValue="#{false}" />
				</p:selectOneRadio>
			</h:panelGrid>
		</div>

		<div>
			<h:panelGrid columns="1" styleClass="spaceCell" cellspacing="10">
				<p:outputLabel styleClass="fuente-letra" value="#{text['datos.generales.etiqueta.nombre.acronimo']}"/>
				<p:inputText class="input-to-validate need-to-draft spaceCell" value="#{datosGeneralesConvocatoriaAction.datosGeneralesConvocatoriaDTO.shortName}" maxlength="50" disabled="#{!datosGeneralesConvocatoriaAction.convocatoriaEditable}"/>
			</h:panelGrid>
		</div>

		<div>
			<h:panelGrid columns="1" styleClass="spaceCell" cellspacing="10">
				<p:outputLabel styleClass="fuente-letra" value="#{text['datos.generales.etiqueta.descripcion']}" />
				<p:inputTextarea  styleClass="spaceCell" value="#{datosGeneralesConvocatoriaAction.datosGeneralesConvocatoriaDTO.description}" maxlength="100" disabled="#{!datosGeneralesConvocatoriaAction.convocatoriaEditable}"/>
			</h:panelGrid>
		</div>
	</div>   
	
	<div class="marcoDatosGenerales">
		<div>
			<h:panelGrid columns="1" styleClass="topMargin" cellspacing="5">
				<p:outputLabel 
					value="Documento de Convocatoria"
					styleClass="titulosDatosGenerales" />
			</h:panelGrid>
		</div>
		
		<div id="documentoDiv" class="spaceCell">
			<h:panelGrid id="documentPanel" columns = "2" cellspacing = "10">
		 			<p:fileUpload 
		 				
				  		fileUploadListener="#{datosGeneralesConvocatoriaAction.handleConvocatoryDocumentUpload}"
						allowTypes="/(\.|\/)(doc|docx|xls|xlsx|pdf|txt|ppt|pptx|jpeg|jpg|gif|png)$/"
						auto="true" 
						sizeLimit="10000000"  fileLimit="1"
						description="Seleccion un documento"
						update="documentPanel"
						invalidFileMessage="Este no es un formato válido, por favor intente de nuevo con un archivo con alguna de estas extenciones .doc .pdf .txt .docx"
						fileLimitMessage="Este archivo es muy grande"
						styleClass="botones"
						label="Seleccione un Archivo"
						disabled="#{!datosGeneralesConvocatoriaAction.convocatoriaEditable}"
					/>
					<p:outputLabel id="convocatoriaDocumentName" rendered="#{datosGeneralesConvocatoriaAction.datosGeneralesConvocatoriaDTO.documentoConvocatoria != null}" value="#{datosGeneralesConvocatoriaAction.datosGeneralesConvocatoriaDTO.documentoConvocatoria.name}"/>
			</h:panelGrid>
		</div>
		
	</div>
	<div class="marcoDatosGenerales"> 
		<div>
			<h:panelGrid columns="1" styleClass="topMargin" cellspacing="5">
				<p:outputLabel 
					value="Entidad Convocante"
					styleClass="titulosDatosGenerales" />
			</h:panelGrid>
		</div>
	
		<div>
			<h:panelGrid columns = "1" styleClass="spaceCell"> 
			    <p:commandButton type="button" class="botonElegirEntidadDatosGen" value="Elegir Entidad" onclick="PF('modalEntidadConvocanteWgt').show();" disabled="#{!datosGeneralesConvocatoriaAction.convocatoriaEditable}"/>  
			</h:panelGrid>
		</div>

		<div>
			<h:panelGrid id="selectedEntity" columns="2" styleClass="tablaDatosEntidadConvocante">
				<p:outputLabel value="#{text['concesion.entidades.financiadoras.nif.vat']}" styleClass="fuente-letra" />
				<p:outputLabel id="concesionEntidadesFinanciadorasNifVat" value="#{datosGeneralesConvocatoriaAction.selectConveningEntity.nifVat}"
					styleClass="margen-datos-entidadConvocante" />
				<p:outputLabel value="#{text['datos.generales.etiqueta.siglas']}" styleClass="fuente-letra" />
				<p:outputLabel value="#{datosGeneralesConvocatoriaAction.selectConveningEntity.siglas}"
					styleClass="margen-datos-entidadConvocante" />
				<p:outputLabel value="#{text['datos.generales.etiqueta.razon.social']}" styleClass="fuente-letra" />
				<p:outputLabel value="#{datosGeneralesConvocatoriaAction.selectConveningEntity.razonSocial}"
					styleClass="margen-datos-entidadConvocante" />
				<p:outputLabel value="#{text['datos.generales.etiqueta.direccion.fiscal']}" styleClass="fuente-letra" />
				<p:outputLabel value="#{datosGeneralesConvocatoriaAction.selectConveningEntity.direccionFiscal}"
					styleClass="margen-datos-entidadConvocante" />
			</h:panelGrid>
		</div>

		<div>
			<h:panelGrid columns="2" styleClass="label-ambito-geografico ">
				<p:outputLabel for="combo"
					styleClass="fuente-letra" value="#{text['datos.generales.etiqueta.ambito.geografico']}" />
				
				</h:panelGrid>
		</div>

		<div>
			<h:panelGrid columns="2" columnClasses="comboAmbitoGeo" styleClass="input-fechaPublicacion">
				<p:selectOneMenu id="combo" style="width:70%" value="#{datosGeneralesConvocatoriaAction.selectIdAmbito}" disabled="#{!datosGeneralesConvocatoriaAction.convocatoriaEditable}">
					<f:selectItem id="item1" itemLabel="Nacional" itemValue="1" />
					<f:selectItem id="item2" itemLabel="Internacional" itemValue="2" />
				</p:selectOneMenu>
			</h:panelGrid>
			<br/>
		</div>
	</div>
	<div class="marcoDatosGenerales"> 
		<div>	
		    <h:panelGrid columns = "1" styleClass="topMargin" cellspacing="5">
		        <p:outputLabel styleClass="titulosDatosGenerales" value="Periodo de Ejecución"/>
		    </h:panelGrid>	
	    </div>


		<div>
			<h:panelGrid columns="3" styleClass="topMargin" cellspacing="10"
				columnClasses="label-DateStartGeneralData,label-DateEndGeneralData,label-Annuity">

				<p:outputLabel for="fechaInicioConvocatoria" value="#{text['mediosPublicacion.detalle.convocatorias.fechaInicio']}"/>

				<p:outputLabel for="fechaFinConvocatoria" value="#{text['mediosPublicacion.detalle.convocatorias.fechaFin']}" />

				<p:outputLabel  for="anualidadConvocatoria" value="#{text['datos.generales.etiqueta.anualidad']}" />

			</h:panelGrid>
		</div>




		<div>
			<h:panelGrid columns="3" styleClass="spaceCell" cellspacing="10"
			columnClasses="label-DateStartGeneralData,label-DateEndGeneralData,label-Annuity">

				<p:calendar id="fechaInicioConvocatoria"
					datePattern="d/M/yyyy HH:mm" showOn="button" showButtonPanel="true" value="#{datosGeneralesConvocatoriaAction.datosGeneralesConvocatoriaDTO.initDate}" 
					readonlyInput="true" disabled="#{!datosGeneralesConvocatoriaAction.convocatoriaEditable}">
						 <p:ajax event="dateSelect" update="fechaFinConvocatoriaPanel, publicationDatePanel" />
					</p:calendar>
			   <h:panelGroup id="fechaFinConvocatoriaPanel">
					<p:calendar id="fechaFinConvocatoria" datePattern="d/M/yyyy HH:mm" mindate="#{datosGeneralesConvocatoriaAction.datosGeneralesConvocatoriaDTO.initDate}"
						showOn="button" showButtonPanel="true" value="#{datosGeneralesConvocatoriaAction.datosGeneralesConvocatoriaDTO.endDate}" 
							disabled="#{datosGeneralesConvocatoriaAction.datosGeneralesConvocatoriaDTO.initDate == null || !datosGeneralesConvocatoriaAction.convocatoriaEditable}" readonlyInput="true" >
								<p:ajax event="dateSelect" update="anualidadConvocatoria" listener="#{datosGeneralesConvocatoriaAction.calculateAnnuity()}" />
						</p:calendar>
				</h:panelGroup>	
				<p:inputText disabled="#{true}" id="anualidadConvocatoria" styleClass="inputAnualidad" value="#{datosGeneralesConvocatoriaAction.datosGeneralesConvocatoriaDTO.annuity}"/>
			</h:panelGrid>
		</div>
	</div>
	<div class="marcoDatosGenerales">
		<div>	
		    <h:panelGrid columns = "1" styleClass="topMargin" cellspacing="5">
		        <p:outputLabel styleClass="titulosDatosGenerales" value="Publicación"/>
		    </h:panelGrid>	
	    </div>
		<div class="margen-label-medioPubli-Convo">
			<h:panelGrid columns="2" styleClass="spaceCell" cellspacing="10"
				columnClasses="label-MedioPublicacion">

				<p:outputLabel id="nameLabelOne" for="name"
					value="#{text['datos.generales.etiqueta.medio.publicacion']}" styleClass="fuente-letra"/>

				<p:outputLabel for="publicationDate" value="#{text['datos.generales.etiqueta.fecha.publicacion']}" styleClass="fuente-letra" />

			</h:panelGrid>
		</div>

		<div>
			<p:inputText id="publicationId" style="display: none;" value="#{datosGeneralesConvocatoriaAction.datosGeneralesConvocatoriaDTO.publicationMediaDTO.id}"/>
			<h:panelGrid columns="2" styleClass="spaceCell" cellspacing="10"
				columnClasses="input-medioPublicacion, input-fechaPublicacion">
				
				<p:inputText id="publicationMedia" style="width:86%" class="input-to-validate" value="#{datosGeneralesConvocatoriaAction.datosGeneralesConvocatoriaDTO.publicationMediaDTO.publicationMedia}" maxlength="100" disabled="#{!datosGeneralesConvocatoriaAction.convocatoriaEditable}"/>
				<h:panelGroup id="publicationDatePanel">
					<p:calendar id="publicationDate" maxdate="#{datosGeneralesConvocatoriaAction.datosGeneralesConvocatoriaDTO.initDate}"
						 datePattern="d/M/yyyy HH:mm" showOn="button" readonlyInput="true" styleClass="dateTimeField" 
						 value="#{datosGeneralesConvocatoriaAction.datosGeneralesConvocatoriaDTO.publicationMediaDTO.publicationDate}" 
						 disabled="#{datosGeneralesConvocatoriaAction.datosGeneralesConvocatoriaDTO.initDate == null || !datosGeneralesConvocatoriaAction.convocatoriaEditable}"/>
				</h:panelGroup>	 
			</h:panelGrid>
		</div>
		
		<div class="margen-label-medioPubli-Convo">
			<h:panelGrid columns="2" styleClass="spaceCell" cellspacing="10"
				columnClasses="label-UrlConvocatoria">
				<p:outputLabel value="#{text['datos.generales.etiqueta.url.convocatoria']}" styleClass="fuente-letra" />
				<p:outputLabel value="#{text['datos.generales.etiqueta.url.medios.comunicacion']}" styleClass="fuente-letra" />
			</h:panelGrid>
		</div>

		<div class="margen-input-UrlConvocatoria">
			<h:panelGrid columns="2" styleClass="spaceCell" cellspacing="10"
				columnClasses="input-UrlConvocatoria">
				<p:inputText id="announcementUrlInput" class="input-to-validate inputUrlConvocatoria" value="#{datosGeneralesConvocatoriaAction.datosGeneralesConvocatoriaDTO.publicationMediaDTO.announcementUrl}" maxlength="100" disabled="#{!datosGeneralesConvocatoriaAction.convocatoriaEditable}"/>
				<p:inputText id="mediaUrlInput" class="input-to-validate inputUrlMediosComunicacion"  value="#{datosGeneralesConvocatoriaAction.datosGeneralesConvocatoriaDTO.mediaUrl}" maxlength="100" disabled="#{!datosGeneralesConvocatoriaAction.convocatoriaEditable}"/>
			</h:panelGrid>
		</div>		
	</div>
	<br/>
	<p:dialog header="Entidad Convocante"  widgetVar="modalEntidadConvocanteWgt" modal="true" height="auto"  width="60%" style="min-height:50% " onShow="PF('modalEntidadConvocanteWgt').initPosition()">
	 
	  
	  <p:dataTable id="dtEntity" 
	 						value="#{datosGeneralesConvocatoriaAction.conveningEntityList}" style="width:100%" var="entity"
			    			 paginator="true" 
		                     rows="10"  
		                     paginatorPosition="bottom"                     
		                     paginatorTemplate="  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} "
		                     rowsPerPageTemplate="10,20,50,100,200"
			    			 rowKey="#{entity.id}"
			    			 selection="#{datosGeneralesConvocatoriaAction.selectConveningEntity}"			 
		                     selectionMode="single" > 
			<p:column headerText=" NIF/VAT " filterBy="#{entity.nifVat}" filterMacthMode="contains">
						<h:outputText value="#{entity.nifVat}" />
			</p:column> 
			<p:column headerText=" Acrónimo " filterBy="#{entity.acronym}" filterMacthMode="contains">
							<h:outputText value="#{entity.siglas}" />
			</p:column> 
			<p:column headerText=" Razon Social " filterBy="#{entity.socialReason}" filterMacthMode="contains">
							<h:outputText value="#{entity.razonSocial}" />
			</p:column>
		</p:dataTable>
		
		<h:panelGrid columns="1" width="100%" heigth="100%" styleClass="panel" columnClasses="firstColumn">
		      <h:panelGroup style="margin-left: 50%">
				<p:commandButton id="saveEntity" style="width:70px; height:30px;" class="botones" 
					oncomplete="PF('modalEntidadConvocanteWgt').hide();" value=" #{text['boton.guardar']}" 
						update="selectedEntity" ajax="true" />    			
			</h:panelGroup>
    	</h:panelGrid>	
		
		                	
	</p:dialog>
	<h:panelGroup rendered="#{datosGeneralesConvocatoriaAction.nuevaConvocatoriaPage}" >
		<script type="text/javascript" src="#{request.contextPath}/scripts/datosGeneralesConvocatoria.js"/>
	</h:panelGroup>
</ui:composition>