<ui:composition xmlns="http://www.w3.org/1999/xhtml"  
                xmlns:h="http://java.sun.com/jsf/html"  
                xmlns:f="http://java.sun.com/jsf/core"  
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

		<div>
			<h:panelGrid columns="1" styleClass="topMargin" cellspacing="10">
				<p:outputLabel value="Fechas:" styleClass="fuente-letra" />

			</h:panelGrid>
		</div>

		<p:outputLabel value="#{datosFinalidadConvocatoriaAction.fillFormData()}" />
		<p:outputLabel value="#{datosFinalidadConvocatoriaAction.validateNecesaryFields()}" />
		<div>

			<h:panelGrid id="comboFechaPanel" columns="1" styleClass="spaceCell comboFechaPanelClass" cellspacing="10">
				<p:selectOneMenu id="comboFecha" style="width:40%" value="#{datosFinalidadConvocatoriaAction.datosFinalidadConvocatoriaForm.selectedDate}"
					 converter="fechaFinalidadDTOConverter" var="f" required="false" disabled="#{!datosFinalidadConvocatoriaAction.convocatoriaEditable}">
					<f:selectItem 
						noSelectionOption="true" itemLabel="#{datosFinalidadConvocatoriaAction.fechaFinalidadDTOEmpty.name}" itemValue="#{datosFinalidadConvocatoriaAction.fechaFinalidadDTOEmpty}" />
					<f:selectItems
						value="#{datosFinalidadConvocatoriaAction.datosFinalidadConvocatoriaForm.comboDates}" 
						var="fecha" itemLabel="#{fecha.name}" itemValue="#{fecha}" />
					<p:column>
		                <h:outputText value="#{f.name}" />
		            </p:column>
					 <p:ajax listener="#{datosFinalidadConvocatoriaAction.onComboFechaChange}" update="comboFechaPanel, selectedDates" />
				</p:selectOneMenu>

			</h:panelGrid>
		</div>
		
		<h:panelGroup id="selectedDates" styleClass="selectedDatesClass" >
			<table class="datos-finalidad-table">
					<ui:repeat var="fecha" value="#{datosFinalidadConvocatoriaAction.datosFinalidadConvocatoriaForm.selectedDates}" varStatus="status">
						<tr>
							<td>
								<p:commandButton value="-" class="button-delete" action="#{datosFinalidadConvocatoriaAction.deleteSelectedDate(fecha)}" 
								update="@(.selectedDatesClass) @(.comboFechaPanelClass)" disabled="#{!datosFinalidadConvocatoriaAction.convocatoriaEditable}"/>
							</td>
							<td>
								<p:outputLabel   value="#{fecha.name}"  />
							</td>
							<td>
								<p:calendar  readonlyInput="true" datePattern="d/M/yyyy HH:mm" showOn="button"  value="#{fecha.date}" disabled="#{!datosFinalidadConvocatoriaAction.convocatoriaEditable}"/>
							</td>
							<td>
								<p:outputLabel   value="Comentario :" />
							</td>
							<td>
								<p:inputText   styleClass="spaceCell" value="#{fecha.coment}" maxlength="100" disabled="#{!datosFinalidadConvocatoriaAction.convocatoriaEditable}"/>
							</td>			
						</tr>
					</ui:repeat>
			</table>
		</h:panelGroup>
	

		<div>
				<h:panelGrid columns="1" styleClass="spaceCell"  cellspacing="10" rendered="#{datosFinalidadConvocatoriaAction.filled}">
					<p:outputLabel value="Datos Específicos Obligatorios:" styleClass="fuente-letra"/>
				</h:panelGrid>
		</div>

		
		<ui:repeat var="dataObl" value="#{datosFinalidadConvocatoriaAction.datosFinalidadConvocatoriaForm.oblMetadatoFinalidadDTOList}" varStatus="status">
			<h:panelGrid columns="2" styleClass="spaceCell" cellspacing="10" columnClasses="label-numberPeople">
				<p:outputLabel value="#{dataObl.nombre}* :" />

				<p:inputText maxlength="250" styleClass="input-Canti-Personas" value="#{dataObl.data}" 
				rendered="#{dataObl.idTipoDato == datosFinalidadConvocatoriaAction.metadataTypes.getText()}" disabled="#{!datosFinalidadConvocatoriaAction.convocatoriaEditable}"/>

				 <p:calendar readonlyInput="true" datePattern="d/M/yyyy HH:mm"
						showOn="button" styleClass="dateTimeField-PurposeData" value="#{dataObl.dataDate}" 
						rendered="#{dataObl.idTipoDato == datosFinalidadConvocatoriaAction.metadataTypes.getDate()}" disabled="#{!datosFinalidadConvocatoriaAction.convocatoriaEditable}"/>

				<p:inputText maxlength="250" styleClass="input-Canti-Personas" value="#{dataObl.data}" 
				onkeypress="if(event.which &lt; 48 || event.which &gt; 57 ) if(event.which != 8) return false;"
				rendered="#{dataObl.idTipoDato == datosFinalidadConvocatoriaAction.metadataTypes.getNumeric()}" disabled="#{!datosFinalidadConvocatoriaAction.convocatoriaEditable}"/>

			</h:panelGrid>
		
		</ui:repeat>

		<div>
			<h:panelGrid columns="1" styleClass="spaceCell" cellspacing="10">
				<p:outputLabel value="Datos Específicos opcionales:"
					styleClass="fuente-letra" />

			</h:panelGrid>
		</div>

			<h:panelGrid id="opcDataPanel" columns="1" styleClass="spaceCell opcDataPanelClass"  cellspacing="10" >			
				 <p:selectOneMenu id="comboDatosOpcionales" value="#{datosFinalidadConvocatoriaAction.datosFinalidadConvocatoriaForm.selectedopcMetadatoFinalidadDTO}" style="width:40%" converter="opcMetadatoFinalidadDTOConverter" disabled="#{!datosFinalidadConvocatoriaAction.convocatoriaEditable}">
					<f:selectItem itemLabel="#{datosFinalidadConvocatoriaAction.metadatoFinalidadDTOEmpty.nombre}" 
							noSelectionOption="true" itemValue="#{datosFinalidadConvocatoriaAction.metadatoFinalidadDTOEmpty}"/>				
		            <f:selectItems value="#{datosFinalidadConvocatoriaAction.datosFinalidadConvocatoriaForm.opcMetadatoFinalidadDTOListx}" />
		            <p:ajax event="change" listener="#{datosFinalidadConvocatoriaAction.onComboOpcDataChange}" update="opcDataPanel, selectedFields" />
		        </p:selectOneMenu>
				
				
			</h:panelGrid>
	
			
			<h:panelGroup id="selectedFields" columns="1" styleClass="spaceCell selectedFieldsClass"  cellspacing="10" >
			
			
				
				<ui:repeat var="opcMetaData"
					value="#{datosFinalidadConvocatoriaAction.datosFinalidadConvocatoriaForm.selectedopcMetadatoFinalidadDTOs}">
						<h:panelGrid columns="3" styleClass="spaceCell"  cellspacing="10"
							columnClasses="columnsbuttonOptionalData,labelBonusAnnual">
							<p:commandButton value="-" class="button-delete" 
									action="#{datosFinalidadConvocatoriaAction.deleteSelectedOpcData(opcMetaData)}"
									update="@(.selectedFieldsClass) @(.opcDataPanelClass)" ajax="true" disabled="#{!datosFinalidadConvocatoriaAction.convocatoriaEditable}"/>
							<p:outputLabel  value="#{opcMetaData.nombre}" />
							
							<p:inputText maxlength="250" styleClass="inputBonusYear" value="#{opcMetaData.data}" 
							rendered="#{opcMetaData.idTipoDato == datosFinalidadConvocatoriaAction.metadataTypes.getText()}" disabled="#{!datosFinalidadConvocatoriaAction.convocatoriaEditable}"/>
							
							<p:calendar readonlyInput="true" datePattern="d/M/yyyy HH:mm"
									showOn="button"  value="#{opcMetaData.dataDate}" 
									rendered="#{opcMetaData.idTipoDato == datosFinalidadConvocatoriaAction.metadataTypes.getDate()}" disabled="#{!datosFinalidadConvocatoriaAction.convocatoriaEditable}"/>
							
							<p:inputText maxlength="250" styleClass="input-Canti-Personas" value="#{opcMetaData.data}" 
							onkeypress="if(event.which &lt; 48 || event.which &gt; 57 ) if(event.which != 8) return false;"
							rendered="#{opcMetaData.idTipoDato == datosFinalidadConvocatoriaAction.metadataTypes.getNumeric()}" disabled="#{!datosFinalidadConvocatoriaAction.convocatoriaEditable}"/>
						</h:panelGrid>				
				</ui:repeat>
			</h:panelGroup>
			
			
</ui:composition>