<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      >
    <body>
     <ui:composition>
    		<p:tree id="#{id}" value="#{rootTree}" 
    			        var="node" selectionMode="single"  selection="#{selectedNode}" style="border:none">
        				<p:treeNode>
            				<h:outputText value="#{node}" />            				
            				<p:commandButton class="botones" icon="ui-icon-trash" actionListener="#{methodToRemove}" update="#{id}"  />
        				</p:treeNode>        			
    		</p:tree>
    	</ui:composition>
     </body>
</html>