﻿<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	

		<div id="convocatoria-encabezado" class="marcoDatosConcesion">
			<h:panelGrid columns="6" styleClass="margenEncabezado "
				columnClasses="label-name, label-year, label-state">
				<p:outputLabel value=" Nombre Corto: #{datosGeneralesConvocatoriaAction.datosGeneralesConvocatoriaDTO.shortName}" />
				<p:outputLabel value="Año: #{datosGeneralesConvocatoriaAction.year}" />
				<p:outputLabel value="Estado: #{datosGeneralesConvocatoriaAction.datosGeneralesConvocatoriaDTO.statusName}" />
			</h:panelGrid>
		</div>
	
	<h:panelGroup rendered="#{datosGeneralesConvocatoriaAction.nuevaConvocatoriaPage}" >
		<script type="text/javascript" src="#{request.contextPath}/scripts/activate_tabs.js"/>
	</h:panelGroup>
	
	
</ui:composition>