<ui:composition xmlns="http://www.w3.org/1999/xhtml"  
                xmlns:h="http://java.sun.com/jsf/html"  
                xmlns:f="http://java.sun.com/jsf/core"  
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
                
<ui:define name="css_app">
        <link type="text/css" rel="stylesheet" media="all" href="#{request.contextPath}/styles/sicoConvocatoria.css?version=#{text['version']}"/>
    </ui:define>	     

		<div class="finalidad-title-div-wrapper" >
						<div class="finalidad-item-title" >
						<p:outputLabel value=" #{text['finalidad.concocatoria.etiqueta.finalidad.principal']}" 
							styleClass="fuente-letra" />
						</div>
						<div class="finalidad-item" >
							<p:commandButton class="botones_finalidad"
							value=" #{text['finalidad.concocatoria.etiqueta.editar.finalidad.principal']}" type="button" 
							onclick="PF('modalFinalidadPrincipalWgt').show();"
							disabled="#{!finalidadConvocatoriaAction.convocatoriaEditable}" />
						</div>	
			</div>
			
		<h:panelGroup id="panelPrincipalTreeEmpty" styleClass="classPrincipalTreeEmpty">
						<p:outputLabel
							rendered="#{finalidadConvocatoriaAction.finalidadConvocatoriaForm.rootTreeFinality.childCount eq 0}"
							value=" #{text['finalidad.concocatoria.etiqueta.no.finalidad.seleccionada']}" />
						<p:tree id="treePrincipal"
								value="#{finalidadConvocatoriaAction.finalidadConvocatoriaForm.rootTreeFinality}"
							var="node" style="border:none;">
							<p:treeNode>
								<h:outputText value="#{node.finalityName}" />
							</p:treeNode>
						</p:tree>
			</h:panelGroup>
			
		<div class="finalidad-title-div-wrapper" >
				<div class="finalidad-item-title">
					<p:outputLabel value=" #{text['finalidad.concocatoria.etiqueta.editar.finalidad.secundaria']}"
					styleClass="fuente-letra" />
				</div>
				<div class="finalidad-item">
					<p:commandButton class="botones_finalidad"
						value=" #{text['finalidad.concocatoria.boton.agregar.finalidad.secundaria']}" 
						onclick="PF('modalFinalidadSecundariaWgt').show();"
						action="#{finalidadConvocatoriaAction.validateSelected()}"
						update="@(.dtPanelSecundaryClass)" 
						disabled="#{!finalidadConvocatoriaAction.convocatoriaEditable}"/>						  
				</div>	
		</div>
			
	   <h:panelGroup width="100%" id="panelSecundaryTreeEmpty" styleClass="classPanelSecundaryTreeEmpty">
					<p:outputLabel
							rendered="#{finalidadConvocatoriaAction.secondaryPurposeForm.rootTreeFinality.childCount eq 0}"
							value=" #{text['finalidad.concocatoria.etiqueta.no.finalidad.seleccionada']}"  />			
					<p:tree id="treeSecundary"
						value="#{finalidadConvocatoriaAction.secondaryPurposeForm.rootTreeFinality}"
						var="node" style="border:none;">
						<p:treeNode>
							<h:outputText value="#{node.finalityName}" class="input-to-validate"/>
						</p:treeNode>
					</p:tree>
		</h:panelGroup>
			
	<div id="dtModalFinalidad">
	<p:dialog header=" #{text['finalidad.concocatoria.header.modal.seleccion.finalidad.principal']}"  widgetVar="modalFinalidadPrincipalWgt" modal="true" height="auto"  width="80%" style="min-height:50% "
		onShow="PF('modalFinalidadPrincipalWgt').initPosition()">
	  <ui:include src="modalFinalidadPrincipal.xhtml" />              	
	</p:dialog>
	<p:dialog header=" #{text['finalidad.concocatoria.header.modal.seleccion.finalidad.secundaria']}" widgetVar="modalFinalidadSecundariaWgt" modal="true" height="auto" width="80%" style="min-height:50% "
		onShow="PF('modalFinalidadSecundariaWgt').initPosition()">
	  <ui:include src="modalFinalidadSecundaria.xhtml" />  
	</p:dialog>	
	  
	</div>

	
</ui:composition>