<ui:composition xmlns="http://www.w3.org/1999/xhtml"  
                xmlns:h="http://java.sun.com/jsf/html"  
                xmlns:f="http://java.sun.com/jsf/core"  
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
	<h:form>
		 <h:panelGrid columns = "1">
			<h:outputLabel  value="Por Definir" />
		 	<br/><br/>
	    </h:panelGrid>
	</h:form>

</ui:composition>