<ui:composition xmlns="http://www.w3.org/1999/xhtml"  
                xmlns:h="http://java.sun.com/jsf/html"  
                xmlns:f="http://java.sun.com/jsf/core"  
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">                
	
		<div>
			<br/>
		    <h:panelGrid columns = "1" style="width:100%; margin-top:3%;">
			<p:outputLabel  value="¿Hay Jerarquía? *" />
			</h:panelGrid>
		</div>
			<div>	
		    <h:panelGrid columns = "2" style="width:50%;" cellspacing = "10">
			<p:selectOneRadio id="isAnyJerarquiaRadioButton" style="width:40%;" value="#{jerarquiaConvocatoriaAction.anyJerarquia}" disabled="#{!jerarquiaConvocatoriaAction.convocatoriaEditable}">
	        	<f:selectItem id="isAnyJerarquiaRadioButton1" itemLabel="#{text['comunes.si']}" itemValue="#{true}" />
	        	<f:selectItem id="isAnyJerarquiaRadioButton2" itemLabel="#{text['comunes.no']}" itemValue="#{false}" />
	        	<p:ajax update="jerarquiaEditionButton isAnyJerarquiaRadioButton" /> 
			</p:selectOneRadio>
		</h:panelGrid></div>
		<div>

		<h:panelGroup id="jerarquiaGrid" >
		<p:outputLabel  rendered="#{jerarquiaConvocatoriaAction.selectedRootNode != null}" value="Jerarquía Seleccionada: " />
    	<ui:include src="treeTemplate.xhtml">
				<ui:param name="id" value="treeJerarquia" />
				<ui:param name="rootTree" value="#{jerarquiaConvocatoriaAction.selectedRootNode}" />
		</ui:include>
		</h:panelGroup>
		</div>
	
		<div>
			<h:panelGrid id="chooseJerarquiaGrid" columns = "2"  cellspacing = "5" >
			
				<p:outputLabel  rendered="#{jerarquiaConvocatoriaAction.selectedRootNode == null}" value="#{text['convocatoria.jerarquia.hayjerarquia.elegir']}" />
				<p:commandButton 
				id="jerarquiaEditionButton"
				disabled="#{!jerarquiaConvocatoriaAction.anyJerarquia || !jerarquiaConvocatoriaAction.convocatoriaEditable}" 
				class="botones" value="#{text['convocatoria.jerarquia.editar']}" type="button" onclick="PF('modalJerarquiaConvocatoriaWgt').show();" >			                        
				</p:commandButton> 
			</h:panelGrid>
			 
		</div>
		<p:dialog header="#{text['convocatoria.jerarquia.seleccion']}" widgetVar="modalJerarquiaConvocatoriaWgt" modal="true" height="50%">
	    	<ui:include src="pagListJerarquiaConvocatoria.xhtml" />
		</p:dialog>   
</ui:composition>