<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">
	<ui:define name="css_app">
		<link type="text/css" rel="stylesheet" media="all"
			href="#{request.contextPath}/styles/sicoConvocatoria.css?version=#{text['version']}" />
	</ui:define>

	<ui:define name="js_app">
		<script type="text/javascript"
			src="#{request.contextPath}/scripts/sico.js?version=#{text['version']}" />
	</ui:define>


	<h:form id="formValidate" >

		<div>
			<p:progressBar value="#{((datosGeneralesConvocatoriaAction.percentage + jerarquiaConvocatoriaAction.percentage
			+ concesionConvocatoriaAction.percentage + datosFinalidadConvocatoriaAction.percentage
			+ configuracionAyudaAction.percentage + observacionesConvocatoriaAction.percentage) * 100) / 600}"
				labelTemplate="{value}%" styleClass="circle-text" id="progress"/>
		</div>

		<div>
			<h:panelGrid columns="1" styleClass="topMargin">
				<p:outputLabel
					value="#{text['validacion.datos.mensaje.porcentaje']}"
					style="padding: 100px;" />	
			</h:panelGrid>
		</div>
		<br />
		<div>
			<h:panelGrid columns="1" styleClass="topMargin"
				style="padding-top: 20px;"
				rendered="#{(((datosGeneralesConvocatoriaAction.percentage + jerarquiaConvocatoriaAction.percentage
			+ concesionConvocatoriaAction.percentage + datosFinalidadConvocatoriaAction.percentage
			+ configuracionAyudaAction.percentage + observacionesConvocatoriaAction.percentage) * 100) / 600) lt 99}">

				<p:outputLabel
					value="#{text['validacion.datos.mensaje.datos.faltantes']}" 
					/>

			</h:panelGrid>
			<br />
		</div>
		
		<div>
			<h:panelGroup columns="1" styleClass="topMargin"
				style="padding-top: 20px;"
				rendered="#{(((datosGeneralesConvocatoriaAction.percentage + jerarquiaConvocatoriaAction.percentage
			+ concesionConvocatoriaAction.percentage + datosFinalidadConvocatoriaAction.percentage
			+ configuracionAyudaAction.percentage + observacionesConvocatoriaAction.percentage) * 100) / 600) gt 99}">
				<br />
				<br />
				<br />
			</h:panelGroup>
		</div>
		


		<div>
			<p:accordionPanel id="dataValidationAccordion">
			
				<ui:include src="../templates/tabToValidate.xhtml">
					<ui:param name="tabName" value="Finalidad" />
					<ui:param name="tabIndex" value="0" />
					<ui:param name="tabAction" value="#{finalidadConvocatoriaAction}" />
					<ui:param name="isLinkDisabled" value="false" />
				</ui:include>
			 
			 	<ui:include src="../templates/tabToValidate.xhtml">
					<ui:param name="tabName" value="Datos Generales" />
					<ui:param name="tabIndex" value="1" />
					<ui:param name="tabAction" value="#{datosGeneralesConvocatoriaAction}" />
					<ui:param name="isLinkDisabled" value="false" />
				</ui:include>
				
				<ui:include src="../templates/tabToValidate.xhtml">
					<ui:param name="tabName" value="Jerarquía" />
					<ui:param name="tabIndex" value="2" />
					<ui:param name="tabAction" value="#{jerarquiaConvocatoriaAction}" />
					<ui:param name="isLinkDisabled" value="#{convocatoriaAction.activeIndex lt 2}" />
				</ui:include>
				
				<ui:include src="../templates/tabToValidate.xhtml">
					<ui:param name="tabName" value="Concesión" />
					<ui:param name="tabIndex" value="3" />
					<ui:param name="tabAction" value="#{concesionConvocatoriaAction}" />
					<ui:param name="isLinkDisabled" value="#{convocatoriaAction.activeIndex lt 2}" />
				</ui:include>		
				
				<ui:include src="../templates/tabToValidate.xhtml">
					<ui:param name="tabName" value="Datos de Finalidad" />
					<ui:param name="tabIndex" value="4" />
					<ui:param name="tabAction" value="#{datosFinalidadConvocatoriaAction}" />
					<ui:param name="isLinkDisabled" value="#{convocatoriaAction.activeIndex lt 2}" />
				</ui:include>
				
				<ui:include src="../templates/tabToValidate.xhtml">
					<ui:param name="tabName" value="Configuración de Ayuda" />
					<ui:param name="tabIndex" value="5" />
					<ui:param name="tabAction" value="#{configuracionAyudaAction}" />
					<ui:param name="isLinkDisabled" value="#{convocatoriaAction.activeIndex lt 2}" />
				</ui:include>
				
				<ui:include src="../templates/tabToValidate.xhtml">
					<ui:param name="tabName" value="Observaciones" />
					<ui:param name="tabIndex" value="6" />
					<ui:param name="tabAction" value="#{observacionesConvocatoriaAction}" />
					<ui:param name="isLinkDisabled" value="#{convocatoriaAction.activeIndex lt 2}" />
				</ui:include>
			</p:accordionPanel>
		</div>


		<br />

		
		<h:panelGrid columns="1" width="100%" id="action">
			<h:panelGroup style="margin-left: 5%" rendered="#{convocatoriaAction.activeIndex eq 1}">
				<p:commandButton class="botones" actionListener="#{datosGeneralesConvocatoriaAction.save}"
					value="#{text['boton.guardar.borrador']}"
					style="margin-left:14%; margin-right:6px; "
					onclick="PF('modalValidacionDatosWgt').hide();" />

				<p:commandButton class="botones" action="#{datosGeneralesConvocatoriaAction.saveAndSend}"
					value="#{text['boton.enviar.convocatoria']}"
					style="margin-left:10%;"
					onclick="PF('modalValidacionDatosWgt').hide();" />
			</h:panelGroup>
			<h:panelGroup style="margin-left: 5%" rendered="#{convocatoriaAction.activeIndex eq 2}">
				<p:commandButton class="botones" actionListener="#{jerarquiaConvocatoriaAction.save}"
					value="#{text['boton.guardar.borrador']}"
					style="margin-left:14%; margin-right:6px; "
					onclick="PF('modalValidacionDatosWgt').hide();" />

				<p:commandButton class="botones" action="#{jerarquiaConvocatoriaAction.saveAndSend}"
					value="#{text['boton.enviar.convocatoria']}"
					style="margin-left:10%;"
					onclick="PF('modalValidacionDatosWgt').hide();" />
			</h:panelGroup>
			<h:panelGroup style="margin-left: 5%" rendered="#{convocatoriaAction.activeIndex eq 3}">
				<p:commandButton class="botones" actionListener="#{concesionConvocatoriaAction.save}"
					value="#{text['boton.guardar.borrador']}"
					style="margin-left:14%; margin-right:6px; "
					onclick="PF('modalValidacionDatosWgt').hide();" />

				<p:commandButton class="botones" action="#{concesionConvocatoriaAction.saveAndSend}"
					value="#{text['boton.enviar.convocatoria']}"
					style="margin-left:10%;"
					onclick="PF('modalValidacionDatosWgt').hide();" />
			</h:panelGroup>
			<h:panelGroup style="margin-left: 5%" rendered="#{convocatoriaAction.activeIndex eq 4}">
				<p:commandButton class="botones" actionListener="#{datosGeneralesConvocatoriaAction.save}"
					value="#{text['boton.guardar.borrador']}"
					style="margin-left:14%; margin-right:6px; "
					onclick="PF('modalValidacionDatosWgt').hide();" />

				<p:commandButton class="botones" action="#{datosGeneralesConvocatoriaAction.saveAndSend}"
					value="#{text['boton.enviar.convocatoria']}"
					style="margin-left:10%;"
					onclick="PF('modalValidacionDatosWgt').hide();" />
			</h:panelGroup>
			<h:panelGroup style="margin-left: 5%" rendered="#{convocatoriaAction.activeIndex eq 5}">
				<p:commandButton class="botones" actionListener="#{configuracionAyudaAction.save}"
					value="#{text['boton.guardar.borrador']}"
					style="margin-left:14%; margin-right:6px; "
					onclick="PF('modalValidacionDatosWgt').hide();" />

				<p:commandButton class="botones" action="#{configuracionAyudaAction.saveAndSend}"
					value="#{text['boton.enviar.convocatoria']}"
					style="margin-left:10%;"
					onclick="PF('modalValidacionDatosWgt').hide();" />
			</h:panelGroup>
			<h:panelGroup style="margin-left: 5%" rendered="#{convocatoriaAction.activeIndex eq 6}">
				<p:commandButton class="botones" actionListener="#{observacionesConvocatoriaAction.save}"
					value="#{text['boton.guardar.borrador']}"
					style="margin-left:14%; margin-right:6px; "
					onclick="PF('modalValidacionDatosWgt').hide();" />

				<p:commandButton class="botones" action="#{observacionesConvocatoriaAction.saveAndSend}"
					value="#{text['boton.enviar.convocatoria']}"
					style="margin-left:10%;"
					onclick="PF('modalValidacionDatosWgt').hide();" />
			</h:panelGroup>
		</h:panelGrid>

	</h:form>
</ui:composition>
