<ui:composition xmlns="http://www.w3.org/1999/xhtml"   
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://java.sun.com/jsp/jstl/core">
	<ui:define name="css_app">
		<link type="text/css" rel="stylesheet" media="all" href="#{request.contextPath}/styles/sicoConvocatoria.css?version=#{text['version']}"/>
	</ui:define>
		<h:panelGrid columns="3" width="100%" heigth="100%" styleClass="panel" columnClasses="firstColumn,secondColumn,thirdColumn">  
    		<h:panelGroup>
			      	<h:panelGrid columns = "1" width="100%">
		  				<h:panelGroup id="dtPanelSecundary" styleClass="dtPanelSecundaryClass">
		  					
		  					<ui:repeat var="input" value="#{finalidadConvocatoriaAction.secondaryPurposeForm.dataFinalityTree}" varStatus="status">
			    				<h:panelGrid columns="2">
			    					<p:inputText styleClass="inputtext" value="#{input.finalityName}" readonly="true"/>
			    	   				<p:commandButton class="botones" style="width:180px" 
			    	   				action="#{finalidadConvocatoriaAction.secondaryPurposeForm.selectAnotherFinality(input.index)}"  
			    	   				value=" #{text['finalidad.concocatoria.boton.elegir.otra.finalidad']} #{input.index + 1} " update="@(.dtPanelSecundaryClass)"/>
			    				</h:panelGrid>
			    			</ui:repeat>
			    		    
			 				
			 				<p:dataTable id="dtSecundaryFinalidad" 
				 				value="#{finalidadConvocatoriaAction.secondaryPurposeForm.finalityDataList[finalidadConvocatoriaAction.secondaryPurposeForm.getSizeOfFinalityDataList()-1]}" 
				 				style="width:100%" var="fin" 
					    			 paginator="true" 
				                     rows="10"  
				                     paginatorPosition="bottom"                     
				                     paginatorTemplate="  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
				                     rowsPerPageTemplate="10,20,50,100,200"
					    			 rowKey="#{fin.finalityId}"
					    			 selection="#{finalidadConvocatoriaAction.secondaryPurposeForm.dataFinality}"			 
				                     selectionMode="single"
				                     emptyMessage="#{text['comunes.listado.noResultados']}"> 
				                
					                <p:ajax event="rowSelect" listener="#{finalidadConvocatoriaAction.secondaryPurposeForm.dataLevelFinality()}" 
					                		update="@(.dtPanelSecundaryClass)"/> 
					       		
					       			<p:column headerText=" #{text['finalidad.concocatoria.header.modal.finalidad.nivel']} #{finalidadConvocatoriaAction.secondaryPurposeForm.indexList + 1} "
					       			 	filterBy="#{fin.finalityName}" 
        								filterMatchMode="contains">
					       				<h:outputText value="#{fin.finalityName}" />
					    			</p:column> 
				    		</p:dataTable>		
			 			
				 			<p:commandButton 
				 						rendered ="#{finalidadConvocatoriaAction.showAddAnotherFinality()}"
				 						class="botones" style="width:200px" 
				    	   				action="#{finalidadConvocatoriaAction.secondaryPurposeForm.removeSelectedData()}"  
				    	   				value="Agregar otra Finalidad" update="@(.dtPanelSecundaryClass)"/>
			 			
		  				</h:panelGroup>
		  			</h:panelGrid>
 		
			</h:panelGroup> 
		<h:panelGroup>	 
		  	<p:commandButton id="addSecudnaryFinalityToTree" class="boton-flecha" action="#{finalidadConvocatoriaAction.secondaryPurposeForm.addFinalityToTree()}"  update="@(.classPanelTreeSecundary) @(.dtPanelSecundaryClass)" value="" />		   		
		</h:panelGroup>
		<h:panelGroup id="panelTreeSecundary" styleClass="classPanelTreeSecundary">    	  	   	  	
    	  	<h:panelGrid columns="1" style="width:100%;margin-top:5%;font-weight:bold">
					<h:outputLabel value=" #{text['finalidad.concocatoria.etiqueta.finalidad.secundaria.elegido']}"/>					
	       	</h:panelGrid>
    	  	<br /><br />
			<h:panelGrid id="panelTreeSecundaryEmpty" styleClass="classPanelTreeSecundaryEmpty">
				<p:outputLabel
					rendered="#{finalidadConvocatoriaAction.secondaryPurposeForm.rootTreeFinality.childCount eq 0}"
					value=" #{text['finalidad.concocatoria.etiqueta.no.finalidad.seleccionada']}"  />
			</h:panelGrid>


			<p:tree id="treeSecundaryFinality"
				 class="finalidad-tree-div"
				 value="#{finalidadConvocatoriaAction.secondaryPurposeForm.rootTreeFinality}"  
				 var="node"
				 selectionMode="single" 
				 selection="#{finalidadConvocatoriaAction.secondaryPurposeForm.selectedNode}">
        				<p:treeNode>
            				<div class="node-div">
            					<span><h:outputText value="#{node.finalityName} " /></span>
            				</div> 
            				<div class="node-div">
		            			<p:commandButton class="boton-eliminar" value=""
		            				actionListener="#{finalidadConvocatoriaAction.secondaryPurposeForm.removeElemetOfTreeNode(node)}" 
		            				update="@(.classPanelTreeSecundary)" />	   
	            			</div> 
        				</p:treeNode>        			
    			</p:tree>
    	</h:panelGroup>    			
    </h:panelGrid>
    <br />
    <h:panelGrid columns="1" width="100%" heigth="100%" styleClass="panel" columnClasses="firstColumn">
      <h:panelGroup style="margin-left: 50%">	 
		  	<p:commandButton id="saveFinalityButton" style="width:70px; height:30px;" class="botones" onsuccess="PF('modalFinalidadSecundariaWgt').hide();" value=" #{text['boton.guardar']}" update="@(.classPanelSecundaryTreeEmpty)" />    			
		</h:panelGroup>
    </h:panelGrid>	         	     	  	
</ui:composition> 	