<ui:composition xmlns="http://www.w3.org/1999/xhtml"   
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions">
    <ui:define name="css_app">
        <link type="text/css" rel="stylesheet" media="all" href="#{request.contextPath}/styles/sicoConvocatoria.css?version=#{text['version']}"/>
    </ui:define>



		<div>
			<h:panelGrid columns="1" styleClass="topMargin">

				<p:dataTable id="entidadesFinanciadorasTableModal" var="bean"
					value="#{concesionConvocatoriaAction.entitiesFinancing}"
					paginator="true" rows="10" paginatorPosition="bottom"
					paginatorTemplate="  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
					rowsPerPageTemplate="10,20,50,100,200" rowKey="#{bean.id}"
					selection="#{concesionConvocatoriaAction.entidadSeleccionada}"
					selectionMode="single" tableStyle="table-layout:auto;width:100%;"
					emptyMessage="#{text['comunes.listado.noResultados']}"
					widgetVar="entidadesFinanciadorasTableModal">

					<p:column
						headerText="#{text['concesion.entidades.financiadoras.nif.vat']}"
						sortBy="#{bean.nifVat}" filterBy="#{bean.nifVat}"
						filterMatchMode="contains">
						<h:outputText value="#{bean.nifVat}" />
					</p:column>

					<p:column
						headerText="#{text['concesion.entidades.financiadoras.nombre.razon.social']}"
						sortBy="#{bean.razonSocial}" filterBy="#{bean.razonSocial}"
						filterMatchMode="contains">
						<h:outputText value="#{bean.razonSocial}" />
					</p:column>

					<p:column
						headerText="#{text['concesion.entidades.financiadoras.siglas']}"
						sortBy="#{bean.siglas}" filterBy="#{bean.siglas}"
						filterMatchMode="startsWith">
						<h:outputText value="#{bean.siglas}" />
					</p:column>

					<p:column
						headerText="#{text['mediosPublicacion.detalle.convocatorias.fechaInicio']}"
						sortBy="#{bean.fechaInicio}" filterBy="#{bean.fechaInicio}"
						filterMatchMode="contains">


						<f:facet name="filter">
							<p:calendar pattern="dd/MM/yyyy">
								<!-- 							<p:ajax event="dateSelect" -->
								<!-- 								listener="#{concesionAction.handleDateSelect}" update="entidadesFinanciadorasTable" /> -->
								<!-- 							<p:ajax event="change" execute="@this" update="entidadesFinanciadorasTable"/>	 -->
							</p:calendar>
						</f:facet>


						<h:outputText value="#{bean.fechaInicio}" />
					</p:column>

					<p:column
						headerText="#{text['mediosPublicacion.detalle.convocatorias.fechaFin']}"
						sortBy="#{bean.fechaFin}" filterBy="#{bean.fechaFin}"
						filterMatchMode="contains">
						<f:facet name="filter">
							<p:calendar pattern="dd/MM/yyyy">
								<!-- 							<p:ajax event="dateSelect" -->
								<!-- 								listener="#{concesionAction.handleDateSelect}" update="entidadesFinanciadorasTable" /> -->

								<!-- 							 <p:ajax event="change" execute="@this" update="entidadesFinanciadorasTable"/>	 -->
							</p:calendar>
						</f:facet>

						<h:outputText value="#{bean.fechaFin}" />

					</p:column>



				</p:dataTable>



			</h:panelGrid>
		</div>
	


</ui:composition> 	