<ui:composition xmlns="http://www.w3.org/1999/xhtml"  
                xmlns:h="http://java.sun.com/jsf/html"  
                xmlns:f="http://java.sun.com/jsf/core"  
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
	<h:panelGroup id="jerarquiaLevelPanelGroup" styleClass="jerarquiaLevelPanelGroupClass" > 
		    <p:treeTable id="jerarquiaLevelTwoTable"  value="#{jerarquiaConvocatoriaAction.treeNodeRoot}" var="jerarquia"
		    		rendered="${jerarquiaConvocatoriaAction.firstLevelJerarquiaSelected != null}" selectionMode="single" selection="#{jerarquiaConvocatoriaAction.selectedNode}">
<!-- 		    		listener="#{jerarquiaConvocatoriaAction.onNodeSelect}" -->
		    	<p:ajax event="select"  update="@(.jerarquiaSaveButtonClass)" />
		    	<p:ajax event="expand" listener="#{jerarquiaConvocatoriaAction.onExpandNode}" />
		        <p:column headerText="#{text['convocatoria.jerarquia.nivelesplan']}">
		            <h:outputText value="N#{jerarquia.index}" />
		        </p:column>
		        <p:column headerText="#{text['convocatoria.medioPublicacion.etiqueta']}">
		            <h:outputText value="#{jerarquia.etiqueta}" />
		        </p:column>
		        <p:column headerText="#{text['convocatoria.medioPublicacion.nombre']}">
		            <h:outputText value="#{jerarquia.nombre}" />
		        </p:column>
		    </p:treeTable>
	</h:panelGroup>
</ui:composition>			                            