<ui:composition xmlns="http://www.w3.org/1999/xhtml"  
                xmlns:h="http://java.sun.com/jsf/html"  
                xmlns:f="http://java.sun.com/jsf/core"  
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
<div id="firstLevelJerarquiaDiv"> 
		<p:dataTable id="firstLevelJerarquiaTable"
		                     var="bean"
		                     value="#{jerarquiaConvocatoriaAction.jerarquiaConvocatoriaForm.firstLevelJerarquiaDataList}"
		                     paginator="true" 
		                     rows="10"  
		                     paginatorPosition="bottom"                     
		                     paginatorTemplate="  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
		                     rowsPerPageTemplate="10,20,50,100,200"
		                     rowKey="#{bean.id}"
		                     filteredValue="#{jerarquiaConvocatoriaAction.filteredFirstLevelJerarquiaDataList}"
		                     selectionMode="single"
		                     tableStyle="table-layout:auto;width:100%;"
		                     emptyMessage="#{text['comunes.listado.noResultados']}"
		                     widgetVar="firstLevelJerarquiaTable">
		            <p:ajax event="rowSelect" listener="#{jerarquiaConvocatoriaAction.onFirstLevelSelected}" update="@(.jerarquiaLevelPanelGroupClass) @(.jerarquiaSaveButtonClass)" />                    
		            <p:column headerText="#{text['convocatoria.medioPublicacion.etiqueta']}" 
		                      sortBy="#{bean.etiqueta}"
		                      filterBy="#{bean.etiqueta}" 
		                      filterMatchMode="contains"> 
		                <h:outputText value="#{bean.etiqueta}" />
		            </p:column>
		
		            
		            <p:column headerText="#{text['convocatoria.medioPublicacion.nombre']}" 
		                      sortBy="#{bean.nombre}"
		                      filterBy="#{bean.nombre}"
		                      filterMatchMode="contains">
		                <h:outputText value="#{bean.nombre}" />
		            </p:column>
		            
		            <p:column headerText="#{text['planesInvestigacion.ambito.geo']}" 
		                      sortBy="#{bean.ambito}"
		                      filterBy="#{bean.ambito}"
		                      filterMatchMode="startsWith"> 
		                <h:outputText value="#{bean.ambito}" />
		            </p:column>                   
		
		        </p:dataTable>       	
</div>	
			  
</ui:composition>