<ui:composition xmlns="http://www.w3.org/1999/xhtml"   
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://java.sun.com/jsp/jstl/core">
	<ui:define name="css_app">
		<link type="text/css" rel="stylesheet" media="all" href="#{request.contextPath}/styles/sicoConvocatoria.css?version=#{text['version']}"/>
	</ui:define>
		<h:panelGrid columns="3" width="100%" heigth="100%" styleClass="panel" columnClasses="firstColumn,secondColumn,thirdColumn">  
    			<h:panelGroup>
    			<h:panelGrid columns="1" style="width:100%;margin-top:5%;font-weight:bold">
					<h:outputLabel value=" #{text['finalidad.concocatoria.etiqueta.finalidad.principal']}"/>
	       		</h:panelGrid>   		
	      	
	      	<h:panelGrid columns = "1" width="100%">
  				<h:panelGroup id="dtPanel" styleClass="dtPanelClass">
  					
  					
  					<ui:repeat var="input" value="#{finalidadConvocatoriaAction.finalidadConvocatoriaForm.dataFinalityTree}" varStatus="status">
	    				<h:panelGrid columns="2">
	    					<p:inputText styleClass="inputtext" value="#{input.finalityName}" readonly="true"/>
	    	   				<p:commandButton class="botones" style="width:180px" 
	    	   				action="#{finalidadConvocatoriaAction.finalidadConvocatoriaForm.selectAnotherFinality(input.index)}"  
	    	   				value="#{text['finalidad.concocatoria.boton.elegir.otra.finalidad']} #{input.index + 1}" update="@(.dtPanelClass)"/>
	    				</h:panelGrid>
	    			</ui:repeat>
	    		    
	 				
	 				<p:dataTable id="dtFinalidad" 
	 						value="#{finalidadConvocatoriaAction.finalidadConvocatoriaForm.finalityDataList[finalidadConvocatoriaAction.finalidadConvocatoriaForm.getSizeOfFinalityDataList()-1]}" style="width:100%" var="fin"
			    			 paginator="true" 
		                     rows="10"  
		                     paginatorPosition="bottom"                     
		                     paginatorTemplate="  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} "
		                     rowsPerPageTemplate="10,20,50,100,200"
			    			 rowKey="#{fin.finalityId}"
			    			 selection="#{finalidadConvocatoriaAction.finalidadConvocatoriaForm.dataFinality}"			 
		                     selectionMode="single"
		                     emptyMessage="#{text['comunes.listado.noResultados']}"> 
		                
		                <p:ajax event="rowSelect" listener="#{finalidadConvocatoriaAction.finalidadConvocatoriaForm.dataLevelFinality()}" 
		                		update="@parent"/> <!--   :form:tabPanel:dtPanel -->
	       		      			
						<p:column headerText="#{text['finalidad.concocatoria.header.modal.finalidad.nivel']} #{finalidadConvocatoriaAction.finalidadConvocatoriaForm.indexList + 1} " 
							filterBy="#{fin.finalityName}" 
        					filterMatchMode="contains">
		       				<h:outputText value="#{fin.finalityName}" />
		    			</p:column> 
	    			</p:dataTable>		
	 			
  				</h:panelGroup>
  		</h:panelGrid>
 		
		</h:panelGroup> 
		<h:panelGroup>	 
		  	<p:commandButton id="addFinalityToTree" class="boton-flecha" action="#{finalidadConvocatoriaAction.finalidadConvocatoriaForm.addFinalityToTree()}"   update="treePrincipalFinality @(.classPanelTreeEmpty)" value="">		   		

		    </p:commandButton>
		</h:panelGroup>
		<h:panelGroup>    	  	   	  	
    	  	<h:panelGrid columns="1" style="width:100%;margin-top:5%;font-weight:bold">
					<h:outputLabel value=" #{text['finalidad.concocatoria.etiqueta.finalidad.principal.elegido']}"/>					
	       	</h:panelGrid>
    	  	<br /><br />
			<h:panelGrid id="panelTreeEmpty" styleClass="classPanelTreeEmpty">
				<p:outputLabel
					rendered="#{finalidadConvocatoriaAction.finalidadConvocatoriaForm.rootTreeFinality.childCount eq 0}"
					value=" #{text['finalidad.concocatoria.etiqueta.no.finalidad.seleccionada']}"  />
			</h:panelGrid>


			<p:tree id="treePrincipalFinality" class="finalidad-tree-div input-to-validate"
    		value="#{finalidadConvocatoriaAction.finalidadConvocatoriaForm.rootTreeFinality}" 
    			        var="node"  
    			        selectionMode="single"
    			        selection="#{finalidadConvocatoriaAction.finalidadConvocatoriaForm.selectedNode}">
        				<p:treeNode>
            				<div class="node-div">
            					<span><h:outputText value="#{node.finalityName}"/>  </span>
            				</div> 
            				<div class="node-div">
		            			<p:commandButton class="boton-eliminar" value=""
		            				actionListener="#{finalidadConvocatoriaAction.removeElemetOfTreeNode(node)}" 
		            				update="treePrincipalFinality @parent:@(panelTreeEmpty)" />	   
	            			</div> 
            				
            				
        				</p:treeNode> 
    			</p:tree>
    	</h:panelGroup>
    </h:panelGrid>
    <br/>
    <h:panelGrid columns="1" width="100%" heigth="100%" styleClass="panel" columnClasses="firstColumn">
      <h:panelGroup style="margin-left: 50%">
		<p:commandButton id="guardarArbol" style="width:70px; height:30px;" class="botones boton-guardar" onsuccess="PF('modalFinalidadPrincipalWgt').hide();" value=" #{text['boton.guardar']}" update="@(.tabPanel) @(treePrincipal) @(.classPrincipalTreeEmpty)"/>    			
	</h:panelGroup>
    </h:panelGrid>	
</ui:composition> 	