<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
    template="/templates/defaultPage.xhtml">
    <h:head></h:head>
    <ui:define name="css_app">
        <link type="text/css" rel="stylesheet" media="all" href="#{request.contextPath}/styles/sicoConvocatoria.css?version=#{text['version']}"/>
    </ui:define>  
    

		<h:form id="form"  enctype="multipart/form-data">	  
			<p:growl id="statusMessage" showDetail="true" autoUpdate="true"/>
		   <p:ajaxStatus onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" />
	 
		<p:dialog widgetVar="statusDialog" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
		   <img  src="#{request.contextPath}/images/ajaxloadingbar.gif" alt="#{text['navegacion.cargando']}"></img>
		</p:dialog> 

		
		<h:panelGroup id="tabPanelGroup">
			<p:tabView id="tabPanel" widgetVar="tabPanel" 
			dynamic="true" cache="true"  
			activeIndex="#{convocatoriaAction.activeIndex}" class="tabNuevaConcocatoria tabPanel" >	
			<p:ajax event="tabChange" listener="#{convocatoriaAction.tabIsChanged}" update="@(.tabNuevaConcocatoria)"/>
					
				<p:tab id="FinalidadTab" title="Finalidad" widgetVar="tabPanelFinalidad" >
					<div align="right">
						<p:commandButton id="dgNextButtonFin" disabled="#{finalidadConvocatoriaAction.finalidadConvocatoriaForm.rootTreeFinality.leaf}" class="botones item-to-enableFin" value="#{text['convocatoria.navegacion.siguiente']}" action="#{convocatoriaAction.nextTab}" update=":form:tabPanel" />
					</div> 					
					<ui:include src="finalidadConvocatoria.xhtml" />
					<div align="center">
						<p:commandButton id="dgSecondNextButtonFin" disabled="#{finalidadConvocatoriaAction.finalidadConvocatoriaForm.rootTreeFinality.leaf}" class="botones item-to-enableFin" style="float:right" value="#{text['convocatoria.navegacion.siguiente']}" action="#{convocatoriaAction.nextTab}" update=":form:tabPanel" />
					</div>
				</p:tab>
				
				<p:tab id="DatosGeneralesTab" title="Datos Generales" class="item-to-enable">
				
						<div id="convocatoria-encabezado-dg" class="marcoDatosConcesion">
							<h:panelGrid columns="4" styleClass="margenEncabezado"
								columnClasses="label-name, label-state, label-year">
								<p:outputLabel value="#{text['datos.generales.etiqueta.id.convocatorias']} #{datosGeneralesConvocatoriaAction.datosGeneralesConvocatoriaDTO.id}-#{datosGeneralesConvocatoriaAction.year}" rendered="#{datosGeneralesConvocatoriaAction.edit}"/>
								<p:outputLabel value="#{text['datos.generales.etiqueta.id.convocatorias']} Por Generar" rendered="#{!datosGeneralesConvocatoriaAction.edit}"/>
								<p:outputLabel value="#{text['datos.generales.etiqueta.estado']} #{datosGeneralesConvocatoriaAction.datosGeneralesConvocatoriaDTO.statusName}"/>
							</h:panelGrid>
						</div>
						<div align="center" class="navigation-button-div">
							<p:commandButton  class="botones" style="float:left" value="#{text['convocatoria.navegacion.anterior']}" action="#{convocatoriaAction.previousTab}" update=":form:tabPanel" />
							<p:commandButton id="dgNextButton" 
							disabled="#{not facesContext.postback or facesContext.validationFailed and true}" 
							style="float:right" class="botones item-to-enable" 
							value="#{text['convocatoria.navegacion.siguiente']}" 
							action="#{datosGeneralesConvocatoriaAction.nextTab}"  
							
							update=":form:tabPanel" />
						</div>
						<br/>
						<ui:include src="datosGeneralesConvocatoria.xhtml" />
						<div align="center">
							<p:commandButton class="botones" value="#{text['convocatoria.navegacion.anterior']}"  style="float:left" action="#{convocatoriaAction.previousTab}" update=":form:tabPanel" />				
							<p:commandButton id="dgDraftButton"  ajax="false" widgetVar="dgDraftButton" class="botones item-draft-to-enable item-to-enable" disabled="#{not facesContext.postback or facesContext.validationFailed and true}" actionListener="#{datosGeneralesConvocatoriaAction.save}" value="Guardar Borrador" />								
							<p:commandButton id="dgValidateButton" disabled="#{not facesContext.postback or facesContext.validationFailed and true}" class="botones item-to-enable" value="Validar" update=":form:tabPanel, formValidate"  onclick="PF('modalValidacionDatosWgt').show();" action="#{datosGeneralesConvocatoriaAction.validate}" />
							<p:commandButton id="dgSendButton" disabled="#{not facesContext.postback or facesContext.validationFailed and true}" class="botones item-to-enable" value="Enviar Convocatoria" update=":form:tabPanel"    action="#{datosGeneralesConvocatoriaAction.saveAndSend}"/>
							<p:commandButton id="dgSecondNextButton"  disabled="#{not facesContext.postback or facesContext.validationFailed and true}" style="float:right" class="botones item-to-enable"   value="Siguiente" action="#{datosGeneralesConvocatoriaAction.nextTab}" update=":form:tabPanel" />
						</div>
				</p:tab>


				<p:tab id="jerarquiaTab" title="Jerarquia" disabled="true" class="item-to-enable">
					<ui:include src="encabezadoConvocatorias.xhtml" />	
					<div align="center" class="navigation-button-div">
						<p:commandButton class="botones" style="float:left" value="#{text['convocatoria.navegacion.anterior']}" action="#{convocatoriaAction.previousTab}" update=":form:tabPanel" />
						<p:commandButton class="botones" style="float:right" value="#{text['convocatoria.navegacion.siguiente']}" action="#{jerarquiaConvocatoriaAction.nextTab}" update=":form:tabPanel"/>
					</div>
					<ui:include src="jerarquiaConvocatoria.xhtml" />
					<br/>	
					<div align="center">
						<p:commandButton class="botones" style="float:left" value="#{text['convocatoria.navegacion.anterior']}" action="#{convocatoriaAction.previousTab}" update=":form:tabPanel" />
						<p:commandButton class="botones" value="Guardar Borrador" actionListener="#{jerarquiaConvocatoriaAction.save}" ajax="false" />
						<p:commandButton class="botones" value="Validar" onclick="PF('modalValidacionDatosWgt').show();" action="#{jerarquiaConvocatoriaAction.validate}" update="formValidate" />
						<p:commandButton class="botones" value="Enviar Convocatoria" action="#{jerarquiaConvocatoriaAction.saveAndSend}"/>
						<p:commandButton class="botones" style="float:right" value="Siguiente" action="#{jerarquiaConvocatoriaAction.nextTab}" update=":form:tabPanel" />
					</div>
				</p:tab>
				
				<p:tab id="concesionTab" title="Concesión" disabled="true"  class="item-to-enable">
					<ui:include src="encabezadoConvocatorias.xhtml" />
					<div align="center" class="navigation-button-div">
						<p:commandButton class="botones" style="float:left" value="#{text['convocatoria.navegacion.anterior']}" action="#{convocatoriaAction.previousTab}" update=":form:tabPanel" />
						<p:commandButton class="botones" style="float:right" value="#{text['convocatoria.navegacion.siguiente']}" action="#{concesionConvocatoriaAction.nextTab}" update=":form:tabPanel" />
					</div>
					<br/>
					<ui:include src="concesionConvocatoria.xhtml" />
					<div align="center">
						<p:commandButton class="botones" style="float:left" value="#{text['convocatoria.navegacion.anterior']}" action="#{convocatoriaAction.previousTab}" update=":form:tabPanel" />
						<p:commandButton class="botones" value="Guardar Borrador" ajax="false" action="#{concesionConvocatoriaAction.save}" update=":form:tabPanel" process="@all"/>
						<p:commandButton class="botones" value="Validar" onclick="PF('modalValidacionDatosWgt').show();" action="#{concesionConvocatoriaAction.validate}" update="formValidate"/>
						<p:commandButton class="botones" value="Enviar Convocatoria" action="#{concesionConvocatoriaAction.saveAndSend}"/>
						<p:commandButton class="botones" style="float:right" value="Siguiente" action="#{concesionConvocatoriaAction.nextTab}" update=":form:tabPanel" />	
					</div>	
				</p:tab>
				
				<p:tab id="datosFinalidadTab" title="Datos de Finalidad" disabled="true"  >
					<ui:include src="encabezadoConvocatorias.xhtml" />
					<div align="center" class="navigation-button-div">
						<p:commandButton class="botones" style="float:left" value="#{text['convocatoria.navegacion.anterior']}" action="#{convocatoriaAction.previousTab}" update=":form:tabPanel" />
						<p:commandButton class="botones" style="float:right" value="#{text['convocatoria.navegacion.siguiente']}" action="#{datosFinalidadConvocatoriaAction.nextTab}" update=":form:tabPanel" />	
					</div>
					<br/>
					<ui:include src="datosFinalidadConvocatoria.xhtml" />
					<br/>
					<div align="center">
						<p:commandButton class="botones" style="float:left" value="#{text['convocatoria.navegacion.anterior']}" action="#{convocatoriaAction.previousTab}" update=":form:tabPanel" />
						<p:commandButton class="botones" value="Guardar Borrador" action="#{datosFinalidadConvocatoriaAction.save}" ajax="false"  />
						<p:commandButton class="botones" value="Validar" onclick="PF('modalValidacionDatosWgt').show();" action="#{datosFinalidadConvocatoriaAction.validate}" update="formValidate"/>
						<p:commandButton class="botones" value="Enviar Convocatoria" action="#{datosFinalidadConvocatoriaAction.saveAndSend}"/>
						<p:commandButton class="botones" value="Siguiente" style="float:right" action="#{datosFinalidadConvocatoriaAction.nextTab}" update=":form:tabPanel" />		
					</div>
				</p:tab>
				
				<p:tab id="confAyudaTab" title="Configuración de Ayuda" disabled="true"  class="item-to-enable">
					<ui:include src="encabezadoConvocatorias.xhtml" />
					<div align="center" class="navigation-button-div">
						<p:commandButton class="botones" style="float:left" value="#{text['convocatoria.navegacion.anterior']}" action="#{convocatoriaAction.previousTab}" update=":form:tabPanel" />
						<p:commandButton class="botones" style="float:right" value="#{text['convocatoria.navegacion.siguiente']}" action="#{configuracionAyudaAction.nextTab}" update=":form:tabPanel" />	
					</div>
					<br/>
					<ui:include src="configuracionAyuda.xhtml" />
					<div align="center" class="navigation-button-div">
						<p:commandButton class="botones" style="float:left" value="#{text['convocatoria.navegacion.anterior']}" action="#{convocatoriaAction.previousTab}" update=":form:tabPanel" />
						<p:commandButton class="botones" value="Guardar Borrador" action="#{configuracionAyudaAction.save}" ajax="false"/>
						<p:commandButton class="botones" value="Validar" onclick="PF('modalValidacionDatosWgt').show();" action="#{configuracionAyudaAction.validate}" update="formValidate" />
						<p:commandButton class="botones" value="Enviar Convocatoria" action="#{configuracionAyudaAction.saveAndSend}"/>
						<p:commandButton class="botones" style="float:right" value="Siguiente" action="#{configuracionAyudaAction.nextTab}" update=":form:tabPanel" />		
					</div>
				</p:tab>
				
				<p:tab id="observacionesTab" title="Observaciones" disabled="true"  class="item-to-enable">
					<ui:include src="encabezadoConvocatorias.xhtml" />
					<div align="left" class="navigation-button-div">
						<p:commandButton class="botones" value="#{text['convocatoria.navegacion.anterior']}" action="#{convocatoriaAction.previousTab}" update=":form:tabPanel" />	
					</div>
					<br/>
					<ui:include src="observacionesConvocatoria.xhtml" />
					<div align="center">
						<p:commandButton class="botones" style="float:left" value="#{text['convocatoria.navegacion.anterior']}" action="#{convocatoriaAction.previousTab}" update=":form:tabPanel" />		
					    <p:commandButton class="botones" value="Guardar Borrador" action="#{observacionesConvocatoriaAction.save}" ajax="false" />
						<p:commandButton class="botones" value="Validar" onclick="PF('modalValidacionDatosWgt').show();" action="#{observacionesConvocatoriaAction.validate}" update="formValidate"/>
						<p:commandButton class="botones" value="Enviar Convocatoria" action="#{observacionesConvocatoriaAction.saveAndSend}"/>
					</div>
				</p:tab>
			</p:tabView>
		</h:panelGroup>
		
		 

 
		
	</h:form>
	
				<p:dialog id="validationModal" header="#{text['validacion.datos.header.modal']}"
					widgetVar="modalValidacionDatosWgt" modal="true"
					height="auto" width="50%" style="min-height:50% " draggable="false" resizable="false" dynamic="true">
					<ui:include src="modalValidacionDatosConvocatorias.xhtml" />
				</p:dialog>
</ui:composition>