<ui:composition xmlns="http://www.w3.org/1999/xhtml"  
                xmlns:h="http://java.sun.com/jsf/html"  
                xmlns:f="http://java.sun.com/jsf/core"  
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
		<div class="margen-observaciones">
		<p:panelGrid style="width:100%" cellspacing="10">
	        <p:outputLabel value="Observaciones de la Convocatoria:" style="font-weight:bold; color: #797979;"/>
	        <p:inputTextarea value="#{observacionesConvocatoriaAction.datosGeneralesConvocatoriaDTO.observations}" style="width:100%; margin-top: 1%;" maxlength="255" disabled="#{!observacionesConvocatoriaAction.convocatoriaEditable}"/>
    	</p:panelGrid></div>		 	
</ui:composition>