<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">	
	
	<ui:include src="modalEntidadesFinanciadoras.xhtml" />
				<div>
					<p:commandButton id="entidadesFinanciadorasSaveButton"
						class="botones" value="Cargar Entidades"
						onclick="PF('modalEntidadesFinanciadorasWgt').hide();"
						actionListener="#{concesionConvocatoriaAction.listaConcesionEntidadesFinanciadoras}"
						update="form">
					</p:commandButton>
				</div>
</ui:composition>

