<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">	
	
		<ui:include src="modalJerarquiaConvocatoria.xhtml" />
		<ui:include src="modalArbolJerarquiaConvocatoria.xhtml" />
		<div id="jerarquiaSaveDiv">
			<p:commandButton disabled="${jerarquiaConvocatoriaAction.selectedNode == null}" 
							id="jerarquiaSaveButton" 
							update="jerarquiaGrid chooseJerarquiaGrid" 
							class="botones jerarquiaSaveButtonClass" 
							value="#{text['convocatoria.jerarquia.guardar']}" 
							action="#{jerarquiaConvocatoriaAction.onNodeSelect}"
							onclick="PF('modalJerarquiaConvocatoriaWgt').hide();">			                        
			</p:commandButton>
		</div> 	
</ui:composition>

