<ui:composition xmlns="http://www.w3.org/1999/xhtml"  
                xmlns:h="http://java.sun.com/jsf/html"  
                xmlns:f="http://java.sun.com/jsf/core"  
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
	<h:form>
		<div>
		 <h:panelGrid columns = "2" style="width:100%">
	        <p:outputLabel  for="medioPublicacion" value=" Medio de Publicación:" />
	        <p:outputLabel for="fechaPublicacion" value="Fecha de Publicación:" />
	        <p:inputText id="medioPublicacion" style="width:90%" />
			<p:calendar id="fechaPublicacion" datePattern="d/M/yyyy HH:mm" showOn="button"/>   
		</h:panelGrid></div>
		<div>
		<h:panelGrid columns="1" style="width:100%">
			<p:outputLabel value="URL Convocatoria: " />
			<p:inputText id="urlConvocatoria" style="font-weight:bold;width:100%"/>
			<p:outputLabel value="URL Medios de Comunicación: " />
			<p:inputText id="urlPublicacion" style="font-weight:bold;width:100%"/>
		</h:panelGrid></div>
	</h:form>
</ui:composition>