<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:t="http://myfaces.apache.org/tomahawk"
                xmlns:util="http://csic.es/util/html">
    
    
    <div id="menu">
    	<ul id="titulos">
    		<li class="titulos_li"><span>Convocatorias de ayudas</span></li>
    		<li>
    			<ul class="nivel_1">
    				<li class="nivel_1_li">
    					<h:form>
    						<h:outputLink value="/sico/pages/convocatorias/consultaConvocatoria/consultaConvocatoria.html">
                                    	<h:outputText value="Consulta de Convocatorias"/>
                            </h:outputLink>	
    					</h:form>
    				</li>
    			</ul>
    		</li>
    		<li>
    			<ul class="nivel_1">
    				<li class="nivel_1_li">
    					<h:form>
    						<h:outputLink value="/sico/pages/convocatorias/nuevaConvocatoria/crearConvocatoria.html">
                                    	<h:outputText value="Crear Convocatoria"/>
                            </h:outputLink>	
    					</h:form>
    				</li>
    			</ul>
    		</li>
    		<li>
    			<ul class="nivel_1">
    				<li class="nivel_1_li">
    					<h:form>
    						<h:outputLink value="/sico/pages/convocatorias/avisosConvocatorias/gestionAvisos.html">
                                    	<h:outputText value="Gestión de Avisos"/>
                            </h:outputLink>	
    					</h:form>
    				</li>
    			</ul>
    		</li>
    	</ul>
    </div>
    
</ui:composition>