<ui:composition xmlns="http://www.w3.org/1999/xhtml"  
                xmlns:h="http://java.sun.com/jsf/html"  
                xmlns:f="http://java.sun.com/jsf/core"  
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
	<p:accordionPanel id="datosGeneralesAcordeon">
		<p:tab title="Datos">
			<ui:include src="../nuevaConvocatoria/datosGeneralesConvocatoria.xhtml" />
		</p:tab>
		 
		<p:tab title="Finalidad">
			<ui:include src="../nuevaConvocatoria/finalidadConvocatoria.xhtml" />
		</p:tab>
			 
		<p:tab title="Datos de Finalidad">
			<ui:include src="../nuevaConvocatoria/datosFinalidadConvocatoria.xhtml" />
		</p:tab>
			 
		<p:tab title="Jerarquia">
			<ui:include src="../nuevaConvocatoria/jerarquiaConvocatoria.xhtml" />
		</p:tab>
	</p:accordionPanel> 
</ui:composition>