<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
    template="/templates/defaultPage.xhtml">
    <h:head></h:head>
    <ui:define name="css_app">
        <link type="text/css" rel="stylesheet" media="all" href="#{request.contextPath}/styles/sicoConvocatoria.css?version=#{text['version']}"/>
    </ui:define>  
    

		<h:form id="form"  enctype="multipart/form-data">	  
			<p:growl id="statusMessage" showDetail="true" autoUpdate="true"/>
	   		<p:ajaxStatus onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" />
	   		
	 
		<p:dialog widgetVar="statusDialog" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
		   <img  src="#{request.contextPath}/images/ajaxloadingbar.gif" alt="#{text['navegacion.cargando']}"></img>
		</p:dialog> 
		
		<h:panelGroup id="tabPanelGroup">
			<p:tabView id="tabPanel" widgetVar="tabPanel" activeIndex="#{convocatoriaAction.activeIndex}" class="tabNuevaConcocatoria tabPanel" >			
				
				<p:tab id="DatosGeneralesTab" title="Datos Generales" >
						<div id="convocatoria-encabezado-dg" class="marcoDatosConcesion">
							<h:panelGrid columns="4" styleClass="margenEncabezado"
								columnClasses="label-name, label-state">
								<p:outputLabel value="#{text['datos.generales.etiqueta.id.convocatorias']} #{datosGeneralesConvocatoriaAction.datosGeneralesConvocatoriaDTO.id}-#{datosGeneralesConvocatoriaAction.year}" rendered="#{datosGeneralesConvocatoriaAction.edit}"/>
								<p:outputLabel value="#{text['datos.generales.etiqueta.id.convocatorias']} Por Generar" rendered="#{!datosGeneralesConvocatoriaAction.edit}"/>
								<p:outputLabel value="#{text['datos.generales.etiqueta.estado']} #{datosGeneralesConvocatoriaAction.datosGeneralesConvocatoriaDTO.statusName}"/>
							</h:panelGrid>
						</div>
						<div align="right">
						<p:commandButton id="dgNextButton" class="botones" value="#{text['convocatoria.navegacion.siguiente']}" ajax="false" action="#{edicionConvocatoriaAction.nextDatosGeneralesTab}" update=":form:tabPanelGroup" />
						</div>
						<br/>
						<div id="datosGeneralesConvocatoria">
							<ui:include src="datosGeneralesConvocatoria.xhtml" />	
						</div>
						<br/>
						<div align="center">						
							<p:commandButton id="dgDraftButton"  widgetVar="dgDraftButton" class="botones" ajax="false" action="#{edicionConvocatoriaAction.saveDatosGeneralesTab}"  value="Guardar"/>								
							<p:commandButton id="dgValidateButton" class="botones" value="Validar" style="center;"  onclick="PF('modalValidacionDatosWgt').show();" update=":form:tabPanel, formValidate"/>
							<p:commandButton widgetVar="dgDraftButton2" value="Enviar Convocatoria" class="botones" action="#{edicionConvocatoriaAction.saveDatosGeneralesTab}"  onclick="PF('modalPendienteVerificacionWgt').show();" rendered="#{datosGeneralesConvocatoriaAction.modalPendiente}" />	
							<p:commandButton widgetVar="dgDraftButton3" value="Enviar Convocatoria" class="botones" action="#{edicionConvocatoriaAction.saveDatosGeneralesTab}"  onclick="PF('modalEsperaResolucionWgt').show();" rendered="#{datosGeneralesConvocatoriaAction.modalEsperaResolucion}" />
							<p:commandButton widgetVar="dgDraftButton4" value="Enviar Convocatoria" class="botones" action="#{edicionConvocatoriaAction.saveDatosGeneralesTab}"  onclick="PF('modalAbiertoModificarWgt').show();" rendered="#{datosGeneralesConvocatoriaAction.modalAbiertoModificar}" />
							<p:commandButton widgetVar="dgDraftButton5" value="Enviar Convocatoria" class="botones" action="#{edicionConvocatoriaAction.saveDatosGeneralesTab}"  onclick="PF('parcialAbiertoModificarWgt').show();" rendered="#{datosGeneralesConvocatoriaAction.parcialAbiertoModificar}" />
							<p:commandButton class="botones" value="Abrir Convocatoria para modificar" action="#{datosGeneralesConvocatoriaAction.saveAndSend}"  rendered="#{datosGeneralesConvocatoriaAction.toCorrect}" />
							<p:commandButton id="dgSecondNextButton"   style="float:right;" widgetVar="dgSecondNextButton" class="botones"  value="Siguiente" action="#{edicionConvocatoriaAction.nextDatosGeneralesTab}" update=":form:tabPanelGroup" />
						</div>	
				</p:tab>
				
				<p:tab id="concesionTab" title="Concesión"   class="item-to-enable">
					<ui:include src="../nuevaConvocatoria/encabezadoConvocatorias.xhtml" />
					<div align="center">
						<p:commandButton class="botones" style="float:left;" value="#{text['convocatoria.navegacion.anterior']}" action="#{convocatoriaAction.previousTab}" update=":form:tabPanel" />
						<p:commandButton class="botones" style="float:right" ajax="false" value="#{text['convocatoria.navegacion.siguiente']}" action="#{concesionConvocatoriaAction.nextTab}" update=":form:tabPanel" />
					</div>
					<br/>
					<br/>
					<div id="concesionConvocatoria">
						<ui:include src="../nuevaConvocatoria/concesionConvocatoria.xhtml" />
					</div>
					<div align="center">	
					<p:commandButton class="botones" style="float:left;" value="#{text['convocatoria.navegacion.anterior']}" action="#{convocatoriaAction.previousTab}" update=":form:tabPanel" />
					<p:commandButton class="botones" value="Guardar" ajax="false" action="#{concesionConvocatoriaAction.save}"/>
					<p:commandButton class="botones" value="Validar" onclick="PF('modalValidacionDatosWgt').show();" update="formValidate"/>
					<p:commandButton class="botones" value="Enviar Convocatoria" action="#{concesionConvocatoriaAction.save}" onclick="PF('modalPendienteVerificacionWgt').show();" rendered="#{datosGeneralesConvocatoriaAction.modalPendiente}" />
					<p:commandButton class="botones" value="Enviar Convocatoria" action="#{concesionConvocatoriaAction.save}" onclick="PF('modalEsperaResolucionWgt').show();" rendered="#{datosGeneralesConvocatoriaAction.modalEsperaResolucion}" />
					<p:commandButton class="botones" value="Enviar Convocatoria" action="#{concesionConvocatoriaAction.save}" onclick="PF('modalAbiertoModificarWgt').show();" rendered="#{datosGeneralesConvocatoriaAction.modalAbiertoModificar}" />
					<p:commandButton class="botones" value="Enviar Convocatoria" action="#{concesionConvocatoriaAction.save}" onclick="PF('parcialAbiertoModificarWgt').show();" rendered="#{datosGeneralesConvocatoriaAction.parcialAbiertoModificar}" />
					<p:commandButton class="botones" value="Abrir Convocatoria para modificar" action="#{concesionConvocatoriaAction.saveAndSend}"  rendered="#{datosGeneralesConvocatoriaAction.toCorrect}" />
					<p:commandButton class="botones" style="float:right;" value="Siguiente" action="#{concesionConvocatoriaAction.nextTab}" update=":form:tabPanel" />	
					</div>		
				</p:tab>
				
			
				<p:tab id="confAyudaTab" title="Configuración de Ayuda"   class="item-to-enable">
					<ui:include src="../nuevaConvocatoria/encabezadoConvocatorias.xhtml" />
					<div align="center">
						<p:commandButton class="botones" style="float:left" value="#{text['convocatoria.navegacion.anterior']}" action="#{convocatoriaAction.previousTab}" update=":form:tabPanel" />
						<p:commandButton class="botones" style="float:right" value="#{text['convocatoria.navegacion.siguiente']}" ajax="false" action="#{configuracionAyudaAction.nextTab}" update=":form:tabPanel" />
					</div>	
					<br/>
					<br/>
					<div id="configuracionAyuda">
						<ui:include src="../nuevaConvocatoria/configuracionAyuda.xhtml" />
					</div>
					<div align="center">
						<p:commandButton class="botones" style="float:left;" value="#{text['convocatoria.navegacion.anterior']}" action="#{convocatoriaAction.previousTab}" update=":form:tabPanel" />
						<p:commandButton class="botones" value="Guardar" ajax="false" action="#{configuracionAyudaAction.save}"/>
						<p:commandButton class="botones" value="Validar" onclick="PF('modalValidacionDatosWgt').show();" update="formValidate" />
						<p:commandButton class="botones" value="Enviar Convocatoria" action="#{configuracionAyudaAction.save}" onclick="PF('modalPendienteVerificacionWgt').show();" rendered="#{datosGeneralesConvocatoriaAction.modalPendiente}"/>
						<p:commandButton class="botones" value="Enviar Convocatoria" action="#{configuracionAyudaAction.save}" onclick="PF('modalEsperaResolucionWgt').show();" rendered="#{datosGeneralesConvocatoriaAction.modalEsperaResolucion}"/>
						<p:commandButton class="botones" value="Enviar Convocatoria" action="#{configuracionAyudaAction.save}" onclick="PF('modalAbiertoModificarWgt').show();" rendered="#{datosGeneralesConvocatoriaAction.modalAbiertoModificar}"/>
						<p:commandButton class="botones" value="Enviar Convocatoria" action="#{configuracionAyudaAction.save}" onclick="PF('parcialAbiertoModificarWgt').show();" rendered="#{datosGeneralesConvocatoriaAction.parcialAbiertoModificar}"/>
						<p:commandButton class="botones" value="Abrir Convocatoria para modificar" action="#{configuracionAyudaAction.saveAndSend}"  rendered="#{datosGeneralesConvocatoriaAction.toCorrect}" />
						<p:commandButton class="botones" style="float:right" value="Siguiente" ajax="false" action="#{configuracionAyudaAction.nextTab}" update=":form:tabPanel" />	
					</div>	
				</p:tab>
				
				<p:tab id="ayudasTab" title="Ayudas"   class="item-to-enable">
					<ui:include src="../nuevaConvocatoria/encabezadoConvocatorias.xhtml" />
					<div align="center">
						<p:commandButton class="botones" style="float:left" value="#{text['convocatoria.navegacion.anterior']}" action="#{convocatoriaAction.previousTab}" update=":form:tabPanel" />
						<p:commandButton class="botones" style="float:right" value="#{text['convocatoria.navegacion.siguiente']}" ajax="false" action="#{configuracionAyudaAction.nextTab}" update=":form:tabPanel" />
					</div>	
					<br/>
					<br/>
					<div id="ayudaConvocatoria" align="center">
						<ui:include src="ayudas.xhtml" />
					</div>
					<br/>
					<br/>
					<div align="center">
						<p:commandButton class="botones" style="float:left;" value="#{text['convocatoria.navegacion.anterior']}" action="#{convocatoriaAction.previousTab}" update=":form:tabPanel" />
						<p:commandButton class="botones" value="Validar" onclick="PF('modalValidacionDatosWgt').show();" update="formValidate" />
						<p:commandButton class="botones" value="Enviar Convocatoria" action="#{configuracionAyudaAction.save}" onclick="PF('modalPendienteVerificacionWgt').show();" rendered="#{datosGeneralesConvocatoriaAction.modalPendiente}"/>
						<p:commandButton class="botones" value="Enviar Convocatoria" action="#{configuracionAyudaAction.save}" onclick="PF('modalEsperaResolucionWgt').show();" rendered="#{datosGeneralesConvocatoriaAction.modalEsperaResolucion}"/>
						<p:commandButton class="botones" value="Enviar Convocatoria" action="#{configuracionAyudaAction.save}" onclick="PF('modalAbiertoModificarWgt').show();" rendered="#{datosGeneralesConvocatoriaAction.modalAbiertoModificar}"/>
						<p:commandButton class="botones" value="Enviar Convocatoria" action="#{configuracionAyudaAction.save}" onclick="PF('parcialAbiertoModificarWgt').show();" rendered="#{datosGeneralesConvocatoriaAction.parcialAbiertoModificar}"/>
						<p:commandButton class="botones" value="Abrir Convocatoria para modificar" action="#{configuracionAyudaAction.saveAndSend}"  rendered="#{datosGeneralesConvocatoriaAction.toCorrect}" />
						<p:commandButton class="botones" style="float:right" value="Siguiente" ajax="false" action="#{convocatoriaAction.nextTab}" update=":form:tabPanel" />	
					</div>	
				</p:tab>
				
				
				
				<p:tab id="observacionesTab" title="Observaciones"   class="item-to-enable">
					<ui:include src="../nuevaConvocatoria/encabezadoConvocatorias.xhtml" />
					<div align="left">
						<p:commandButton class="botones" value="#{text['convocatoria.navegacion.anterior']}" action="#{convocatoriaAction.previousTab}" update=":form:tabPanel" />	
					</div>
					<br/>
					<br/>
					<div id="observacionesConvocatoria">
						<ui:include src="../nuevaConvocatoria/observacionesConvocatoria.xhtml" />
					</div>
					<div align="center">
						<p:commandButton class="botones" style="float:left;" value="#{text['convocatoria.navegacion.anterior']}" action="#{convocatoriaAction.previousTab}" update=":form:tabPanel" />		
					    <p:commandButton class="botones" value="Guardar" ajax="false" action="#{observacionesConvocatoriaAction.save}"/>
					    <p:commandButton class="botones" value="Validar" onclick="PF('modalValidacionDatosWgt').show();" update="formValidate"/>
						<p:commandButton class="botones" value="Enviar Convocatoria" action="#{observacionesConvocatoriaAction.save}" onclick="PF('modalPendienteVerificacionWgt').show();" rendered="#{datosGeneralesConvocatoriaAction.modalPendiente}"/>
					    <p:commandButton class="botones" value="Enviar Convocatoria" action="#{observacionesConvocatoriaAction.save}" onclick="PF('modalEsperaResolucionWgt').show();" rendered="#{datosGeneralesConvocatoriaAction.modalEsperaResolucion}"/>
						<p:commandButton class="botones" value="Enviar Convocatoria" action="#{observacionesConvocatoriaAction.save}" onclick="PF('modalAbiertoModificarWgt').show();" rendered="#{datosGeneralesConvocatoriaAction.modalAbiertoModificar}"/>
						<p:commandButton class="botones" value="Enviar Convocatoria" action="#{observacionesConvocatoriaAction.save}" onclick="PF('parcialAbiertoModificarWgt').show();" rendered="#{datosGeneralesConvocatoriaAction.parcialAbiertoModificar}"/>
						<p:commandButton class="botones" value="Abrir Convocatoria para modificar" action="#{observacionesConvocatoriaAction.saveAndSend}"  rendered="#{datosGeneralesConvocatoriaAction.toCorrect}" />
					</div>
				</p:tab>
			</p:tabView>
		</h:panelGroup>		
	</h:form>
	
				<p:dialog header="#{text['validacion.datos.header.modal']}"
					widgetVar="modalValidacionDatosWgt" modal="true"
					height="auto" width="50%" style="min-height:50% " draggable="false" resizable="false">
					<ui:include src="../edicionConvocatoria/modalValidacionDatosConvocatorias.xhtml" />
				</p:dialog>
				
				<p:dialog header="Pendiente Verificación"
					widgetVar="modalPendienteVerificacionWgt" modal="true"
					height="auto" width="40%" resizable="false" draggable="false" style="min-height:40%;text-align:center;">
					<h:form>
						<div align="center">
							<div style="display:table; height:200px; float:center;">
		      					<div style="display:table-cell; vertical-align:bottom; float:center;">
		      						<p:commandButton class="botones" style="float:left" value="por subsanar"  onclick="PF('dlg1').show();" update="form:tabPanelGroup">
										<f:setPropertyActionListener target="#{datosGeneralesConvocatoriaAction.status}" value="Por Subsanar" />
									</p:commandButton>
									<p:spacer width="100" height="10" />
									<p:commandButton ajax="false" class="botones" style="float:right" value="en espera de resolucion" action="#{datosGeneralesConvocatoriaAction.updateStatus}" onclick="PF('modalPendienteVerificacionWgt').hide();">
						    			<f:setPropertyActionListener target="#{datosGeneralesConvocatoriaAction.status}" value="En espera de Resolución" />
						    		</p:commandButton>
		      					</div>
	      					</div>
						</div> 
					</h:form>
				</p:dialog>
				
				<p:dialog header="Corregir:" widgetVar="dlg1" height="auto" width="40%" resizable="false" draggable="false" style="min-height:40%;text-align:center;">
				<h:form id="corregir">
					<div align="center">
						<div style="display:table; height:200px; float:center;">
	      					<div style="display:table-cell; vertical-align:middle; float:center;">
	      						<p:inputTextarea styleClass="spaceCell" required="true" value="#{datosGeneralesConvocatoriaAction.corregir}"/>
						    	<p:commandButton ajax="false" class="botones"  value="Aceptar" action="#{datosGeneralesConvocatoriaAction.updateStatus}" update="form:tabPanelGroup">
						    	</p:commandButton>
						    	<p:commandButton class="botones" value="Cerrar" onclick="PF('modalPendienteVerificacionWgt').hide(); PF('dlg1').hide();" />
	      					</div>
	      				</div>
	      			</div>
			    </h:form>
				</p:dialog>
				
				<p:dialog header="En espera resolución"
					widgetVar="modalEsperaResolucionWgt" modal="true"
					height="auto" width="40%" resizable="false" draggable="false" style="min-height:40%;text-align:center;">
					<h:form>
						<div align="center">
							<div style="display:table; height:200px; float:center;">
		      					<div style="display:table-cell; vertical-align:bottom; float:center;">
									<p:commandButton class="botones" ajax="false" value="abierto para modificar" action="#{datosGeneralesConvocatoriaAction.updateStatus}" onclick="PF('modalEsperaResolucionWgt').hide();" update="form:tabPanelGroup">
										<f:setPropertyActionListener target="#{datosGeneralesConvocatoriaAction.status}" value="Abierto para modificar" />
									</p:commandButton>
									<p:spacer width="100" height="10" />
									<p:commandButton class="botones" ajax="false" value="definitivo" action="#{datosGeneralesConvocatoriaAction.updateStatus}" onclick="PF('modalEsperaResolucionWgt').hide();" >
										<f:setPropertyActionListener target="#{datosGeneralesConvocatoriaAction.status}" value="Definitivo" />
									</p:commandButton>
					    		</div>
					    	</div>
					    </div>
					</h:form>
      						 
				</p:dialog>
				
				<p:dialog header="Abierto a Modificar"
					widgetVar="modalAbiertoModificarWgt" modal="true"
					height="auto" width="40%" resizable="false" draggable="false" style="min-height:40%;text-align:center;">
					<h:form>
						<div align="center">
							<div style="display:table; height:200px; float:center;">
		      					<div style="display:table-cell; vertical-align:bottom; float:center;">
									<p:commandButton class="botones" ajax="false" value="en espera de resolución" action="#{datosGeneralesConvocatoriaAction.updateStatus}" onclick="PF('modalAbiertoModificarWgt').hide();" update="form:tabPanelGroup">
						    			<f:setPropertyActionListener target="#{datosGeneralesConvocatoriaAction.status}" value="En espera de Resolución" />
						    		</p:commandButton>
						    	</div>
						    </div>
					    </div>	
					</h:form> 
				</p:dialog>
				
				<p:dialog header="Abierto a Modificar"
					widgetVar="parcialAbiertoModificarWgt" modal="true"
					height="auto" width="40%" resizable="false" draggable="false" style="min-height:40%;text-align:center;">
					<h:form>
						<div align="center">
							<div style="display:table; height:200px; float:center;">
		      					<div style="display:table-cell; vertical-align:bottom; float:center;">
									<p:commandButton class="botones" ajax="false" value="pendiente verificacion" action="#{datosGeneralesConvocatoriaAction.updateStatus}" onclick="PF('parcialAbiertoModificarWgt').hide();" update="form:tabPanelGroup">
						    			<f:setPropertyActionListener target="#{datosGeneralesConvocatoriaAction.status}" value="Pendiente Verificación" />
						    		</p:commandButton>
						    	</div>
						    </div>
					    </div>	
					</h:form> 
				</p:dialog>
				
</ui:composition>