<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui">
    
    <h:panelGrid style="width:100%">
        <h:panelGroup layout="block" styleClass="botonera_new" style="clear:left;">
            <ul>
	            <li>
	                <p:commandButton value="#{text['button.save']}" 
									 ajax="false"
									 icon="silk-icon-bullet-disk" 
									 onclick="javascript:PF('waitP').show()"
									 actionListener="#{adminMensajesForm.guardarMensajes}"/> 
	            </li>
	            <li>
	                <p:commandButton value="#{text['button.cancel']}" 
	                				 ajax="false" 
	                				 icon="silk-icon-cancel" 
	                				 onclick="javascript:PF('waitP').show()"
	                				 actionListener="#{adminMensajesForm.cancelarMensajes}"/> 
	            </li>
            </ul>
        </h:panelGroup>
    </h:panelGrid>
</ui:composition>