<ui:composition xmlns="http://www.w3.org/1999/xhtml"   
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core">

           <p:fieldset legend="#{text['proyectos.ccaa.edicionGrupo.tituloTab']}" style="margin-bottom:20px">

                <p:panelGrid columns="2" styleClass="noBorders" columnClasses="alineacionDerNoWrap,alineacionIzq">
                
                	<h:panelGroup layout="block" styleClass="datosLabel" >
                       	<span class="#{planInvestigacionForm.decoratorSelect.nivelNodo}">#{text[planInvestigacionForm.decoratorSelect.nivelNodo]}</span>
                    </h:panelGroup>
                    <h:panelGroup layout="block" styleClass="datosInput" >   
                        <p:outputLabel  id="labelnivelNodoEDJerarquia" value="#{text[planInvestigacionForm.decoratorSelect.nivelNodo]}"/>
              		</h:panelGroup>
                	
                	<!-- <p:outputLabel class="lblResumenProyecto" id="labelID" value="#{text['convocatoria.medioPublicacion.etiqueta']}:"/>
                    <h:outputText id="outputID" value="#{planInvestigacionForm.decoratorSelect.gestionEtiquetas.nombre}" />-->
                	
                	<p:outputLabel class="lblResumenProyecto" id="labelEtiqueta" value="#{text['convocatoria.medioPublicacion.etiqueta']}:"/>
                    <h:outputText id="outputEtiqueta" value="#{planInvestigacionForm.decoratorSelect.gestionEtiquetas.nombre}" />
                
                    <p:outputLabel class="lblResumenProyecto" id="labelNombre" value="#{text['convocatoria.medioPublicacion.nombre']}:"/>
                    <h:outputText id="outputNombre" value="#{planInvestigacionForm.decoratorSelect.nombre}" />

                    <p:outputLabel class="lblResumenProyecto" id="labelNombreCorto" value="#{text['planesInvestigacion.nombreCorto']}:"/>
                    <h:outputText id="outputNombreCorto" value="#{planInvestigacionForm.decoratorSelect.nombre_corto}"/>

                    <!-- <p:outputLabel class="lblResumenProyecto" id="labelAcronimo" value="#{text['convocatoria.medioPublicacion.acronimo']}:"/>
                    <h:outputText id="outputAcronimo" value="#{planInvestigacionForm.decoratorSelect.acronimo}"/> -->
                    
                    <p:outputLabel class="lblResumenProyecto" id="labelDescripcion" value="#{text['planesInvestigacion.descripcion']}:"/>
                    <h:outputText id="outputDescripcion" value="#{planInvestigacionForm.decoratorSelect.descripcion}"/>

                </p:panelGrid> 
                 
                <p:panelGrid columns="2" styleClass="noBorders" columnClasses="alineacionDerNoWrap,alineacionIzq"> 

                    <p:outputLabel class="lblResumenProyecto" id="labelFechaBaja" value="#{text['planesInvestigacion.fechaBaja']}:"/>
                    <h:outputText id="outputFechaBaja" value="#{planInvestigacionForm.decoratorSelect.f_Baja}"/> 

                </p:panelGrid> 

         </p:fieldset>    
</ui:composition>
