<ui:composition xmlns="http://www.w3.org/1999/xhtml"   
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:pe="http://primefaces.org/ui/extensions">

    <a id="datosMedioPub"/>
 
    <h:panelGroup id="contenidoDatosPlanSeleccionado">
     
    	<h:panelGroup rendered="#{planInvestigacionForm.plan != null}">
    	
    		<ui:include src="modalReestructuracionJerarquia.xhtml"/>
    		
    	 
		     	    <h:panelGroup id="bloqueDatosMedioPub" rendered="#{planInvestigacionForm.ocultarDetallePlan eq false}"> 
		    	   		<p:accordionPanel> 		 
		  				<p:tab title="#{text['planesInvestigacion.nivel1']}"> 
		
		            	<ui:include src="bloqueDetallePlan.xhtml" />
		           		
		            	<div>
			                <h:panelGrid  styleClass="tablaTree" columnClasses="alineacionIzqNoWrap">
			                	<h:panelGroup id="arbol" layout="block">
			                	
			                    	<h:panelGroup layout="block" styleClass="alineacionIzqNoWrap">
			                        	<p:treeTable value="#{planInvestigacionForm.plan}" var="document" 
			                                         resizableColumns="false" sortBy="#{document.nombre}"  
			                                         rowStyleClass="#{document.nivelNodo eq 'uno'?'rowUnno':
			                                                          document.nivelNodo eq 'dos'?'rowDos':
			                                                          document.nivelNodo eq 'tres'?'rowTres':
			                                                          document.nivelNodo eq 'cuatro'?'rowCuatro':
			                                                          document.nivelNodo eq 'cinco'?'rowCinco': 'rowConvo'}">
			       
			                                <f:facet name="header">
			                                    <p:commandLink    value="expandir" styleClass="ui-icon ui-icon-circle-triangle-s" title="Expandir" 
			                                                  	  actionListener="#{planInvestigacionForm.expandAll}" style="float: left"
			                                                      update=":planInvestigacionForm:bloqueDatosMedioPub"/>
			                                                      
			                                	<p:commandLink    value="contraer" styleClass="ui-icon ui-icon-circle-triangle-n" title="Contraer" 
			                                                      actionListener="#{planInvestigacionForm.collapseAll}"
			                                                      update=":planInvestigacionForm:bloqueDatosMedioPub"/>
			                                </f:facet>                               
			                                <p:column headerText="#{text['planesInvestigacion.niveles.plan']}" 
			                                          style="width:130px">
			                                    <span class="#{document.nivelNodo}">#{text[document.nivelNodo].substring(0, 2)}</span>
			                                </p:column>        
			                                
			                                <p:column headerText="#{text['convocatoria.medioPublicacion.etiqueta']}" sortBy="#{document.gestionEtiquetas.nombre}" width="6%">
			                                    <h:outputText id="planInvestigacionEtiqueta" value="#{document.gestionEtiquetas.nombre}" />                                          
			                                    <p:tooltip for="planInvestigacionEtiqueta">
						                            <h:outputText value="{document.gestionEtiquetas.nombre}"/>
						                        </p:tooltip>      			                        
			                                </p:column>                                
			                                
			                                <p:column headerText="#{text['convocatoria.medioPublicacion.nombre']}" sortBy="#{document.nombre}" width="85%">
			                                    <h:outputText id="planInvestigacionNombre" value="#{document.nombre.length() gt 100 ?  document.nombre.substring(0,99).concat('...'): document.nombre}" />                                          
			                                    <p:tooltip for="planInvestigacionNombre">
						                            <h:outputText value="#{document.nombre}"/>
						                        </p:tooltip>      			                        
			                                </p:column>        
			                                <p:column headerText="#{text['planesInvestigacion.fechaBaja']}"
			                                          sortBy="#{document.f_Baja}" width="3%"  style="text-align:center;">
			                                    <h:outputText value="#{document.f_Baja}" />
			                                </p:column> 
			
			                                <p:column style="width:6%;text-align:center;">
			                                
			                                	<h:panelGroup style="float:left;" rendered="#{document.nivelNodo ne 'uno' and document.nivelNodo ne 'conv'}">
				                                	<p:commandLink update=":planInvestigacionForm:documentPanelFinalJerarquia :planInvestigacionForm:mensajes :planInvestigacionForm:dialogFinalJerarquia"  
				                                	actionListener="#{planInvestigacionForm.cargarJerarquia}"
				                                	oncomplete="PF('documentDialogFinalJerarquia').show()" title="View Detail" styleClass="silk-icon-information ui-icon" >
				                                        <f:setPropertyActionListener value="#{document}" target="#{planInvestigacionForm.decoratorSelect}" /> 
				                                        <f:attribute name="accionA" value="Detalle" /> 
				                                    </p:commandLink>
			                                	</h:panelGroup>
			                                	
			                                	<h:panelGroup style="float:left;" rendered="#{document.nivelNodo ne 'cinco' and document.nivelNodo ne 'conv'}">
				                                	<p:commandLink update=":planInvestigacionForm:documentPanelFinalJerarquia :planInvestigacionForm:mensajes :planInvestigacionForm:dialogFinalJerarquia" 
				                                	 actionListener="#{planInvestigacionForm.cargarJerarquia}" 
				                                	 oncomplete="PF('documentDialogFinalJerarquia').show()" title="add" styleClass="ui-icon silk-icon-add" >
				                                		<f:setPropertyActionListener value="#{document}" target="#{planInvestigacionForm.decoratorSelect}" />
				                                		<f:attribute name="accionA" value="Nueva" />
				                                		<f:attribute name="deco" value="#{document.nivelNodo}" /> 
				                                		<f:attribute name="idNodo" value="#{document.id}" /> 
				                                    </p:commandLink>
			                                	</h:panelGroup>
			                                	
			                                	<h:panelGroup style="float:left;"  rendered="#{document.nivelNodo ne 'uno' and document.nivelNodo ne 'conv' }">
				                                	<p:commandLink update=":planInvestigacionForm:documentPanelFinalJerarquia :planInvestigacionForm:mensajes :planInvestigacionForm:dialogFinalJerarquia"  
				                                	actionListener="#{planInvestigacionForm.cargarJerarquia}"
				                                				oncomplete="PF('documentDialogFinalJerarquia').show()" title="modify" styleClass="ui-icon silk-icon-pencil" >
				                                        <f:setPropertyActionListener value="#{document}" target="#{planInvestigacionForm.decoratorSelect}" />
				                                        <f:attribute name="accionA" value="Editar" />
				                                        <f:attribute name="deco" value="#{document.nivelNodo}" /> 
				                                    </p:commandLink>
			                                	</h:panelGroup>		 
			                                </p:column>                                  
			                            </p:treeTable>                            
			                        </h:panelGroup>                      
			                    </h:panelGroup>                   
			                 </h:panelGrid>
		               </div>
		              </p:tab>
		              </p:accordionPanel>
		           </h:panelGroup> 
           
        	<!-- <h:panelGroup layout="block" style="width:50%;padding-left:5px">
                <p:messages id="intervaloUpdate" autoUpdate="true" closable="false"/>
            </h:panelGroup> -->
            <br/> 
    	</h:panelGroup>
    </h:panelGroup>

</ui:composition>
