<ui:composition xmlns="http://www.w3.org/1999/xhtml"
     xmlns:h="http://java.sun.com/jsf/html"
     xmlns:p="http://primefaces.org/ui"
     xmlns:ui="http://java.sun.com/jsf/facelets"
     xmlns:f="http://java.sun.com/jsf/core">
     
    
    <h:panelGroup id="bloqueListaControlGastos">            
		                      
	 <p:accordionPanel> 		 
  		 <p:tab title="#{text['planesInvestigacion.tituloBloque']}"> 
  		 
  		  			<p:commandButton value="#{text['button.add']}" actionListener="#{planInvestigacionForm.nuevoPlan}" onstart="mostrarPanelEnviando();" oncomplete="ocultarPanelEnviando();PF('modalPlanInvestigacionWdgt').show();"
			                         icon="silk-icon-add" style="margin-bottom:10px;" update=":planInvestigacionForm:datosPlanInvestigacion  :planInvestigacionForm:contenidoDatosPlanSeleccionado 
			                         :planInvestigacionForm:dialogPlanInvestigacion">
			                         <f:attribute name="Plan" value="Añadir"/>
			        </p:commandButton> 
			       
                	<p:button href="planInvestigacion/busqueda/bloqueBuscarPlanInvestigacion.html" icon="silk-icon-zoom" value="Busqueda" /> 
			                         
			        <h:panelGroup layout="block" styleClass="botonera_new" style="float:right;">
			       		<p:commandButton value="Refrescar" actionListener="#{planInvestigacionForm.init}"  icon="silk-icon-arrow-refresh" style="margin-bottom:10px;" update=":planInvestigacionForm" /> 
			       </h:panelGroup>
			       <div class="clear"/>

        <p:dataTable id="dataTable"
                     var="bean"
                     value="#{planInvestigacionForm.lazyModelJer}"
                     paginator="true" rows="10"  lazy="true" paginatorPosition="bottom"
                     currentPageReportTemplate="{totalRecords} #{text['comunes.listado.registrosEncontrados']}, #{text['comunes.listado.visualizando']} {startRecord} #{text['comunes.listado.al']} {endRecord}"
                     paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                     rowsPerPageTemplate="10,20,50,100,200"
                     rowKey="#{bean.id}"
                     selection="#{planInvestigacionForm.planInvestigacionSeleccionado}"
                     selectionMode="single"
                     tableStyle="table-layout:auto;width:100%;"
                     emptyMessage="#{text['comunes.listado.noResultados']}">
           
            <p:ajax event="rowSelect" listener="#{planInvestigacionForm.onRowSelect}" 
             		onstart="mostrarPanelEnviando();" oncomplete="ocultarPanelEnviando();goToDatosJerarquia();"
                    update=":planInvestigacionForm:contenidoDatosPlanSeleccionado"/>
            
            <!-- <p:ajax event="filter"  update=":planInvestigacionForm:contenidoDatosPlanSeleccionado"/>--> 

            <p:column headerText="#{text['convocatoria.medioPublicacion.etiqueta']}" 
                      sortBy="#{bean.gestionEtiquetas.nombre}"
                      filterBy="#{bean.gestionEtiquetas.nombre}" 
                      filterMatchMode="contains"> 
                <h:outputText value="#{bean.gestionEtiquetas.nombre}" />
            </p:column>
            
            <p:column headerText="#{text['convocatoria.medioPublicacion.nombre']}" 
                      sortBy="#{bean.nombre}"
                      filterBy="#{bean.nombre}"
                      filterMatchMode="contains">
                <h:outputText value="#{bean.nombre}" />
            </p:column>
            
            <p:column headerText="#{text['planesInvestigacion.ambito.geo']}" 
                      sortBy="#{bean.ambitoGeografico.nombre}"
                      filterBy="#{bean.ambitoGeografico.nombre}"
                      filterMatchMode="startsWith"> 
                <h:outputText value="#{bean.ambitoGeografico.nombre}" />
            </p:column>                   

        </p:dataTable>
      </p:tab>
     </p:accordionPanel>
        
    </h:panelGroup>

    <script type="text/javascript">
        //<![CDATA[
        function goToDatosJerarquia() {
            $('html,body').animate({scrollTop: $("#datosMedioPub").offset().top}, 'slow');
        }

        //]]>
    </script>
</ui:composition>