<ui:composition xmlns="http://www.w3.org/1999/xhtml"   
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">
      
		<br></br>
		<br></br>
				                
          <p:fieldset legend="#{text['proyectos.ccaa.edicionGrupo.tituloTab']}" style="margin-bottom:20px" >
                <p:panelGrid columns="2" styleClass="noBorders" columnClasses="alineacionIzqNoWrap"  >
                
                	<h:panelGroup layout="block" styleClass="datosLabel" >
                       	<span class="#{planInvestigacionForm.decoratorSelect.nivelNodo}">#{text[planInvestigacionForm.decoratorSelect.nivelNodo]}</span>
                    </h:panelGroup>
                    <h:panelGroup layout="block" styleClass="datosInput" >   
                        <p:outputLabel  id="labelnivelNodoJerarquia" value="#{text[planInvestigacionForm.decoratorSelect.nivelNodo]}"/>
              		</h:panelGroup>
               
               		<h:panelGroup layout="block" styleClass="datosLabel" >
                    	<p:outputLabel id="labelEtiqEdicionJerarquia" value="#{text['administracion.gestionEtiquetas.nombre']}"/>
             		</h:panelGroup>
<!-- combo etiqueta -->					
                    <h:panelGroup layout="block" styleClass="datosInput" >
		                <p:selectOneMenu id="idComboJerarquiaEdicionTipoEtiqueta" value="#{planInvestigacionForm.decoratorSelect.gestionEtiquetas}" converter="gestionEtiquetasConverter" >
		                    <f:selectItems value="#{planInvestigacionForm.tipologiaEtiquetasNueva}"  var="etiqueta" 
		                                   itemLabel="#{etiqueta.nombre}" itemValue="#{etiqueta}" />
		                </p:selectOneMenu>    
                    </h:panelGroup>  
			
                   
                    <h:panelGroup layout="block" styleClass="datosLabel" >
                    	<p:outputLabel  id="labelNombreJerarquia" value="* #{text['convocatoria.medioPublicacion.nombre']}"/>
                    </h:panelGroup>
                    
                    <h:panelGroup layout="block" styleClass="datosInput" >
						<p:inputTextarea styleClass="negrita" id="outputNombreJerarquia" value="#{planInvestigacionForm.decoratorSelect.nombre}" 
						rows="1"
						cols="115"
						maxlength="100"
						size="105"
						counter="displayEJnombre" 
						counterTemplate=" {0}"
						onkeypress="if(event.keyCode == 13) return false;"/>					
						<h:outputText styleClass="negrita" id="displayEJnombre" />

                    </h:panelGroup>

                    <h:panelGroup layout="block" styleClass="datosLabel" >
                    	<p:outputLabel id="labelNombreCortoJerarquia" value="* #{text['planesInvestigacion.nombreCorto']}"/>
                    </h:panelGroup>
                    
                    <h:panelGroup layout="block" styleClass="datosInput" >
                    	<p:inputTextarea styleClass="negrita" id="outputNombreCortoJerarquia" value="#{planInvestigacionForm.decoratorSelect.nombre_corto}"
                    	rows="1"
						cols="30" 
                    	counter="displayEJnombreCorto"  
                    	maxlength="30" 
                    	size="30" 
                    	counterTemplate=" {0}"
                    	onkeypress="if(event.keyCode == 13) return false;"/>
                    	  <h:outputText styleClass="negrita" id="displayEJnombreCorto" /> 
                    		
                    </h:panelGroup>
                    
                    <h:panelGroup layout="block" styleClass="datosLabel" style="clear:left;margin-top:-55px;" >
                    	<p:outputLabel  id="labelDescripcionJerarquia" value="#{text['planesInvestigacion.descripcion']}"/>
                    </h:panelGroup>
                    
                    <h:panelGroup layout="block" styleClass="datosInput" >
                    	<p:inputTextarea id="outputDescripcionJerarquia" rows="5" cols="60" value="#{planInvestigacionForm.decoratorSelect.descripcion}"  style="resize:none;margin-top:5px;"
                    	 counter="display" maxlength="950" counterTemplate=" {0}" autoResize="false"/>  <h:outputText styleClass="negrita" id="display" />
                    	 <br></br>
	
                    </h:panelGroup>
                                      
               		<h:panelGroup layout="block" styleClass="datosLabel">
						<h:outputLabel for="fechaBaja" value="#{text['planesInvestigacion.fechaBaja']}" />
				    </h:panelGroup>
				    
				    <h:panelGroup layout="block" styleClass="datosInput">
						            
						<p:calendar id="fechaBaja" size="15"
                               title="#{text['planesInvestigacion.fechaBaja']}"
                               value="#{planInvestigacionForm.decoratorSelect.f_Baja}" locale="es"
                               pattern="dd/MM/yyyy" mode="popup" showOn="both" navigator="true"
                               converterMessage="El formato de la fecha del campo es erroneo (dd/mm/aaaa)"  mask="true"/>	            
						            
						            
				    </h:panelGroup>

					<h:panelGroup layout="block" styleClass="datosLabel" style="clear:left;margin-top:-55px;">
						<p:outputLabel id="labelObservacionesJerarquia"
							value="#{text['planesInvestigacion.observaciones']}" />
					</h:panelGroup>
					<h:panelGroup layout="block" styleClass="datosInput">
						<p:inputTextarea id="outputObservacionesJerarquia" rows="5"
							cols="60"
							value="#{planInvestigacionForm.decoratorSelect.observaciones}"
							style="resize:none;margin-top:5px;" counter="displayOb"
							maxlength="950" counterTemplate=" {0}" autoResize="false" />
						<h:outputText styleClass="negrita" id="displayOb" />
		
					</h:panelGroup>
		</p:panelGrid> 
	
         </p:fieldset>
         <h:panelGroup id="botonera"
						style="float:right;margin-top:2px;margin-right:10px;">
				
						<p:commandButton
							onsuccess="javascript:PF('documentDialogFinalJerarquia').hide();"
							icon="silk-icon-cancel" value="#{text['button.cancel']}" />
				
						<p:commandButton
							actionListener="#{planInvestigacionForm.guardarJerarquia}"
							value="#{text['button.save']}" icon="silk-icon-bullet-disk"
							update=":planInvestigacionForm:bloqueDatosMedioPub :planInvestigacionForm:mensajes" />
					</h:panelGroup>
	
</ui:composition>
