<ui:composition xmlns="http://www.w3.org/1999/xhtml"   
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">
                                      
 
    <p:dialog id="dialogReestructuracionJerarquia" header="reestructuracion jerarquia"
    		  showEffect="fade" widgetVar="documentDialogReestructuracionJerarquiaWdgt" modal="true" resizable="false" height="750px" width="75%" 
              hideEffect="fade" closeOnEscape="true">
    	<h:panelGroup id ="panelReestructurar">
    		
    		<!-- <h:panelGroup id="parametrosAjax">
    			<h:inputHidden id="paramDragDrop" value="#{planInvestigacionForm.actualizarArbolDragAndDrop}" />
    		</h:panelGroup> -->
    		
	            <h:panelGrid  columns="5">
	                   <h:outputText value="Reestructurar sobre este plan:  " style="margin-top:-7px"/>

<!-- se comenta hasta solucionar elproblema en DESARROLLO  

	                  <h:panelGroup id="comboJerarquia" style="margin-top:-4px">
	        				<p:selectOneRadio value="#{planInvestigacionForm.idTipoCambio}"  valueChangeListener="#{planInvestigacionForm.onSelectRadio}"  > 
	           					<f:selectItem  itemLabel="este plan" itemValue="1" />
	           					<f:selectItem  itemLabel="otro plan" itemValue="2" />       			
	           					<p:ajax event="valueChange" update="panelReestructurar"/>
	        				</p:selectOneRadio>
	   		 		  </h:panelGroup> --> 
	   		 		  
	   		 		  <h:panelGroup  id="combo" style="float:left;margin-top:-1px" rendered="#{planInvestigacionForm.mostrarCombo eq 'true'}">
			 			<p:selectOneMenu id="inputPlanIn" value="#{planInvestigacionForm.planInvestigacionGestionado.id}" valueChangeListener="#{planInvestigacionForm.onChangePlan}">
							<f:selectItems value="#{planInvestigacionForm.filtroPlanesInvestigacion}"/>
							<p:ajax event="valueChange"  update="panelReestructurar"/>
						</p:selectOneMenu>
			 		  </h:panelGroup>
	   		 		  
	   		 		   <h:panelGroup layout="block" styleClass="botonera_new" style="margin-top:12px;margin-left:4%">
				   			<p:commandButton onsuccess="PF('documentDialogReestructuracionJerarquiaWdgt').hide();" icon="silk-icon-cancel" value="Salir"  
				   			 actionListener="#{planInvestigacionForm.refrescarArbol()}" update=":planInvestigacionForm:bloqueDatosMedioPub"/>
	   				  </h:panelGroup>
	   		 
	   		 	</h:panelGrid>
                       
<!-- ARBOLES -->  
                  <h:panelGroup id="documentPanelReestructuracionJerarquia" style="float:left;margin-top:20px;">             
			                <h:panelGrid columns="1" >
			           			<h:panelGrid columns="3" >
				           				<p:commandLink  styleClass="ui-icon ui-icon-circle-triangle-s" title="Expandir" actionListener="#{planInvestigacionForm.collapsingORexpanding(planInvestigacionForm.plan ,true)}" 
				           								update=":planInvestigacionForm:arbol1"/>
	
										<p:commandLink  styleClass="ui-icon ui-icon-circle-triangle-n" title="Contraer" actionListener="#{planInvestigacionForm.collapsingORexpanding(planInvestigacionForm.plan ,false)}" 
				           								update=":planInvestigacionForm:arbol1"/>	
				           				
				           				<h:outputText value="* Nodo Origen. Arrastra el nodo que desees cambiar al nodo destino y los cambios se guardaran INMEDIATAMENTE" style="float:left;margin-bottom:1px;color: #000000;font-weight:bold;"/>
				           		</h:panelGrid>
			           								
			           			<h:panelGroup id="arbol1" layout="block" style="float:left;clear:left"  >
			                           <p:tree value="#{planInvestigacionForm.plan}" var="document"  draggable="true" droppable="true" dragdropScope="demo"  animate="true"
			                           selection="#{planInvestigacionForm.selectedNode1}" style="width:1000px;" >
			                                <p:ajax event="dragdrop" listener="#{planInvestigacionForm.onDragDrop}"  update=":planInvestigacionForm:arbol1" 
			                               	/> 
			                                				                                	
			                                <p:treeNode style="width:800px;">
							                	<h:outputText value=" #{document.nombre}" style="background-color:#F08080;" rendered="#{document.id eq planInvestigacionForm.idModificado and planInvestigacionForm.idModificado ne null}"/>
							                	<h:outputText value=" #{document.nombre}" style="color: #000000;" rendered="#{document.id ne planInvestigacionForm.idModificado}" />
								            </p:treeNode>                              
			                           </p:tree>
			                        <br></br>
			                    </h:panelGroup>
			                

			                    <h:panelGroup id="arbol2"  layout="block" style="float:left;clear:left;"  rendered="#{planInvestigacionForm.plan2 != null}">  
		                        	<h:panelGrid columns="3" > 
		                            	<p:commandLink  styleClass="ui-icon ui-icon-circle-triangle-s" title="Expandir" actionListener="#{planInvestigacionForm.collapsingORexpanding(planInvestigacionForm.plan2 ,true)}" 
			           								update=":planInvestigacionForm:arbol2"/>		
			           			   		<p:commandLink styleClass="ui-icon ui-icon-circle-triangle-n" title="Contraer" actionListener="#{planInvestigacionForm.collapsingORexpanding(planInvestigacionForm.plan2 , false)}" 
			           								update=":planInvestigacionForm:arbol2"/>  
			           					<h:outputText value="* Nodo Destino " style="float:left;margin-bottom:1px;color: #000000;font-weight:bold;"/>
		                        	</h:panelGrid>
		                            	<p:tree value="#{planInvestigacionForm.plan2}" var="documento"  droppable="true" dragdropScope="demo"  animate="true"
		                           			selection="#{planInvestigacionForm.selectedNode2}" style="width:800px;">    
		                                		<p:ajax event="dragdrop" listener="#{planInvestigacionForm.onDragDrop}" update=":planInvestigacionForm:arbol2"/>
		                                		<p:treeNode style="width:800px;">
							                		<h:outputText value=" #{documento.nombre}" style="background-color:#F08080;"  rendered="#{documento.id eq planInvestigacionForm.idModificado and planInvestigacionForm.idModificado ne null}"/>
							                		<h:outputText value=" #{documento.nombre}" style="color: #000000;" rendered="#{documento.id ne planInvestigacionForm.idModificado}" />
							            		</p:treeNode>                              
		                           		</p:tree>
				               	</h:panelGroup>
			                </h:panelGrid>
 				    </h:panelGroup> 
		</h:panelGroup>

    </p:dialog>    
    
               

</ui:composition>
