<ui:composition xmlns="http://www.w3.org/1999/xhtml"   
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <p:dialog id="dialogFinalJerarquia" header="#{planInvestigacionForm.accion} Jerarquía"
    		  showEffect="fade" widgetVar="documentDialogFinalJerarquia" modal="true" resizable="false" height="750px" width="1200px" 
              hideEffect="fade" closeOnEscape="true">
        <p:outputPanel id="documentPanelFinalJerarquia" style="overflow: auto;">
                <h:panelGroup rendered="#{planInvestigacionForm.accion ne 'Nueva'}">     
                    <p:outputPanel>
                        <p:tree value="#{planInvestigacionForm.decoratorSelect.root}" 
                                style="width:100%;height:100%;border-width:0;" var="node">
                            <p:treeNode>
                                <h:outputText value="#{node}" />
                            </p:treeNode>
                        </p:tree>    
                    </p:outputPanel>  
                </h:panelGroup> 
                
                <h:panelGroup rendered="#{planInvestigacionForm.accion eq 'Nueva'}">     
                    <p:outputPanel>
                        <p:tree value="#{planInvestigacionForm.root}" style="width:100%;height:100%;border-width:0;" var="nodes">
		            		<p:treeNode>
		                		<h:outputText value="#{nodes}" />
		            		</p:treeNode>
		        		</p:tree>  
                    </p:outputPanel>  
                </h:panelGroup> 
                             
                <div style="clear:both"/>
                
				<br></br>
				<br></br>  	  
				        
                 <h:panelGroup rendered="#{planInvestigacionForm.accion eq 'Detalle'}"> 
                	<ui:include src="bloqueDetalle.xhtml" /> 
                 </h:panelGroup> 
                 <h:panelGroup rendered="#{planInvestigacionForm.accion eq 'Editar'}"> 
                	<ui:include src="modalEdicionJerarquia.xhtml"/>
                </h:panelGroup>
                <h:panelGroup rendered="#{planInvestigacionForm.accion eq 'Nueva'}"> 
                	<ui:include src="modalNuevaJerarquia.xhtml"/>
                </h:panelGroup>  
                       
        </p:outputPanel>
        <br/>
    </p:dialog>                            

</ui:composition>
