<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">
     <br></br>

    <p:fieldset legend="#{text['proyectos.ccaa.edicionGrupo.tituloTab']}"
                style="margin-bottom:20px" >
        <br></br>

        <p:panelGrid columns="2" styleClass="noBorders"	columnClasses="alineacionIzqNoWrap" >
        
        	<h:panelGroup layout="block" styleClass="datosLabel" >
                       	<span class="#{planInvestigacionForm.nodoSiguiente}">#{text[planInvestigacionForm.nodoSiguiente]}</span>
            </h:panelGroup>
            <h:panelGroup layout="block" styleClass="datosInput" >   
                        <p:outputLabel  value="#{text[planInvestigacionForm.nodoSiguiente]}"/>
            </h:panelGroup>
        	

            <h:panelGroup layout="block" styleClass="datosLabel" >
                <p:outputLabel id="labelEtiqNuevaJerarquia" value="#{text['administracion.gestionEtiquetas.nombre']}"/>
            </h:panelGroup>
            <h:panelGroup layout="block" styleClass="datosInput" >
                <p:selectOneMenu id="idComboJerarquiaTipoEtiqueta" value="#{planInvestigacionForm.nuevaJerarquiaGestionada.gestionEtiquetas}" converter="gestionEtiquetasConverter" >
                    <f:selectItems value="#{planInvestigacionForm.tipologiaEtiquetas}"
                                   var="etiqueta" 
                                   itemLabel="#{etiqueta.nombre}" itemValue="#{etiqueta}" /> 
                </p:selectOneMenu>                         
            </h:panelGroup> 


            <h:panelGroup layout="block" styleClass="datosLabel">
                <p:outputLabel id="labelNombreNuevaJerarquia"
                               value="* #{text['convocatoria.medioPublicacion.nombre']}" />
            </h:panelGroup>

            <h:panelGroup layout="block" styleClass="datosInput">

                <p:inputTextarea id="outputNombreNuevaJerarquia"  value="#{planInvestigacionForm.nuevaJerarquiaGestionada.nombre}"
                                 rows="1"  cols="100"   maxlength="100" size="90"  
                                 counter="displayNombre"   counterTemplate=" {0}"  onkeypress="if (event.keyCode == 13) return false;"/>			
                <h:outputText styleClass="negrita" id="displayNombre" />  

            </h:panelGroup>

            <h:panelGroup layout="block" styleClass="datosLabel">
                <p:outputLabel id="labelNombreCortoNuevaJerarquia"
                               value="* #{text['planesInvestigacion.nombreCorto']}" />
            </h:panelGroup>

            <h:panelGroup layout="block" styleClass="datosInput">
                <p:inputTextarea  styleClass="negrita"
                                  id="outputNombreCortoNuevaJerarquia"
                                  value="#{planInvestigacionForm.nuevaJerarquiaGestionada.nombre_corto}"
                                  rows="1" cols="30" counter="displayNJnombreCorto"  maxlength="30" size="30"
                                  counterTemplate=" {0}" onkeypress="if (event.keyCode == 13) return false;"/>	
                <h:outputText styleClass="negrita" id="displayNJnombreCorto" />  

            </h:panelGroup>

            <!-- <h:panelGroup layout="block" styleClass="datosLabel">
                <p:outputLabel id="labelAcronimoNuevaJerarquia"
                               value="* #{text['convocatoria.medioPublicacion.acronimo']}" />
            </h:panelGroup>

            <h:panelGroup layout="block" styleClass="datosInput">
                <p:inputTextarea
                    id="outputAcronimoNuevaJerarquia"
                    value="#{planInvestigacionForm.nuevaJerarquiaGestionada.acronimo}"
                    counter="displayNJacronimo"
                    rows="1"  cols="30"  maxlength="30" size="30"
                    counterTemplate=" {0}"	onkeypress="if (event.keyCode == 13) return false;"/>				
                <h:outputText styleClass="negrita" id="displayNJacronimo" />

            </h:panelGroup> -->

            <h:panelGroup layout="block" styleClass="datosLabel" style="clear:left;margin-top:-55px;">
                <p:outputLabel id="labelDescripcionNuevaJerarquia"
                               value="#{text['planesInvestigacion.descripcion']}" />
            </h:panelGroup>

            <h:panelGroup layout="block" styleClass="datosInput">
                <p:inputTextarea id="outputDescripcionNuevaJerarquia"	
                                 rows="5"  cols="80"				
                                 value="#{planInvestigacionForm.nuevaJerarquiaGestionada.descripcion}"
                                 style="resize:none;margin-top:5px;" counter="displayDes"
                                 maxlength="950" counterTemplate=" {0}" autoResize="false" onkeypress="if (event.keyCode == 13)  return false;"/>
                <h:outputText styleClass="negrita" id="displayDes" />

            </h:panelGroup>

            <h:panelGroup layout="block" styleClass="datosLabel">
                <h:outputLabel for="fechaBaja"
                               value="#{text['planesInvestigacion.fechaBaja']}" />
            </h:panelGroup>

            <h:panelGroup layout="block" styleClass="datosInput">

                <p:calendar id="fechaBajaN" size="15"
                            title="#{text['planesInvestigacion.fechaBaja']}"
                            value="#{planInvestigacionForm.nuevaJerarquiaGestionada.f_Baja}"
                            locale="es" pattern="dd/MM/yyyy" mode="popup" showOn="both"
                            navigator="true"
                            converterMessage="El formato de la fecha del campo es erroneo (dd/mm/aaaa)"
                            mask="true" />


            </h:panelGroup>

            <h:panelGroup layout="block" styleClass="datosLabel" style="clear:left;margin-top:-55px;">
                <p:outputLabel id="labelObservacionesNuevaJerarquia"
                               value="#{text['planesInvestigacion.observaciones']}" />
            </h:panelGroup>

            <h:panelGroup layout="block" styleClass="datosInput">
                <p:inputTextarea id="outputObservacionesNuevaJerarquia" rows="5"
                                 cols="80"
                                 value="#{planInvestigacionForm.nuevaJerarquiaGestionada.observaciones}"
                                 style="resize:none;margin-top:5px;" counter="displayObs"
                                 maxlength="950" counterTemplate=" {0}" autoResize="false" />	
                                 <h:outputText styleClass="negrita" id="displayObs" />
            </h:panelGroup>
        </p:panelGrid>
    </p:fieldset>

    <h:panelGroup id="botoneraNew"
                  style="float:right;margin-top:2px;margin-right:10px;">
        <p:commandButton
            onsuccess="javascript:PF('documentDialogFinalJerarquia').hide();"
            icon="silk-icon-cancel" value="#{text['button.cancel']}" />
        <p:commandButton
            actionListener="#{planInvestigacionForm.guardarNuevaJerarquia}"
            value="#{text['button.save']}" icon="silk-icon-bullet-disk"
            update=":planInvestigacionForm:bloqueDatosMedioPub :planInvestigacionForm:mensajes" />
    </h:panelGroup>

</ui:composition>


