<ui:composition xmlns="http://www.w3.org/1999/xhtml"   
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:gep="http://apps.csic.es/gep"
                xmlns:p="http://primefaces.org/ui">
          

    <p:dialog id="dialogPlanInvestigacion" header="#{planInvestigacionForm.accion} Nivel 1" widgetVar="modalPlanInvestigacionWdgt"
              modal="true" resizable="false" width="1150" height="650"
              showEffect="fade" hideEffect="fade" closeOnEscape="true" dynamic="true">

        <h:panelGroup id="datosPlanInvestigacion" layout="block"  >
            <p:panelGrid columns="2"  styleClass="noBorders"  columnClasses="alineacionIzqNoWrap">


                <h:panelGroup layout="block" styleClass="datosLabelPlan" >
                    <p:outputLabel id="labelEtiqPlanInv" value="* #{text['administracion.gestionEtiquetas.nombre']}"/>
                </h:panelGroup>
                <h:panelGroup layout="block" styleClass="datosInputPlan" >
                    <p:selectOneMenu id="idComboTipoEtiqueta" value="#{planInvestigacionForm.planInvestigacionGestionado.gestionEtiquetas}" converter="gestionEtiquetasConverter" >
                        <f:selectItems value="#{planInvestigacionForm.tipologiaEtiquetas}"  var="etiqueta" 
                                       itemLabel="#{etiqueta.nombre}" itemValue="#{etiqueta}" /> 
                    </p:selectOneMenu>                    
                </h:panelGroup> 

                <h:panelGroup layout="block" styleClass="datosLabelPlan">
                    <p:outputLabel id="labelNombrePlanInv"
                                   value="* #{text['convocatoria.medioPublicacion.nombre']}" />
                </h:panelGroup>

                <h:panelGroup layout="block" styleClass="datosInputPlan">
                    <p:inputTextarea id="inputNombrePlan"
                                     value="#{planInvestigacionForm.planInvestigacionGestionado.nombre}"
                                     rows="1"
                                     cols="115" 
                                     counter="displayInNombre"
                                     maxlength="100" size="105" 
                                     counterTemplate=" {0}"
                                     onkeypress="if (event.keyCode == 13)
                                                 return false;"/>
                    <h:outputText styleClass="negrita" id="displayInNombre" />  
                </h:panelGroup>

                <h:panelGroup layout="block" styleClass="datosLabelPlan">
                    <p:outputLabel id="labelNombreCortoPlanInv"
                                   value="* #{text['planesInvestigacion.nombreCorto']}" />
                </h:panelGroup>
                <h:panelGroup layout="block" styleClass="datosInputPlan">
                    <p:inputTextarea id="inputNombreCortoPlan"
                                     value="#{planInvestigacionForm.planInvestigacionGestionado.nombre_corto}"
                                     rows="1"
                                     cols="35" 
                                     counter="displayInNombreCorto"
                                     maxlength="30" size="35" 
                                     counterTemplate=" {0}"
                                     onkeypress="if (event.keyCode == 13) 
                                    	 return false;"/>
                    <h:outputText styleClass="negrita" id="displayInNombreCorto" />  
                </h:panelGroup>

                <h:panelGroup layout="block" styleClass="negrita" style="clear:left;margin-top:-75px;">
                    <p:outputLabel id="labelDescripcionPlanInv"
                                   value="#{text['planesInvestigacion.descripcion']}"  />
                </h:panelGroup>
                <h:panelGroup layout="block" styleClass="datosInputPlan">
                    <p:inputTextarea id="outputDescripcionJerarquiaPlanInv" rows="8"
                                     cols="90"
                                     value="#{planInvestigacionForm.planInvestigacionGestionado.descripcion}"
                                     style="resize:none;margin-top:5px;" counter="displayDesc"
                                     maxlength="950" counterTemplate=" {0}" autoResize="false" />
                    <h:outputText styleClass="negrita" id="displayDesc" />
                    <br></br>
                </h:panelGroup>

                <h:panelGroup layout="block" styleClass="datosLabelPlan" >
                    <p:outputLabel id="labelUrlPlanInv" value="#{text['planesInvestigacion.url']}"/>
                </h:panelGroup>
                <h:panelGroup layout="block" styleClass="datosInputPlan" >
                    <p:inputTextarea id="outputUrlJerarquiaPlanInv" 
                                     rows="1" cols="90" value="#{planInvestigacionForm.planInvestigacionGestionado.url}"  style="resize:none;margin-top:5px;" 
                                     counter="displayUrl" maxlength="100" counterTemplate=" {0}" autoResize="false"/>
                    <h:outputText styleClass="negrita" id="displayUrl"/>
                    <br></br>

                </h:panelGroup>

				<h:panelGroup layout="block" styleClass="datosLabelPlan">
                    <p:outputLabel id="labelAnnioInicioPlanInv"  value="#{text['planesInvestigacion.anno.inicio']}" />
                </h:panelGroup>

                <h:panelGroup layout="block" styleClass="datosInputPlan">
                    <p:inputText id="inputAnnioInicioPlan"  value="#{planInvestigacionForm.planInvestigacionGestionado.annio_inicio}"  maxlength="4" size="4" />
                </h:panelGroup>
				
				<h:panelGroup layout="block" styleClass="datosLabelPlan">
                    <p:outputLabel id="labelAnnioFinPlanInv"  value="#{text['planesInvestigacion.anno.fin']}" />
                </h:panelGroup>

                <h:panelGroup layout="block" styleClass="datosInputPlan">
                    <p:inputText id="inputAnnioFinPlan"  value="#{planInvestigacionForm.planInvestigacionGestionado.annio_fin}"  maxlength="4" size="4" />
                </h:panelGroup>


                <h:panelGroup layout="block" styleClass="datosLabelPlan" >
                    <p:outputLabel id="labelAmbPlanInv" value="#{text['planesInvestigacion.ambito.geo']}"/>
                </h:panelGroup>
                <h:panelGroup layout="block" styleClass="datosInputPlan" >                              
                    <p:selectOneMenu id="idComboTipoAmbito" value="#{planInvestigacionForm.planInvestigacionGestionado.ambitoGeografico}" converter="ambitoGeograficoConverter" >
                        <f:selectItems value="#{planInvestigacionForm.tipologiaAmbitoGeografico}"
                                       var="ambitoGeografico" 
                                       itemLabel="#{ambitoGeografico.nombre}" itemValue="#{ambitoGeografico}" /> 
                    </p:selectOneMenu>


                </h:panelGroup>

            </p:panelGrid>
        </h:panelGroup>
        <h:panelGroup layout="block" styleClass="botonera_new" style="float:right;">
            <p:commandButton onsuccess="PF('modalPlanInvestigacionWdgt').hide();" icon="silk-icon-cancel" value="#{text['button.cancel']}" /> 

            <p:commandButton actionListener="#{planInvestigacionForm.guardarPlan}"  action="#{planInvestigacionForm.init}" value="#{text['button.save']}" ajax="false" icon="silk-icon-bullet-disk"/>
        </h:panelGroup>

    </p:dialog>

</ui:composition>