<ui:composition xmlns="http://www.w3.org/1999/xhtml"
     xmlns:h="http://java.sun.com/jsf/html"
     xmlns:p="http://primefaces.org/ui"
     xmlns:ui="http://java.sun.com/jsf/facelets"
     xmlns:f="http://java.sun.com/jsf/core">
  
    <p:accordionPanel>
		<p:tab title="#{text['ayuda.bloqueListado.titulo']}">
     		<h:panelGroup layout="block" id="bloqueListaAyudas">
        		<h:panelGroup layout="block" style="clear:both;" id="bloqueTablaConvocatorias">
        	
		            <p:dataTable id="dataTableListadoConvocatorias" 
			        			 var="ayuda"
			                     value="#{consultaAyudasForm.lazyModel}"
			                     paginator="true" rows="15" lazy="true" paginatorPosition="bottom"
			                     currentPageReportTemplate="{totalRecords} #{text['comunes.listado.registrosEncontrados']}, #{text['comunes.listado.visualizando']} {startRecord} #{text['comunes.listado.al']} {endRecord}"
			                     paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
			                     selection="#{consultaAyudasForm.ayudaSeleccionada}"
			                     rowsPerPageTemplate="10,20,50,100,200"
			                     rowKey="#{ayuda.id}"
			                     selectionMode="single"
			                     tableStyle="table-layout:auto;width:100%;"
			                     emptyMessage="#{text['comunes.listado.noResultados']}">

						         <p:ajax event="rowSelect" listener="#{consultaAyudasForm.onRowSelect}"   />             
		            	                         
			             <p:column headerText="Título" 
			             	width="25%"
			               	sortBy="#{ayuda.titulo}"
			             	filterBy="#{ayuda.titulo}"
			             	filterMatchMode="contains">
			                <h:outputText value="#{ayuda.titulo}"/>
			            </p:column>
			            
			            <p:column headerText="Cod. BDC" 
			            	width="10%"
			            	sortBy="#{ayuda.cod_bdc}"
			            	filterBy="#{ayuda.cod_bdc}"
			            	filterMatchMode="contains">
			                <h:outputText value="#{ayuda.cod_bdc}" />
			            </p:column>

			            <p:column headerText="Fecha Inicio" 
			            	width="13%"
			            	sortBy="#{ayuda.f_inicio}"
			            	filterBy="#{ayuda.f_inicio}"
			            	filterMatchMode="contains">
			                <h:outputText value="#{ayuda.f_inicio}" />
			            </p:column>

			            <p:column headerText="acronimo}" 
			            	width="13%"
			            	sortBy="#{ayuda.acronimo}"
			            	filterBy="#{ayuda.acronimo}"
			            	filterMatchMode="contains">
			                <h:outputText value="#{ayuda.acronimo}" />
			            </p:column>
			            
			            <p:column headerText="contribucion Ue" 
			             	width="1%"
			               	sortBy="#{ayuda.contribucion_ue}"
			             	filterBy="#{ayuda.contribucion_ue}"
			             	filterMatchMode="contains">
			                <h:outputText value="#{ayuda.contribucion_ue}"/>
			            </p:column> 
			            
			            <p:column headerText="contribucion Ue Csic" 
			            	width="1%"
			               	sortBy="#{ayuda.contribucion_ue_csic}"
			             	filterBy="#{ayuda.contribucion_ue_csic}"
			             	filterMatchMode="contains">
			                <h:outputText value="#{ayuda.contribucion_ue_csic}"/>
			            </p:column> 
			            
			            <p:column headerText="Coste total Proyecto" 
			             	width="1%"
			               	sortBy="#{ayuda.coste_total_proyecto}"
			             	filterBy="#{ayuda.coste_total_proyecto}"
			             	filterMatchMode="contains">
			                <h:outputText value="#{ayuda.coste_total_proyecto}"/>
			            </p:column>
	
			        </p:dataTable>
			        
				</h:panelGroup> 
			</h:panelGroup>
		</p:tab>
	</p:accordionPanel>
	
	<!-- <h:panelGroup layout="block" styleClass="botonera_new"	style="float:right;">
		<p:commandButton  icon="silk-icon-accept" value="#{text['button.continuar']}" ajax="false" action="#{consultaAyudasForm.continuar}"/> 
	</h:panelGroup> -->

</ui:composition>