<ui:composition xmlns="http://www.w3.org/1999/xhtml"   
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/templates/defaultPage.xhtml">                

    <ui:define name="title">#{text['comunes.aplicacion.nombre']} - #{text['ayudas.titulo']}</ui:define>
   
    <h:form id="ayudasForm">
                
        <ui:include src="../../incl/mensajes.xhtml"/>
                
 <!-- bloque navegacion-->       
        <h:panelGroup layout="block" >
	    	<ui:include src="../../incl/navegacionAyudas.xhtml">
				<ui:param name="paramForm" value="#{edicionAyudasForm.ayudasGestionadas}" />
				<ui:param name="idAyuda" value="#{edicionAyudasForm.idAyuda}" />
				<ui:param name="optionSelected" value="datosGenerales" />
	    	</ui:include>
	    	
<!-- boton guardar -->	    	
	    	<h:panelGrid style="width:100%">
	        	<h:panelGroup id="botonGuardar" layout="block" styleClass="botonera_new" style="clear:left;margin-top: 5px;" >
	        	  <ui:param name="paramForm" value="#{edicionAyudasForm.ayudasGestionadas}" /> 
	                 <p:commandButton value="#{text['button.save']}" icon="silk-icon-bullet-disk" actionListener="#{edicionAyudasForm.guardar}" update="mensajes" />
	        	</h:panelGroup>
    		</h:panelGrid> 
	    
	    	<p:accordionPanel>
       			<p:tab title="#{text['proyectos.comunes.datosGenerales.tituloBloque']}">
			    	<ui:include src="../bloqueDatosGeneralesAyuda.xhtml"> 
						<ui:param name="paramForm" value="#{edicionAyudasForm.ayudasGestionadas}" />        	
					</ui:include>
				</p:tab> 
			</p:accordionPanel>

    	</h:panelGroup>
 	</h:form>
</ui:composition>