<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <p:panel id="bloqueDatosGrupoPpal" header="#{text['proyectos.comunes.datosGrupoPpal.tituloBloque']}" toggleable="true" toggleSpeed="200" closeSpeed="200" rendered="#{!proyectoForm.renderBloqueEntidadesParticipantes}">
        <h:panelGrid columns="2" columnClasses="alineacionDer,alineacionIzq">
            <h:outputLabel for="entidad" value="* #{text['proyectos.comunes.entidadPrincipal.lbl']}"
                           styleClass="obligatorio"/>
            <h:panelGroup rendered="#{proyectoForm.puedeModificarEntidad}">
                <p:outputPanel id="divEntidad" layout="block">
                    <h:panelGrid columns="3" cellpadding="0" cellspacing="0">
                        <p:inputText readonly="true" id="entidad" value="#{proyectoForm.nombreEntidad}" size="95" />
                        <p:commandButton id="cbPanelSeleccionarEntidadPrincipal" icon="ui-icon-search"
                                         value="Seleccionar"
                                         actionListener="#{proyectoForm.refreshPanelEntidades}"
                                         update="divPanelEntidades"
                                         onstart="mostrarPanelEnviando()"
                                         oncomplete="ocultarPanelEnviando();PF('panelEntidades').show()"
                                         rendered="#{proyectoForm.puedeModificarEntidad}"/>

                    </h:panelGrid>
                </p:outputPanel>
            </h:panelGroup>
            <p:inputText readonly="true" id="inputEntidad" value="#{proyectoForm.nombreEntidad}" size="95" rendered="#{not proyectoForm.puedeModificarConvocatoria}"/>


            <h:outputLabel for="selectFuncionGrupo" value="* #{text['proyectos.comunes.funcion.lbl']}" styleClass="obligatorio"/>
            <h:panelGroup id="panelgroupFuncionGrupo">
                <p:selectOneMenu id="selectFuncionGrupo"
                                 value="#{proyectoForm.funcionGrupoPrincipal}"
                                 rendered="#{proyectoForm.puedeModificarConvocatoria}">
                    <p:ajax event="change"
                            listener="#{proyectoForm.getNombreGrupoProyectoPpal}"
                            update="inputNombreGrupoPpal" />
                    <f:selectItem itemLabel="#{text['proyectos.comunes.introduzcaSeleccion']}" itemValue="#{null}"/>
                    <f:selectItems value="#{proyectoForm.listSelectItemFuncionGrupo}" />
                </p:selectOneMenu>
             <!--    <p:blockUI block="selectFuncionGrupo" trigger="selectFuncionGrupo"/> -->
                <p:inputText id="inputFuncionGrupo" value="#{proyectoForm.funcionGrupoPrincipal.nombre}" rendered="#{!proyectoForm.puedeModificarConvocatoria}"/>
            </h:panelGroup>

            <h:outputText value="* #{text['proyectos.comunes.nombreGrupoProyecto.lbl']}" styleClass="obligatorio" />
            <p:inputText id="inputNombreGrupoPpal" value="#{proyectoForm.nuevoGrupoProyecto.nombre}" size="100" maxlength="100"/>
        </h:panelGrid>
    </p:panel>

    
</ui:composition>
