<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <p:outputPanel id="divTablaGrupoProyecto" layout="block">
        <p:panel id="bloqueListaParticipantes" header="#{text['proyectos.comunes.listaGrupos.tituloBloque']}" 
        	collapsed="#{proyectoForm.collapsedListaGrupos?true:false}" toggleable="true" toggleSpeed="200" closeSpeed="200">
            <h:panelGrid columns="2" columnClasses="alineacionDer,alineacionIzq" cellpadding="2" cellspacing="2">
                <h:outputLabel for="selectIncluirSoloVigentes" value="#{text['proyectos.mostrarActivos.lbl']}"/>
                <p:selectBooleanCheckbox id="selectIncluirSoloVigentes" value="#{grupoProyectoForm.grupoProyectoBean.incluirSoloVigentes}">
                    <p:ajax event="change"
                            listener="#{grupoProyectoForm.refreshIncluirNoActivos}"
                            update="divTablaProyectoGruposParticipantes"/>
                </p:selectBooleanCheckbox>
            </h:panelGrid>

            <p:outputPanel id="divTablaProyectoGruposParticipantes" layout="block">
                <p:dataTable id="tablaProyectoGruposParticipantes"
                             var="bean"
                             value="#{grupoProyectoForm.grupoProyectoBean.listGrupoProyecto}"
                             rendered="#{!empty grupoProyectoForm.grupoProyectoBean.listGrupoProyecto}"
                             paginator="true" rows="10" paginatorPosition="bottom"
                             currentPageReportTemplate="{totalRecords} #{text['listado.registrosEncontrados']}, #{text['listado.visualizando']} {startRecord} #{text['listado.al']} {endRecord}"
                             paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                             rowsPerPageTemplate="10,20,50,100,200"
                             tableStyle="table-layout:auto;width:100%;"
                             selectionMode="single"
                             rowKey="#{bean.id}"
                             paginatorAlwaysVisible="false"
                             selection="#{grupoProyectoForm.grupoProyectoBean.grupoProyectoSelectedRow}">
					<p:ajax event="rowSelect" 
						listener="#{grupoProyectoDetalleForm.verDetalleGrupo(proyectoForm.proyecto, grupoProyectoForm.grupoProyectoBean.grupoProyectoSelectedRow)}"
						update=":opDatosProyectoGrupos:divDatosGrupoProyecto, :opGrupoParticipante:divBloqueListaParticipantes, :formDatosPCO:divTablaPCO, :proceso,  :comentarios"
						onstart="mostrarPanelEnviando()"
		            	oncomplete="ocultarPanelEnviando();goToDatosDetalleGrupo()"
						/>
					<p:column rendered="#{grupoProyectoDetalleForm.grupoProyectoDetalleBean.renderSwPrincipal}">
                        <h:graphicImage class="boton_img"
                                        rendered="#{bean.swPrincipal}"
                                        url="/images/grupoPpal.gif"
                                        title="#{text['proyectos.comunes.grupoProyectoPrincipal.lbl']}" />
                    </p:column>
                    <p:column headerText="#{text['proyectos.comunes.entidad.lbl']}" sortBy="#{bean.entidad.nombre}">
                        <h:outputText value="#{bean.entidad.nombre}"/>
                    </p:column>
                    <p:column headerText="#{text['proyectos.comunes.csic.lbl']}" sortBy="#{bean.entidad.CSIC}">
                        <h:outputText value="#{bean.entidad.CSIC ? text['proyectos.comunes.si'] : text['proyectos.comunes.no']}"/>
                    </p:column>
                    <p:column headerText="#{text['proyectos.comunes.pais.lbl']}" sortBy="#{bean.entidad.pais.nombre}">
                        <h:outputText value="#{bean.entidad.pais.nombre}"/>
                    </p:column>
                    <p:column headerText="#{text['proyectos.comunes.funcion.lbl']}" sortBy="#{bean.funcionGrupo.nombre}">
                        <h:outputText value="#{bean.funcionGrupo.nombre}"/>
                    </p:column>
                    <p:column headerText="#{text['proyectos.comunes.acronimoGrupo.lbl']}" sortBy="#{bean.acronimo}">
                        <h:outputText value="#{bean.acronimo}"/>
                    </p:column>
                    <p:column headerText="#{text['proyectos.comunes.nombreGrupo.lbl']}" sortBy="#{bean.nombre}">
                        <h:outputText value="#{bean.nombre}"/>
                    </p:column>
                    <p:column headerText="#{text['proyectos.comunes.fechaAlta.lbl']}" sortBy="#{bean.fechaInicio}">
                        <h:outputText value="#{bean.fechaInicio}" converter="dateConvert"/>
                    </p:column>
                    <p:column headerText="#{text['proyectos.comunes.fechaBaja.lbl']}" sortBy="#{bean.fechaFin}">
                        <h:outputText value="#{bean.fechaFin}" converter="dateConvert"/>
                    </p:column>
                    <p:column headerText="#{text['proyectos.comunes.estado.lbl']}" sortBy="#{bean.estadoValidacion.nombre}">
                        <h:outputText value="#{bean.estadoValidacion.nombre}"/>
                    </p:column>
                    
                </p:dataTable>
            </p:outputPanel>

            <p:outputPanel layout="block" rendered="#{!proyectoForm.modoConsultaProyecto}" styleClass="botonera_new" style="float:none">
                <ul class="botCont">
                    <li>
                    	<!--  update="@parent:divDatosGrupoProyecto,tablaProyectoGruposParticipantes"  -->
                        <p:commandButton value="#{text['boton.nuevoGrupo']}"
                                         title="#{text['boton.nuevoGrupo']}"
                                         icon="silk-icon-chart-organisation-add"
                                        
                                         actionListener="#{grupoProyectoForm.editarNuevoGrupoProyecto}"
                                         onstart="javascript:mostrarPanelEnviando();"
                                         oncomplete="javascript:ocultarPanelEnviando();"/>
                    </li>
                </ul>
            </p:outputPanel>

            <h:panelGrid rendered="#{empty grupoProyectoForm.grupoProyectoBean.listGrupoProyecto}" cellpadding="2">
                <h:outputText value="#{text['proyectos.comunes.noProyectoGruposProyecto']}"/>
            </h:panelGrid>
        </p:panel>
    </p:outputPanel>
    
     <script type="text/javascript">
    //<![CDATA[
        function goToDatosDetalleGrupo() {
            $('html,body').animate({ scrollTop: $("#datosDetalleGrupo").offset().top}, 'slow');
        }

    //]]>
    </script>
</ui:composition>