<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui">

    <ui:include src="navegacionGrupo.xhtml">
        <ui:param name="titulo" value="#{text['proyectos.ccaa.edicionGrupo.tituloTab']}" /> 
    </ui:include>

    <ui:include src="/csic/grupos/incEditarGrupoToolBar.xhtml" >
        <ui:param name="botonera" value="top"/>
    </ui:include>

    <!--
    Esta pagina d edicion del grupo va a desaparecer y falla el numgruposvaidados
    la mantenemos para ver como se mostraba antes la informacion
     ui:include src="/comun/incDetalleResultados.xhtml"/-->

    <p:outputPanel id="divDatosGrupoProyecto" layout="block">
        <p:outputPanel layout="block">
            <p:panel id="bloqueGruposProyecto" header="#{text['proyectos.comunes.grupoProyecto.tituloBloque']}" toggleable="true" toggleSpeed="200" closeSpeed="200">
                <ui:include src="incDatosEntidadesParticipantes.xhtml" />
            </p:panel>
        </p:outputPanel>
    </p:outputPanel>

    <ui:include src="/pco/incDatosPCO.xhtml">
        <ui:param name="proyectoCSIC" value="true"/>
    </ui:include>

    <p:outputPanel id="divTablaPCO" layout="block">
        <ui:include src="incListaGrupoPCO.xhtml">
            <ui:param name="holderForm" value="#{holderForm}"/>
        </ui:include>
    </p:outputPanel>

    <ui:include src="/comun/incEditarGrupoToolBar.xhtml" >
        <ui:param name="botonera" value="bottom"/>
    </ui:include>

</ui:composition>