<ui:composition xmlns="http://www.w3.org/1999/xhtml"   
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/templates/defaultPage.xhtml">                

    <ui:define name="title">#{text['comunes.aplicacion.nombre']} - #{text['ayudas.titulo']}</ui:define>
   
    <h:form id="ayudasForm">
                
        <ui:include src="../../incl/mensajes.xhtml"/>
                
      
 <!-- prueba navegacion-->       
        <h:panelGroup layout="block" >
	    	<ui:include src="../../incl/navegacionAyudas.xhtml">
				<ui:param name="paramForm" value="#{resumenAyudasForm.ayudasGestionadas}" />
				<ui:param name="idAyuda" value="#{resumenAyudasForm.idAyuda}" />
				<ui:param name="optionSelected" value="resumen" />
	    	</ui:include>
	    
	    	<ui:include src="resumenAyudas/incResumenProyecto.xhtml">
	       		<ui:param name="paramForm" value="#{resumenAyudasForm.ayudasGestionadas}" />
	       		<ui:param name="idAyuda" value="#{resumenAyudasForm.idAyuda}" />
	       	</ui:include>

    	</h:panelGroup>
        

 	</h:form>
</ui:composition>