<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                 xmlns:p="http://primefaces.org/ui">

    <p:outputPanel layout="block" rendered="#{holderForm.proyecto.swCsic}">        
        <ui:include src="/csic/incEditarProyectoToolBar.xhtml" >
            <ui:param name="holderListForm" value="#{holderListForm}"/>
            <ui:param name="holderVolverForm" value="#{holderVolverForm}"/>            
            <ui:param name="botonera" value="#{botonera}"/>
        </ui:include>   
    </p:outputPanel>        
    <p:outputPanel layout="block" rendered="#{!holderForm.proyecto.swCsic}">        
        <ui:include src="/nocsic/incEditarProyectoToolBar.xhtml" >
            <ui:param name="holderListForm" value="#{holderListForm}"/>
            <ui:param name="holderVolverForm" value="#{holderVolverForm}"/>
            <ui:param name="botonera" value="#{botonera}"/>
        </ui:include>        
    </p:outputPanel>        
    
</ui:composition>