<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets">
    
    <ui:include src="/csic/navegacionProyecto.xhtml">
        <ui:param name="titulo" value="#{text['proyectos.ccaa.resumenProyecto.tituloTab']}" /> 
    </ui:include>
    
    <ui:include src="incEditarProyectoToolBar.xhtml" >
        <ui:param name="botonera" value="top"/>
    </ui:include>
    
    <ui:include src="/comun/incDetalleResultados.xhtml">        
        <ui:param name="holderForm" value="#{holderForm}"/>
        <ui:param name="holderListForm" value="#{holderListForm}"/>
    </ui:include>        
    
    <ui:include src="incResumenProyecto.xhtml" />
    
    <ui:include src="/comun/incEditarProyectoToolBar.xhtml" >
        <ui:param name="botonera" value="bottom"/>
    </ui:include>
    
</ui:composition>