<?xml version='1.0' encoding='UTF-8'?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
    <f:loadBundle var="text" basename="#{basePage.bundleName}"/>
    <ui:define name="css_app">
        <link type="text/css" rel="stylesheet" href="#{request.contextPath}/styles/proyectos.css"/>
        <link type="text/css" rel="stylesheet" href="#{request.contextPath}/styles/bubbles.css"/>
        <link type="text/css" rel="stylesheet" href="#{request.contextPath}/styles/jquery-silk-icons.css"/>
    </ui:define>
    
    <ui:define name="js_app">
        <script type="text/javascript" src="#{request.contextPath}/scripts/proyectos.js"></script>
    </ui:define>
    
    <ui:define name="title">#{text['proyectos.ccaa.edicion.tituloPagina']}</ui:define> 
    <ui:param name="tipoTabs" value="tabRichFaces"/>

    <f:view contentType="text/html">
        <ui:param name="idTablaOrigen" value="#{proyectoForm.idTablaOrigen}"/>
        <ui:param name="holderForm" value="#{proyectoForm}"/>
        <ui:param name="holderListForm" value="#{dinamicBean.getBeanList(proyectoForm.idTablaOrigen)}" />
        <ui:param name="holderVolverForm" value="#{dinamicBean.getBeanVolver(proyectoForm.idTablaOrigen)}" />
        <ui:param name="idsUpdateSelectGrupoProyecto" value="@([id$=tabGrupoPCO])"/>
        <ui:param name="nivel" value="proyecto"/>
       
        <ui:include src="../../incl/mensajes.xhtml" />
        
        <ui:include src="panelConfirmEliminarProyecto.xhtml"> 
            <ui:param name="holderForm" value="#{holderForm}"/>
        </ui:include>
        <h:form id="comentariosForm">
            <ui:include src="panelComentarios.xhtml">
                <ui:param name="holderForm" value="#{holderForm}"/>
            </ui:include>
        </h:form>

        <ui:include src="incPanelEnviando.xhtml"/>

        <ui:include src="saveEditarProyecto.xhtml" />      

         <h:form id="opResumenProyecto" onsubmit="javascript:mostrarPanelEnviandoFormSubmit();">                        
             <ui:include src="incTabResumenProyecto.xhtml">
                 <ui:param name="holderForm" value="#{holderForm}"/>
                 <ui:param name="holderListForm" value="#{holderListForm}"/>
                 <ui:param name="holderVolverForm" value="#{holderVolverForm}"/>
                 <ui:param name="postFixIdDescripciones" value="_Resumen"/>
             </ui:include>                       
         </h:form>

        <script type="text/javascript">
	        //<![CDATA[
                $(document).ready(function() {
                	loadGrowlStyles();
                });
	        //]]>
	    </script>
    </f:view>

</ui:composition>