<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:h="http://java.sun.com/jsf/html"
     xmlns:p="http://primefaces.org/ui">

	<h:form id="formPanelConfirmEliminarProyecto">
	    <p:dialog  id="dialogPanelMsgEliminarProyecto" header="#{text['msgDeleteProyecto.panel.header']} - #{holderForm.proyecto.id}" modal="true" 
               widgetVar="panelMsgEliminarProyecto" resizable="false"
               showEffect="fade" hideEffect="fade" width="300" height="135" closable="true">

        
            <h:outputLabel value="#{text['msgDeleteProyecto.panel.msg']} #{holderForm.codigoVerificacionEliminarProyecto}" escape="false" />
            <br/><br/><center><h:inputText value="#{holderForm.codigoVerificacionEliminarProyectoUsuario}" size="4" maxlength="4" onkeypress="return blockNonNumbers(this, event, true, false,',');"/></center><br/>
            <div class="botonera_new">
                <ul class="botCont">
                    <li>
                        <p:commandButton id="commandLinkCancelarEliminarProyecto"
                                         value="#{text['boton.cancelar']}"
                                         icon="silk-icon-cross" 
                                         oncomplete="PF('panelMsgEliminarProyecto').hide()"
                                         ajax="true"/>                          
                    </li>
                    <li>
                        <p:commandButton id="commandLinkAceptarEliminarProyecto"
                                         value="#{text['boton.aceptar']}"
                                         icon="silk-icon-tick" 
                                         action="#{holderForm.eliminarProyecto}"
                                         ajax="false"/>                          
                    </li>
                </ul>
            </div>
	    </p:dialog>
    </h:form>
</div>