<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">


    <p:dialog id="dialogPanelComentarios" header="#{text['panel.comentarios.titulo']}" modal="true" widgetVar="panelComentarios" 
                width="500" height="400" closable="true">

                <p:outputPanel id="divComment" layout="block">
            
                    <p:panel id="bloquePanelComentarios" header="#{text['panel.comentarios.tituloBloque']}">
                        
                        <h:panelGrid id="panelGridComment">
                            <h:column>
                                <h:graphicImage url="/images/gep/iconInformation.gif" />
                                <h:outputText id="outputAccionNewComment" value="#{text['panel.comentarios.ayuda']}" escape="false" styleClass="info"/>
                            </h:column>
                            </h:panelGrid>
                            <h:outputLabel for="newComment" value="#{text['panel.comentarios.comentario.lbl']}:"/>
                            <p:editor width="400" height="200"
                                id="newComment" 
                                value="#{holderForm.textoComentario}">
                            </p:editor>
                        
                    </p:panel>

                </p:outputPanel>


                <!--  <p:outputPanel id="botoneraPanelComentarios" layout="block">
                    <ui:include src="/csic/incPanelComentariosBotonera.xhtml"> 
                        <ui:param name="holderForm" value="#{holderForm}"/>
                    </ui:include>
               </p:outputPanel> -->

        
    </p:dialog>

</ui:composition>