<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:t="http://myfaces.apache.org/tomahawk">

    
    <t:saveState id="saveIdProyecto" value="#{proyectoForm.idProyecto}" />
    <t:saveState id="saveProyecto" value="#{proyectoForm.proyecto}" />
    <t:saveState id="saveNumPageSolrSearch" value="#{proyectoForm.numPageSolrSearch}"/>
    <t:saveState id="saveProyectoForm_idTablaOrigen" value="#{proyectoForm.idTablaOrigen}"/>
       
    <t:saveState id="savePRYProyectoFinanciacion" value="#{proyectoFinanciacionForm.proyecto}" />
    <t:saveState id="savePRYProyctoFinanciacionGrupoProyectoFinanciacion" value="#{proyectoFinanciacionForm.proyectoFinanciacion}" />
    <t:saveState id="savePRYFinanciacionSituacionProyecto" value="#{proyectoFinanciacionForm.situacionProyecto}" />
    <t:saveState id="savePRYModoDetalleFinanciacion" value="#{proyectoFinanciacionForm.modoDetalleFinanciacion}" />
    <t:saveState id="savePRYRenderBloqueDatosFinanciacion" value="#{proyectoFinanciacionForm.renderBloqueDatosFinanciacion}" />    
    <t:saveState id="savePRYFechaInicioProyectoFinanciacion" value="#{proyectoFinanciacionForm.fechaInicioProyecto}" />
    <t:saveState id="savePRYFechaFinProyectoFinanciacion" value="#{proyectoFinanciacionForm.fechaFinProyecto}" />
    <t:saveState id="savePRYRenderCostePersonal" value="#{proyectoFinanciacionForm.renderCostePersonal}" />
    <t:saveState id="savePRYRenderCosteComplementoSalarial" value="#{proyectoFinanciacionForm.renderCosteComplementoSalarial}" />
    <t:saveState id="savePRYRenderCosteInventariable" value="#{proyectoFinanciacionForm.renderCosteInventariable}" />
    <t:saveState id="savePRYRenderCosteFungible" value="#{proyectoFinanciacionForm.renderCosteFungible}" />
    <t:saveState id="savePRYRenderCosteViajesDietas" value="#{proyectoFinanciacionForm.renderCosteViajesDietas}" />
    <t:saveState id="savePRYRenderCosteViajesDietasSeparado" value="#{proyectoFinanciacionForm.renderCosteViajesDietasSeparado}" />
    <t:saveState id="savePRYRenderCosteEdicion" value="#{proyectoFinanciacionForm.renderCosteEdicion}" />
    <t:saveState id="savePRYRenderCosteOtros" value="#{proyectoFinanciacionForm.renderCosteOtros}" />
    <t:saveState id="savePRYRenderCostesIndirectos" value="#{proyectoFinanciacionForm.renderCostesIndirectos}" />
    <t:saveState id="savePRYRenderPorcentajeCostesIndirectos" value="#{proyectoFinanciacionForm.renderPorcentajeCostesIndirectos}" />
    <t:saveState id="savePRYRenderSwCostesIndirectosSobrePersonal" value="#{proyectoFinanciacionForm.renderSwCostesIndirectosSobrePersonal}" />
    <t:saveState id="savePRYRenderDatosDietasViajes" value="#{proyectoFinanciacionForm.renderDatosDietasViajes}" />
    <t:saveState id="savePRYRenderCosteTotal" value="#{proyectoFinanciacionForm.renderCosteTotal}" />
    <t:saveState id="savePRYFinanciacionItem" value="#{proyectoFinanciacionForm.financiacionItem}" />
    <t:saveState id="savePRYIdFinanciacionItem" value="#{proyectoFinanciacionForm.idFinanciacionItem}" />
    <t:saveState id="savePRYGrupoProyecto" value="#{proyectoFinanciacionForm.grupoProyecto}" />
    <t:saveState id="saveSwTotalViajesEditable" value="#{proyectoFinanciacionForm.swTotalViajesEditable}" />
    <t:saveState id="saveSwTotalDietasEditable" value="#{proyectoFinanciacionForm.swTotalDietasEditable}" />
    <t:saveState id="saveSwImportesViajesEditable" value="#{proyectoFinanciacionForm.swImportesViajesEditable}" />
    <t:saveState id="saveSwImportesDietasEditable" value="#{proyectoFinanciacionForm.swImportesDietasEditable}" />
    <t:saveState id="saveSwTotalViajesDietasEditable" value="#{proyectoFinanciacionForm.swTotalViajesDietasEditable}" />
    <t:saveState id="saveProyectoFinanciacionForm_renderColumnTotalCostes" value="#{proyectoFinanciacionForm.renderColumnTotalCostes}" />
    <t:saveState id="saveProyectoFinanciacionForm_renderColumnCiTotal" value="#{proyectoFinanciacionForm.renderColumnCiTotal}" />
    <t:saveState id="saveProyectoFinanciacionForm_renderColumnTotalAnualidad" value="#{proyectoFinanciacionForm.renderColumnTotalAnualidad}" />
    <t:saveState id="saveProyectoFinanciacionForm_renderColumnContribucionUECsic" value="#{proyectoFinanciacionForm.renderColumnContribucionUECsic}" />
    <t:saveState id="saveProyectoFinanciacionForm_renderColumnContribucionUETotal" value="#{proyectoFinanciacionForm.renderColumnContribucionUETotal}" />
    <t:saveState id="saveProyectoFinanciacionForm_renderColumnTotalFinanciacionProyecto" value="#{proyectoFinanciacionForm.renderColumnTotalFinanciacionProyecto}" />
    <t:saveState id="saveProyectoFinanciacionForm_renderColumnTotalFinanciacionProyectoCSIC" value="#{proyectoFinanciacionForm.renderColumnTotalFinanciacionProyectoCSIC}" />
    <t:saveState id="saveListSelectItemEntidadesFinanciadoras" value="#{proyectoFinanciacionForm.listSelectItemEntidadesFinanciadoras}"/>
    <t:saveState id="saveListSelectItemEntidadesOrdenantes" value="#{proyectoFinanciacionForm.listSelectItemEntidadesOrdenantes}"/>
    <t:saveState id="saveProyectoFinanciacionListBean" value="#{proyectoFinanciacionListForm.proyectoFinanciacionListBean}" />
    
    <t:saveState id="saveProyectoOtrosDatosForm" value="#{proyectoOtrosDatosForm.proyectoOtrosDatosBean}" />

    <t:saveState id="saveProyectoModoFondoFormProyecto" value="#{proyectoModoFondoForm.proyecto}" />
    <t:saveState id="saveProyectoModoFondoFormRenderColumnImporte" value="#{proyectoModoFondoForm.renderColumnImporte}" />
    <t:saveState id="saveProyectoModoFondoFormRenderColumnImporteCSIC" value="#{proyectoModoFondoForm.renderColumnImporteCSIC}" />
    <t:saveState id="saveProyectoModoFondoList" value="#{proyectoModoFondoListForm.proyectoModoFondoList}" />
    <t:saveState id="saveProyectoModoFondoListFormProyecto" value="#{proyectoModoFondoListForm.proyecto}" />

    <t:saveState id="saveJustificacionBean" value="#{justificacionForm.justificacionBean}"/>
    <t:saveState id="saveJustificacionListBean" value="#{justificacionListForm.justificacionListBean}"/>

    <t:saveState id="saveProyectoVinculacionBean" value="#{proyectoVinculacionForm.proyectoVinculacionBean}"/>

    <t:saveState id="saveProyectoResumenBean" value="#{proyectoResumenForm.proyectoResumenBean}"/>
    <t:saveState id="saveDocumentBean" value="#{documentForm.documentBean}"/>
    <t:saveState id="saveDocumentoListBean" value="#{documentoListForm.documentoListBean}"/>
    <t:saveState id="saveGrupoProyectoBean" value="#{grupoProyectoForm.grupoProyectoBean}"/>
    <t:saveState id="saveGrupoProyectoDetalleBean" value="#{grupoProyectoDetalleForm.grupoProyectoDetalleBean}"/>
    <t:saveState id="saveGrupoProyectoJbpmBean" value="#{proyectoForm.grupoProyectoJbpmForm.grupoProyectoJbpmBean}" />
    <t:saveState id="saveAccionesGrupoProyectoBean" value="#{proyectoForm.accionesGrupoProyectoForm.accionesGrupoProyectoBean}" />
</ui:composition>