<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://java.sun.com/jsp/jstl/core">

   
       	<p:accordionPanel>
       	<p:tab title="#{text['proyectos.comunes.resumen.tituloBloque']}">
           
        <p:fieldset legend="#{text['convocatoria.resumen.jerarquia']}" style="margin-bottom: 20px">
			<ui:include src="../../../ayudas/detalleJerarquiaConvocatoria.xhtml">
				<ui:param name="paramForm" value="#{resumenAyudasForm}"/>
			</ui:include>
		</p:fieldset>
		
        <p:fieldset legend="#{text['ayudas.datos.convocatoria']}">
            <p:panelGrid  styleClass="noBorders" 	columnClasses="alineacionIzq,alineacionIzq">                
                <p:row>
                    <p:column><h:outputLabel value="#{text['ayudas.datos.nombre']}" styleClass="lblResumenProyecto"/></p:column>
                    <p:column colspan="3">
                        <h:outputLabel value="#{resumenAyudasForm.convocatoriaSeleccionada.nombre}"/>
                    </p:column>
                </p:row>                 
                <p:row>
                    <p:column><h:outputLabel value="Codigo bdc" styleClass="lblResumenProyecto"/></p:column>
                    <p:column><h:outputLabel value="#{resumenAyudasForm.convocatoriaSeleccionada.codBdc}"/></p:column>
                    <p:column><h:outputLabel value="#{text['proyectos.comunes.ambitoGeografico.lbl']}" styleClass="lblResumenProyecto"/></p:column>
                    <p:column><h:outputLabel value="#{resumenAyudasForm.convocatoriaSeleccionada.ambitoGeografico.nombre}"/></p:column>
                </p:row>
                                                         
                <p:row>
                    <p:column><h:outputLabel value="#{text['proyectos.comunes.clasificacion.lbl']}" styleClass="lblResumenProyecto"/></p:column>
                    <p:column><h:outputLabel value="#{resumenAyudasForm.convocatoriaSeleccionada.tipoAyuda.nombre}"/></p:column>   
                    <p:column><h:outputLabel value="#{text['proyectos.comunes.fechaResolucion.lbl']}" styleClass="lblResumenProyecto"/></p:column>
                    <p:column><h:outputLabel value="#{resumenAyudasForm.convocatoriaSeleccionada.fechaResolucion}" converter="dateConvert"/></p:column>
                </p:row>               

                <p:row>
                    <p:column><h:outputLabel value="#{text['proyectos.comunes.fechaPublicacion.lbl']}" styleClass="lblResumenProyecto"/></p:column>
                    <p:column><h:outputLabel value="#{resumenAyudasForm.convocatoriaSeleccionada.fechaPublicacion}" converter="dateConvert"/></p:column>
                    <p:column><h:outputLabel value="#{text['proyectos.comunes.anoConvocatoria.lbl']}" styleClass="lblResumenProyecto"/></p:column>
                    <p:column><h:outputLabel value="#{resumenAyudasForm.convocatoriaSeleccionada.annio}"/></p:column>
                </p:row>                   
            </p:panelGrid> 
        </p:fieldset> 
        <p:fieldset legend="#{text['proyectos.comunes.datosGenerales.tituloBloque']}">
            <p:panelGrid styleClass="noBorders">                
                <p:row>
                    <p:column><h:outputLabel value="#{text['proyectos.comunes.titulo.lbl']}" styleClass="lblResumenProyecto"/></p:column>
                    <p:column colspan="5">
                        <h:outputLabel value="#{resumenAyudasForm.ayudaSeleccionada.titulo}"/>
                    </p:column>
                </p:row>    
                
                <p:row>
                    <p:column><h:outputLabel value="#{text['proyectos.comunes.acronimo.lbl']}" styleClass="lblResumenProyecto"/></p:column>
                    <p:column><h:outputLabel value="#{resumenAyudasForm.ayudaSeleccionada.acronimo}"/></p:column>
                    <p:column><h:outputLabel value="#{text['proyectos.comunes.codBDC.lbl']}" styleClass="lblResumenProyecto"/></p:column>
                    <p:column><h:outputLabel value="#{resumenAyudasForm.ayudaSeleccionada.cod_bdc}"/></p:column>
                   <!--  <p:column><h:outputLabel value="#{text['proyectos.comunes.estado.lbl']}" styleClass="lblResumenProyecto"/></p:column>
                    <p:column><h:outputLabel value="#{resumenAyudasForm.ayudaSeleccionada.nombreFase}"/></p:column>-->
                </p:row>               
                
                <p:row>
                    <!-- <p:column><h:outputLabel value="#{text['proyectos.comunes.referencia.lbl']}" styleClass="lblResumenProyecto"/></p:column>
                    <p:column><h:outputLabel value="#{resumenAyudasForm.ayudaSeleccionada.referencia}"/></p:column> -->
                    <p:column><h:outputLabel value="#{text['proyectos.comunes.referenciaUnidadAdmin.lbl']}" styleClass="lblResumenProyecto"/></p:column>
                    <p:column colspan="3"><h:outputLabel value="#{resumenAyudasForm.ayudaSeleccionada.ref_unidad_admin}"/></p:column>
                </p:row>
                
                <p:row>
                    <p:column><h:outputLabel value="#{text['proyectos.comunes.fechaInicio.lbl']}" styleClass="lblResumenProyecto"/></p:column>
                    <p:column><h:outputLabel value="#{resumenAyudasForm.ayudaSeleccionada.f_inicio}" converter="dateConvert"/></p:column>   
                    <p:column><h:outputLabel value="#{text['proyectos.comunes.fechaFin.lbl']}" styleClass="lblResumenProyecto"/></p:column>
                    <p:column colspan="3"><h:outputLabel value="#{resumenAyudasForm.ayudaSeleccionada.f_fin}" converter="dateConvert"/></p:column>
                </p:row>   
                
                <p:row>
                    <p:column><h:outputLabel value="#{text['proyectos.comunes.proyectoCsic.header']}" styleClass="lblResumenProyecto"/></p:column>
                    <p:column><h:outputLabel value="#{resumenAyudasForm.ayudaSeleccionada.sw_csic ? text['proyectos.comunes.si'] : text['proyectos.comunes.no']}"/></p:column>   
                    <p:column><h:outputLabel value="#{text['proyectos.comunes.coordinadoPrincipal.lbl']}" styleClass="lblResumenProyecto"/></p:column>
                    <p:column colspan="3"><h:outputLabel value="#{resumenAyudasForm.ayudaSeleccionada.sw_coordinado_principal ? text['proyectos.comunes.si'] : text['proyectos.comunes.no']}"/></p:column>
                </p:row>               
            </p:panelGrid>
        </p:fieldset>
       <p:fieldset legend="#{text['proyectos.comunes.legend.resumenDatos']}">
            <p:panelGrid styleClass="noBorders">             
                <p:row>
                    <p:column><h:outputLabel value="#{text['proyectos.comunes.totalSolicitado.lbl']}" styleClass="lblResumenProyecto"/></p:column>
                    <p:column><h:outputLabel value="#{resumenAyudasForm.ayudaSeleccionada.total_solicitado}" /></p:column>
                    <p:column><h:outputLabel value="#{text['proyectos.comunes.totalConcedido.lbl']}" styleClass="lblResumenProyecto"/></p:column>
                    <p:column><h:outputLabel value="#{resumenAyudasForm.ayudaSeleccionada.total_concedido}" /></p:column> 
                </p:row>               
                
                <!-- <p:row>
                    <p:column><h:outputLabel value="#{text['proyectos.comunes.swCsicCoordinadorUE.lbl']}" styleClass="lblResumenProyecto"
                               rendered="#{resumenAyudasForm.ayudaSeleccionada.coordinadorUE}"/></p:column>
                    <p:column><h:outputLabel value="#{resumenAyudasForm.ayudaSeleccionada.coordinadorUE ? text['proyectos.comunes.si'] : text['proyectos.comunes.no']}"
                               rendered="#{resumenAyudasForm.ayudaSeleccionada.coordinadorUE}"/></p:column>
                    <p:column><h:outputLabel value="#{text['proyectos.comunes.contribucion_ue.lbl']}" styleClass="lblResumenProyecto"
                               rendered="#{resumenAyudasForm.ayudaSeleccionada.coordinadorUE}"/></p:column>
                    <p:column><h:outputLabel value="#{resumenAyudasForm.ayudaSeleccionada.contribucion_ue}"
                               rendered="#{resumenAyudasForm.ayudaSeleccionada.coordinadorUE}"/></p:column>
                </p:row> 

                <p:row>
                    <p:column><h:outputLabel value="#{text['proyectos.comunes.totalSolicitadoGrupos.lbl']}" styleClass="lblResumenProyecto"/></p:column>
                    <p:column><h:outputLabel value="#{resumenAyudasForm.ayudaSeleccionada.totalSolicitadoGrupos}" /></p:column>
                    <p:column><h:outputLabel value="#{text['proyectos.comunes.totalConcedidoGrupos.lbl']}" styleClass="lblResumenProyecto"/></p:column>
                    <p:column><h:outputLabel value="#{resumenAyudasForm.ayudaSeleccionada.totalConcedidoGrupos}" /></p:column>
                </p:row>      

                <p:row>
                    <p:column><h:outputLabel value="#{text['proyectos.comunes.numGrupos.lbl']}" styleClass="lblResumenProyecto"/></p:column>
                    <p:column><h:outputLabel value="#{resumenAyudasForm.ayudaSeleccionada.numGrupos}"/></p:column>   
                    <p:column><h:outputLabel value="#{text['proyectos.comunes.numParticipantes.lbl']}" styleClass="lblResumenProyecto"/></p:column>
                    <p:column><h:outputLabel value="#{resumenAyudasForm.ayudaSeleccionada.numParticipantes}"/></p:column>
                </p:row>   

                <p:row>
                    <p:column><h:outputLabel value="#{text['proyectos.comunes.grupoResponsable.lbl']}" styleClass="lblResumenProyecto"/></p:column>
                    <p:column><h:outputLabel value="#{resumenAyudasForm.ayudaSeleccionada.descripcionGrupoResponsable}"/></p:column>   
                    <p:column><h:outputLabel value="#{text['proyectos.comunes.investigadorPrincipal.lbl']}" styleClass="lblResumenProyecto"/></p:column>
                    <p:column><h:outputLabel value="#{resumenAyudasForm.ayudaSeleccionada.ipGrupoResponsable}"/></p:column>
                </p:row> -->
                
                <!--<p:row rendered="#{!empty proyectoResumenForm.listGrupoProyectoSolrCSIC}">
                    <p:column style="width:27%; vertical-align:top">
                        <div class="#{proyectoResumenForm.listGrupoProyectoSolrCSIC.size() ge 5?'masInfo':''}">
                           <h:outputLabel value="#{text['proyectos.comunes.gruposProyecto.lbl']} CSIC (#{proyectoResumenForm.listGrupoProyectoSolrCSIC.size()}):" styleClass="lblResumenProyecto"/>
                        </div>
                    </p:column>
                    <p:column colspan="3">
                        <div>
                            <h:panelGroup layout="block" styleClass="datosValor" rendered="true">
                                <c:forEach items="#{proyectoResumenForm.listGrupoProyectoSolrCSIC}" var="grupo" end="3" varStatus="statusCSIC"> 
                                    <h:outputText value="#{grupo.nombre}" rendered="#{statusCSIC.count le 4}"/>
                                    <h:outputText class="haymas2" value=" ...................." 
                                        rendered="#{1==2 and status.count eq 4 and proyectoResumenForm.listGrupoProyectoSolrCSIC.size() ge 5}"/>
                                    <br></br>
                                </c:forEach>
                            </h:panelGroup>
                        </div> 
                        <div class="showPanel" style="display:none">
                            <h:panelGroup layout="block" styleClass="datosValor" rendered="true">
                                <c:forEach items="#{proyectoResumenForm.listGrupoProyectoSolrCSIC}" begin="4" var="grupo"> 
                                    <h:outputText value="#{grupo.nombre}"/><br></br>
                                </c:forEach>
                            </h:panelGroup>
                        </div> 
                    </p:column>   
                </p:row>        
                <p:row rendered="#{!empty proyectoResumenForm.listGrupoProyectoSolrNoCSIC}">
                    <p:column style="width:29%; vertical-align:top">
                        <div class="#{proyectoResumenForm.listGrupoProyectoSolrNoCSIC.size() ge 5?'masInfo2':''}">
                            <h:outputLabel value="#{text['proyectos.comunes.gruposProyecto.lbl']} NO CSIC (#{proyectoResumenForm.listGrupoProyectoSolrNoCSIC.size()})" styleClass="lblResumenProyecto"/>
                        </div>
                    </p:column>
                    <p:column colspan="3">
                        <div>
                            <h:panelGroup layout="block" styleClass="datosValor" rendered="true">
                                <c:forEach items="#{proyectoResumenForm.listGrupoProyectoSolrNoCSIC}" var="grupo" end="3" varStatus="status"> 
                                    <h:outputText value="#{grupo.nombre}" rendered="#{status.count le 4}"/>
                                    <h:outputText class="haymas2" value="" 
                                        rendered="#{1==2 and status.count eq 4 and proyectoResumenForm.listGrupoProyectoSolrNoCSIC.size() ge 5}"/>
                                     <br></br>
                                </c:forEach>
                            </h:panelGroup>
                        </div> 
                        <div class="showPanel2" style="display:none">
		                    <h:panelGroup layout="block" styleClass="datosValor" rendered="true">
		                        <c:forEach items="#{proyectoResumenForm.listGrupoProyectoSolrNoCSIC}" begin="4" var="grupo"> 
		                            <h:outputText value="#{grupo.nombre}"/><br></br>
		                        </c:forEach>
		                    </h:panelGroup>
		                </div> 
                    </p:column>   
                </p:row>    -->
            </p:panelGrid>
            
                
        </p:fieldset>
    </p:tab>
    </p:accordionPanel>
    
    <script type="text/javascript">
        $(document).ready(function(){
            $('.masInfo').click(function(){
                var link = $(this);
                $('.showPanel').slideToggle('slow', function() {
                    if ($(this).is(":visible")) {
                        link.removeClass('masInfo');
                        link.addClass('menosInfo'); 
                        $('.haymas').css('visibility', 'hidden');                
                    } else {
                        link.removeClass('menosInfo');
                        link.addClass('masInfo');      
                        $('.haymas').css('visibility', 'visible');        
                    }        
                });

            });
        });
        $(document).ready(function(){
            $('.masInfo2').click(function(){
                var link = $(this);
                $('.showPanel2').slideToggle('slow', function() {
                    if ($(this).is(":visible")) {
                        link.removeClass('masInfo2');
                        link.addClass('menosInfo2');                 
                    } else {
                        link.removeClass('menosInfo2');
                        link.addClass('masInfo2');              
                    }        
                });

            });
        });
    </script>
    
</ui:composition>
