<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" >

    <p:panel header="#{text['proyectos.comunes.datosParticipantes.tituloBloque']}" toggleable="true" toggleSpeed="200"
             closeSpeed="200" id="bloqueDatosParticipantesResumen">
      
         <h:panelGrid columns="2" columnClasses="alineacionDer,alineacionIzq"
	         rendered="#{!empty proyectoResumenForm.proyectoResumenBean.listParticipantesProyecto}">
	         <h:outputLabel value="#{text['proyectos.comunes.financiacionVerDetalleGrupo']}" styleClass="lblResumenProyecto"/>
	            <p:selectOneRadio  styleClass="tableRadio"  value="#{proyectoResumenForm.proyectoResumenBean.paricipantDetalleParticipante}">  
	                <f:selectItem itemValue="#{false}" itemLabel="#{text['search.value.false']}" />  
	                <f:selectItem itemValue="#{true}" itemLabel="#{text['search.value.true']}" />  
	                <p:ajax event="change" update="listParticipantes" onstart="mostrarPanelEnviando()" 
	                    oncomplete="ocultarPanelEnviando();" 
	                    listener="#{proyectoResumenForm.loadParticipantesProyecto}"/>
	            </p:selectOneRadio> 
	     </h:panelGrid>
            
         <h:panelGroup id="listParticipantes" layout="block" >      
	         <p:treeTable value="#{proyectoResumenForm.proyectoResumenBean.rootParticipantes}" 
	            var="persona" 
	            rowStyleClass="rowFinanciacionNivel#{persona.nivel}" 
	            rendered="#{!empty proyectoResumenForm.proyectoResumenBean.rootParticipantes}">
	            <f:facet name="header">
	                <p:commandLink value="expandir" styleClass="ui-icon ui-icon-circle-triangle-s" title="Expandir"
	                      actionListener="#{proyectoResumenForm.expandParticipanteAll}" style="float: left"
	                      onstart="mostrarPanelEnviando()" 
	                      oncomplete="ocultarPanelEnviando();" 
	                      update=":opResumenProyecto:listParticipantes"/>
	                <p:commandLink value="contraer" styleClass="ui-icon ui-icon-circle-triangle-n" title="Contraer"
	                      actionListener="#{proyectoResumenForm.collapseParticipanteAll}"
	                      onstart="mostrarPanelEnviando()" 
	                      oncomplete="ocultarPanelEnviando();" 
	                      update=":opResumenProyecto:listParticipantes"/>
	            </f:facet>     
	            <p:column headerText="Descripcion">
	                <h:outputText value="#{persona.nombre}"/>
	            </p:column>
	            <p:column headerText="#{text['proyectos.comunes.nif.lbl']}">  
                        <h:outputText value="#{persona.nif}"></h:outputText>                    
                </p:column>  
                <p:column headerText="#{text['proyectos.comunes.funcion.lbl']}">  
                     <h:panelGrid styleClass="noBorders" columns="2">
                        <h:outputText value="#{persona.nombreFuncion}"/>    
                        <h:graphicImage class="boton_img" rendered="#{persona.swPrincipal}"
                           url="/images/investigadorPpal.png"
                           title="#{text['proyectos.comunes.investigadorPpal']}"/>
                     </h:panelGrid>
                </p:column>  
                <p:column headerText="#{text['proyectos.comunes.entidad.lbl']}" style="white-space: normal;">  
                    <h:outputText value="#{persona.entidadSolr.nombreCorto}" rendered="#{not empty persona.entidadSolr}"/>                    
                </p:column> 
                <p:column headerText="#{text['proyectos.comunes.horas.lbl']}">  
                    <h:outputText value="#{persona.horasSemana}"/>  
                </p:column> 
                <p:column headerText="#{text['proyectos.comunes.fechaAlta.lbl']}">  
                    <h:outputText value="#{persona.fechaInicio}" converter="dateConvert"/>
                </p:column> 
                <p:column headerText="#{text['proyectos.comunes.fechaBaja.lbl']}">  
                    <h:outputText value="#{persona.fechaFin}" converter="dateConvert"/>                    
                </p:column> 
	        </p:treeTable>
	    </h:panelGroup>
        
        <h:outputLabel value="#{text['proyectos.comunes.noExisteParticipantes']}" 
                       rendered="#{proyectoResumenForm.proyectoSolr.numParticipantes eq 0}"/>
    </p:panel>

</ui:composition>
