<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:ui="http://java.sun.com/jsf/facelets">

    <ui:include src="incDatosGeneralesResumenProyecto.xhtml"/>
    
    <!-- <ui:include src="incFinanciacionResumenProyecto.xhtml"/>
    
    <ui:include src="incParticipantesResumenProyecto.xhtml"/> -->
    
</div>
