<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:c="http://java.sun.com/jsp/jstl/core">
    
    <c:if test="${empty value}">
        <c:set var="value" value="${paramForm.actividadSeleccionada.get(fieldName)}" />
    </c:if>
    
    <div class="fieldContainer">
        <label>#{text['concien.field.'.concat(fieldName)]}: </label>
        <h:outputText escape="false" value="#{empty value? '-':value}"/>
    </div>
</ui:composition>