<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:p="http://primefaces.org/ui">
    

    <c:if test="${empty limit}">
        <c:set var="limit" value="30"/>
        <c:set var="lista" value="false"/>
    </c:if>
    
    <c:choose>
        <c:when test="${paramForm.actividadSeleccionada.get(fieldName) != null and 
                    paramForm.actividadSeleccionada.get(fieldName).getClass().name eq 'java.lang.String'}">
            <c:set var="value" value="${paramForm.actividadSeleccionada[fieldName]}" />

            <div class="fieldContainer">
                <label>#{text['concien.field.'.concat(fieldName)]} (1): </label>
                <h:outputText escape="false" value="#{empty value? '-':value}"/>
            </div>
        </c:when>
        <c:otherwise>
            <div id="parcial_${fieldName}">
                <div class="fieldContainer">
                    <label>
                        <h:outputText value="#{text['concien.field.'.concat(fieldName)]}"/>
                        <h:outputText value=" (#{paramForm.actividadSeleccionada.get(fieldName).size()})" 
                                    rendered="#{paramForm.actividadSeleccionada.get(fieldName) != null and 
                                                paramForm.actividadSeleccionada.get(fieldName).size() > 1}"/>
                        <h:outputText value=": "/>
                    </label>
                    <h:outputText value='-' rendered="#{paramForm.actividadSeleccionada.get(fieldName) == null}"/>
                    <p:dataList var="item" value="#{paramForm.actividadSeleccionada.get(fieldName)}" rows="#{limit}"
                                styleClass="quitaEstilos datalist-noborder #{(styleClass==null)? 'commaList': styleClass }" 
                                rendered="#{paramForm.actividadSeleccionada.get(fieldName) != null}">
                        <h:outputText value="#{item}" escape="false"/>
                    </p:dataList>
                    <h:panelGroup layout="block" rendered="#{lista}">
                        <h:outputLink styleClass="negrita" rendered="#{paramForm.actividadSeleccionada.get(fieldName).size() > limit}" onclick="mostrar('total_${fieldName}');ocultar('parcial_${fieldName}')" value="#">
                            <h:graphicImage value="/images/gep/plus2.gif" title="#{text['concien.verMas']}" />
                        </h:outputLink>
                    </h:panelGroup>
                </div>
                <h:panelGroup layout="block" style="padding-top:4px;" rendered="#{!lista}">
                    <h:outputLink styleClass="negrita" rendered="#{paramForm.actividadSeleccionada.get(fieldName).size() > limit}" onclick="mostrar('total_${fieldName}');ocultar('parcial_${fieldName}')" value="#">
                        <h:graphicImage value="/images/gep/plus2.gif" title="#{text['concien.verMas']}" />
                    </h:outputLink>   
                </h:panelGroup>
            </div>
            <div id="total_${fieldName}" style="display:none">
                <div class="fieldContainer">
                    <label>
                        <h:outputText value="#{text['concien.field.'.concat(fieldName)]}"/>
                        <h:outputText value=" (#{paramForm.actividadSeleccionada.get(fieldName).size()})" 
                                    rendered="#{paramForm.actividadSeleccionada.get(fieldName) != null and 
                                                paramForm.actividadSeleccionada.get(fieldName).size() > 1}"/>
                        <h:outputText value=": "/>
                    </label>
                    <h:outputText value='-' rendered="#{paramForm.actividadSeleccionada.get(fieldName) == null}"/>
                    <p:dataList var="item" value="#{paramForm.actividadSeleccionada.get(fieldName)}" rows="#{numRows}"
                                styleClass="quitaEstilos datalist-noborder #{(styleClass==null)? 'commaList': styleClass }" 
                                >
                        <h:outputText value="#{item}" escape="false"/>
                    </p:dataList>
                    <h:panelGroup layout="block" rendered="#{lista}">
                        <h:outputLink styleClass="negrita" onclick="ocultar('total_${fieldName}');mostrar('parcial_${fieldName}')" value="#">
                            <h:graphicImage value="/images/gep/minus2.gif" title="#{text['concien.verMenos']}" />
                        </h:outputLink>
                    </h:panelGroup>
                </div>
                <h:panelGroup layout="block" style="padding-top:4px;" rendered="#{!lista}">
                    <h:outputLink styleClass="negrita" onclick="ocultar('total_${fieldName}');mostrar('parcial_${fieldName}')" value="#">
                        <h:graphicImage value="/images/gep/minus2.gif" title="#{text['concien.verMenos']}" />
                    </h:outputLink>
                 </h:panelGroup>
            </div>
        </c:otherwise>
    </c:choose>
    
</ui:composition>