<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:h="http://java.sun.com/jsf/html"
                >
    
    <c:if test="${empty value}">
        <c:set var="value" value="${paramForm.actividadSeleccionada.get(fieldName)}" />
    </c:if>
    <div class="fieldContainer">
        <label>#{text['concien.field.'.concat(fieldName)]}: </label>
        <h:outputText  escape="false" rendered="#{value==null}" value="-"/>
        <h:outputText  escape="false" rendered="#{value != null}" value="#{value}" converter="dateConverter"/>
    </div>
</ui:composition>