<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">
	<p:tab rendered="#{tabAction.percentage lt 99}">
		<f:facet name="title">
				<p:graphicImage url="/images/PorCompletar.PNG" />
				<p:commandLink value="#{tabName}"
					onclick="changeTabDynamic('#{tabIndex}');" style="color: #0066CC;opacity: 1;" class="item-to-enable" disabled="#{isLinkDisabled}" />
		</f:facet>
		<p:outputLabel value="Campos por Completar: " /><br />
		<ul>
			<ui:repeat var="field" value="#{tabAction.fieldsStatus.keySet().toArray()}" varStatus="v">
				<h:panelGroup rendered="#{!tabAction.fieldsStatus.get(field)}" ><li><p:outputLabel value="#{field}"  /></li></h:panelGroup>
			</ui:repeat>
		</ul>						
	</p:tab>
	<p:tab rendered="#{tabAction.percentage gt 99}" >
		<f:facet name="title">
					<p:graphicImage url="/images/Completado.PNG" />
					<p:commandLink value="#{tabName}" onclick="changeTabDynamic('#{tabIndex}');" style="color: #0066CC;opacity: 1;" disabled="#{isLinkDisabled}" />
		</f:facet>
		<p:outputLabel value="#{tabName} completo" />
	</p:tab>
</ui:composition>	