<ui:composition xmlns="http://www.w3.org/1999/xhtml"   
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/templates/defaultPage.xhtml">

    <h:form id="planBuscarJerarquiaForm">
        <ui:include src="../../incl/mensajes.xhtml"/>

        <ui:include src="../../incl/incVolver.xhtml">
            <ui:param name="titulo" value="#{text['planesInvestigacion.tituloPagina']}" />
        </ui:include>  

        <ui:include src="../../incl/capaWaitPExtendida.xhtml"/>        

        <p:panel header="#{text['planesInvestigacion.tituloBusqueda']}" toggleable="true" toggleSpeed="200"
                 closeSpeed="200" widgetVar="bloqueBuscarPlan">
            <h:panelGrid  columns="2" width="98%"  id="bloqueBuscarPlan" cellpadding="5">
                <h:panelGroup style="margin-left: 5%;" layout="block">
                    <p:inputText value="#{planBuscarJerarquiaForm.terminoBusqueda}" /> 
                    <p:commandButton style="margin-left: 15px;" value="Buscar"  actionListener="#{planBuscarJerarquiaForm.buscarPlanesInvestigacion}" 
                                     update=":planBuscarJerarquiaForm:panelBloquedataTableJeraquia">
                    </p:commandButton>
                </h:panelGroup>

                <p:button href="../../pagListaPlanInvestigacion.html" style="float: right" icon="silk-icon-chart-organisation" value="Ir a Jerarquia" /> 
            </h:panelGrid>
        </p:panel>

        <h:panelGroup id="panelBloquedataTableJeraquia">
            <h:panelGroup rendered="#{not empty planBuscarJerarquiaForm.listaJerarquia}">
                <p:panel header="#{text['planesInvestigacion.resultadoBusqueda']}" toggleable="true" toggleSpeed="200"
                         closeSpeed="200" widgetVar="tablaBuscarJerarquia">
                    <h:panelGroup layout="block"  id="tablaBuscarJerarquia">

                        <p:dataTable id="dataTable" 
                                     var="bean"
                                     value="#{planBuscarJerarquiaForm.listaJerarquia}"
                                     paginator="true" rows="10" paginatorPosition="bottom"
                                     currentPageReportTemplate="{totalRecords} #{text['comunes.listado.registrosEncontrados']}, #{text['comunes.listado.visualizando']} {startRecord} #{text['comunes.listado.al']} {endRecord}"
                                     paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                     rowsPerPageTemplate="10,20,50,100,200"
                                     rowKey="#{bean.id}"
                                     selectionMode="single"
                                     tableStyle="table-layout:auto;width:100%;"
                                     emptyMessage="#{text['comunes.listado.noResultados']}">

                            <p:ajax event="rowSelect" listener="#{planBuscarJerarquiaForm.onRowSelect}" 
                                    update=":planBuscarJerarquiaForm:panelBloqueDetalleJeraquia"/>

                            <p:column headerText="#{text['convocatoria.medioPublicacion.nombre']}" 
                                      sortBy="#{bean.nombre}"
                                      filterBy="#{bean.nombre}"
                                      filterMatchMode="contains"  filterStyleClass="tablaFiltroNombre" >
                                <h:outputText value="#{bean.nombre}" />
                            </p:column>
                            <p:column headerText="#{text['planInvestigacion.detalle.nombre_corto']}" 
                                      sortBy="#{bean.nombre_corto}"
                                      filterBy="#{bean.nombre_corto}"
                                      filterMatchMode="contains"  filterStyleClass="tablaFiltroNombre" >
                                <h:outputText value="#{bean.nombre_corto}" />
                            </p:column>
                           <!-- <p:column headerText="#{text['convocatoria.medioPublicacion.acronimo']}" 
                                      sortBy="#{bean.acronimo}"
                                      filterBy="#{bean.acronimo}"
                                      filterMatchMode="contains">
                                <h:outputText value="#{bean.acronimo}" />
                            </p:column>-->



                        </p:dataTable>
                    </h:panelGroup>

                </p:panel> 

                <h:panelGroup id="panelBloqueDetalleJeraquia"> 
                    <p:panel  header="#{text['planesInvestigacion.detalle.registro']}" toggleable="true" toggleSpeed="200"
                              closeSpeed="200" widgetVar="bloqueDetalleJerarquia" rendered="#{not empty planBuscarJerarquiaForm.jerarquiaSelect.id}">
                        <h:panelGroup> 
                            <ui:include src="bloqueDetalleJeraquia.xhtml" /> 
                        </h:panelGroup>         
                    </p:panel> 
                </h:panelGroup>         
            </h:panelGroup>
        </h:panelGroup>

    </h:form>

</ui:composition>