<ui:composition xmlns="http://www.w3.org/1999/xhtml"   
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core">



    <h:panelGroup id="bloqueDetallePlan"> 

        <p:tree value="#{planBuscarJerarquiaForm.root}" style="width:100%;height:100%;border-width:0;" var="node">
            <p:treeNode>
                <h:outputText value="#{node}" />
            </p:treeNode>
        </p:tree>

        <p:fieldset legend="#{text['proyectos.ccaa.edicionGrupo.tituloTab']}" style="margin-bottom:20px">
                	<h:panelGroup layout="block" styleClass="datosLabel" >
                            <span class="#{planBuscarJerarquiaForm.cssClass}">#{planBuscarJerarquiaForm.nivel}</span>
                    </h:panelGroup>
            <p:outputPanel id="documentPanelPlan" layout="block" >
                <p:outputPanel id="otroPanelPlan"> 
                    <p:panelGrid  columns="2" styleClass="noBorders" columnClasses="alineacionDer,alineacionIzq">
                        <p:outputLabel class="lblResumenProyecto" id="labelNombreEtiqueta" value="#{text['convocatoria.medioPublicacion.etiqueta']}"/>
                        <h:outputText id="outputNombreEtiqueta" value="#{planBuscarJerarquiaForm.jerarquiaSelect.gestionEtiquetas.nombre}"/>

                        <p:outputLabel class="lblResumenProyecto" id="labelNombrePlan" value="#{text['convocatoria.medioPublicacion.nombre']}"/>
                        <h:outputText id="outputNombrePlan" value="#{planBuscarJerarquiaForm.jerarquiaSelect.nombre}"/>

                        <p:outputLabel class="lblResumenProyecto" id="labelNombreCortoPlan" value="#{text['planesInvestigacion.nombreCorto']}"/>
                        <h:outputText id="outputNombreCortoPlan" value="#{planBuscarJerarquiaForm.jerarquiaSelect.nombre_corto}"/>

                    </p:panelGrid> 
                </p:outputPanel> 
            </p:outputPanel>  
            <br></br>
            <h:panelGroup class="lblResumenProyecto" layout="block" rendered="#{not empty planBuscarJerarquiaForm.jerarquiaSelect.descripcion}">
                <div class="masInfoDescrip">#{text['planesInvestigacion.descripcion']}</div>
                <div style="border-bottom:1px solid #369;margin-top:5px;margin-bottom:5px"/>
            </h:panelGroup>
            <h:panelGroup layout="block" styleClass="datosValor">
                <h:outputLabel value="#{planBuscarJerarquiaForm.jerarquiaSelect.descripcion}" style="white-space: pre-wrap" />
            </h:panelGroup>

            <br/>
        </p:fieldset> 
    </h:panelGroup>

</ui:composition>
