#ayudaConvocatoria{
	display: inline-block;
}

.ayudaConvocatoriaTableColumn{
	text-align: center; 
	width: 15%;
}

#ayudaConvocatoriaTable{
	
	width:100%; 
	min-height: 300px;
}


#ayudaConvocatoriaDiv{
	width: 82%; 
	float: left;
	padding-top: 20px;
	
}


#ayudaConvocatoriaDialogButton{
	vertical-align:bottom;
	float:center;
	display:table; 
	height:20px;
	float:center;
}


.ayudaConvocatoriaDialogText{
	height:25px; 
	vertical-align:middle; 
	display:table; 
}


.ayudaConvocatoriaDialogTitleText{
	font-weight: bold;
	font-size: 14px;
}