.colored{
	color:#000000;
	font-weight:bold;
}

.firstCol{
	text-align: center; 
	width: 1px;
}

.defaultCol{
	text-align: center; 
	width: 15%;
}

.titleCol{
	text-align: center; 
	width: 50%;
}

.firstColColored .firstCol {
	background-color: #AFDB1F;
}

.ui-confirmdialog-yes{
	background-color: #5CB85C !important;
	background: -webkit-linear-gradient(#5CB85C, #5CB85C) !important;
	background: -moz-linear-gradient(#5CB85C, #5CB85C) !important;
	background: -o-linear-gradient(#5CB85C, #5CB85C) !important;
	color: #FFFFFF !important;
	border: none !important;
	height: 30px;
}

.ui-confirmdialog-no{
	background-color: #0066cc !important;
	background: -webkit-linear-gradient(#0066cc, #0066cc) !important;
	background: -moz-linear-gradient(#0066cc, #0066cc) !important;
	background: -o-linear-gradient(#0066cc, #0066cc) !important;
	color: #FFFFFF !important;
	border: none !important;
	height: 30px;
}

.div-conv-left{
	width: 82%; 
	float: left;
}

.div-conv-body-list{
	padding-top: 20px;
}

.notificationTableClass{
	width:100%; 
	min-height: 300px;
}

.div-center-table{
	display:table; 
	height:20px; 
	float:center;
}

.div-center-middel{
	display:table-cell; 
	vertical-align:middle; 
	float:center;
}

.div-center-message{
	display:table; 
	height:200px; 
	float:center;
}

.div-center-cell{
	display:table-cell; 
	vertical-align:bottom; 
	float:center;
}

.dialog-modal{
	min-height:40%;
}

.div-conv_top{
	height: 70px;
}

.fuente-letra-gestion{
	position: relative; 
	top: 10px;
    font-weight:bold;
}

.div-izquierda{
	float: left;
}


