.contenedorNavegacion {
    padding-top: 15px;
    padding-bottom: 5px;
    background-color: white;
}

.contenedorOpciones {
    margin-left:-15px;
    margin-top:53px;
    width: 650px;
    z-index: 10;
    display: none;
}

.contenedorOpciones {
    box-shadow: 2px 2px 5px #999;
    -webkit-box-shadow: 2px 2px 5px #999;
    -moz-box-shadow: 2px 2px 5px #999;
}

.chat-bubble {
  border:1px solid #C9C9C9;
  line-height:1.3em;
  position:absolute;
  background-color: #FFFFFF;
  height: 350px;
}

.chat-bubble-arrow-border {
  border-color:  transparent transparent #C9C9C9 transparent;
  border-style: solid;
  border-width: 10px;
  height:0;
  width:0;
  position:absolute;
  top:-20px;
  margin-left:-54px;
}
.chat-bubble-arrow {
  border-color:  transparent transparent #e4e4e4 transparent ;
  border-style: solid;
  border-width: 10px;
  height:0;
  width:0;
  position:absolute;
  top:-19px;
  margin-left:-54px;
  
}

.contenedorOpciones .chat-bubble-arrow-border, .contenedorOpciones .chat-bubble-arrow {
  left:12.5%;
}

.contenedorOpciones a {
    color:#000000;
    text-decoration: none;
}

.contenedorOpciones a:hover {
    font-weight: bold;
}

.contenedorOpciones .principal {
    background-color: #e4e4e4;
    width: 70px;
    height: 350px;
    float: left;
}

.contenedorOpciones .principal ul li {
    list-style: none;
    margin-left:-43px;
    text-align: center;
    height: 77px;
    padding-top:3px;
}

.contenedorOpciones .secundaria {
    background-color: #f5f5f5;
    width: 580px;
    height: 350px;
    float: left;
}

.contenedorOpciones .secundaria ul {
    float: left;
}

.contenedorOpciones .secundaria ul li {
    list-style: none;
    margin-left:-26px;
    text-align: center;
    height: 77px;
    width:102px;
    padding-top:3px;
}

.iconoDetalle {
    float: left;
}

.tituloDetalle {
    margin-top:7px;
    float:left;
    color: #55778c;
    font-weight: bold;
    font-size:1.5em;
}

.borde {
    margin-left:5px;
    margin-top: -2px;
    height:40px;
    border-right: #55778c 3px solid;
    float:left;
}

.contenedorPersonaSticky {
    float:left;
    margin-left:5px;
}

.fotoPersonaSticky {
    margin-top: 1px;
    float:left;
}

.datosPersonaSticky {
    margin-top:-7px;
    margin-left:5px;
    float:left;
}

.tituloPersonaSticky {
    color: #55778c;
    font-weight: bold;
    font-size:1.4em;
}