.alineacionIzqMid {
    text-align:left;
    vertical-align: middle;
    white-space : nowrap;
}

.alineacionDerMid {
    text-align:right;
    vertical-align: middle;
    white-space : nowrap;
}

.alineacionIzqUp {
    text-align:left;
    vertical-align: top;
    white-space : nowrap;
}

.alineacionIzqUpLeft {
    text-align:left;
    vertical-align: top;
    white-space : nowrap;
    margin-left:22px;
    margin-top:2px;
}

.alineacionDerUp {
    text-align:right;
    vertical-align: top;
    white-space : nowrap;
}

.alineacionIzqNoWrap {
    text-align:left;
    white-space : nowrap;
}

.alineacionDerNoWrap {
    text-align:right;
    white-space : nowrap;
}

.aviso {
    background-image: url(../images/iconWarningGreen.gif);
    background-repeat: no-repeat;
    padding-left:20px;
    text-decoration: none;
    text-valign: middle;
    border: none;
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: bold;
    color: #000000 ;
    padding-right: 8px;
    padding-bottom: 8px;
}

.resultados {
    padding-top:10px;
    margin-left:8px;
    font-weight: bold;
    border-bottom:1px solid;
    text-align:right;
    width:98%;
    color: #626262;
}

.obligatorio {
    font-weight: bold;
}

/* Resultados del detalle */
.pasos {
    padding-top:0px;
    margin-left:8px;
    border-bottom:1px solid;
    text-align:right;
    width:98%;
    clear:both;
    *color:#464F56;
}

/* Calendario de rich faces */
.rich-calendar-boundary-dates {
    color: #cccccc;
    font-weight: normal;
}
.rich-calendar-editor-btn-selected {
    background-color: #464F56;
}
.rich-calendar-holly {
    background-color: #AFDB1F;
    color: #464F56;
    font-weight: normal;
}
.rich-calendar-select {
    background-color: #464F56;
    font-weight: bold;
    color: #ffffff;
}
.rich-calendar-today {
    background-color: #d4cfc7;
    font-weight: bold;
    color: #000000;
}

.rich-ordering-list-row-selected{
    background-color: #89BC6F;
}

.txtnegro11n { font-size: 11px; font-weight: bold; color: #000000; text-decoration: none;}
.txtverde10n { font-family: Arial, Verdana, sans-serif; font-size: 10px; font-weight: bold; color: #464F56; text-decoration: none ; text-align: center; vertical-align: middle; height: 18px; padding-right: 5px; padding-left: 5px}
.txtverde12n { font-family: Arial, Verdana, sans-serif; font-size: 12px; font-weight: bold; color: #464F56; text-decoration: none ; text-align: center; vertical-align: middle; height: 18px; padding-right: 5px; padding-left: 5px}
.txtrojo10n  { font-family: Arial, Verdana, sans-serif; font-size: 10px; font-weight: bold; color: #CC0000; text-decoration: none ; text-align: center; vertical-align: middle; height: 18px; padding-right: 5px; padding-left: 5px}

.ayudaenlinea  { font-family: Arial, Verdana, sans-serif; font-size: 10px; font-weight: bold; color: #000000; text-decoration: none ; text-align: center; vertical-align: middle; height: 18px; padding-right: 5px; padding-left: 5px}

/* Menu contextual de rich faces */
.richContextMenu {
    border: 1px solid #464F56;
}

.richContextMenuSelectItem {
    border: 1px solid #464F56;
    background-color: #AFDB1F;
    cursor:pointer;
}

.richContextMenuItem {
    background-color: #FFFFFF;
}

/* Datatable de rich faces */
/* Ordering list de richfaces */
.rich-ordering-list-row-selected{
    background-color: #c9d2d5;
}

/* Datatable de rich faces */
.richDataTableHeader {
    color: #FFFFFF;
    text-align: left;
    border-bottom: 1px solid #afdb1f;
    border-right: none;
    background: #464F56;
    padding-left: 3px;
}

.whiteSpaceNormal {
    white-space: normal;
}

.tableLayoutFixed {
    table-layout:fixed;
}

.richDataTableHeader a {
    color: #FFFFFF;
}

.richDataTableHeader:hover {
   color: #FFFFFF;
   background-color:#464F56;
}

.richDataTableColumn{
    border: none;
    padding:4px;
}

.richDataTableColumnCenter {
    border: none;
    padding:4px;
    text-align:center;
}


/* Datatable de rich faces resumen */
.richDataTableHeaderResumen {
    color: #FFFFFF;
    text-align: center;
    border: 1px solid #afdb1f;
    background: #464F56;
    padding-left: 3px;
}


.richDataTableHeaderResumen a {
    color: #FFFFFF;
    text-align: center;
}

.richDataTableHeaderResumen:hover {
   color: #FFFFFF;
   background-color:#464F56;
}

.richDataTableColumnResumen {
    border: none;
    padding:4px;
    text-align:right;
    color: #FFFFFF;
    background: #464F56;
    width: 10%;
}

.richDataTableColumnResumenRight{
    border: none;
    padding:4px;
    text-align:right;
    border-left: 1px solid #cccccc;
}

.richDataTableFooterResumen {
    color: #FFFFFF;
    text-align: right;
    border: 1px solid #afdb1f;
    background: #464F56;
    padding-left: 3px;
    font-weight: bold;
}


.richDataTableFooterResumen a {
    color: #FFFFFF;
    text-align: right;
}

.richDataTableFooterResumen:hover {
   color: #FFFFFF;
   background-color:#464F56;
}


.footerTablaResumenControlGastos {
    text-align: left;
    border: 1px solid #afdb1f;
    border-right: lightgrey;
    border-left: lightgrey;
    background: lightgrey;
    padding-left: 3px;
    font-weight: bold;
}


.footerTablaResumenControlGastos a {
    text-align: left;
}

.footerTablaResumenControlGastos:hover {
   background-color: lightgrey;
}

.richDataTableHeaderCenter {
    color: #FFFFFF;
    text-align: center;
    border-bottom: 1px solid #afdb1f;
    border-right: none;
    background: #464F56;
    padding-left: 3px;
}

.noSortColumn {
    background-image: url(../images/sinOrden.gif);
    background: #ffffff;
}

.ascSortColumn {
    background-image: url(../images/ordenAscendente.gif);
    background: #000000;
}

.descSortColumn {
    background-image: url(../images/ordenDescendente.gif);
    background: #cccccc;
}


/* Tool tipde rich faces */
.rich-tool-tip{
    background-color: #efefef;
    border-color: #464F56;
}

/* jbpm diagram */
div.pbox, div.pbox_s, div.pbox_e {
    position:absolute;
    border-width:1px;
    border-style:solid;
}

div.pbox {
    border-color:#0000ff;
}

div.pbox_s {
    border-color:#aa6600;
}

div.pbox_e {
    border-color:#cc0000;
}

div.pboxs, div.pboxs_s, div.pboxs_e {
    position:absolute;
    border-right-width:1px;
    border-right-style:solid;
    border-bottom-width:1px;
    border-bottom-style:solid;
}

div.pboxs {
    border-right-color:#9999ff;
    border-bottom-color:#9999ff;
}

div.pboxs_s {
    border-right-color:#ffaa99;
    border-bottom-color:#ffaa99;
}

div.pboxs_e {
    border-right-color:#660000;
    border-bottom-color:#660000;
}

div.pboxce {
    position:absolute;
    overflow:hidden;
}

div.pboxc, div.pboxc_s, div.pboxc_e {
    cursor:default;
    font-size:10px;
    white-space:nowrap;
    color:#ffffff;
    padding-left:3px;
    padding-right:3px;
    border-width:1px;
    border-style:solid;
}

div.pboxc {
    border-color:#0000ff;
    background-color:#0000ff;
}

div.pboxc_s {
    border-color:#aa6600;
    background-color:#aa6600;
}

div.pboxc_e {
    border-color:#cc0000;
    background-color:#cc0000;
}

div.pboxc a, div.pboxc_s a, div.pboxc_e a {
    color:#ffffff;
    text-decoration:none;
}

div.pboxc a:hover, div.pboxc_s a:hover, div.pboxc_e a:hover {
    text-decoration:underline;
}
/* jbpm diagram */


.footer {
    text-align:center;
    border-top:1px solid #E2E2E2;
    color:#6A6A6A;
    font-family:Verdana,Arial,Helvetica,sans-serif;
    font-size:0.8em;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    line-height:1.1;
    margin:0 0 20px;
}

.avisoPortada {
    text-align:left;
    border:1px solid #AFDB1F;
    background:white;
    color:#464F56;
    font-family:Verdana,Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-style:normal;
    font-variant:normal;
    font-weight:bold;
    line-height:1.1;
    margin:0 0 20px;
}



.txtFinanciacionPry {
    font-weight:bold;
    color:#395373;
}

.treeTableResumenProyecto {
    color: #FFFFFF;
    text-align: left;
    border-bottom: 1px solid #aaaaaa;
    border-right: 1px solid #aaaaaa;
    background: red;
    padding-left: 3px;    
}

.rowFinanciacionNivel1 {
    background: #1e84a3;
    background: #1e84a3 -moz-linear-gradient(center top , rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0)) repeat scroll 0% 0%;
    background: #1e84a3 -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.8)), to(rgba(255,255,255,0)));
    color:white;
    font-weight:bold;
}

.rowFinanciacionNivel2 {
    background: #5ec3e2;
    background: #5ec3e2 -moz-linear-gradient(center top , rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0)) repeat scroll 0% 0%;
    background: #5ec3e2 -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.8)), to(rgba(255,255,255,0)));
}
.rowFinanciacionNivel3 {
    background: #bce6f3;
    background: #bce6f3 -moz-linear-gradient(center top , rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0)) repeat scroll 0% 0%;
    background: #bce6f3 -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.8)), to(rgba(255,255,255,0)));
}
.rowFinanciacionNivel4 {
    background: #e8f6fb;
    background: #e8f6fb -moz-linear-gradient(center top , rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0)) repeat scroll 0% 0%;
    background: #e8f6fb -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.8)), to(rgba(255,255,255,0)));
}
.rowFinanciacionNivel0 {
    background: #ff4d4d;
    background: #ff4d4d -moz-linear-gradient(center top , rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0)) repeat scroll 0% 0%;
    background: #ff4d4d -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.8)), to(rgba(255,255,255,0)));
}

.txtFinanciacionGrupo {
	txtFinanciacionGrupo
}

.masInfo {
    font-weight: bold;
    color: #369;
    cursor: pointer;
    background-image:url('../images/gep/plus2.gif');
    background-repeat: no-repeat;
    background-position-x: 240px;
    background-position: 240px 0;
}

.menosInfo {
    font-weight: bold;
    color: #369;
    cursor: pointer;
    background-image:url('../images/gep/minus2.gif');
    background-repeat: no-repeat;
    background-position-x: 240px;
    background-position: 240px 0;
}

.masInfo2 {
    font-weight: bold;
    color: #369;
    cursor: pointer;
    background-image:url('../images/gep/plus2.gif');
    background-repeat: no-repeat;
    background-position-x: 255px;
    background-position: 255px 0;
}

.menosInfo2 {
    font-weight: bold;
    color: #369;
    cursor: pointer;
    background-image:url('../images/gep/minus2.gif');
    background-repeat: no-repeat;
    background-position-x: 255px;
    background-position: 255px 0;
}

/* Estilos de la ficha resumen del proyecto */

.richDataTableHeaderResumenProyecto {
    color: #FFFFFF;
    text-align: left;
    border-bottom: 1px solid #aaaaaa;
    border-right: 1px solid #aaaaaa;
    background: #464F56;
    padding-left: 3px;    
}

.richDataTableHeaderResumenProyecto a {
    color: #FFFFFF;
}

.richDataTableHeaderResumenProyecto:hover {
   color: #FFFFFF;
   background-color:#464F56;
}

.richDataTableColumnResumenProyectoNoWrap{
    border-right:1px solid #aaaaaa;
    border-bottom:1px solid #aaaaaa;
    background-color:#e3f2e1;
    white-space:nowrap;
    padding:4px;
    font-weight:bold;    
}

.richDataTableColumnResumenProyecto{
    border-right:1px solid #aaaaaa;
    border-bottom:1px solid #aaaaaa;    
    padding:4px;
}

.richDataTableHeaderCenterResumenProyecto {
    color: #FFFFFF;
    text-align: center;
    border-bottom: 1px solid #aaaaaa;
    border-right: 1px solid #aaaaaa;
    background: #464F56;
    padding-left: 3px;
}

.lblResumenProyecto {
    color:#395373;
    font-weight:bold;
}

.legendResumenProyecto {
    font-weight:bold;
    color:#395373;
}

fieldset, legend {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    
}
fieldset {
    border: 1px solid #a8a8a8;
    color: #4f4f4f;
    margin: 5px 0px 5px;
}
legend {
	border: 1px solid #a8a8a8;
    background: #c4c4c4 -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.8)), to(rgba(255,255,255,0)));
	padding: 0.3em 1em;
    font-weight:bold;
    color:#4f4f4f;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}

.contenidoBloques {
    padding-left:30px;
    background-color:#F5F5F5 
}

.left {
    float:left;
}

.fondoDesplegable {
    background-color:#E1ECCD;
}

.datosTituloDet {
    width: 170px;
    float: left;
    color:#464F56;
    font-weight:bold;
    margin-bottom:7px;
    font-size:1em;
}

.titulo-wrap-cell-div {
	white-space:normal; 
	margin-right:10px; 
	width: 800px; 
	word-break: break-all; 
	word-wrap: break-word;
	inline-block;
}


.rich-mpnl-panel {
    position: inherit;
}

.progressBarDiv{
    height: 100%;
    font-weight: bold;
    color: #000000;
    text-align: right;
    line-height: 15px; 
    width: 0;
    background-image: url(../images/progressBar.gif);
    background-color: #afdb1f;
}

.ui-widget-content .ui-datalist-content{
    border: none;
    background: transparent;
    background-image: none;
}

/* para dar color a los bloques */
.ui-widget-header{
	background: #85B2CB;
	background: #85B2CB -moz-linear-gradient(center top , rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0)) repeat scroll 0% 0%;
	background: #85B2CB -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.8)), to(rgba(255,255,255,0)));
}

.noBorders tr, .noBorders td {
    background: none !important;
    border: none !important;
    border-spacing: 0px !important;
}

.withBorders tr, .withBorders td {
	border:1px solid #a8a8a8 !important;
	background: #ffffff !important;
	border-spacing: 1px !important;
}

.noSpacing table, .noSpacing tr, .noSpacing td {
    padding: 0px !important;
    border-spacing: 0px !important;
    border-collapse: separate !important;
}

.heightCientoCincuenta div, .heightCientoCincuenta ul {
	height: 150px !important;
}

.autoWidth div, .autoWidth ul {
    width: auto !important;
}

.novecientosWidth div, .novecientosWidth ul {
    width: 800px !important;
}

.tablaFormulario table, .tablaFormulario tr, .tablaFormulario td {
    border: none !important;
    border-spacing: 0px !important;
    padding: 0px !important;
    padding-left: 5px !important;
    padding-bottom: 5px !important;
    border-spacing: 0px !important;
    border-collapse: separate !important;
}

input[readonly="readonly"], textarea[readonly] {
    background-color:LightGray!Important;
}

.tableTitle {
    border-bottom: 2px solid #b3c6d2;
    color: #333333;
    background: -moz-linear-gradient(center top , rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0)) repeat scroll 0 0 #648ca5; //#6993ad;
    border: 1px solid #b3c6d2;    
    border-radius: 3px;
    padding: 3px;
}

/* Tabla para botoneras */
table.tablaBoton {
	margin-top:10px;
    margin-left:auto !important;
    margin-right:0px !important;
    border: none !important;
    border-spacing: 0px !important;
}

/* TRs y TDs de tablas para botoneras */
.tablaBoton tr, .tablaBoton td  {
	background-color: transparent !important;
    border: none !important;
    border-spacing: 0px !important;
    padding: 0px !important;
    padding-left: 5px !important;
    padding-bottom: 5px !important;
    border-spacing: 0px !important;
    border-collapse: separate !important;
}
.dataTableColumnResumen {
    border: none;
    padding:4px;
    text-align:right;
    color: #464F56;
    background: #dc9a50;
    width: 10%;
    font-size: 11px;
    font-weight: bold;
    white-space: nowrap;
}

.dataTableColumnResumenRight{
    border: none;
    padding:4px;
    text-align:right;
    border-left: 1px solid #cccccc;
    background: #fed36f;
}

.dataTableColumnResumenRightBold{
    border: none;
    padding:4px;
    text-align:right;
    border-left: 1px solid #cccccc;
    background: #fed36f;
    font-weight: bold;
    font-size: 11px;
}

.footerTablaResumen {
    background: #808080;
    text-align:right;
}

.toolBar {
    background: #FFFFFF;
    border: none;
    color: #FFFFFF;
    font-weight: bold;
    text-shadow: none;
}

.toolBar button {
    margin-left: 5px;
    margin-right: 5px;
}

/* Reducir el tamaño general de los componentes de Primefaces 
.ui-widget, .ui-widget .ui-widget {
    font-size: 95%;
    margin-bottom: 3px;
}
*/

/* Evitar que se haga line wrap en los cabeceras de las tablas */
.ui-datatable .ui-sortable-column {
    cursor: pointer;
    white-space: nowrap;
}


.pageTitle {
    border-bottom: 2px solid #66889D;
    color: #55778C;
    font-weight: bold;        
}

.pageTitleNavegacion {
    border-bottom: 2px solid #66889D;
    color: #55778C;
    font-weight: bold;    
    height: 45px; 
    margin-bottom: 5px;
}

.panelNaranja {
    background-color: #F1F1F1;
}

.panelNaranja .ui-panel-titlebar, .panelBuscador .ui-panel-titlebar {
    background-color: #FFEAB8;
    background-image: none;
    color: #000000;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0);
}

.cbSelectGrupoProyecto {
    display:none
}

.ui-growl-item-container.ui-state-highlight {
	text-shadow:none;
}


.ui-growl-message {
	font-size: 15px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
}

/* NAVEGACION */
.left {
    float:left;
}

/*.contenedorNavegacion {
    margin-top:15px;
}*/

/* NAVEGACION */
.contenedorNavegacion {
    padding-top: 15px;
    padding-bottom: 5px;
    background-color: white;
}



.contenedorOpciones {
    /* PROVISIONAL */
    margin-left:-27px;
    margin-top:53px;
    /* ORIGINAL */
    /*margin-left:-28px;
    margin-top:35px;*/
    width: 640px;
    z-index: 10;
    display: none;
}

.contenedorOpciones {
    box-shadow: 2px 2px 5px #999;
    -webkit-box-shadow: 2px 2px 5px #999;
    -moz-box-shadow: 2px 2px 5px #999;
}

.chat-bubble {
  border:1px solid #C9C9C9;
  line-height:1.3em;
  position:absolute;
  background-color: #FFFFFF;
  height: 263px;

}

.chat-bubble-arrow-border {
  border-color:  transparent transparent #C9C9C9 transparent;
  border-style: solid;
  border-width: 10px;
  height:0;
  width:0;
  position:absolute;
  top:-20px;
  margin-left:-54px;
}
.chat-bubble-arrow {
  border-color:  transparent transparent #e4e4e4 transparent ;
  border-style: solid;
  border-width: 10px;
  height:0;
  width:0;
  position:absolute;
  top:-19px;
  margin-left:-54px;
  
}

.contenedorOpciones .chat-bubble-arrow-border, .contenedorOpciones .chat-bubble-arrow{
  left:15%;  
}

.contenedorOpciones a {
    color:#000000;
    text-decoration: none;
    font-weight: normal;
}

.contenedorOpciones a:hover {
    font-weight: bold;
}

.contenedorOpciones .principal {
    background-color: #e4e4e4;
    width: 86px;
    height: 263px;
    float: left;
}

.contenedorOpciones .principal ul li {
    list-style: none;
    margin-left:-40px;
    text-align: center;
    height: 77px;
    padding-top:3px;
}

.contenedorOpciones .secundaria {
    background-color: #f5f5f5;
    width: 554px;
    height: 263px;
    float: left;
}

.contenedorOpciones .secundaria ul {
    float: left;
}

.contenedorOpciones .secundaria ul li {
    list-style: none;
    margin-left:-26px;
    text-align: center;
    height: 77px;
    width:95px;
    padding-top:3px;
}

.iconoDetalle {
    float: left;
}

.tituloDetalle {
    margin-top:5px;
    float:left;
    color: #55778c;
    font-weight: bold;
    font-size:1.5em;
}

.tituloEdicion {
    margin-top:5px;
    float:left;   
    font-weight: bold;
    font-size:1.2em;
}

.nombreSuperior {
    margin-top:30px;
}

.ellipse700 {
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    white-space: nowrap;
    width: 700px;
}

.disabled {
    color:#cccecf;
}

.filtroNombrePrestacion {
    display: inline !important;
    width: 300px !important;
}

.fondoDesplegable {
    background-color:#E1ECCD;
}

/* FIN NAVEGACION */

/* CAMBIOS PARA PRIMEFACES 5 */
.ui-accordion-header {
	padding:10px 10px 10px 30px;
}

.ui-autocomplete .ui-autocomplete-dropdown {
  position: relative;
  top: 0;
  bottom: 0;
  height: 100%;
}
/* FIN CAMBIOS PARA PRIMEFACES 5 */


.rowUnno{
    background-color: #C8FFFC;
}
.rowDos{
    background-color: #DAFFBC;
}
.rowTres{
    background-color: #F4CDC8;
}
.rowCuatro{
    background-color: #FDEBF7;
}

.rowCinco{
    background-color: #ffffaa;
}
.rowConvo{
    background-color: #FFAE19;
}

span.tres {
  background: red;
   border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  line-height: 1.6em;
  margin-right: 15px;
  text-align: center;
  width: 1.9em; 
}

span.grey {
  background: #cccccc;
  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: #fff;
  display: inline-block;
  font-weight: bold;
  line-height: 1.6em;
  margin-right: 15px;
  text-align: center;
  width: 1.6em; 
}
 
span.dos {
  background: #5EA226;
  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  line-height: 1.6em;
  margin-right: 15px;
  text-align: center;
  width: 1.9em; 
}
 
span.uno {
  background: #5178D0;
  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  line-height: 1.6em;
  margin-right: 15px;
  text-align: center;
  width: 1.9em; 
}
 
span.cuatro {
  background: #EF0BD8;
  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  line-height: 1.6em;
  margin-right: 15px;
  text-align: center;
  width: 1.9em; 
}

span.cinco {
  background: #c1c100;
  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  line-height: 1.6em;
  margin-right: 15px;
  text-align: center;
  width: 1.9em; 
}
    
span.conv {
  background: #808040;
  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  line-height: 1.6em;
  margin-right: 15px;
  text-align: center;
  width: 1.9em; 
}    
    
.tablaTree {
    width: 100%;
    color: red;
}

.leftTable {
    width: 100%;
    float: left;
}

/* FORMS */
.labelDiv{
    float:left;
    clear:none;
    margin:5px 10px 5px 0px;
}

.labelDiv input{
    float:left;
    margin:0px 0px 0px 0px;
}

.labelDiv label{
    display:block;
    margin:0px 0px 2px 0px;
}

.clear {
    clear: both;
}

.anchoColumna2{
    width: 70%;
}