@import 'concProyContr.css';
@import 'graficas.css';
@import 'navegacion.css';
@import 'buscadorPersonas.css';
@import 'silkicons.css';
/*COMUNES*/
.centrado {
    text-align: center;
}

.cursiva {
    font-style:italic;
}

.negrita {
    font-weight: bold;
}

.rigth {
    float:right;
}

.left {
    float:left;
}

.clear {
    clear: both;
}

.contenidoBloques {
    padding:3px;
}

.bordeNegro {
    border: 1px solid #000000;
}

legend {
    color:#336699;
}

.tituloPanel {
    font-size:1.3em;
    background-color: #C0C0C0;
    color:#505050;
}

.tablaNivel1 {
    background-color: #EBF6C7;
}

.tablaNivel2 {
    background-color: #D8E4F0;
}

.forzarLineas {
    white-space: normal !important;
}

.rojo {
    color:#FF0000;
}

.naranjaAmarronado {
    color:#D96D36;
}

.propuestasCount {
    background-color:#FED36F;
}

.propuestasSoft {
    background-color:#FEDE93;
}

.leyendaPropuestasSoft {
    background-color:#FEDE93;
    border:1px solid #000000;
    width: 15px;
    height: 15px;
}

.propuestasCount a {
    font-size:13px;
    cursor: pointer;
    display: block;
}

.asignadasCount a {
    font-size:13px;
    cursor: pointer;
    display: block;
}

.rechazadasCount {
    background-color:#ED8570;
}

.fondoVerde {
    background-color:#26D66C;
}

.fondoAllo {
    background-color:#C8C075;
}

.contendorPrincipal {
    margin-top:10px;
    padding-bottom:15px;
}

.fondoDesplegable {
    background-color:#E1ECCD;
}
/* COMUNES */

/* PRIMEFACES */

/* Bordes para los p:accordionPanel */
.ui-accordion-content {
    border: 1px solid #C0C0C0;
}

.ui-accordion {
    margin-top:10px;
}

.datalist-noborder .ui-widget-content {
    border: none !important;
}

.datalist-noborder .ui-widget-content ul {
    padding-left:5px;
}

.ui-growl {
    width: 500px;
}

.ui-growl-message {
    width: 420px;
    font-size: 14px;
    font-weight: bold;
}
/* PRIMEFACES */

/* HOME */
#homeContCabeceraBuscador {
    margin-left:-15px;
    width:103%;
    height: 70px;
    background-color: #DBDADF;
}

#homeContBuscador {
    padding:20px;
    text-align: center;
}

.homeBuscador {
    width:575px;
}

#homeContContenidos {
    padding-top:15px;
    margin-top:4px;
    margin-left:-15px;
    width:103%;
    height:515px;
    background-color: #F7F7F9;
}

#homeContenidos {
    padding-top:8px;
    margin-left: auto;
    margin-right: auto;
    width:541px;
    height: 425px;
    border: 1px solid #000000;
    background-color: #FFFFFF;
    background-image:url('../img/fondoHome.jpg');
    background-repeat: no-repeat;
    background-position: bottom;
}

#homeContenidosIzq {
    width:200px;
    float:left;
}

.homeTitulo {
    font-size:2.1em;
    text-align:right;
    margin-left:13px;
    margin-top:10px;
    color: #cf8906;
    font-weight: bold;
}

#homeContenidosDer {
    margin-top:5px;
    float:left;
}

.homeOpciones ul {
    list-style: none;
}

.homeOpciones ul li {
    padding-bottom: 10px;
}

.homeOpciones ul li a {
    font-size:1.2em;
    color:#000000;
}

.homeSeparacion {
    border-top: #d0d0d0 1px solid;
    margin-left:30px;
    width: 275px;
}

.homeAdministracion {
    float: left;
    margin-top:15px;
}
/* /HOME */

/* DATOS */
.datosTitulo {
    width: 230px;
    float: left;
    color:#464F56;
    font-weight:bold;
    padding-bottom:15px;
    font-size:1.2em;
}

.datosValor {
   width:100%;
   padding-bottom:15px;
   font-size:1.2em;
   margin-left:230px;
}

.datosTituloDet {
    width: 170px;
    float: left;
    color:#464F56;
    font-weight:bold;
    padding-bottom:10px;
    font-size:1em;
}

.datosValorDet {
   width:100%;
   margin-left:170px;
   padding-bottom:10px;
   font-size:1em;
}

.foto {
    margin-top:10px;
    margin-left:75px;
}

.nombreFoto {
    font-size:100%;
}

.logotipo {
    float:left;
    margin-bottom: 20px;
    width:180px;
    text-align: center;
}

.fotoCentro img {
    border:#000000 1px solid;
}

.contenidoLogoFoto {
    float: right;
}

.masInfo {
    font-weight: bold;
    color: #369;
    cursor: pointer;
    background-image:url('../images/gep/plus2.gif');
    background-repeat: no-repeat;
    background-position-x: 65px;
}

.menosInfo {
    font-weight: bold;
    color: #369;
    cursor: pointer;
    background-image:url('../images/gep/minus2.gif');
    background-repeat: no-repeat;
    background-position-x: 65px;
}

.labelInputDiv{
    float:left;
    clear:none;
    margin:5px 10px 5px 0px;
}

.labelInputDiv input{
    float:left;
    margin:0px 0px 0px 0px;
}

.labelInputDiv label{
    display:block;
    margin:0px 0px 2px 0px;
}
/* /DATOS */

/*MENSAJES DE TELEFONO*/
.detalleTelefono {
    color:#000000;
    font-weight:bold;
    padding-bottom:15px;
    font-size:9em;
}
.dialogTelefono {
    height: 100%;
    background-color: #C0C0C0;
}

.masInfo {
   font-weight: bold;
   color: #369;
   cursor: pointer;
   background: url("../images/gep/plus2.gif") 65px no-repeat;
}

.menosInfo {
   font-weight: bold;
   color: #369;
   cursor: pointer;
   background: url("../images/gep/plus2.gif") 65px no-repeat;
}

/* TIMELINE */
div.timeline-navigation-delete  {
    display: none !important;
}

div.timeline-groups-axis {
    z-index: 10 !important;
}

div.timeline-frame {  
    border-color: #5D99C3;  
    border-radius: 5px;  
}

div.timeline-axis {  
    border-color: #5D99C3;  
    background-color: #5D99C3;  
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#BAD4E6', endColorstr='#6C92B8') alpha(opacity = 100);  
    background: -webkit-gradient(linear, left top, left bottom, from(#BAD4E6), to(#6C92B8));  
    background: -moz-linear-gradient(top,  #BAD4E6,  #6C92B8);  
    -khtml-opacity: 1;  
    -moz-opacity: 1;  
    opacity: 1;  
}

div.timeline-groups-axis {  
    border-color: #5D99C3;  
}  
  
div.timeline-groups-axis-onleft {  
    border-style: none solid none none;  
}

div.timeline-groups-text {
    font-weight: bold;
}  
  
div.timeline-axis-text {  
    color: white;
    font-weight: bold;
}  
  
div.timeline-event {
    border-radius: 5px !important;  
}  
  
div.timeline-event-content {  
    padding: 5px;  
    text-shadow: none;
}

div.timeline-navigation {
    z-index: 1000 !important;
}

div.timeline-navigation-new, div.timeline-navigation-zoom-in, div.timeline-navigation-zoom-out, div.timeline-navigation-move-left, div.timeline-navigation-move-right {
    background-color: #EAEAEA;
    height:18px;
    width: 18px;
}

div.timeline-navigation-new, div.timeline-navigation-zoom-out {
    border-right: 1px solid #000000;
}

div.timeline-navigation-new span {
    background-image:url('../images/silk-icons.png') !important;
    background-position:0 -16px;
}

div.timeline-navigation-zoom-in span {
    background-image:url('../images/silk-icons.png') !important;
    background-position:0 -8720px;
}

div.timeline-navigation-zoom-out span {
    background-image:url('../images/silk-icons.png') !important;
    background-position:0 -8688px;
}

div.timeline-navigation-move-left span {
    background-image:url('../images/silk-icons.png') !important;
    background-position:0 -736px;
}

div.timeline-navigation-move-right span {
    background-image:url('../images/silk-icons.png') !important;
    background-position:0 -832px;
}

/* COLOR PICKER */
.ui-colorpicker-container {
    left: 790px !important;
}

.timelineIntegrante {
    background-color: #FFEAB8 !important;
    background-image: none\0/ !important;
}

.timelineResponsable {
    background-color: #26D66C !important;
    background-image: none\0/ !important;
}

.timelineResponsableTecnico {
    background-color: #d5ef1a !important;
    background-image: none\0/ !important;
}

.timelineResponsableCientifico {
    background-color: #26D66C !important;
    background-image: none\0/ !important;
}

.timelineIntegranteGeneral {
    background-color: #FFEAB8 !important;
    background-image: none\0/ !important;
}

.timelineIntegranteGeneral div{
    margin-top: 0px !important;
    padding-top: 0px !important;
    visibility: hidden !important;
}

.timelineResponsableGeneral {
    background-color: #26D66C !important;
    background-image: none\0/ !important;
    height: 10px !important;
    z-index: 1 !important;
}

.timelineResponsableGeneral div{
    margin-top: 0px !important;
    padding-top: 0px !important;
    visibility: hidden !important;
}

.timelineResponsableTecnicoGeneral {
    background-color: #d5ef1a !important;
    background-image: none\0/ !important;
    height: 10px !important;
    margin-top: 15px !important;
    z-index: 1 !important;
}

.timelineResponsableTecnicoGeneral div{
    margin-top: 0px !important;
    padding-top: 0px !important;
    visibility: hidden !important;
}

.timelineResponsableCientificoGeneral {
    background-color: #26D66C !important;
    background-image: none\0/ !important;
    height: 10px !important;
    z-index: 1 !important;
}

.timelineResponsableCientificoGeneral div{
    margin-top: 0px !important;
    padding-top: 0px !important;
    visibility: hidden !important;
}

.timeline-event-content {
    text-align:center
}

.tooltip{
    margin:8px;
    padding:8px;
    border:1px solid #A8A8A8;
    background-color:#FFFFFF;
    position: absolute;
    box-shadow: 2px 2px 5px #999;
    -webkit-box-shadow: 2px 2px 5px #999;
    -moz-box-shadow: 2px 2px 5px #999;
    z-index: 5000;
}