em {
    font-weight: bold;
    font-style: italic;
    *background-color: #eaf5c7;
}
.totalDiv{
    width: 100%;
    margin: 10px 0px 20px 10px;
    padding: 0px;
        
}
.totalPanel{
    width:22%;
    float: left;
    margin:0px 5px 0px 5px;
    padding:0px;
}
.totalPanelBody{
    margin:0px;
    padding:0px;
    height: 230px;
}

.totalPanelBody ul{
    padding:0px;
    margin:10px 0px 10px 20px;
}

.totalPanelBody ul li{
    margin:10px 0px 10px 0px ;
    padding:0px;
}
.totalPanelHeader{
    height: 22px;
    text-align: center;
    padding: 5px 0px 5px 0px;
}

.totalLink {
    font-weight:bold;
    font-size: 15px;
    margin:0px;
    padding:0px;
}
.totalValue {
    font-size:15px;
}

.contentPanel a:hover, .filtersPanel a:hover, .totalDiv a:hover, .tituloDiv a {
     text-decoration: underline;
}

.contentPanel {
    width: 75%;
    float: left;
}

.contentPanelMax {
    width: 100%;
    float: left;
}

.filtersPanel {
    width:25%;
    float:right;
}
div#formSearch\:searchPanel {
    margin:0px 5px 0px 0px;
    border-width:0px
}

.searchPanelHome {
    margin:0px 5px 0px 5px;
    border:1px solid #464F56;
    background-color: #F1F1F1;
    width: 88%;
    margin: 0px 20px 10px 15px;
    padding:5px;
}

#formSearch\:searchPanel a{
    margin:2px 5px 2px 5px;
}

.searchPanelHome a{
    margin:2px 5px 2px 5px;
}


input#formSearch\:query{
    font-size:16px;
    width:60%;
    padding:0px 0px 5px 5px;
}
div#formSearch\:documentsPanelHeader{
    width:100%;
    float:left;
    clear:both;
    margin:10px 0px 10px 0px;
}
.labelDiv{
    float:left;
    clear:none;
    margin:0px 5px 0px 0px;
}
.labelOperator {
    display:block;
    margin:0px 0px 2px 0px;
}
.tableRadio label {
    float:left;
    margin-left:5px;
}

.loadingDiv {
    float:right;
    margin:0px 10px 0px 0px;
    height:20px
}

div#formSearch\:documentsPanelList {
    clear:both;
    margin:10px 0px 10px 0px;
}

div#formSearch\:documentsPanelList .documentsPanelListDiv{
    float:left;
    clear:both;
    width:100%;
    margin:10px 0px 0px 0px;
}

.filterDiv {
    clear:both;
    padding: 0px 0px 10px 0px;
}
.filterLabelLink {
    float:left;
}
.filterLabel {
     float:left;
     margin: 0px 5px 5px 0px;
     font-weight: bold;
}
.filterPanel {
    margin: 10px;
    width: auto;
}
.filterList {
    margin: 5px;
    padding: 0px;
}
.filterList li{
    margin: 10px;
}
.filterList .commaList{
    margin: 0px 0px 5px 5px;
    clear: none;
}

.filterList .commaList li{
    margin: 5px 0px 5px 0px;
}

.filterValueDiv{
    display:inline-block;
}

.filterActivePanel{
    padding:0px;
    margin:10px 5px 10px 5px;
    border: 1px solid #AFDB1F;
}

.headerActiveFilterPanel {
    font-size: 12px;
    padding:4px 0px 0px 4px;
    margin:0px;
    height: 20px;    
}

.bodyActiveFilterPanel {
    margin:0px;
    padding:3px 0px 3px 0px;
    background-color: #FFFFFF;
}

.bodyFilterPanel {
    margin:0px;
    padding:0px 0px 5px 0px;
}
.removeFilterText{
    margin-right: 5px;
}

.fieldContainer {
    margin: 5px 20px 0px 0px;
    float:left;
}

.fieldContainer label {
    float:left;
    margin-right:5px;
    font-weight: bold;
}



.toggleControl {
    padding-top:2px;
    position:absolute;
}

.ficheroLink {
    position:absolute;
    margin-top:20px;
}
.tituloDiv, .tituloDivNoLink {
    padding-left: 0px;
    font-size: 15px; 
    line-height: 19px; 
    text-decoration: none;
}

.tituloDivNoLink {
	font-weight: bold;
	color: #464F56;
}
.minMaxDiv {
    margin: 5px 5px 15px 0px;
    clear:both;
}

.minMaxDiv fieldset{
    margin-top:10px;
}

.minMaxDiv fieldset legend{
    color:black;
    font-weight:bold;
}

.fijosMin {
    float:left;
    margin-right: 5px;
}

.resumen{
    margin: 5px 0px 5px 0px;
}
.resumenContent {
    overflow:auto;
    height: 50px;
    border:1px #CCCCCC solid; 
    padding:8px;
}


.resumenActividad {
    overflow:auto;
    height: 430px;
    padding:8px;
    margin-top:8px;
}

/* commaList */
.commaList {
    padding: 0px;
    margin: 0px;
    float: left;
    clear: none;
}

/* display ordered list as comma list */
.commaList li:first-child {
	/*text-transform: capitalize;*/
}

.commaList li:after{
	content: ',';
	padding-right: 5px;
}

.commaListOr li:after{
	content: 'O';
        font-weight: bold;
	padding: 0px 10px 0px 10px;
}

.commaListAnd li:after{
	content: 'Y';
        font-weight: bold;
	padding: 0px 10px 0px 10px;
}

.commaListDotComma li:after {
        content: ';';
        padding-right: 5px;
}

.commaList li:nth-last-child(2):after {
	content: '';
	padding-right: 5px;
}

.commaListDotComma li:nth-last-child(2):after {
	content: '';
	padding-right: 0px;
}

.commaList li:last-child:before {
	content: 'y ';
	padding-right: 0;
}

.commaListOr li:last-child:before {
	content: 'O';
        font-weight: bold;
	padding-right: 10px;
}

.commaListAnd li:last-child:before {
	content: 'Y';
        font-weight: bold;
	padding-right: 10px;
}

.commaListDotComma li:last-child:before {
	content: ';';
	padding-right: 5px;
}

.commaList li:last-child:after {
	content: '.';
	clear: both;
}

.commaListOr li:last-child:after {
    padding:0px;
}
.commaListAnd li:last-child:after {
    padding:0px;
}

.commaListDotComma li:last-child:after {
    padding:0px;
}


.commaList li
{
        display: inline;
        list-style-type: none;
        *padding-right: 5px !important;
}

/* this prevents single item lists from containing commas and 'ands' */
.commaList li:only-of-type:before, .commaList li:only-of-type:after {
	content: '';
	padding: 0;
}
/* /commaList */
 
.facetsHeadLink {
    float: right;
    margin: 0px 10px 5px 0px;
}

.facetsFieldList {
    margin:0px;
    padding:0px;
    clear:both;
}
.facetsTogglePanel {
    margin:5px 10px 0px 0px;
    padding:0px;
}

.facetsListValue{ 
    margin: 0px 5px 5px 0px;
    padding:0px;
    float:left; 
    width:100%;
}

.facetsListValueDiv{ 
    clear:both;
    padding:5px 0px 5px 4px;
    margin: 0px 0px 5px 0px;
}
.facetsListValueDivCheckbox{  
    float:left;
    width: 18px;
}
.facetsListValueCheckbox{  
    margin:0;
    padding:0px;
}
.facetsListValueDivValue{ 
    float:left;
    width:85%;
}

.rich-list-item {
    list-style: none;
}

.standardTable_Column_valign {
    padding: 8px 0px 4px 4px;
    vertical-align: top;
}

.selectedPanel {
    clear:both;
    margin:0px;
    padding:4px 0px 4px 0px;
    width: 98%;
    border: 1px solid #AFDB1F;
    background-color: #FFFFFF;
}

.selectedPanelActive {
    background-color: #d7ed90;
}
.selectedPanelActive a{
    font-weight: normal;
}
.removeLink {
    color: red !important;
    font-weight: bold;
}

.selectedRow {
    background-color: #eaf5c7;
}
.checkColumn{
    padding: 8px 4px 4px 4px;
    vertical-align: top;
}

.icoExportacion {
    padding-left: 10px;
}

.listaExportacion{
    *width: 100%; 
    *padding-top:3px;
    margin: 10px; 
    padding: 0px; 
    border: none; 
    list-style-type:none; 
}

.listaExportacion_li {
    padding-bottom: 5px;
    *width: auto; 
    *height: 100%; 
    margin: 0px 0px 0px 0px; 
    padding:0px; 
    border: none; 
    background-image: url(../../images/gep/topos_menu.gif); 
    background-position: 4px -1px; 
    *background-position:4px -3px; 
    background-position:4px -3px\0/; 
    background-repeat: no-repeat;
    padding-left: 25px;
    padding-bottom: 10px;
}

.capaError {
    padding-bottom: 10px;
}

.verticalList {
    clear: both;
    margin: 0px;
    padding: 0px;
}
.verticalList li {
    list-style: disc;
    margin: 0px 0px 0px 20px;
}

.clear {
    clear: both;
}

legend {
    color:#336699;
}

.labelDiv input{
    float:left;
    margin:0px 0px 0px 0px;
}
.labelDivDerecha{
    float:right;
    clear:none;
    margin:0px 20px 0px 0px;
}

.labelDiv label{
    display:block;
    margin:0px 0px 2px 0px;
}

option[disabled="disabled"] {
color: #FFFFFF;
background: #464F56;
}

.rich-panel {
    background-color: #FFFFFF;
    border-color: #AFDB1F;
}

.subtablaLargo {
	background-color: #f9fded;
	margin: 0px; 
	padding: 0px;
        border-top: 1px solid #C0C0C0;
        border-bottom: none;
        border-right: none;
}

.panelFilaLargo {
	background-color: #f9fded; 
	margin: 20px; 
	padding: 5px;
}

/*** override primefaces style ***/
.ui-chkbox-box {
	width: 14px!important;
	height: 14px!important;
}

.tituloDetalleFilaSearch {
    font-weight: bold;  
    font-size: 14px;
}

.detalleFilaSearch {
    background-color: #fbfdff;
}
