 @CHARSET "ISO-8859-1";
@import 'gestion.css';
.botones, .botones_derecha, .botones_derecha_inferior,
	.ui-picklist-button-remove, .ui-picklist-button-add, .botones_finalidad,
.buttonAddDataTable, .botonGuardarBorrador, .botonValidar,
	.botonElegirEntidadDatosGen, .ui-fileupload-choose {
	background-color: #5CB85C !important;
	background: -webkit-linear-gradient(#5CB85C, #5CB85C) !important;
	background: -moz-linear-gradient(#5CB85C, #5CB85C) !important;
	background: -o-linear-gradient(#5CB85C, #5CB85C) !important;
	color: #FFFFFF !important;
	border: none !important;
	height: 30px;
}

.botones span{
	padding: .3em 1em .3em .3em;
}

.boton-limpiar{
	background-color: #0066cc !important;
	background: -webkit-linear-gradient(#0066cc, #0066cc) !important;
	background: -moz-linear-gradient(#0066cc, #0066cc) !important;
	background: -o-linear-gradient(#0066cc, #0066cc) !important;
	color: #FFFFFF !important;
	border: none !important;
	height: 30px;
}


.boton-flecha{
	border: none !important;
	margin-top:100%;
/* 	margin-left: 20%; */
	width:50px; 
	height:50px;
	background-image:url('../images/flecha.png') !important;
	background-repeat: no-repeat;
	
}

.boton-eliminar{
	border: none !important;
	background-color:#FFFFFF !important; 
	width:20px; 
	height:25px;
	background-image:url('../images/eliminar.png') !important;
	background-repeat: no-repeat;
	margin-left: 10px;
	
}

.node-div{
	display: table-cell;
    vertical-align: middle;
}


.boton-gris{
	background-color:#8b8e8b !important; 
	background: -webkit-linear-gradient(#8b8e8b, #8b8e8b) !important;
   	background: -moz-linear-gradient(#8b8e8b, #8b8e8b) !important;
   	background: -o-linear-gradient(#8b8e8b, #8b8e8b) !important;
	color: #FFFFFF !important;
	border: none !important;
	height: 30px;
	
}
.botones_menu{
	
	background-color:#5CB85C !important; 
	background: -webkit-linear-gradient(#5CB85C, #5CB85C) !important;
   	background: -moz-linear-gradient(#5CB85C, #5CB85C) !important;
   	background: -o-linear-gradient(#5CB85C, #5CB85C) !important;
   	color: #FFFFFF !important;
	height: 70px; 
	width: 200px;
	position: relative;
	top: 140px;
	left: 280px;
	border-radius: 15px;
}



.tabNuevaConcocatoria{
	border: none;
	width:95%;

}

.botonGuardarBorrador {
	margin-left: 14%;
}

.botonValidar, .botonGuardarBorrador {
	margin-right: 6px;
}

.botonElegirEntidadDatosGen{
	margin-left: 70%
}

.ui-tabs-nav a{
     color: #3F8C3F !important;
}

.ui-tabs .ui-tabs-nav li {
    background-color: #FFFFFF !important;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 10px;
}
.ui-tabs-selected a {
	color: #000000 !important;
	padding-left: 5px;
    padding-right: 5px;
    font-size: 10px;
}
 .botones_derecha{
	margin-left: 77%;
 
 }
 
.botones_derecha_inferior{
	margin-left: 13%;
 
 }
 
 .text_input{
 	width:100%;
}


/* INICIO DATOS GENERALES */
 

/* Inicio  estilo columas de la tabla de
 encabezados de las convocatorias */


.label-name,.label-state,.label-year  {
  
     font-style: italic;
     color: #797979;
     font-size: 15px;
     

}

.label-name {
     width: 40%;

}

.label-state {
     width: 40%;

}

.label-year {
     width: 20%;
}


.label-ambito-geografico {
	width: 81.5%;
	margin-top: 2%;
	margin-bottom: 2%;
	border-spacing: 10px 0px;
}

.comboAmbitoGeo {
	width: 82%;

}

.label-BOE{
	width: 50.5%;
}

.input-year{
	width: 90%;
}



/* fin  estilo columas de la tabla de 
encabezados de las convocatorias */

/* inicio  datos generales, tabla de periodo de 
ejecucion estilos de las etiquetas */
.label-DateStartGeneralData, .label-DateEndGeneralData, .label-Annuity {
	color: #4C4C4C;
}

.label-DateStartGeneralData {
	width: 33.5%;
}

.label-DateEndGeneralData {
	width: 33.5%;
}

.label-Annuity {
	width: 33%;
}

/* fin  datos generales tabla de periodo de 
ejecucion estilos de las etiquetas */

/* Inicio  label de url convocatorias*/
.label-UrlConvocatoria {
     width: 49%;
/*      margin-left: 1px; */
}

.input-UrlConvocatoria {
     width: 49%;
     margin-left: 1px;
}

/* fin  label de url convocatorias*/


/* Inicio  label de datos generales id convocatorias*/

.label-TituloidConvocatoria {
     width: 16%;
     font-weight:bold;
}

.label-idConvocatoria {
     width: 30%;
     
   
}

.label-TituloEstado {
     width: 10%;
     font-weight:bold;
   
}

.radio-sub label {
	margin: 0 35px 0 1px;
}

/* fin  label de datos generales id convocatorias*/

/* Inicio  label de medios de publicacion*/

.label-MedioPublicacion {
     width: 49%;
 
}


/* fin  label de url convocatorias*/


.margen-datosGenerales1 {
    margin-top: 3%;
 
}

.margen-datosGenerales2 {
    margin-left: 1%;
 
}


.margen-datos-entidadConvocante{
    margin-left: 10%;
 
}

.margen-label-medioPubli-Convo{
    margin-top: 2%;

 
}

.margen-input-UrlConvocatoria{
    margin-bottom: 0%;
}

 .dateTimeField input {
   width:88%;
}

 .inputMedioPubli input {
   width:86%;
}

.input-medioPublicacion {
     width: 48%;
}

.input-fechaPublicacion {
     width: 50%;
     border-spacing: 10px 0px;
}


.columnButtonAdd{
     width: 25%;
}

.labelNameFile{
     margin-left: -10%;
}

.marginButtonSelectFile{
	margin-bottom: 2%;
}

.tablaDatosEntidadConvocante{
	width:50%;
	margin-top: -20px;
	border-spacing: 10px 0px;
}
.inputUrlMediosComunicacion{
	width: 88.5%;
}

.inputUrlConvocatoria{
	width: 85%;
}


/* FIN DATOS GENERALES */




/* INICIO OBSERVACIONES */

.margen-observaciones{
    margin-bottom: 20%;
 
}

/* FIN OBSERVACIONES */








/* INICIO CONCESION */


.marcoDatosConcesion {
   	border: ridge #A8A8A8 1px; 
	border-radius: 15px; 
	margin-top: 2%;
}

.marcoDatosGenerales {
   	border: ridge #A8A8A8 1px; 
	border-radius: 15px; 
	margin-top: 1%;
}

.titulosDatosGenerales {
 font-weight:bold;
 font-size: 18px !important;
 text-decoration: underline;
}

.titulosFinalidad {
 font-weight:bold;
 font-size: 15px !important;
}


#convocatoria-encabezado, #convocatoria-encabezado-dg{
    border-radius: 5px;
    margin-bottom: 10px;
}

.primeraColumnaDatosSigeco {
	width: 15%;
}

.titulosConcesion {
 font-weight:bold;
 font-size: 18px !important;
 text-decoration: underline;
}

.botonInputFileModificado,.botonInputFileModificadoConcession {
    position: relative;
    border-radius: 2px;
	background-image: url("/sico/images/selectFile.PNG");
    color: #000;
    padding-bottom: 2px;
	width: 139px;
}

.botonInputFileModificadoConcession {
    margin-left: 5%; 
}

.botonInputFileModificado:hover {   
    border: 2px solid #fff;  
    background-color: #333;
    color: #fff;
}

.botonInputFileModificadoConcession:hover {   
    border: 2px solid #fff;  
    background-color: #333;
    color: #fff;
}



.botonInputFileModificado .inputImagenOculto {
    opacity: 0;
}

.botonInputFileModificadoConcession .inputImagenOculto {
    opacity: 0;
}



.columnFirstConcession {
    width: 21%;

}

.columnSecondConcessionButton {
    width: 25%;

}

.item-Budgetary-concession,.label-Geographic-scope,.inputAnualidad {
    width: 60%;

}
 

.label-OneRadio-concession, .select1-OneRadio-concession ,.label-Confinement,.input-Confinement,.columnaModoFinanciacion  {
    width: 50%;

}


.half-publication-concession {
    width: 54%;

}

.input-date-publication-concession {
    width: 100%;

}


 .dateTimeFieldConcession input {
   width:70%;
}

.label-Half-publication-concession {
     width: 55%;
 
}

.margin-adjustment-concession,.margin-adjustment-Categories-expenses{
    margin-left: -0.5%;
 
}

.margin-adjustment-Categories-expenses{
    margin-bottom: 3%;
 
}

.labelOptionCondition{
   width: 64%;
 
}


.colum1CategoryExpenses{
   width: 0%;
 
}

.colum2CategoryExpenses {
   width: 21%;
 
}

.label-Financial-Entities{
   width: 25%;
 
}

.buttonAddDataTable{
	margin-left: 93.5%;
	
}



/* FIN CONCESION */

/* inicio estilos datos finalidad */
.button-delete{
	
 background-color: #FF0000 !important;
 
}

 .dateTimeField-PurposeData input {
   width:80%;
}

 .SecondColumnPurposeDataFinal {
   width:17.5%;
}

 .SecondColumnPurposeDataFinal {
   width:17.5%;
}

 .label-numberPeople {
   width:15%;
}


 .columnsbuttonOptionalData {
   width:5%;
}

 .labelBonusAnnual {
   width:18%;
}

 .inputBonusYear {
   width:45%
}

 .marginLower{
  margin-bottom: 10%
}

.datos-finalidad-table{
	border-spacing: 15px;
}
/* fin estilos datos finalidad */


/* ####### */



/* INICIO JERARQUIA */

.ui-widget-header{
    background:white!important;
    

}

.ui-datatable-odd {
background: none repeat scroll 0 0 #F2F5F9; 
}

.ui-dialog-titlebar{
    text-align: center;
 
}

.ui-dialog .ui-dialog-title {
    float: none;
    font-size: 20px;
    
}


.finalidad-leaf-div, .ui-treenode-content {
    display: flex;
}


.finalidad-leaf-text{
    display: block;
    white-space: normal;
    max-width: 390px;
    height: 50px;
    margin: 0 auto;
    font-size: 12px;
    line-height: 12px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 0px;
}


.ui-treenode-label{
display: inline-block !important;
    white-space: normal;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 0px;
    max-width: 300px
}





div[id*="firstLevelJerarquiaTable"][class="ui-datatable ui-widget"]{
	width: 100%;
}


input[id*="firstLevelJerarquiaTable"]{
	width: 95% !important;
}

tbody[id*="firstLevelJerarquiaTable"] tr[class*="ui-state-highlight"],
tbody[id*="firstLevelJerarquiaTable"] tr[class*="ui-state-hover"],
tbody[id*="jerarquiaLevelTwoTable"] tr[class*="ui-state-highlight"],
tbody[id*="jerarquiaLevelTwoTable"] tr[class*="ui-state-hover"] {
	background: none repeat scroll 0 0 #C2F7DC !important; 
	color: black !important;
	text-shadow:none !important;
	
}


th[class*="ui-resizable-column"],
th[id*="firstLevelJerarquiaTable"] {
  background: none repeat scroll 0 0 #F2F5F9 !important; 
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
}

#jerarquiaSaveDiv{
    text-align: center;
    display: inline-block;
    width: 100%;
}

button[id*="jerarquiaSaveButton"]{
	margin-top: 15px;
    margin-bottom: 15px;
}

#firstLevelJerarquiaDiv{
	display: flex;
}
	
button[id*="jerarquiaFilterButton"]{
	margin-left: 15px;
	margin-right: 15px;
}

div[id*="jerarquiaLevelTwoTable"]{	
	padding-top: 20px;	
}

div[id*="treeJerarquia"]{
	width: 100%;
    padding-left: 100px;
    border: none;
}


/* FIN JERARQUIA*/

/* ESTILOS MODIFICADOS PARA EL PICKLIST */
.ui-picklist-button-add-all, .ui-picklist-button-remove-all {
	background-color: #3399FF !important;
	background: -webkit-linear-gradient(#3399FF, #3399FF) !important;
	background: -moz-linear-gradient(#3399FF, #3399FF) !important;
	background: -o-linear-gradient(#3399FF, #3399FF) !important;
}

.ui-picklist-button-add-all {
	position: relative;
	top: -63px;
}

.ui-picklist-button-remove-all {
	position: relative;
	top: 20px;
}

.ui-picklist-button-add {
	position: relative;
	top: 15px;
}

.ui-picklist-button-remove {
	position: relative;
	top: 1px;
}

.ui-picklist-buttons-cell button{
	width: 40px; 
	height: 28px;
	border-radius: 3px;
	background-image: none;
	color: #fff !important;
	box-shadow: none;
	font-size: 12px	!important;


}

.ui-picklist-buttons {
    height: 200px !important;
    padding: 0px 50px !important;

}

.ui-picklist-list{
    height: 265px !important;
}


/* FIN ESTILOS MODIFICADOS PARA EL PICKLIST */



/*INCIO  ESTILOS GENERALES */

.spaceCell,.topMargin,.leftMargin,.leftMargin1,.margenEncabezado{
	width: 99%;
	
}

.fuente-letra{
    font-weight:bold;
}


.topMargin,.leftMargin,.leftMargin1 {
	margin-top: 2%
}

.leftMargin {
	margin-left: 0.5%
}

.leftMargin1 {
	margin-left: 1%
}


.margenInferiorConfAyuda {
	margin-bottom: 25%;
}

.margenEncabezado {
	width: 100%;
	margin: 5px;
}

.input-Canti-Personas{
	width:47%
}

/*FIN  ESTILOS GENERALES */

/* INICIO ARBOLES  */

.ui-tree{
 border: none; 
 width: 100%;
}

/* FIN ARBOLES*/

/* / INICIO FINALIDAD / */

.finalidad-title-div-wrapper{
	display: -webkit-box;
	padding-top: 15px;
    padding-bottom: 15px;	
}

.finalidad-item{
	width: 50%;
}

.finalidad-item-title{
	width: 50%;
	align-content: center;
	font-size: 1.8em;
}



tbody[id*="dtFinalidad"] tr[class*="ui-state-highlight"],
tbody[id*="dtFinalidad"] tr[class*="ui-state-hover"],
tbody[id*="dtSecundaryFinalidad"] tr[class*="ui-state-highlight"],
tbody[id*="dtSecundaryFinalidad"] tr[class*="ui-state-hover"] {
	background: none repeat scroll 0 0 #C2F7DC !important; 
	color: black !important;
	text-shadow:none !important;
	
}

#documentoDiv{
	padding-bottom: 50px;
    display: block;
}


span[class*="ui-button-icon-left ui-icon ui-c ui-icon-plusthick"]{
	display: none;
}

div[class*="ui-widget-content"], div[class*="ui-fileupload-buttonbar"]{
	
	border: none;
	
}

ul[class*="ui-tabs-nav"]{
    border-left: none;
    border-top: none;
    border-right: none;
}


th[class*="ui-resizable-column"],
th[id*="dtFinalidad"], th[id*="dtSecundaryFinalidad"] {
  background: none repeat scroll 0 0 #F2F5F9 !important; 
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
}




.botones_finalidad{
	
	height: 30px; 
	width: 250px;
}

.ui-tree .ui-treenode-label{
	display: unset !important;
}

.panel td {
    vertical-align: top;
}

.inputtext{
 background-color: #CCFFE0 !important;
 width: 150px;
}

.firstColumn {
       width: 50%;
  }

.secondColumn {
       width: 10%";
  }

.thirdColumn { 
       width: 40%;
  }
  

div[id*="formFinality"] div[class="ui-dialog-content ui-widget-content"]{
	overflow: unset;	
} 

  
/* FIN FINALIDAD*/


/* modal validacion */

.primeraColumnaValidacionDatos{
	
	width: 8%;
}

.segundaColumnaValidacionDatos{
	width: 25%;
	
}

.columnaGraficaPorcentajeValidacion {
	width: 20%;
}

.columnaMensajeDePorcentaje{
	margin-left: 5%;
}

td.table-column-center{
	    text-align: center;
}


.ui-growl-item-container, .ui-growl-item{
	background-color: white;
	color: black;
	
}

.navigation-button-div{
	padding-bottom: 25px;
}

/*Progreso de validacion de convocatoria*/

.circle-text {
  	width: 15%;
 	padding-bottom: 10px;
 	padding-top: 10px;
    padding-right: 0px;
    padding-left: 0px;
}

.circle-text:after {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 87%;
  background: #4679BD;
  border-radius: 10%;
}

.circle-text div {
  float: left;
  width: 100%;
  padding-top: 50%;
  line-height: 1em;
  margin-top: -0.5em;
  text-align: center;
  color: #4f4f4f;
  font-size: 20px;
}
div.ui-progressbar-label{
	padding-top: 40%;
}

.ui-picklist-caption.ui-widget-header.ui-corner-tl.ui-corner-tr{
	border: none;	
	padding-left: 0px;
	text-align: left;
}

button.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-icon-left{
	height: 37px;
}
.finalidad-tree-div{
	width:100%;
	border:none;;
}
.convocatoria-tab{

}