<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core">

	<h:panelGroup id="contenidoListaMedioPublicacion">

		<p:accordionPanel multiple="true">
			<p:tab title="#{text['mediosPublicacion.bloqueListado.titulo.listado']}">
				<h:panelGroup layout="block" id="bloqueListaMedioPublicacion">
					<h:panelGroup layout="block" style="margin-top:5px;"
						id="incluyeMedioPublicacion">
						<p:commandButton value="#{text['button.add']}"
							actionListener="#{mediosPublicacionForm.nuevoMedio}"
							onstart="mostrarPanelEnviando();"
							oncomplete="ocultarPanelEnviando();PF('modalMedioPublicacionWdgt').show();"
							icon="silk-icon-add" style="margin-bottom:10px;"
							update=":mediosPublicacionesForm:datosMedioPublicacion" />
					</h:panelGroup>

					<h:panelGroup layout="block" style="clear:both;"
						id="bloqueTablaMediosPublicacion">
						<p:dataTable id="dataTableListadoMediosPublicacion" var="medio"
							value="#{mediosPublicacionData.lazyModel}" paginator="true"
							rows="15" lazy="true" paginatorPosition="bottom"
							currentPageReportTemplate="{totalRecords} #{text['comunes.listado.registrosEncontrados']}, #{text['comunes.listado.visualizando']} {startRecord} #{text['comunes.listado.al']} {endRecord}"
							paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
							selection="#{mediosPublicacionForm.medioSeleccionado}"
							rowsPerPageTemplate="10,20,50,100,200" rowKey="#{medio.id}"
							selectionMode="single" tableStyle="table-layout:auto;width:100%;"
							emptyMessage="#{text['comunes.listado.noResultados']}">

							<p:ajax event="rowSelect"
								listener="#{mediosPublicacionForm.onRowSelect}"
								onstart="mostrarPanelEnviando();"
								oncomplete="ocultarPanelEnviando();goToDatosMedioPublicacion();"
								update=":mediosPublicacionesForm:contenidoDatosMedioPublicacion" />
							<p:ajax event="filter"
								listener="#{mediosPublicacionForm.cleanDetalle}"
								update=":mediosPublicacionesForm:contenidoDatosMedioPublicacion" />

							<p:column
								headerText="#{text['mediosPublicacion.detalle.nombre']}"
								width="36%" sortBy="#{medio.nombre}" filterBy="#{medio.nombre}"
								filterMatchMode="contains">
								<h:outputText value="#{medio.nombre}" />
							</p:column>
							<p:column
								headerText="#{text['mediosPublicacion.detalle.acronimo']}"
								width="13%" sortBy="#{medio.acronimo}"
								filterBy="#{medio.acronimo}" filterMatchMode="contains">
								<h:outputText value="#{medio.acronimo}" />
							</p:column>
							<p:column
								headerText="#{text['mediosPublicacion.detalle.tipoMedio.corto']}"
								width="10%" sortBy="#{medio.tipoMedioPublicacion.nombre}"
								filterBy="#{medio.tipoMedioPublicacion.id}"
								filterOptions="#{mediosPublicacionForm.filtroTipologiaMediosPublicacion}"
								filterMatchMode="exact">
								<h:outputText value="#{medio.tipoMedioPublicacion.nombre}" />
							</p:column>
						</p:dataTable>
					</h:panelGroup>

				</h:panelGroup>
			</p:tab>
		</p:accordionPanel>
	</h:panelGroup>
	<script type="text/javascript">
		function goToDatosMedioPublicacion() {
			$('html,body').animate({
				scrollTop : $("#datosMedioSeleccionado").offset().top
			}, 'slow');
		}
	</script>
</ui:composition>