<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:pe="http://primefaces.org/ui/extensions">

	<style>
.noBordersGrid tr, .noBordersGrid td {
	border: none !important;
	border-spacing: 0px !important;
}

.withBordersTabla tr, .withBordersTabla td {
	border: 1px solid #a8a8a8 !important;
	border-spacing: 1px !important;
}


</style>

	<a id="datosMedioSeleccionado" />

	<h:panelGroup id="contenidoDatosMedioPublicacion">
		<h:panelGroup rendered="#{mediosPublicacionForm.medioSeleccionado ne null}">
			<p:accordionPanel>
				<p:tab title="#{text['mediosPublicacion.bloqueListado.titulo.detalle']}">
					<p:fieldset>
						<p:panelGrid>
							<h:panelGroup layout="block">
								<h:panelGroup layout="block" styleClass="botonera_new"
									style="float:right;">
									<p:commandButton
										value="#{text['mediosPublicacion.detalle.editar']}"
										actionListener="#{mediosPublicacionForm.cargaMedioSeleccionado}"
										onclick="PF('modalMedioPublicacionWdgt').show();"
										update=":mediosPublicacionesForm:datosMedioPublicacion"
										icon="silk-icon-application-form-edit"
										style="margin-bottom:10px;" />
								</h:panelGroup>
								<h:panelGroup layout="block" styleClass="left">
									<div align="left">
										<p:panelGrid columns="2" styleClass="noBordersGrid"
											columnClasses="alineacionIzqNoWrap">
											<p:outputLabel class="lblResumenProyecto" width="200%"
												id="labelNombre"
												value="#{text['mediosPublicacion.detalle.nombre']}" />
											<p:outputLabel id="inputNombre"
												value="#{mediosPublicacionForm.medioSeleccionado.nombre}" />

											<p:outputLabel class="lblResumenProyecto" id="labelAcronimo"
												value="#{text['mediosPublicacion.detalle.acronimo']}" />
											<p:outputLabel id="inputAcronimo"
												value="#{mediosPublicacionForm.medioSeleccionado.acronimo}" />

											<p:outputLabel class="lblResumenProyecto"
												id="labelIdTgacTmTipoMedioPub"
												value="#{text['mediosPublicacion.detalle.tipoMedio']}" />
											<p:outputLabel id="inputIdTgacTmTipoMedioPub"
												value="#{mediosPublicacionForm.medioSeleccionado.tipoMedioPublicacion.nombre}" />

											<p:outputLabel class="lblResumenProyecto" id="labelURL"
												value="#{text['mediosPublicacion.detalle.url']}" />
											<h:outputLink
												value="#{mediosPublicacionForm.medioSeleccionado.url}"
												target="_blank">#{mediosPublicacionForm.medioSeleccionado.url}</h:outputLink>

											<p:outputLabel class="lblResumenProyecto" id="inputFBaja"
												value="#{text['mediosPublicacion.detalle.fBaja']}" />
											<p:outputLabel id="fechaFin"
												value="#{mediosPublicacionForm.medioSeleccionado.f_baja}"
												converter="dateConvert" />

											<p:outputLabel class="lblResumenProyecto" id="inputConv" style="float:left;"
												value="#{text['mediosPublicacion.detalle.convocatorias']}" />
											<p:dataTable var="convocatoria"
												value="#{mediosPublicacionForm.medioSeleccionado.convocatoriasAsociadas}"
												rows="5" paginator="true" paginatorPosition="bottom"
												currentPageReportTemplate="{totalRecords} #{text['comunes.listado.registrosEncontrados']}, #{text['comunes.listado.visualizando']} {startRecord} #{text['comunes.listado.al']} {endRecord}"
												paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
												rowsPerPageTemplate="5,10,15" width="500%"
												rowKey="#{convocatoria.id}"
												emptyMessage="#{text['comunes.listado.noResultados']}">


												<p:column
													headerText="#{text['mediosPublicacion.detalle.convocatorias.nombre']} "
													sortBy="#{convocatoria.nombre}"
													filterBy="#{convocatoria.nombre}"
													filterMatchMode="contains"
													filterStyleClass="tablaFiltroNombre"
													style="width:200%;text-align:center;">
													
													<h:outputText value="#{convocatoria.nombre}" style="text-align:left;" />
													
												</p:column>
												<p:column
													headerText="#{text['mediosPublicacion.detalle.convocatorias.nombreCorto']} "
													sortBy="#{convocatoria.nombreCorto}"
													filterBy="#{convocatoria.nombreCorto}"
													filterMatchMode="contains"													
													style="width:175%;text-align:center;">
													
													<h:outputText value="#{convocatoria.nombreCorto}" style="text-align:left;" />
													
												</p:column>
												<p:column
													headerText="#{text['mediosPublicacion.detalle.convocatorias.acronimo']} "
													sortBy="#{convocatoria.acronimo}"
													filterBy="#{convocatoria.acronimo}"
													filterMatchMode="contains"													
													style="width:175%;text-align:center;">
													
													<h:outputText value="#{convocatoria.acronimo}" style="text-align:left;" />
													
												</p:column>
												<p:column
													headerText="#{text['mediosPublicacion.detalle.convocatorias.codigoBDC']} "
													sortBy="#{convocatoria.codigoBDC}"
													filterBy="#{convocatoria.codigoBDC}"
													filterMatchMode="contains"													
													style="width:175%;text-align:center;">
													
													<h:outputText value="#{convocatoria.acronimo}" style="text-align:left;" />
													
												</p:column>


												<p:column headerText="#{text['comunes.listado.acciones']}"
													style="width:66px;text-align:center;" rendered="false">
												</p:column>
											</p:dataTable>

										</p:panelGrid>
									</div>
								</h:panelGroup>
							</h:panelGroup>
						</p:panelGrid>
					</p:fieldset>
				</p:tab>
			</p:accordionPanel>
		</h:panelGroup>

	</h:panelGroup>


	<script type="text/javascript" language="javascript">
		//<![CDATA[
		/*
		var urlBase = "/gespro/consultageneral/consultaProyecto.html";
		
		var refConvocatoria = "convocatoriaReferencia";
		var refConvocatoriaExact = "convocatoriaReferencia_exact";
		var cualquierCampo = "*";
		var operatorEXACT = "EXACT";
		
		var patronQueryFieldParam = "extQueryFieldName=";
		var patronQueryFieldValuesParam = "&extQueryFieldValues=";
		var patronQueryFieldOperatorParam = "&extQueryFieldOperator=";
		
		var patronSecundarioQueryFieldParam = "extQueryFieldName_2=";
		var patronSecundarioQueryFieldValuesParam = "&extQueryFieldValues_2=";
		var patronSecundarioQueryFieldOperatorParam = "&extQueryFieldOperator_2=";
		
		function irAConvocatoria(codigoBDC,referencia) {
		var url = urlBase;

		if (referencia){
		 url = url + '?' + patronQueryFieldParam + refConvocatoria;
		 url = url + patronQueryFieldValuesParam + referencia;
		 url = url + patronQueryFieldOperatorParam;            	
		}
		else{
		 url = url + '?' + patronQueryFieldParam + cualquierCampo;
		 url = url + patronQueryFieldValuesParam + codigoBDC;
		 url = url + patronQueryFieldOperatorParam + operatorEXACT;
		}

		
		window.open(url, '_blank');
		}
		function confirmacion () {
		//nada que hacer
		}
		 */
		//]]>
	</script>


</ui:composition>