<ui:composition xmlns="http://www.w3.org/1999/xhtml"   
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:gep="http://apps.csic.es/gep"
                xmlns:p="http://primefaces.org/ui">
    
    <p:dialog header="#{text['mediosPublicacion.detalle.detalle']}" widgetVar="modalMedioPublicacionWdgt"
              modal="true" resizable="false" width="800" height="300"
              showEffect="fade" hideEffect="fade" closeOnEscape="true" dynamic="true">
                
        	<h:panelGroup id="datosMedioPublicacion" layout="block" styleClass="left"  >
        	<div align="left">
        		<p:panelGrid columns="2" styleClass="noBorders" columnClasses="alineacionIzqNoWrap">
        		
                    <p:outputLabel id="labelNombreAn" value="* #{text['mediosPublicacion.detalle.nombre']}" styleClass="obligatorio"/>                   
                    <p:inputText id="inputNombreAn" value="#{mediosPublicacionForm.medioGestionado.nombre}" size="100" >
                    	<f:validateLength maximum="100" />
                    </p:inputText>

                    <p:outputLabel id="labelAcronimoAn" value="#{text['mediosPublicacion.detalle.acronimo']}"/>
                    <p:inputText id="inputAcronimoAn" value="#{mediosPublicacionForm.medioGestionado.acronimo}" size="30" >
                       	<f:validateLength maximum="30"/>
                    </p:inputText>

					<p:outputLabel id="labelIdTgacTmTipoMedioPubAn" value="* #{text['mediosPublicacion.detalle.tipoMedio']}" styleClass="obligatorio"/>
					<p:selectOneMenu id="inputIdTgacTmTipoMedioPubAn" value="#{mediosPublicacionForm.tipoMedioGestionado.id}">
						<f:selectItems value="#{mediosPublicacionForm.tipologiaMediosPublicacion}" />
					</p:selectOneMenu>

                    <p:outputLabel id="labelURLAn" value="#{text['mediosPublicacion.detalle.url']}"/>	                    
                    <p:inputTextarea id="inputURLAn" value="#{mediosPublicacionForm.medioGestionado.url}" cols="100" rows="5" >
                       	<f:validateLength maximum="300" />
                    </p:inputTextarea>
                               
              		<p:outputLabel id="inputFBajaEd" value="#{text['mediosPublicacion.detalle.fBaja']}"/>
                    <p:calendar id="fechaFinEd" size="15"
                               title="#{text['mediosPublicacion.detalle.fBaja']}"
                               value="#{mediosPublicacionForm.medioGestionado.f_baja}" locale="es"
                               pattern="dd/MM/yyyy" mode="popup" showOn="both" navigator="true"
                               converterMessage="El formato de la fecha del campo es erroneo (dd/mm/aaaa)"  mask="true"/>
                         
				</p:panelGrid>
				</div>
            </h:panelGroup>
       		<h:panelGroup layout="block" styleClass="botonera_new" style="float:right;">
       			<p:commandButton onsuccess="PF('modalMedioPublicacionWdgt').hide();" icon="silk-icon-cancel" value="#{text['button.cancel']}"/>
                 <p:commandButton actionListener="#{mediosPublicacionForm.guardarMedio}" action="#{mediosPublicacionData.actualizaListado}"
                  update=":mediosPublicacionesForm:contenidoListaMedioPublicacion :mediosPublicacionesForm:mensajes :mediosPublicacionesForm:contenidoDatosMedioPublicacion" 
                                value="#{text['button.save']}" icon="silk-icon-bullet-disk"/> 
       		</h:panelGroup>
        
       
        
    </p:dialog>
</ui:composition>